{% extends "item-list.html" %}
{% load static %}


{% block page-content %}
    <div class="container-fluid">
        <div class="row">
            <div class="list-tools">
                <span>
                {% include "itemlist/filters.html" %}
                </span>
            </div>
        </div>
        <div class="row">
            {% for object in object_list %}
                <div class="grid-cell col-sm-12">
                    <div class="claim-grid {% if object.pk in cycle_reviewers %}bg-success{% else %}{% endif %}">
                        <h5>
                            <strong>{{ object.user }}</strong><span>&mdash; {{ object.user.institution|default:"Unknown Institution" }}</span>
                            {% if object.committee %}
                                <span title="PRC Member({{ object.committee }})"
                                      style="margin-right: 0.25em;">
                                <i class="bi-award icon-sm text-warning" style="line-height: 1;"></i>
                            </span>
                            {% endif %}
                        </h5>
                        <hr class="hr-sm dotted"/>
                        {% for technique in object.techniques.all %}
                            <span class="badge bg-primary"
                                  title="{{ technique.name }}">{{ technique.acronym|default:technique.name }}</span>
                        {% endfor %}
                        {% for area in object.areas.all %}
                            <span class="badge bg-success" title="Area">{{ area.name }}</span>
                        {% endfor %}

                        <div style="position: absolute; right: 1em; top: 1em;">
                            {% if object.pk not in cycle_reviewers %}
                                <a data-bs-toggle="tooltip" title="Add to Cycle!"
                                   href="{% url 'add-cycle-reviewer' cycle=cycle.pk pk=object.pk %}"
                                   class="btn btn-xs btn-success"><i class="bi-plus-lg icon-sm icon-fw"></i>
                                </a>
                            {% else %}
                                <a data-bs-toggle="tooltip" title="Remove from Cycle!"
                                   href="{% url 'del-cycle-reviewer' cycle=cycle.pk pk=object.pk %}"
                                   class="btn btn-xs btn-danger"><i class="bi-dash-lg icon-fw"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% include "itemlist/pagination.html" %}
        </div>
    </div>
{% endblock %}



