{% extends "tooled-item-list.html" %}
{% load static %}

{% block list-tools %}
    {% if stage and cycle.state == cycle.STATES.assign and stage.kind.is_scientific %}
        <a href="#0" data-modal-url='{% url "assign-reviewers" pk=cycle.pk stage=stage.pk %}'
           class="pull-right">
            <i class="bi-diagram-3 icon-md icon-fw"></i><br/>
            <span class="tool-label">Auto&nbsp;Assign</span>
        </a>
    {% endif %}
{% endblock %}
{% block page-content %}
    {% for object in object_list %}
        <div class="grid-cell col-xs-12">
           {% include "proposals/assigned-grid.html" %}
        </div>
    {% endfor %}
{% endblock %}



