{% load cycle_tags %}
{% with object as submission %}
<div class="tinytron bg-transparent">
    <div  class="row narrow-gutter">
        <div class="col-xs-12 col-sm-8">
            {% include "proposals/submission-snippet.html" %}
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="row no-space bg-transparent">
                {% for rev in submission.reviews.scientific %}
                <div class="col-xs-12 grid-reviewer">
                    <a href="#/" class="col-xs-8" data-url="{% url  'show-compatibility' pk=rev.pk %}">
                        {% if rev.reviewer.reviewer.committee %}
                            {{rev.reviewer}} <i class="bi-award text-warning"></i>
                        {% else %}
                            {{rev.reviewer}}
                        {% endif %}
                    </a>
                    <span class="text-muted">
                        {{rev.reviewer|review_compat:submission}}
                    </span>
                    {% if rev.state == rev.STATES.pending and not rev.reviewer.committee %}
                        <a href="#/" title="Remove Reviewer" data-url="{% url 'delete-review' pk=rev.pk %}"
                           class="pull-right text-danger"><i class="bi-x icon-lg"></i>
                        </a>
                    {% else %}
                        <a href="#/"><i class="bi-lock text-muted icon-fw pull-right"></i></a>
                    {% endif %}
                </div>
                {% endfor %}
                {%  if submission.cycle.state == submission.cycle.STATES.assign %}
                    <div class="col-xs-12 grid-reviewer">
                        <a href="#/" title="Add Reviewer" data-url="{% url 'add-reviewer-assignment' pk=submission.pk %}"
                           class="text-success pull-right"><i class="bi-plus-circle icon-lg"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr class="hr-xxs"/>
</div>
{% endwith %}