{% load proposal_tags %}
<div class="review-attachments d-flex flex-row gap-4 flex-wrap align-items-center justify-content-start">
    {% for att in object.attachments.all %}
    <div class="attachment-entry">
        <a class="paper" target="_blank" href="{{att.file.url}}">
            <div class="attachment-header">
                {{att.get_kind_display}}
            </div>
            <div class="attachment-body">
                {{att.description}}
            </div>
            <div class="attachment-footer">
                {{att.file.size|filesizeformat}}<i class="{{att.file|file_icon}} pull-right"></i>
            </div>
        </a>
    </div>
    {% empty %}
    <li class="empty">
       No Attachments
    </li>
    {% endfor %}
</div>
