{% load beamline_tags %}

<div class="cycle-box tinytron
    {% if active %}{% if config.accept %}bg-success{% else %}bg-danger{% endif %}{%  elif pending %}bg-warning{% else %}bg-darken{% endif %}">
    <div class="row">
        <div class="col-xs-12">
            {% if owner or admin %}
                {% if config.is_editable %}
                    <span class="box-tools pull-right" style="">
                 <a href='#0' data-url='{% url "edit-facility-config" pk=config.pk %}' class="pull-right">
                    <i class="bi-pencil icon-1x icon-fw"></i><br/>
                    <span class="tool-label">Edit</span>
                 </a>
                 <a href='#0' data-url='{% url "delete-facility-config" pk=config.pk %}' class="pull-right">
                    <i class="bi-trash icon-1x icon-fw text-danger"></i><br/>
                    <span class="tool-label">Delete</span>
                 </a>
            </span>
                {% endif %}
            {% endif %}
            <h3 class="no-vmargin">
                From {{ config.cycle.start_date|date:"M jS/Y" }}
                {% if active %}
                    <em><strong class="text-condensed">&mdash; Current</strong></em>
                    {% elif pending %}
                    <em class="text-condensed text-warning">&mdash; Pending</em>
                    {% else %}
                    <em class="text-condensed text-muted">&mdash; expired</em>
                {% endif %}
            </h3>
            <span class="text-muted">Created on {{ config.created|date }}, last modified {{ config.modified|timesince }} ago</span>
        </div>
    </div>
    <hr class="hr-xs">
    <div class="row">
        <div class="col-xs-12">
        {% if config.accept %}
            <h4>Accepting Proposals</h4>
        {% else %}
            <h4 class="text-danger">Not Accepting Proposals</h4>
        {% endif %}
        </div>
        {% for track, items in config.items.group_by_track.items %}
            {% if items.exists %}
                <div class="col-sm-6 col-xs-12">
                    <h5 class="text-condensed">{{ track.acronym }}&mdash;{{ track.name }}{% if track.special %}/Special
                        Requests{% endif %} Review Track</h5>
                    {% for item in items %}
                        <div class="overflow ellipsis">
                            {% if track.special %}
                                <i class="bi-circle-fill text-warning-light"></i>
                            {% else %}
                                <i class="bi-circle-fill text-success-light"></i>
                            {% endif %}
                            &nbsp;{{ item.technique }}
                        </div>
                    {% empty %}
                        <div class="empty" style="padding: 3em 0;">No Available Techniques</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% if config.comments %}
        <hr class="hr-xs"/>
        <div class="row">
            <div class="col-sm-12">
                <p>{{ config.comments }}</p>
            </div>
        </div>
    {% endif %}
    <div class="spacer"></div>
</div>

