{% load cycle_tags %}
<div class="pagelet bg-{{track.acronym.lower}}" style="min-height: 320px; margin-bottom: 1px;">
    <div class="col-xs-12">
        {% if admin %}
        <span class="box-tools pull-right" style="">
             <a href="#0" data-url="{% url 'edit-review-track' pk=track.pk %}"
                class="pull-right ">
                <i class="bi-sliders2 icon-2 icon-fw"></i><br/>
                <span class="tool-label">Parameters</span>
            </a>
            {% if cycle.state == cycle.STATES.assign %}
            <a href="#0" data-url='{% url "assign-reviewers" pk=cycle.pk track=track.pk %}'
               class="pull-right">
                <i class="bi-diagram-3 icon-2 icon-fw"></i><br/>
                <span class="tool-label">Assign&nbsp;Reviews</span>
            </a>
            {% endif %}
            {%  if cycle.state >= cycle.STATES.review  %}
            <a href='{% url "review-evaluation" cycle=cycle.pk track=track.acronym %}'
               class="pull-right">
                <i class="bi-clipboard icon-2 icon-fw"></i><br/>
                <span class="tool-label">Evaluate</span>
            </a>
            {%  endif %}
            <a href='{% url "assigned-reviewers" cycle=cycle.pk track=track.pk %}'
               class="pull-right">
                <i class="bi-people icon-2 icon-fw"></i><br/>
                <span class="tool-label">Assignments</span>
            </a>
            <a href='{% url "submission-list" %}?cycle__id__exact={{cycle.pk}}&track__id__exact={{track.pk}}'
               class="pull-right">
                <i class="bi-journal-medical icon-2 icon-fw"></i><br/>
                <span class="tool-label">Submissions</span>
            </a>
        </span>
        {% endif %}
        <h3 style="margin: 0.35em 0;"><strong>{{track.acronym}}</strong> <span class="hidden-xs">&mdash; {{track.name}}</span></h3>
    </div>
    <div class="col-xs-12">
        <hr class="hr-xs"/>
    </div>
	<div class="pagelet-body" style="padding-top: 0;">
		<div class="row narrow-gutter">
			<div class="col-xs-12 col-sm-12">
                {% show_submissions cycle track %}
			</div>
            <div class="col-xs-12">
                <hr class="hr-xs"/>
            </div>

            {% if cycle.state >= cycle.STATES.assign %}
			<div class="col-xs-12 col-sm-12">
				{% show_track_reviews cycle track %}
			</div>
            {% endif %}
		</div>
	</div>
</div>



