{% load cycle_tags %}
{% load misc %}

<div class="container-fluid" style="min-height: 400px;">
    <div class="row">
        <div class="col-xs-12" style="padding-top: 1em">
            {% if admin %}
                <div class="box-tools pull-right">
                    <a href="#0" data-url="{% url 'edit-review-track' pk=track.pk %}" class="pull-right ">
                        <i class="bi-sliders2 icon-2 icon-fw"></i><br/>
                        <span class="tool-label">Parameters</span>
                    </a>
                    {% if cycle.state >= cycle.STATES.review %}
                        <a href='{% url "review-evaluation" cycle=cycle.pk track=track.acronym %}'
                           class="pull-right">
                            <i class="bi-clipboard icon-2 icon-fw"></i><br/>
                            <span class="tool-label">Evaluate</span>
                        </a>
                    {% endif %}
                    <a href='{% url "track-submission-list" cycle=cycle.pk track=track.acronym %}'
                       class="pull-right">
                        <i class="bi-journal-medical icon-2 icon-fw"></i><br/>
                        <span class="tool-label">Proposals</span>
                    </a>
                </div>
            {% endif %}
            <h3 style="margin: 0.35em 0;">
                <span class="hidden-xs"><strong>{{ track.acronym }}</strong> &mdash; </span>{{ track.name }}
            </h3>
        </div>
    </div>
    <div class="row">
        <hr class="hr-xs"/>
        {% show_track_stats cycle track %}
        {% show_track_committee cycle track %}
        {% show_technique_matrix cycle track %}
        <div class="col-xs-12">
            <div class="track-stages bg-darken">
                {% for stage in track.stages.all %}
                    <div class="track-stage">
                        <div class="track-stage-title">
                            <a href="#/" data-url="{% url 'edit-review-stage' track=track.acronym pk=stage.pk %}"
                               title="{{ stage.kind }}">
                                <i class="bi-{{ stage.position }}-square icon-lg"></i>
                                <span class="hidden-xs">&nbsp;{{ stage.kind }}</span>
                            </a>
                            <a href='{% url "stage-review-list" cycle=cycle.pk stage=stage.pk %}'
                               title="Reviews">
                                <i class="bi-list-ul icon-2 icon-fw"></i>
                            </a>
                            <a href='{% url "assigned-reviewers" cycle=cycle.pk stage=stage.pk %}'
                               title="Assignments">
                                <i class="bi-people icon-2 icon-fw"></i>
                            </a>
                        </div>
                        <div class="track-stage-body">
                            {% stage_stats stage cycle %}
                        </div>
                    </div>
                {% endfor %}
                <div class="track-stage hidden-xs">
                    <div class="track-stage-body">
                        <a href="#/" data-url="{% url 'add-review-stage' track=track.acronym %}"
                           title="Add Review Stage"><i class="bi-plus-lg icon-2 icon-fw"></i> Add Review Stage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



