{% extends "page.html" %}
{% load beamline_tags %}
{% load cycle_tags %}

{% block page-pretitle %}Cycle{% endblock %}

{% block page-title %}
    <strong>{{ object }}</strong>
{% endblock %}

{% block page-subtitle %}Cycle &mdash; {{ object.pk }}{% endblock %}

{% block page-tools %}
    {% if next_cycle %}
        <a class="pull-right" href='{% url "review-cycle-detail" pk=next_cycle.pk %}'>
            <i class="bi-chevron-right icon-md icon-fw"></i><br/>
            <span class="tool-label">Next</span>
        </a>
    {% else %}
        <a class="pull-right" href='#0!' data-modal-url='{% url "add-review-cycles" pk=object.pk %}'>
            <i class="bi-plus-lg icon-md icon-fw"></i><br/>
            <span class="tool-label">Add</span>
        </a>
    {% endif %}
    <a class="pull-right"
       {% if prev_cycle %}href='{% url "review-cycle-detail" pk=prev_cycle.pk %}'
       {% else %}href='#0' disabled{% endif %}
    >
        <i class="bi-chevron-left icon-md icon-fw"></i><br/>
        <span class="tool-label">Previous</span>
    </a>
    {% if admin or owner %}
        {% if object.state < object.STATES.active %}
            <a href='#0' data-modal-url='{% url "edit-review-cycle" pk=object.pk %}' class="pull-right">
                <i class="bi-pencil icon-md icon-fw"></i><br/>
                <span class="tool-label">Edit</span>
            </a>
        {% endif %}
        <a href='{% url "reviewer-list" %}' class="pull-right">
            <i class="bi-people icon-md icon-fw"></i><br/>
            <span class="tool-label">Reviewers</span>
        </a>
        <a href="{% url "schedule-modes-edit" pk=object.schedule.pk %}" class="pull-right">
            <i class="bi-calendar-plus icon-md icon-fw"></i><br/>
            <span class="tool-label">Schedule</span>
        </a>
        {% if object.state == object.STATES.assign %}
            <a href="#0" data-modal-url="{% url "start-reviews" pk=object.pk %}" class="pull-right">
                <i class="bi-skip-forward icon-md icon-fw"></i><br/>
                <span class="tool-label">Start&nbsp;Reviews</span>
            </a>
        {% elif object.state >= object.STATES.schedule %}
            <a href='{% url "cycle-invoicing" pk=object.pk %}' class="pull-right">
                <i class="bi-credit-card icon-md icon-fw"></i><br/>
                <span class="tool-label">Invoicing</span>
            </a>
        {% endif %}
        {% if object.feedback.exists %}
            <a href='{% url "review-cycle-feedback" pk=object.pk %}' class="pull-right">
                <i class="bi-chat-right-text icon-fw icon-md"></i><br/>
                <span class="tool-label">Feedback</span>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block page-status-style %}callout{% endblock %}
{% block page-status-bar %}
    <h3 class="my-0"><span class="badge bg-info text-condensed">{{ object.get_state_display }}</span></h3>
    <div>
        <small class="text-wide text-muted">Call Open:</small><br/>{{ object.open_date }}
    </div>
    <div>
        <small class="text-wide text-muted">Call Close:</small><br/>{{ object.close_date }}
    </div>
    <div>
        <small class="text-wide text-muted">Start Date:</small><br/>{{ object.start_date }}
    </div>
    <div>
        <small class="text-wide text-muted">End Date:</small><br/>{{ object.end_date }}
    </div>
{% endblock %}

{% block page-content %}
    <div class="callout pt-0">
        <div style="width: 100%; padding: 0.5em 0;" id="timeline" data-bs-toggle="tooltip" title="Cycle Timeline"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul id="#track-tabs" class="nav nav-tabs" style="margin-top: 1em;">
                {% for track in tracks  %}
                    <li class="nav-item">
                        <a href="#nav-track-{{ forloop.counter }}"
                            data-bs-toggle="tab"
                            class="nav-link bg-track-{{ forloop.counter }} {% if forloop.first %}active{% endif %}"
                           {% if forloop.first %}aria-expanded="true"{% endif %}
                        >
                            <strong>{{ track.acronym }}</strong><span class="d-none d-sm-inline">&nbsp;&ndash;&nbsp;{{ track.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for track in tracks %}
                    <div class="tab-pane bg-track-{{ forloop.counter }} {% if forloop.first %}active{% endif %}"
                         id="nav-track-{{ forloop.counter }}"
                         data-page-number="{{ forloop.counter0 }}">
                        {% show_track track %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% include "proposals/cycle-timeline.html" %}
    <script>
        $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
            let target = $(e.target).attr('href');
            if (history.pushState) {
                history.pushState(null, null, target);
            } else {
                location.hash = target;
            }
        });

        let hash = window.location.hash;
        hash = hash.replace('#', '');
        if (hash) {
            setTimeout(function() {
                window.scrollTo(0, 0);
            }, 0);
            $(`a[href="#${hash}"]`).tab('show');
        }
        function plot_reviewer_bars(plot_element, data, domain) {
            var margin = {
                    top: 0,
                    right: 5,
                    bottom: 0,
                    left: 5
                },
                barHeight = 16,
                width = $(plot_element).width() - margin.left - margin.right,
                height = data.length * barHeight;

            var x = d3.scale.linear()
                .domain(domain)
                .range([0, width])

            var y = d3.scale.ordinal()
                .domain(data.map(function (d) {
                    return d.name;
                }))
                .rangeRoundBands([0, height], .1);

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("top");

            var svg = d3.select(plot_element).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            svg.selectAll(".reviewer-bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "reviewer-bar")
                .attr("x", function (d) {
                    return x(Math.min(0, d.reviewers));
                })
                .attr("y", function (d) {
                    return y(d.name);
                })
                .attr("width", function (d) {
                    return Math.abs(x(d.reviewers) - x(0));
                })
                .attr("height", y.rangeBand());

            svg.selectAll(".proposal-bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "proposal-bar")
                .attr("x", function (d) {
                    return x(Math.min(0, -d.proposals));
                })
                .attr("y", function (d) {
                    return y(d.name);
                })
                .attr("width", function (d) {
                    return Math.abs(x(-d.proposals) - x(0));
                })
                .attr("height", y.rangeBand());


            svg.append("g")
                .attr("class", "x axis")
            //.call(xAxis)
            ;

            svg.append("g")
                .attr("class", "y axis")
                //.append("line")
                .attr("x1", x(0))
                .attr("x2", x(0))
                .attr("y2", height);

            var text = svg.selectAll("text")
                .data(data)
                .enter()
                .append("text")
                .attr("class", "subject-label")
                .attr("x", 0)
                .attr("y", function (d) {
                    return 3 + y(d.name) + y.rangeBand() / 2;
                })
                .text(function (d) {
                    return d.name;
                })
                .attr("font-size", (barHeight - 4) + "px")
                .style("opacity", 0.8);
            //.style("font-weight", "600");
        }
    </script>
{% endblock %}
