{% extends "proposals/base.html" %}
{% load static %}
{% load cycle_tags %}

{% block page-title %}<span class="d-none d-sm-inline">Cycle Feedback &mdash; </span><span class="text-muted">{{ object.start_date|date:"M" }}-{{ object.end_date|date:"M" }} {{ object.start_date|date:"Y" }}</span>{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" integrity="sha512-5HktH3p+qBNLzxpOLnpICH2uwArYE/Fi7fdKCQee15piDqN3X3Q1iqo8D43oc8DJgYP4xxA7sdEjNCfmeLLYeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha512-oJp0DdQuQQrRsKVly+Ww6fAN1GwJN7d1bi8UubpEbzDUh84WrJ2CFPBnT4LqBCcfqTcHR5OGXFFhaPe3g1/bzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/d3-timeline.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js" integrity="sha512-ldXL88WIgBA+vAsJu2PepKp3VUvwuyqmXKEbcf8rKeAI56K8GZMb2jfKSm1a36m5AfUzyDp3TIY0iVKY8ciqSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% if specs|length > 1 %}
	<div class="page">
		<div class="page-body">
			{% for spec in specs %}
				<a class="btn btn-secondary" href="#survey-{{spec.spec}}">User Feedback Form {{ forloop.counter }} ({{ spec.responses }} responses)</a>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% for spec in specs %}
	<div class="page" id="survey-{{spec.spec}}">
		<div class="page-body">
		    {% for page, fields in spec.pages.items %}{% if 'Advisory Committee' not in page %}
				<div class="section new-page">
				<h3>{{ page }}</h3>
				{% for field, vals in fields.items %}
					<div class="col-xs-12 grid-cell">
						<div class="feedback-grid">
							<div class="col-xs-12 no-break-after" style="line-height: 2.5em; border-bottom: 1px dotted #aaa;">
								<strong class="text-muted">{{ vals.label }}</strong>
								{% if vals.choices %}<span class="pull-right">
									{% for c in vals.choices %}
										{{ c }} {% if not forloop.last %} | {% endif %}
									{% endfor %}
								</span>{% endif %}
								<div class="progress">
								  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ vals.responses }}"
								  aria-valuemin="0" aria-valuemax="{{ spec.responses }}" style="width:{% widthratio vals.responses spec.responses 100 %}%">
									{{ vals.responses }} / {{ spec.responses }} responses
								  </div>
								</div>
							</div>
							<div class="col-xs-12 data-reports" style="padding-top: 0.5em;">
								{% if vals.choices %}
								<hr class="hr-xs">
									<div class="col-xs-5">
										<table class="col-xs-12 table-hover">
											<thead>
												<th><strong>Beamline</strong></th>
												{% for o in vals.options %}<th class="text-right"><strong>{{o}}</strong></th>{% endfor %}
												<tr><td colspan="{{vals.options|length|add:'1'}}"><hr class="hr-xs"></td></tr>
											</thead>
											<tbody>
												{% for entry in vals.chart %}
												{% if forloop.last %}
													<tr><td colspan="{{vals.options|length|add:'1'}}"><hr class="hr-xs"></td></tr>
												{% endif %}
												<tr>
													<td><strong class="text-muted">{{ entry.0 }}</strong></td>
													{% for e in entry.1 %}<td class="text-right">{{ e }}</td>{% endfor %}
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<div class="col-xs-7">
										{% include 'surveys/choices_histo.html' with data=vals spec=forloop.parentloop.parentloop.counter %}
									</div>
									<div class="col-xs-12">
										{% if vals.comments %}
											<hr class="hr-xs">
											{% for fbk in vals.comments %}
												<p><strong>
													{% if fbk.0.details.contact_with_status_report != "No" %}
														<i class="bi-chat-left-dots" title="Response Requested by {{fbk.0.user.get_full_name}}"></i>&nbsp;
													{% endif %}
													<text title="{{fbk.0.created}}">{{ fbk.0.beamline.acronym }}</text>
													&nbsp;|&nbsp;{{fbk.2}}
												</strong><span class="text-muted"> {{ fbk.1 }}</span></p>
											{% endfor %}
										{% endif %}
									</div>
								{% else %}
									{% for fbk in vals.results %}
										<p><strong>
											{% if fbk.0.details.contact_with_status_report != "No" %}
												<i class="bi-chat-left-dots" title="Response Requested by {{fbk.0.user.get_full_name}}"></i>&nbsp;
											{% endif %}
											<text>{{ fbk.0.beamline.acronym }}</text>
										</strong>&nbsp;|&nbsp;<span class="text-muted"> {{ fbk.1 }}</span></p>
									{% endfor %}
								{% endif %}
							</div>
							<div class="spacer"></div>
						</div>
						</div>
					<div class="spacer" style="clear: both;"></div>
				{% endfor %}
										</div>
			{% endif %}{% endfor %}
			<hr class="hr-xs">
		</div>
	</div>
{% endfor %}
{% endblock %}

