{% extends 'page.html' %}
{% load crispy_forms_tags %}
{% load beamline_tags %}

{% block page-pretitle %}Facility Configs{% endblock %}

{% block page-title %}
    <strong>{{ object.acronym }}</strong> &mdash; Available Techniques
{% endblock %}

{% block page-subtitle %}
    <small>
        <i class="bi-circle-fill text-success"></i>&nbsp;Available &emsp;
        <i class="bi-circle-fill text-warning"></i>&nbsp;Special Request &emsp;
        <i class="bi-circle-fill" style="color: #ddd;"></i>&nbsp;Not Accepting
    </small>
{% endblock %}

{% block page-tools %}
    {% if object.kind != 'village' %}
        {% if owner or admin %}
            <a href='#0' data-modal-url='{% url "add-facility-config" pk=object.pk %}' class="pull-right">
                <i class="bi-plus-lg icon-md icon-fw"></i><br/>
                <span class="tool-label">Add Config</span>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block page-content %}

    {% for config in object.configs.pending %}
        {% include "proposals/config-box.html" with pending=True %}
    {% endfor %}
    {% include "proposals/config-box.html" with config=object.active_config active=True %}
    {% for config in object.configs.expired %}
        {% if forloop.first %}<h3>Previous Configurations</h3>{% endif %}
         {% include "proposals/config-box.html" %}
    {% endfor %}

{% endblock %}
