{% extends "print.html" %}

{% block body_class %}print-base{% endblock %}
{% block header-tools %}
    <h1 class="text-narrow pull-right text-danger">
        <span>Confidential</span><br/>
        <small style="font-size: 30%;" class="pull-right text-condensed">Printed by {{ user }} on {{ now|date }}</small>
    </h1>

{% endblock %}
{% block full %}
<div class="minitron bg-transparent">
    <div class="row">
        <div class="col-xs-12">
            {% if object.is_safety %}
                {% include "projects/safety-detail.html" with material=object.reference %}
            {% else %}
                {% include "proposals/proposal-content.html" with proposal=object.reference.proposal  %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}