{% extends "print.html" %}

{% block body_class %}print-base{% endblock %}
{% block header-tools %}
    <div class="text-narrow text-danger text-end m-0">
        <div class="fs-4">Confidential</div>
        <div class="fs-0 text-condensed">Printed by {{ user }} on {{ now|date }}</div>
    </div>

{% endblock %}
{% block content %}
<div class="bg-transparent">
    <div class="row">
        <div class="col-xs-12">
            {% if object.is_safety %}
                {% include "projects/safety-detail.html" with material=object.reference %}
            {% else %}
                {% include "proposals/proposal-content.html" with proposal=object.reference.proposal  %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}