{% extends "print.html" %}
{% block html_class %}print-base{% endblock %}
{% block body_class %}{% endblock %}
{% block header-tools %}
    <div class="text-danger text-end m-0">
        <div class="fs-5 lh-1 fw-bold" style="font-kerning: normal;">Confidential</div>
        <small class="text-condensed">{{ user }} &middot; {{ now|date }}</small>
    </div>
{% endblock %}
{% block printed-content %}
<div class="bg-transparent">
    <div class="row">
        <div class="col-sm-12">
                {% if object.type.is_safety or object.type.is_approval %}
                    {% include "projects/safety-detail.html" with material=reference %}
                {% else %}
                    {% include "proposals/proposal-content.html" with proposal=reference.get_document %}
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}