{% extends "proposals/base.html" %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'samples/sample.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'proposals/reviews.css' %}" rel="stylesheet"/>
{% endblock %}

{% block pre_js %}
        <script src="{% static 'dynforms/dynforms.min.js' %}"></script>
{% endblock %}

{% block page-title %}Edit Proposal{% endblock %}
{% block body_class %}extended-help{% endblock %}
{% block content %}
    <div id="review-form" class="row gap-0">
        <div class="col-sm-9 col-md-7 review-col gap-0">
            <div id="form-area" class="page col-12">
                <div class="row">
                    {% include "dynforms/form.html" %}
                </div>
            </div>
        </div>
        <div class="col-3 hidden-xs">
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        $(window).bind('beforeunload', function () {
            if ($("[data-dynform-dirty]").length) {
                return 'Form contains unsaved changes.';
            }
        });
    </script>
{% endblock %}