{% load static %}
{% load beamline_tags %}
{% load samples_tags %}
{% load proposal_tags %}
{% load user_tags %}
{% load markup %}

<script src="{% static 'js/mathjax-config.js' %}" async></script>

<div class="row section">
    <div class="col-12 section-content">
        <div class="text-condensed text-body-secondary"><strong>{{ reference }}</strong></div>
        <h2 class="border-bottom">{{ proposal.title }}</h2>
        <strong>
            {% for member in proposal.get_full_team %}
                <span title="{{ member.email|get_institution }}">{{ member.last_name }}, {{ member.first_name }}</span>
                <span class="text-info">{{ member.roles|team_roles }}</span>
                {% if not forloop.last %}&middot;{% endif %}
            {% endfor %}
        </strong>

        {% if proposal.details.subject.keywords %}
            <hr/>
            Keywords: <em>{{ proposal.details.subject.keywords }}</em>
            <hr/>
        {% endif %}
    </div>
</div>

<div class="row section">
    <div class="col-12 section-content">
        <h3>Abstract</h3>
        {{ proposal.details.abstract|markdown }}
    </div>
</div>
<div class="row section">
    <div class="col-12 section-content">
        <h3>Scientific Description</h3>
        {{ proposal.details.scientific_merit|safe }}
    </div>
</div>
<div class="row section">
    <div class="col-12 section-content">
        <h3>Capability &amp; Productivity of Research Team</h3>
        {{ proposal.details.team_capability|markdown }}
    </div>
</div>
<div class="row section">
    <div class="col-12 section-content">
        <h3>Societal, Economic and Industrial Relevance</h3>
        {{ proposal.details.societal_impact|default:"<em>Not completed.</em>" }}
    </div>
</div>
<div class="row section">
    <div class="col-12 section-content">
        <h3>Facilities &amp; Techniques</h3>
        {% show_facility_requirements proposal.details.beamline_reqs cycle=proposal.details.first_cycle %}
    </div>

    {% get_selected_ancillaries data=proposal.details.ancillaries as ancillary %}
    {% if ancillary.labs.exists or ancillary.equipment.exists %}
        <div class="col-12 section-content">
            <h3>Ancillary Requirements:</h3>
            {% if ancillary.labs.exists %}
                <p><strong>Labs:</strong>&nbsp; {{ ancillary.labs|join:", " }}</p>
            {% endif %}
            {% if ancillary.equipment.exists %}
                <p><strong>Equipment:</strong>&nbsp; {{ ancillary.equipment|join:", " }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>

{% if not hide_safety %}
    <div class="row section">
        <div class="col-sm-12 section-content">
            <h3>Materials</h3>
            <h4>Samples:</h4>
            {% get_samples data=proposal.details.sample_list as samples %}
            {% include "samples/sample_table.html" %}
            {% if proposal.details.equipment %}
                <h4>Equipment:</h4>
                <hr class="hr-xxs"/>
                {% include "proposals/equipment-list.html" with equipment=proposal.details.equipment %}
            {% endif %}

        </div>
    </div>

    <div class="row section">
        <div class="col-sm-12 section-content">
            <h4>Sample Preparation:</h4>
            <div>{{ proposal.details.sample_handling|default:"<em>No sample handling onsite.</em>" }}</div>
        </div>
    </div>

    <div class="row section">
        <div class="col-sm-12 section-content">
            <h4>Waste Generation:</h4>
            {% if proposal.details.waste_generation %}
                The following types of waste will be generated:
                <ul>
                    {% for w in proposal.details.waste_generation %}
                        <li>{{ w|waste_label }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <em>No waste will be generated.</em>
            {% endif %}
            {% if proposal.details.disposal_procedure %}
                <h4>Waste Disposal:</h4>
                {{ proposal.details.disposal_procedure }}
            {% endif %}
        </div>
    </div>
{% endif %}
{% if show_safety %}
    {% if proposal.attachments.exists %}
        <div class="row section">
            <div class="col-sm-12 section-content">
                <h3>Appendix: Attachments</h3>
                <div class="alert alert-transparent text-center">
                    {% for attachment in proposal.attachments.all %}
                        {% if attachment.is_image %}
                            <img src="{{ attachment.file.url }}" width="70%"/>
                            <p>{{ attachment.description }} [{{ attachment.get_kind_display }}]</p>
                        {% else %}
                            {{ attachment.file|file_icon }}
                            <a href="{{ attachment.file.url }}" target="_blank">{{ attachment.description }}
                                [{{ attachment.get_kind_display }}]</a>
                        {% endif %}
                        {% if not forloop.last %}
                            <hr class="hr-lg"/>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    {% endif %}
{% else %}
    {% if proposal.attachments.scientific.exists %}
        <div class="row section">
            {% if proposal.attachments.scientific.count %}
                <div class="col-12 section-content">
                    <h3>Appendix: Attachments</h3>
                    {% include "proposals/attachments.html" with object=proposal %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}