{% extends "page.html" %}
{% load static %}
{% load misc %}
{% load dynforms %}
{% load beamlines %}
{% load samples_tags %}
{% load proposal_tags %}
{% load markup %}


{% block page-pretitle %}
    Proposal
{% endblock %}

{% block page-title %}{{ proposal.code }}{% endblock %}
{% block page-subtitle %}
    Created: {{ proposal.created | date }} &ensp; Last Modified: {{ proposal.modified | date }}
{% endblock %}
{% block page-tools-class %}
    {% if not owner and not admin %}hidden{% endif %}
{% endblock %}

{% block extra_css %}
    <link href="{% static 'proposals/proposals.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'proposals/reviews.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block page-tools %}
    {% if owner %}
        {% if proposal.state == proposal.STATES.draft %}
            {% if validation.pages %}
                <a href='#0' title='Incomplete Proposal' disabled class="pull-right">
                    <i class="bi-exclamation-triangle icon-md icon-fw"></i><br/>
                    <span class="tool-label">Submit</span>
                </a>
            {% else %}
                <a href='#0' data-modal-url='{% url "submit-proposal" slug=object.code %}' class="pull-right">
                    <i class="bi-arrow-right-circle icon-md icon-fw text-success"></i><br/>
                    <span class="tool-label">Submit</span>
                </a>
            {% endif %}
            <a href='{% url "edit-proposal" slug=object.code %}' class="pull-right">
                <i class="bi-pencil icon-md icon-fw "></i><br/>
                <span class="tool-label">Edit</span>
            </a>
            <a href='#0' data-modal-url='{% url "delete-proposal" slug=object.code %}' class="pull-right">
                <i class="bi-trash icon-md text-danger icon-fw"></i><br/>
                <span class="tool-label">Delete</span>
            </a>
        {% endif %}
        <a href='#0' data-modal-url='{% url "clone-proposal" slug=object.code %}' class="pull-right">
            <i class="bi-copy icon-md icon-fw"></i><br/>
            <span class="tool-label">Clone</span>
        </a>
        <a href='#0' data-modal-url='{% url "proposal-attachments" pk=object.pk %}' class="pull-right">
            <i class="bi-paperclip icon-md icon-fw"></i>
            <span class="tool-label">Attachments</span>
            {% if proposal.attachments.exists %}
                <div class="bubble text-bg-primary">
                    <div>{{ proposal.attachments.count }}</div>
                </div>
            {% endif %}
        </a>
        {% if proposal.clarifications.exists %}
            <a href='#proposal-clarifications' class="pull-right"
                data-bs-toggle="collapse" title="Clarifications"
                aria-expanded="{% if proposal.clarifications.pending.exists %}true{% else %}false{% endif %}"
                aria-controls="proposal-clarifications">
            <i class="bi-chat-right-text icon-md icon-fw"></i><br/>
            <span class="tool-label">Clarifications</span>
            <div class="bubble text-bg-danger">
                <div>{{ proposal.clarifications.count }}</div>
            </div>
            </a>
        {% endif %}
    {% endif %}
    {% for submission in proposal.submissions.all %}
        <a href='{{ submission.get_absolute_url }}'
           title="{{ submission.track.acronym }} Submission">
            <span class="icon-stack">
                <i class="bi-journal icon-md"></i>
                <small class="text-condensed">{{ submission.track.acronym }}</small>
            </span><br/>
            <span class="tool-label">{{ submission.code }}</span>
        </a>
    {% endfor %}
{% endblock %}


{% block page-status-style %}callout callout-{% state_tag proposal.state secondary=proposal.STATES.draft success=proposal.STATES.submitted %}{% endblock %}

{% block page-status-bar %}
    <span class="status-badge badge bg-{% state_tag proposal.state secondary=proposal.STATES.draft success=proposal.STATES.submitted %} text-condensed">{{ proposal.get_state_display }}</span>
    <div>
        <small class="text-wide text-body-secondary">Spokesperson:</small><br/>{{ proposal.spokesperson|default:"&hellip;" }}<br/>
        <small class="text-wide text-body-secondary">Delegate:</small><br/>{{ proposal.get_delegate|default:"&hellip;" }}
    </div>
    <div>
        <small class="text-wide text-body-secondary">Address:</small><br/>
        {% if proposal.details.invoice_address %}
        {% with proposal.details.invoice_address as address %}
            <p class="text-condensed">
                {% if address.place %}{{ address.place }},<br/> {% endif %}
                {{ address.street }},<br/>
                {{ address.city }}, {{ address.code }},<br/> {{ address.region }}, {{ address.country }}
            </p>
        {% endwith %}
        {% elif proposal.spokesperson.address %}
        {% with proposal.spokesperson.address as address %}
            <p class="text-condensed">
                {{ address.address_1 }},<br/> {{ address.address_2 }}, {{ address.city }},<br/>
                {{ address.region }}, {{ address.postal_code }}, {{ address.country }}
            </p>
        {% endwith %}
        {% endif %}
    </div>
    <div>
        <small class="text-wide text-body-secondary">Hazards:</small><br/>
        <div class="">
            {% show_pictograms proposal.hazards size="md" %}
        </div>
    </div>
{% endblock %}

{% block page-content %}
    {% if proposal.state == proposal.STATES.draft and validation.pages %}
        <div class="callout callout-warning">
        <div class="d-flex flex-row align-items-center gap-3">
            <i class="bi-exclamation-triangle icon-lg flex-shrink-0"></i>
            <div class="flex-grow-1">Please edit and fix the following issues before submitting:<br/>
                <ul class="list-unstyled">
                    {% for page in object.form_type.pages %}
                        {% with validation|page_errors:forloop.counter0 as errors %}{% if errors %}
                            <li><strong>{{ page.name }}</strong> <i class="bi-arrow-right"></i>
                                {% for f, e in errors.items %}
                                    {{ e|safe }}{% if not forloop.last %} &middot;
                                    {% endif %}{% endfor %}</li>
                        {% endif %}{% endwith %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    {% endif %}

    {% if proposal.clarifications.count %}
        <div class="row collapse {% if proposal.clarifications.pending.exists %}show{% endif %}"
             id="proposal-clarifications">
            <div class="col-sm-12">
                <div class="p-3 bg-notes-warning">
                    <h4 class="my-0">Clarification Requests {{ proposal.clarifications.pending.count }}</h4>
                    <hr class="hr-xs"/>
                    {% include "proposals/clarifications.html" with response_url_name='proposal-clarification-response' %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="p-5">
        {% include "proposals/proposal-content.html" with proposal=proposal.get_document %}
    </div>
{% endblock %}


