{% load markup %}
{% load proposal_tags %}

{% if reviews.exists %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th colspan="2">Review</th>
            {%  if admin or committee_member %}<th>Reviewer</th> {%  endif %}
            <th>Date</th>
            <th>Score/Overall</th>
            <th>Scores/Details</th>
            <th></th>
            {% if admin %}
            <th class="text-danger">Edit</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for rev in reviews.by_completeness %}
        <tr>
            <td width="10%">{{ rev | display_state }}</td>
            <td>{{ rev.type }}</td>
            {%  if admin or committee_member %}
                <td>
                {% if rev.reviewer.reviewer.committee %}
                    <a href="mailto:{{ rev.reviewer.email }}?{{ rev|review_email }}">{{rev.assigned_to}}</a> <i class="bi-award text-warning"></i>
                {% elif rev.reviewer %}
                    <a href="mailto:{{ rev.reviewer.email }}?{{ rev|review_email }}">{{rev.assigned_to}}</a>
                {% else %}
                    {{rev.assigned_to}}
                {% endif %}
                </td>
            {% endif %}
            <td>{% if rev.state >= rev.STATES.submitted %}{{ rev.modified|date }}{% elif rev.due_date %}Due {{ rev.due_date|date }}{% else %}&hellip;{% endif %}</td>
            <td>{% if rev.state >= rev.STATES.submitted %}{{ rev.score|floatformat:1 }}{% else %}<em class="text-muted">incomplete</em>{%  endif %}</td>
            <td>{% if rev.state >= rev.STATES.submitted %}{{ rev|display_scores }}{% else %}<em class="text-muted">incomplete</em>{%  endif %}</td>
            <td>
                {% if rev.state >= rev.STATES.submitted and rev.comments %}
                <a title="Show/Hide Comments" href='#comments-{{rev.pk}}'
                   role="button"
                   aria-expanded="false"
                   aria-controls="comments-{{rev.pk}}"
                   data-bs-toggle="collapse"><i class="bi-chat-left-dots icon-fw"></i>
                </a>
                {% endif %}
            </td>
            {% if admin %}
            <td>
                {% if rev.state >= rev.STATES.submitted %}
                <i class="bi-lock icon-fw text-muted"></i>
                {% else %}
                <a href="{% url 'edit-review' pk=rev.pk %}"><i class="bi-pencil icon-fw"></i></a>
                {% endif %}
                </td>
            {% endif %}
        </tr>
        {% if rev.comments %}
        <tr class="merge-up hidden-row">
            <td colspan=6">
                <ul id="comments-{{rev.pk}}" class="p-3 bg-info collapse list-unstyled" style="padding: 0.5em;">
                    <strong>Comments:</strong>{{ rev.comments|default:"&hellip;"|markdown }}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% endfor %}


        </tbody>
    </table>
{% else %}
    <div class="empty">No reviews</div>
{% endif %}