{% load cycle_tags %}
{% load proposal_tags %}

{% if object.reviewer %}
	<div class="pagelet-header">
		<span class="pagelet-title">PRC Management ({{object.reviewer.committee.acronym}})</span>
		<a href="{% url 'submission-list' %}" class="btn btn-xs btn-white pull-right"><span class="sr-only">Manage Submissions</span><i class="bi-list-ol"></i></a>
	</div> 
	<div class="pagelet-content row" style="height: 245px; padding-bottom: 4px;">
	  <div class="slim-scroll-div" style="overflow: hidden; height: 100%;">
		<div class="slim-scroll" style="overflow: hidden; width: auto; padding-right: 15px;  margin-right: -15px; ">
          <table class="table table-hover table-condensed">
            {% for sub in cycle|active_submissions:object %}
              <tr>
                <td>
                  <div class="col-xs-3"><i class="bi-circle-fill {{ sub.state|state_color }}" title="{{ sub.get_state_display }}"></i>&nbsp;{{ sub.proposal.spokesperson.last_name }}</div>
                  <div class="col-xs-7">{{ sub.proposal|truncatechars:50 }}</div>
                  <div class="col-xs-2" style="text-align: right;"><a href='{% url "submission-detail" pk=sub.pk %}'><span class="btn btn-sm btn-default"><i class="bi-eye"></i></span></a></div>
                </td>
              </tr>
            {% endfor %}
          </table>
		</div>
      </div>
    </div>

{% endif %}

