{% extends "crisp_modals/modal.html" %}
{% load crispy_forms_tags %}
{% load markup %}
{% block modal_title %}Reviewer Compatibility{% endblock %}
{% block modal_styles %}modal-lg{% endblock %}
{% block modal_body %}
<div class="p-3 techniques {% if conflict %} bg-danger-subtle {% else %} bg-success-subtle {% endif %}">
    <h5 style="margin:0;">
        {%  if admin %}
            <strong><a class="next-url" href="{% url 'edit-reviewer-profile' pk=reviewer.pk %}">{{reviewer}}</a></strong>
        {% else %}
            <strong>{{reviewer}}</strong>
        {%  endif %}
        <span class="pull-right badge rounded-pill bg-secondary" title="Cycle Workload" style="margin-left: 0.25em;">
            {{workload.count}}
        </span>
        {% if conflict %}<span class="pull-right badge bg-danger">Conflict</span>{% endif %}
    </h5>
    <small class="text-muted">{{reviewer.user.institution}}</small>
    {% for tech in reviewer.techniques.all %}
    {% if forloop.first %}
    <hr class="hr-xs"/>
    {% endif %}
    <span class="badge {% if tech in compat_techniques %}bg-primary{% else %}bg-secondary{% endif %}">{{tech}}</span>
    {% endfor %}
    {% for area in reviewer.areas.all %}
    {% if forloop.first %}
    <hr class="hr-xs"/>
    {% endif %}
    <span class="badge {% if area in compat_areas %}bg-success{% else %}bg-secondary{% endif %}">{{area}}</span>
    {% endfor %}
</div>
<div class="p-3 bg-white">
    {% include "proposals/submission-snippet.html" %}
</div>
{% endblock %}