{% extends "proposals/base.html" %}

{% load static %}
{% load markup %}
{% block extra_css %}
    <link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'proposals/reviews.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'samples/sample.min.css' %}" rel="stylesheet"/>
{% endblock %}
{% block pre_js %}
    <script src="{% static 'dynforms/dynforms.min.js' %}"></script>
{% endblock %}
{% block page-title %}{{ object }}{% endblock %}1
{% block body_class %}{% endblock %}

{% block content %}
    <div id="review-grid" class="bg-secondary-subtle">
        <div id="review-content" class="page">
             <div id="review-proposal">
                {% if review.type.is_safety or review.type.is_approval %}
                    {% include "projects/safety-detail.html" with material=reference %}
                {% else %}
                    {% include "proposals/proposal-content.html" with proposal=reference.proposal %}
                {% endif %}
             </div>
            <div id="review-extras" class="bg-notes-warning">
                {% include "proposals/review-tools.html" %}
                <div id="extra-review-content" class="p-4 scroll-box"></div>
            </div>
        </div>
        <div id="review-form" class="page">
            <div class="">
                {% if object.is_claimable and object.reviewer != user %}
                    {% include "proposals/review-roles.html" %}
                {% else %}
                    {% include "dynforms/form.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(window).bind('beforeunload', function () {
            if ($("[data-dynform-dirty]").length) {
                return 'Form contains unsaved changes.';
            }
        });

        $('.close-command').click(function () {
            $(this).closest('.review-col').removeClass('show-comments');
        });
        $('.expand-command').click(function () {
            const next = $(this).data('expand-name');
            const $extras = $("#review-extras");
            console.log(next, $extras);
            $('#extra-review-content').load($(this).attr('data-extra-url'), function () {
                if (next === $(this).data('contains')) {
                    $extras.toggleClass('show-comments');
                } else {
                    $extras.addClass('show-comments');
                }
                $(this).data('contains', next);
            });
        });

        $(".df-form-body").niceScroll({
            cursorborder: "3px solid transparent",
            cursorwidth: "12px",
            autohidemode: "leave",
            cursoropacitymax: 0.7
        });
        $(".df-form-body").scroll(function () {
            $(this).getNiceScroll().resize()
        });

    </script>
{% endblock %}