{% extends "proposals/base.html" %}

{% load static %}
{% load dynforms_tags %}
{% load markup %}
{% load crispy_forms_tags %}
{% block extra_css %}
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
    <link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'proposals/reviews.css' %}" rel="stylesheet"/>
    <link href="{% static 'samples/sample.min.css' %}" rel="stylesheet"/>
    {% endblock %}
{% block pre_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" integrity="sha512-BI1itUvyiWbbZ446/8IOccwMPB/xobCTyQTS0r1+k8Pq1VPT3uIJKNCoMH12rKk18J9sH33xQNve7srB0IGYlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-form@3.50.0/jquery.form.min.js"></script>
    <script src="{% static 'dynforms/dynforms.js' %}"></script>
{% endblock %}
{% block html_class %}no-scroll{% endblock %}
{% block page_heading %}{{ object.review_type }}{% endblock %}
{% block body_class %}{% endblock %}

{% block full %}
    <div id="review-form" class="row narrow-gutter">
        <div class="col-sm-{% if review.kind == 'safety' or review.kind == 'approval' %}6{% else %}7{% endif %} review-col">
            <div id="proposal-area" class="pagelet scroll-parent">
                <div class="scrollbox" style="height: 100%; padding: 0.75em;">
                    <div class="pagelet-body">
                        {% if review.kind == 'scientific' %}
                            {% include "proposals/proposal_content.html" with proposal=review.reference.proposal hide_safety=True %}
                        {% elif review.kind == 'technical' %}
                            {% include "proposals/proposal_content.html" with proposal=review.reference.proposal show_hazards=True %}
                        {% else %}
                            {% include "projects/safety-detail.html" with material=review.reference %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="extras-area" class="pagelet bg-notes-warning">
                <div class="pagelet-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <i class="close-command bi-x-lg pull-right" style="padding: 0.75em;"></i>
                        </div>
                    </div>
                    <div id="extra-review-content" class="scrollbox">
                        Loading ...
                    </div>
                </div>
                <div style="flex: 1;"></div>
                {% include "proposals/review_tools.html" %}
            </div>
        </div>
        <div class="col-sm-{% if review.kind == 'safety' or review.kind == 'approval' %}6{% else %}5{% endif %} review-col">
            <div id="form-area" class="pagelet col-xs-12">
                <div class="row">
                    {% if object.is_claimable and object.reviewer != user %}
                        {% include "proposals/review-roles.html" %}
                    {% else %}
                        {% include "dynforms/form.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(window).bind('beforeunload', function () {
            if ($("[data-dynform-dirty]").length) {
                return 'Form contains unsaved changes.';
            }
        });

        $('.close-command').click(function () {
            $(this).closest('.review-col').removeClass('show-comments');
        });
        $('.expand-command').click(function () {
            var next = $(this).data('expand-name');
            $('#extra-review-content').load($(this).attr('data-extra-url'), function () {
                if (next == $(this).data('contains')) {
                    $(this).closest('.review-col').toggleClass('show-comments');
                } else {
                    $(this).closest('.review-col').addClass('show-comments');
                }
                $(this).data('contains', next);
            });
        });
        $('.enlarge-text').click(function () {
            $("#review-form").toggleClass('larger-text');
        });

        $(".df-form-body").niceScroll({
            cursorborder: "3px solid transparent",
            cursorwidth: "12px",
            autohidemode: "leave",
            cursoropacitymax: 0.7
        });
        $(".df-form-body").scroll(function () {
            $(this).getNiceScroll().resize()
        });

    </script>
{% endblock %}