{% extends "page.html" %}
{% load proposal_tags %}
{% load beamline_tags %}
{% load folio %}
{% load humanize %}
{% load jsonify %}
{% load markup %}

{% block page-pretitle %}
    Submission
{% endblock %}


{% block page-title %}
    <strong>{{ object.code }}</strong> &mdash; {{ object.proposal.title }}
{% endblock %}

{% block page-subtitle %}
    {% for member in object.proposal.get_full_team %}
        {{ member.last_name }}, {{ member.first_name }} <strong class="text-info">{{ member.roles|team_roles }}</strong>
        {% if not forloop.last %}&middot;{% endif %}
    {% endfor %}
{% endblock %}

{% block page-tools %}
    {% if admin  %}
    <a href='{% url 'proposal-detail' object.proposal.pk %}' class="pull-right">
        <i class="bi-file-earmark-richtext icon-md icon-fw"></i><br/>
        <span class="tool-label">Proposal</span>
    </a>
    {% endif %}
    {% if object.project.exists %}
        <a href='{% url 'project-detail' object.project.first.pk %}' class="pull-right">
            <i class="bi-briefcase icon-md icon-fw"></i><br/>
            <span class="tool-label">Project</span>
        </a>
    {% endif %}
    {% if admin and object.state == object.STATES.reviewed %}
        <a href='#0' data-modal-url='{% url 'adjust-submission-score' object.pk %}' class="pull-right">
            <i class="bi-arrows-expand-vertical icon-md icon-fw"></i><br/>
            <span class="tool-label">Adjust Score</span>
        </a>
        <a href='#0' data-modal-url='{% url 'edit-submission-comments' object.pk %}' class="pull-right">
            <i class="bi-chat-right-text icon-md icon-fw"></i><br/>
            <span class="tool-label">Comments</span>
        </a>
    {% endif %}
{% endblock %}

{% block page-status-style %}callout {% folio_status object.state draft=object.STATES.pending info=object.STATES.started warn=object.STATES.reviewed default='bg-success' %}{% endblock %}

{% block page-status-bar %}
    <h3 class="my-0"><span class="badge bg-info text-condensed">{{ object.get_state_display }}</span></h3>
    <div>
        <small class="text-wide text-body-secondary">First Cycle:</small>
        <br/>
        {{ object.cycle }}
    </div>
    <div>
        <small class="text-wide text-body-secondary">Review Track:</small>
        <br/>
        {{ object.track }}
    </div>
    {% if object.siblings.exists %}
        <div>
            <small class="text-wide text-body-secondary">Related:</small><br/>
            {% for submission in object.siblings.all %}
                <a href='{% url "submission-detail" pk=submission.pk %}'>{{ submission }}</a>
                {% if not forloop.last %},  {% endif %}{% endfor %}
        </div>
    {% endif %}
    <div>
        <small class="text-wide text-body-secondary">Type:</small>
        <br/>
        {{ object.get_kind_display }}
    </div>

    <!--div>
        {% if not object.track.require_call %}
            <small class="text-wide text-body-secondary">Final Decision:</small><br/>
            {% if object.state != object.STATES.closed %}
                <em>Incomplete</em>
            {% else %}
                {% if object.scores.technical < 4 %}
                    <span class="badge progress-bar-success">&nbsp;Approved&nbsp;</span>
                {% else %}
                    <span class="badge progress-bar-danger">&nbsp;Rejected&nbsp;</span>
                {% endif %}
            {% endif %}
        {% else %}
            <small class="text-wide text-body-secondary">Final Score:</small><br/>
            {% if object.state != object.STATES.complete %}
                <em>Incomplete</em>
            {% else %}
                {% with object.score as score %}
                    <span class="badge"
                          style="background-color: {{ score|color_scale }}">&nbsp;{{ score|floatformat:"-1" }}&nbsp;</span>
                {% endwith %}
            {% endif %}
        {% endif %}
    </div-->
{% endblock %}

{% block page-content %}
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>Summary</h4>
                {{ object.proposal.details.abstract|markdown }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h4>Shifts Requested</h4>
                {% for bl in object.proposal.details.beamline_reqs %}
                    <ul>
                        <li>
                            {{ bl.facility|get_facility }} &emsp; <span
                                class="badge">{{ bl.shifts|default:"unspecified" }} shift{{ bl.shifts|pluralize:",s" }}</span>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-sm-6">
                <h4>Techniques Requested</h4>
                <ul class="list-unstyled list-ruled">
                    {% for item in object.techniques.all %}
                    <li>
                        <strong>{{ submission.track }}</strong>  &mdash; {{ item }}
                    </li>
                    {% endfor %}
                    {% for submission in object.siblings.all %}
                        {% for item in submission.techniques.all %}
                            <strong>{{ submission.track }}</strong>  &mdash; {{ item }}
                            <a href='{% url "submission-detail" pk=submission.pk %}'><i class="bi-arrow-right-circle icon-fw"></i></a>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if object.state == object.STATES.complete or object.state == object.STATES.reviewed and admin %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="p-3 mb-3 border-3d">
                        <div class="row">

                            <div class="col-sm-6 col-xs-12">
                                <h4>Score Summary</h4>
                                <hr class="hr-xs"/>
                                <div class="row">
                                    {% for review_type, info in ranks.items %}
                                        <div class="col-xs-3">
                                            <small class="text-wide text-body-secondary">{{ review_type }}</small><br/>
                                            <h2 class="my-0 text-center"
                                                style="color: {{ info.score |color_scale }}">
                                                <strong>{{ info.score | floatformat:-1 }}</strong></h2>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    {% for review_type, info in ranks.items %}
                                        <div id="histogram" class="histogram col-xs-3"
                                             data-histogram='{"values": {{ info.values|jsonify }}, "rank": {{ info.rank }}, "score": {{ info.score }} }'>
                                            <p class="text-center">All: <em>{{ info.rank | ordinal }} Percentile</em>
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <h4>Reviewer Comments</h4>
                                <hr class="hr-xs"/>
                                {{ object.comments | markdown }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if admin or committee_member %}
            <div class="row section">
                <div class="col-xs-12">
                    <h3>Reviews</h3>
                    {% include "proposals/reviews-table.html" with reviews=object.reviews.all %}
                </div>
            </div>
        {% endif %}
    </div>
    {% include "proposals/review-results.html" %}
{% endblock %}