{% extends "page.html" %}
{% load proposal_tags %}
{% load beamlines %}
{% load humanize %}
{% load jsonify %}
{% load markup %}
{% load misc %}

{% block page-pretitle %}
    Submission
{% endblock %}


{% block page-title %}
    <strong>{{ object.code }}</strong> &mdash; {{ object.proposal.title }}
{% endblock %}

{% block page-subtitle %}
    {{ object.proposal.authors }}
{% endblock %}

{% block page-tools %}
    {% if admin or owner %}
        <a href='{% url 'proposal-detail' object.proposal.code %}' class="pull-right">
            <i class="bi-file-earmark-richtext icon-md icon-fw"></i><br/>
            <span class="tool-label">Proposal</span>
        </a>
    {% endif %}
    {% if object.project.exists %}
        <a href='{% url 'project-detail' object.project.first.pk %}' class="pull-right">
            <i class="bi-briefcase icon-md icon-fw"></i><br/>
            <span class="tool-label">Project</span>
        </a>
    {% endif %}
    {% if admin and object.state == object.STATES.reviewed %}
        <a href='#0' data-modal-url='{% url 'edit-submission-comments' object.pk %}' class="pull-right">
            <i class="bi-chat-right-text icon-md icon-fw"></i><br/>
            <span class="tool-label">Comments</span>
        </a>
    {% endif %}
{% endblock %}

{% block page-status-style %}callout callout-{% state_tag object.state info=object.STATES.started %}{% state_tag object.approved success=True danger=False %}{% endblock %}

{% block page-status-bar %}
    <span class="status-badge badge bg-{% state_tag object.state secondary=object.STATES.pending info=object.STATES.started %}{% state_tag object.approved success=True danger=False %} text-condensed">
        {% if object.approved == True %}Approved{% elif object.approved == False %}Rejected{% else %}
            {{ object.get_state_display }}{% endif %}
    </span>
    <div>
        <small class="text-wide text-body-secondary">First Cycle:</small>
        <br/>
        {{ object.cycle }}
    </div>
    <div>
        <small class="text-wide text-body-secondary">Review Track:</small>
        <br/>
        {{ object.track }}
    </div>
    <div>
        <small class="text-wide text-body-secondary">Requested Facilities:</small>
        <br/>
        {% for facility in object.facilities %}
            <a class="mb-1 me-1 badge bg-primary"
               href='{% url "facility-detail" acronym=facility.acronym %}'>{{ facility }}</a>
        {% endfor %}
    </div>
    {% if object.siblings.exists %}
        <div>
            <small class="text-wide text-body-secondary">Related:</small><br/>
            {% for submission in object.siblings.all %}
                <a href='{% url "submission-detail" pk=submission.pk %}'>{{ submission }}</a>
                {% if not forloop.last %},  {% endif %}{% endfor %}
        </div>
    {% endif %}
    <div>
        <small class="text-wide text-body-secondary">Access Pool:</small>
        <br/>
        {{ object.pool }}
    </div>
{% endblock %}

{% block page-content %}
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <h4>Summary</h4>
                {{ object.proposal.details.abstract|markdown }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mb-3">
                <h4>Requests</h4>
                <table class="table table-ruled border-bottom">
                    <thead>
                    <tr>
                        <th>Facility</th>
                        <th>Shifts Requested</th>
                        <th>Techniques</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for facility, requested in facility_requests.items %}
                        <tr>
                            <td>
                                <a href='{% url "facility-detail" acronym=facility.acronym %}'>{{ facility.acronym }}
                                    &mdash; {{ facility.name }}</a>
                            </td>
                            <td>
                                {{ requested.shifts|default:"unspecified" }} shift{{ requested.shifts|pluralize:",s" }}
                            </td>
                            <td>
                                <ul class="my-0">
                                    {% for item in requested.basic_techniques %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if object.state == object.STATES.complete or admin and object.state >= object.STATES.reviewed %}
            <div class="row">
                <div class="col-sm-12">
                    <h4>Review Scores</h4>
                    <div class="row">
                        {% for stage, results in stage_results.items %}
                            <div class="col">
                                {% if stage.kind.per_facility %}
                                    {% for acronym, facility_results in results.items %}
                                        <div class="card mb-3 bg-{% state_tag facility_results.passed danger=False success=True secondary=None %}-subtle">
                                            <div class="card-header d-flex align-items-center">
                                                <i class="bi bi-{{ stage.position }}-square icon-md"></i>
                                                &nbsp; {{ stage.kind }} &mdash; {{ acronym }}
                                            </div>
                                            <div class="card-body">
                                                {% stat_card description="Average" value=facility_results.score units="" %}
                                                {% stat_card description="Std Dev" value=facility_results.stdev units="" %}
                                                {% stat_card description="Percentile" value=facility_results.rank units="%" %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="card mb-3 bg-{% state_tag results.passed danger=False success=True secondary=None %}-subtle mb-3">
                                        <div class="card-header d-flex align-items-center">
                                            <i class="bi bi-{{ stage.position }}-square icon-md"></i>
                                            &nbsp; {{ stage.kind }}
                                        </div>
                                        <div class="card-body">
                                            {% stat_card description="Average" value=results.score units="" %}
                                            {% stat_card description="Std Dev" value=results.stdev units="" %}
                                            {% stat_card description="Percentile" value=results.rank units="%" %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4>Reviewer Comments</h4>
                    <hr class="hr-xs"/>
                    <div>{{ object.comments|markdown }}</div>
                </div>
            </div>
        {% endif %}
        {% if admin or committee_member %}
            {% if object.reviews.exists %}
                <div class="row section">
                    <div class="col-sm-12">
                        <h3>Reviews</h3>
                        {% include "proposals/reviews-table.html" with reviews=object.reviews.all %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% include "proposals/review-results.html" %}
{% endblock %}