{% load cycle_tags %}
{% if cycle.state >= cycle.STATES.assign %}
<div class="col-xs-12">
    <h5>Committee Assignments</h5>
    <hr class="hr-xs"/>
    <div class="row">
        <div class="col-xs-12">
            <div class="count-list">
                {% for reviewer in track.committee.all %}
                    <div class="count-list-item">
                        <a class="name" href="{% url 'prc-reviews' cycle=cycle.pk pk=reviewer.pk %}">
                            {{ reviewer.user }}
                        </a>
                        <strong class="value">{{ reviewer|review_count:cycle }}</strong>
                    </div>
                {% empty %}
                    <div class="empty">
                        <h5>No committee members</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col-xs-12">
    <h5>Committee Members</h5>
    <hr class="hr-xs"/>
</div>
<div class="col-xs-12">
    <div class="row">
        {% for reviewer in track.committee.all %}
            <div class="col-xs-6 col-sm-4 photo-card">
                    <img class="photo-image" src="{{reviewer.user.get_photo}}"
                         onerror="this.src='/static/img/blank-profile.png';"
                         alt="{{ reviewer.user }} Photo"
                    >
                    <div class="photo-info">
                        <div class="photo-name">{{ reviewer.user }}</div>
                        <div class="photo-description">{{ reviewer.user.institution }}</div>
                    </div>
            </div>
            {% empty %}
            <div class="empty">
                <h5>No committee members</h5>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}