{% extends "proposals/track-box.html" %}
{% load cycle_tags %}
{% block box_class %}bg-transparent{% endblock %}
{% block box_tools_class %}hidden{% endblock %}
{% block box_content %}
    {% if track.committee.count %}
    <div class="ibox-content col-xs-12">
        <h4 style="margin-top: 0.2em;"><strong>{{track.committee.count}}</strong> Committee Members</h4>
        <hr class="hr-xs"/>
        <div class="row">
            {% for reviewer in track.committee.all %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{% url 'prc-reviews' cycle=cycle.pk pk=reviewer.pk %}">
                    {{reviewer.user}} <strong class="pull-right">{{ reviewer|review_count:cycle }}</strong>
                </a>
                <div style="border-bottom: 1px dotted rgba(0,0,0,0.15);"></div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
