{% extends "proposals/track-box.html" %}
{% load misc %}
{% block box_class %}bg-transparent{% endblock %}
{% block box_tools_class %}hidden{% endblock %}
{% block box_content %}
    <div class="col-xs-12 col-sm-6">
        {% stat_card description="Facilities" value=total_facilities units="" %}
        {% stat_card description="Submissions" value=total_submissions units="" %}
        {% if cycle.state == cycle.STATES.assign %}
            {% stat_card description="Techniques" value=total_techniques units="" %}
        {% endif %}
        {% stat_card description="Reviewers" value=total_reviewers units="" %}
    </div>
    <div class="col-xs-12 col-sm-6 count-list">
        {% for entry in facilities %}
            <div class="count-list-item">
                <a class="name" href="{% url "beamline-submissions" fac=entry.facility cycle=cycle.pk %}">{{ entry.facility }}</a>&ensp;<strong class="value">{{ entry.count }}</strong>
            </div>
        {% endfor %}
    </div>
{% endblock %}}