<div class="cycle-box tinytron {% block box_class %}bg-darken{% endblock %}">
    <div class="row">
        <div class="col-xs-12">
            <span class="box-tools pull-right {% block box_tools_class %}{% endblock %}">
                 {% block box_tools %}{% endblock %}
            </span>
            {% block box_header %}{% endblock %}
             <small class="text-muted">{% block box_subheader %}{% endblock %}</small>
        </div>
    </div>
    <hr class="hr-xs"/>
    <div class="row narrow-gutter" style="line-height: 1.6;">
        {% block box_content %}{% endblock %}
    </div>
</div>