<div class="cycle-box {% block box_class %}bg-darken{% endblock %}">
    <div class="row">
        <div class="col-xs-12">
            <span class="box-tools pull-right {% block box_tools_class %}{% endblock %}">
                 {% block box_tools %}{% endblock %}
            </span>
            {% block box_header %}{% endblock %}
             <small class="text-body-secondary">{% block box_subheader %}{% endblock %}</small>
        </div>
    </div>
    <div class="row">
        {% block box_content %}{% endblock %}
    </div>
</div>