{% extends "crisp_modals/confirm.html" %}
{% block modal_title %}Assign Reviewers?{% endblock %}
{% block modal_body %}
<div class="alert">
	<h4>Automatic Reviewer Assignment for the <em>{{stage}}</em> of cycle <em>{{cycle}}</em></h4>
</div>
<p>This procedure will automatically assign scientific reviewers subject to the following conditions:
	<ul class="bullet-list">
		<li>At least one subject area and one technique in common between proposal and reviewer</li>
		<li>At least <strong>{{stage.min_reviews}}</strong> reviewers per proposal</li>
		<li>At most <strong>{{stage.max_workload}}</strong> proposals per reviewer</li>
		<li>No conflicting reviewers (authors or declared inappropriate reviewers)</li>
	</ul>
</p>
<div class="alert alert-danger">
    <p>All previously assigned reviews which have not been completed will be deleted.</p>
	<strong>NOTE:</strong> Automatic assignment will fail if the above conditions cannot be met. Automatic assigments
	can be edited to add or remove assignment.
</div>
{% endblock %}