{% extends "crisp_modals/confirm.html" %}
{% block modal_title %}Clone Proposal?{% endblock %}
{% load proposal_tags %}
{% block modal_body %}

<p class="lead">Are you sure you want to clone the following {{object|verbose_name}}?</p>
<p>A new draft proposal with "(copy)" prepended to the title will be created and saved for further editing.</p>

<div class="alert alert-info">
    <h4><strong>{{object.title}}</strong></h4>
	{% for member in object.details.team_members %}{{member.last_name}}, {{member.first_name}} &middot; {% endfor %}
	{{object.details.leader.last_name}}, {{object.details.leader.first_name}} [PI]
	<hr/>
	Created, {{object.created}}<br/>
	Last Modified, {{object.modified}}<br/>
</div>
{% endblock %}