{% extends "crisp_modals/modal.html" %}
{% load timeish %}
{% load proposal_tags %}
{% load cycle_tags %}
{% block modal_title %}Submit Proposal?{% endblock %}
{% block pre_content %}
    <form action="{% url 'submit-proposal' slug=object.code %}" method="post">{% csrf_token %}
{% endblock %}

{% block modal_body %}
    <div class="callout callout-info mb-3">
        <h4>{{ object.title }}</h4>
        {{ object.authors }}
    </div>

    <div class="row">
        <div class="col-sm-7 mb-3">
            <div class="fs-4">Cycle <strong>{{ cycle }}</strong></div>
            <hr class="hr-xs"/>
            <span class="smaller">{{ cycle|cycle_comments }}</span>
        </div>
        <div class="col-sm-5 mb-3">
            <div class="fs-4">Access Pool</div>
            <hr class="hr-xs"/>
            {% for pool in pools %}
                <div class="form-check">
                    <input id="project_type_{{ forloop.counter }}" name="access_pool" type="radio" value="{{ pool.pk }}" class="form-check-input">
                    <label class="form-check-label" for="project_type_{{ forloop.counter }}">{{ pool }}</label>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">{{ message }}</div>
                {% for track, items in requests.items %}
                    <div class="col-sm-12">
                        <div class="callout mb-2">
                            <div class="form-check lead">
                            <input
                                    id="track-{{ forloop.counter }}"
                                    name="tracks" type="checkbox"
                                    class="form-check-input"
                                    value="{{ track.pk }}"
                                    {% if num_tracks == 1 %}checked disabled{% endif %}
                            />
                            <label class="form-check-label" for="track-{{ forloop.counter }}">{{ track }} Track</label>
                            </div>
                            <hr class="hr-xs"/>
                            {% for item in items %}
                                <span class="badge bg-primary">{{ item.technique.acronym }} &mdash; {{ item.config.facility.acronym }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block modal_footer %}
    <input type="hidden" name="post" value="yes"/>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    {% if requests %}<button type="submit" value="Submit" class="ms-auto btn btn-primary">Submit Proposal</button>{% endif %}
{% endblock %}

{% block post_content %}</form>{% endblock %}
