{% extends "crisp_modals/modal.html" %}
{% load timeish %}
{% load proposal_tags %}
{% load cycle_tags %}
{% block modal_title %}Submit Proposal?{% endblock %}
{% block pre_content %}<form action="{% url 'submit-proposal' pk=object.pk %}" method="post">{% csrf_token %}{% endblock %}
{% block post_content %}</form>{% endblock %}
{% block modal_body %}
<div class="alert bg-info-subtle" style="margin-bottom: 0 !important;">
    <h4 style="margin-top: 0.25em;"><strong>{{object.title}}</strong></h4>
	{% for member in object.get_full_team %}
	{{member.last_name}}, {{member.first_name}} <span class="text-info">{{member.roles|team_roles}}</span> 
	{% if not forloop.last %}&middot;{% endif %}
	{% endfor %}
</div>

	<div class="row narrow-gutter">
		<div class="col-sm-8">
			<h3>Cycle <strong>{{cycle}}</strong></h3>
			<hr class="hr-xs"/>
			<p>{{cycle|cycle_comments}}</p>
		</div>
		<div class="col-sm-4">
			<h3>Access Mode</h3>
			<hr class="hr-xs"/>
            {% if beamteam or education or staff or industrial %}
            {% if beamteam %}
            <div class="radio">

                <label for="project_type1"><input id="project_type1" name="project_type" type="radio" value="beamteam">Beam Team Access</label>
            </div>
            {% endif %}
            {% if staff %}
            <div class="radio">

                <label for="project_type2"><input id="project_type2" name="project_type" type="radio" value="staff">Staff Access</label>
            </div>
            {% endif %}
            {% if education %}
            <div class="radio">

                <label for="project_type3"><input id="project_type3"  name="project_type" type="radio" value="education">Education/Outreach</label>
            </div>
            {% endif %}
            {%  if industrial %}
            <div class="radio">

                <label for="project_type4"><input id="project_type4"  name="project_type" type="radio" value="purchased">Purchased Access</label>
            </div>
            {%  endif %}
			<div class="radio">

				<label for="project_type5"><input id="project_type5"  name="project_type" type="radio" value="user" checked>General User Access</label>
			</div>
            {% else %}
			<h4 class="tinytron bg-success-subtle text-center">General User Access</h4>
			<input name="project_type" type="hidden" value="user">
            {% endif %}
		</div>
		<div class="col-xs-12">
			<h3><span class="badge bg-info">{{ requests.keys|length }}</span>&nbsp;Submission{{ requests.keys|length|pluralize:",s" }}</h3>
			<hr class="hr-xs"/>
			<div class="row">
				{% for track, items in requests.items %}
                    <div class="col-sm-{{ requests.keys|length|pluralize:'12,6' }}">
                        <div class="tinytron bg-darken">
                            <h4>{{track}} Track</h4>
                            <hr class="hr-xs"/>
                            {% for item in items %}
                            <span class="badge bg-success" >{{item.technique}} &mdash; {{ item.config.facility.acronym }}</span>
                            {% endfor %}
                        </div>
                    </div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
{% block modal_footer %}
    <input type="hidden" name="post" value="yes" />
    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Cancel</button>
    <button type="submit" value="Submit" class="btn btn-info">Yes, I'm sure</button>
{% endblock %}



