{% extends "crisp_modals/confirm.html" %}
{% block modal_title %}{{ action|title }} Schedule?{% endblock %}
{% block modal_body %}
    <p class="lead text-center">Switch Schedule State: {{ action|title }} the following schedule from
        <span class="badge {% if object.state == 'draft' %}bg-warning{% elif object.state == 'tentative' %}bg-info{% else %}bg-success{% endif %}">{{ object.state|title }}</span>
        <i class="bi-arrow-right icon-fw"></i>
        <span class="badge {% if state == 'draft' %}bg-warning{% elif state == 'tentative' %}bg-info{% else %}bg-success{% endif %}">{{ state|title }}</span>
    </p>
    <div class="alert alert-info">
        <h4><strong>{{ object }}</strong></h4>
        <hr class="hr-xs"/>
        Created, {{ object.created|timesince }}<br/>
        Last Modified, {{ object.modified|timesince }}<br/>
        <hr class="hr-xs"/>
        <p>
            Only Draft and Tentative Schedules can be edited. Only Live and Tentative Schedules will determine usable
            shifts for beamlines.
        </p>
    </div>
{% endblock %}



