{% load dynforms %}
{% load pub_dynfields %}
{% set_subject_areas as subj_areas %}

<div class="controls {{repeatable}}" id="{{field.name}}-controls">
   <div class="row">
		<div class="col-12 mb-2">
			<select name="{{field.name}}.areas" id="{{field.name}}-areas"
                    class="form-select"
                    {% if 'multiple' in field.options %}multiple{% endif %}
                    aria-label="{{ field.label }}"
            >
			{% for value, choice in subj_areas %}
				<option value="{{value}}" {% if value in data.areas %}selected="selected"{% endif %} >{{choice}}</option>
			{% endfor %}
			</select>
            <label for="{{field.name}}.areas">Subject Areas</label>
		</div>
	</div>
	<div class="row">
	    <div class="col-12 mb-2">
		    <input id="{{field.name}}.keywords" name="{{field.name}}.keywords" class="form-control" type="text" value="{{data.keywords}}">
            <label for="{{field.name}}.keywords">Keywords</label>
	    </div>			
   </div>
</div>
<script>
    $('#{{ field.name }}-areas').selectize({
        plugins: ["remove_button"]
    });
</script>