{% extends "publications/base.html" %}
{% load static %}
{% load jsonify %}

{% block page-title %}<span class="d-none d-sm-inline">Publication </span>Keywords{% endblock %}

{% block page-header %}{% endblock %}
{% block page-no-header %}{% endblock %}
{% block page-content %}
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left" style="max-width: 50%;">
                    <form role="search" action='{% url "publication-list" %}' method="get">
                        <div class="input-group">
                            <input name="q"  type="text" class="form-control" placeholder="Search publications"
                                   aria-label="Search publications" aria-describedby="search-button">
                            <button class="btn btn-outline" type="submit" id="search-button">
                                <i class="bi-search icon-fw"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="box-tools pull-right">
                    <a href="#0" data-modal-url="{% url 'add-publication' %}" class="pull-right">
                        <i class="bi-plus-lg icon-md icon-fw"></i>
                        <span class="tool-label">Add Entry</span>
                    </a>
                    <a href="{% url 'publication-list' %}">
                        <i class="bi-list-ol icon-md icon-fw"></i>
                        <span class="tool-label">Show List</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <hr class="hr-xs"/>
            <div class="col-sm-12">
                <div id="word-cloud" class="row-fluid text-center"></div>
            </div>
            &nbsp;
            <hr class="hr-xs"/>
            <div class="col-sm-12">
                <div class="container-fluid">
                    <h5><i class="bi-hand-index icon-fw"></i> Click on a keyword to search ...</h5>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
            integrity="sha512-oJp0DdQuQQrRsKVly+Ww6fAN1GwJN7d1bi8UubpEbzDUh84WrJ2CFPBnT4LqBCcfqTcHR5OGXFFhaPe3g1/bzQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.7/d3.layout.cloud.min.js"
            integrity="sha512-hStpcyoo0rWEs2cG9t9yrzAXWstzZOjOvufYbBCIMvX4YG8kw7pU6/yUIrLup1COQQalrxels1cbJ/+X7GdYEA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'publications/word-clouds.js' %}"></script>
    <script>
        $(document).ready(function () {
            const data = {{words|jsonify}};
            wordCloud(data, '#word-cloud', {
                searchURL: '{% url "publication-list" %}',
                searchParam: 'search',
            });
        });
    </script>
{% endblock %}
