{% extends "publications/base.html" %}
{% load static %}
{% load jsonify %}

{% block page-title %}<span class="hidden-xs">Publication </span>Keywords{% endblock %}

{% block page-header %}{% endblock %}
{% block page-no-header %}{% endblock %}
{% block page-content %}
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-tools pull-left" style="max-width: 40%;">
                    <form role="search" action='{% url "publication-list" %}' method="get">
                        <div class="input-group input-group-sm">
                            <input name="q" type="text" class="form-control" placeholder="Search publications">
                            <span class="input-group-btn input-group-sm">
								<button class="btn btn-secondary" type="submit"><i class="bi-search icon-fw"></i></button>
							  </span>
                        </div>
                    </form>
                </div>
                <div class="box-tools pull-right">
                    <a data-modal-url="{% url 'add-publication' %}" class="pull-right">
                        <i class="bi-plus-lg icon-md icon-fw"></i><br>
                        <span class="tool-label">Add Entry</span>
                    </a>
                    <a href="{% url 'publication-list' %}" class="pull-right">
                        <i class="bi-list-ol icon-md icon-fw"></i><br>
                        <span class="tool-label">Show List</span>
                    </a>

                </div>
            </div>
        </div>
        <div class="row">
            <hr class="hr-xs"/>
            <div class="col-xs-12">
                <div id="word-cloud" class="row-fluid text-center"></div>
            </div>
            &nbsp;
            <hr class="hr-xs"/>
            <div class="col-xs-12">
                <div class="container-fluid">
                    <h5><i class="bi-hand-index icon-fw"></i> Click on a keyword to search ...</h5>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
            integrity="sha512-oJp0DdQuQQrRsKVly+Ww6fAN1GwJN7d1bi8UubpEbzDUh84WrJ2CFPBnT4LqBCcfqTcHR5OGXFFhaPe3g1/bzQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.7/d3.layout.cloud.min.js"
            integrity="sha512-hStpcyoo0rWEs2cG9t9yrzAXWstzZOjOvufYbBCIMvX4YG8kw7pU6/yUIrLup1COQQalrxels1cbJ/+X7GdYEA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const cloudData = {{words|jsonify}};
        function make_word_cloud(data, element) {
            var fill = d3.scale.category20();
            var w = Math.min($(element).width() * 0.95, 1000), h = 0.45 * w;
            var fscale = w < 600 ? 0.85 : 1;

            d3.layout.cloud().size([w, h])
                .words({{words|jsonify}})
                .rotate(function () {
                    return ~~(Math.random() * 2) * 90;
                })
                .fontSize(function (d) {
                    return d.size * fscale;
                })
                .on("end", draw)
                .start();

            function draw(words) {
                d3.select(element).append("svg")
                    .attr("width", w)
                    .attr("height", h)
                    .append("g")
                    .attr("transform", "translate(" + [w >> 1, h >> 1] + ")")
                    .selectAll("text")
                    .data(words)
                    .enter().append("text")
                    .style("font-size", function (d) {
                        return d.size * fscale + "px";
                    })
                    .on("click", function (d) {
                        window.location.href = '{% url "publication-list" %}?search=' + d.text;
                    })
                    .style("cursor", "pointer")
                    .style("text-transform", "lowercase")
                    .style("fill", function (d, i) {
                        return fill(i);
                    })
                    .attr("text-anchor", "middle")
                    .attr("transform", function (d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function (d) {
                        return d.text;
                    });
            }
        }

        $(document).ready(function () {
            make_word_cloud(cloudData, '#word-cloud');
        });
    </script>
{% endblock %}
