{% extends "publications/base.html" %}
{% load static %}
{% load jsonify %}

{% block page_heading %}<span class="hidden-xs">Publication </span>Keywords{% endblock %}

{% block folio-header %}{% endblock %}
{% block folio-no-header %}{% endblock %}
{% block folio-content %}
    <div class="pagelet-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-tools pull-left" style="max-width: 40%;">
                    <form role="search" action='{% url "publication-list" %}' method="get">
                        <div class="input-group input-group-sm">
                            <input name="q" type="text" class="form-control" placeholder="Search publications">
                            <span class="input-group-btn input-group-sm">
								<button class="btn btn-default" type="submit"><i class="bi-search icon-fw"></i></button>
							  </span>
						</div>
					</form>
				</div>
				<div class="box-tools pull-right">
                    <a data-url="{% url 'add-publication' %}" class="pull-right">
                        <i class="bi-plus-lg icon-2 icon-fw"></i><br>
                        <span class="tool-label">Add Entry</span>
                    </a>
                    <a href="{% url 'publication-list' %}" class="pull-right">
                        <i class="bi-list-ol icon-2 icon-fw"></i><br>
                        <span class="tool-label">Show List</span>
                    </a>

				</div>
			</div>
		</div>
		<div class="row">
			<hr class="hr-xs"/>
			<div class="col-xs-12">
				<div id="word-cloud" class="row-fluid text-center"></div>
			</div>
			&nbsp;
			<hr class="hr-xs"/>
			<div class="col-xs-12">
				<div class="pad-wrapper">
					<h5><i class="bi-hand-index icon-fw"></i> Click on a keyword to search ...</h5>
				</div>
			</div>

        </div>
    </div>

{% endblock %}
{% block extra_js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
            integrity="sha512-oJp0DdQuQQrRsKVly+Ww6fAN1GwJN7d1bi8UubpEbzDUh84WrJ2CFPBnT4LqBCcfqTcHR5OGXFFhaPe3g1/bzQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.7/d3.layout.cloud.min.js"
            integrity="sha512-hStpcyoo0rWEs2cG9t9yrzAXWstzZOjOvufYbBCIMvX4YG8kw7pU6/yUIrLup1COQQalrxels1cbJ/+X7GdYEA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var fill = d3.scale.category20();
        var w = $('#word-cloud').width(), h = 0.45 * w;
        var fscale = w < 600 ? 0.85 : 1;
        var maxSize = d3.max(that.data, function (d) {return d.size;});
        var fontSizeScale = d3.scale.pow().exponent(5).domain([0,1]).range([ 7, 24]);
        d3.layout.cloud().size([w, h])
            .words({{words|jsonify}})
            .rotate(function () {
                return ~~(Math.random() * 2) * 90;
            })
            .fontSize(function (d) {
                return fontSizeScale(d.size/maxSize);
            })
            .on("end", draw)
            .start();

        function draw(words) {
            d3.select("#word-cloud").append("svg")
                .append("g")
                .attr("transform", "translate(" + [w >> 1, h >> 1] + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .on("click", function (d) {
                    window.location.href = '{% url "publication-list" %}?search=' + d.text;
                })
                //.style("font-family", "Encode Sans")
                .style("cursor", "pointer")
                .style("text-transform", "lowercase")
                .style("fill", function (d, i) {
                    return fill(i);
                })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.text;
                })
                .attr("viewBox", "0 0 " + w + " " + h)
                .attr("width", "100%")
                .attr("height", null);

        }

        $('[data-add-url]').click(function (e) {
            if ($(this).is('[data-add-target]')) {
                $($(this).attr('data-add-target')).load($(this).attr('data-add-url'));
            } else {
                $('#modal-form').load($(this).attr('data-add-url'));
            }
        });
    </script>
{% endblock %}
