# git-ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.
*.py[oc]
*~
*.bk
*.cache
.pydevproject
.project
.~lock*
.settings
.idea
.env
*.db
*.rpm
historical-*.json
test-*.json
*.sqlite?
junk
.dbinit
settings_local.py
temp
tmp
build_local.sh
local/
local.*/
docs/build