.icon-tool {

  font-size: 85%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  i {
    color: #2980b9;
    opacity: 0.8;
    line-height: 1;
  }
  .tool-label {
    display: inline-block;
    font-size: 0.85em;
    color: inherit;
    opacity: 0.8;
    line-height: 0.75;
    padding-top: 0.5em;
    text-wrap: nowrap;
  }
}


$state-colors: (info: #17a2b8, primary: #007bff, success: #28a745, secondary: #6c757d, warning: #ffc107, danger: #dc3545);
@each $state, $color in $state-colors {
  .text-#{$state} {
    color: $color !important;
  }
}