{%  extends "scheduler/selector.html" %}


{% block selector_content %}
    <ul class="list-group list-group-flush" id="scheduler-selector-list">
        {% for mode in mode_types %}
            <li id="mode-type-{{ mode.pk }}"
                class="list-group-item {% if schedule.state != 'live' %}event-src{% endif %}"
                data-kind="{{mode.pk}}" data-key="{{mode.pk}}"
                data-event='{"kind": {{mode.pk}}, "tags": []}'
            >
                <div class="d-flex flex-row align-items-center justify-content-start py-1 gap-2">
                    <div class="badge mode-{{ mode.pk }}" style="width: 2em;">&nbsp;</div>
                    <div>{{ mode.acronym }} &mdash; {{ mode.name }}</div>
                    <div id="stats-{{mode.pk}}" class="ms-auto badge rounded-pill bg-danger stats"></div>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item text-body-secondary">No modes defined.</li>
        {% endfor %}
    </ul>
{% endblock %}