{% load static %}
{% load misc %}
<!DOCTYPE html>
<html lang="en" class="{% block html_class %}{% endblock %}">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="version" content="{% version %}">
    <title>{% block page_title %}User Services Online{% endblock %}</title>

    <link href="{% static 'img/logo.ico' %}" rel="SHORTCUT ICON">
    <link href="{% static 'css/chosen.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css " rel="stylesheet">

    {% block site_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/uso.min.css' %}" type="text/css" />
    {% endblock %}
    {% block extra_css %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js" integrity="sha512-qp27nuUylUgwBZJHsmm3W7klwuM5gke4prTvPok3X5zi50y3Mo8cgpeXegWWrdfuXyF2UdLWK/WCb5Mv7CKHcA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block pre_js %}{% endblock %}
</head>
<body class="{% if not request.user.is_authenticated %}no-sidebar{% endif %} {% block body_class %}{% endblock %}">
<div class="uso-wrapper">
    {% block body %}

    <header class="navbar navbar-default navbar-fixed-top">
      <div class="brand"><span class="squeeze">U</span>SO</div>

	  <!-- User Profile Menu -->
      {% if request.user.is_authenticated %}
	  {% include "profile-menu.html" %}
      {% endif %}

 	  <!-- Page Title Area -->
      <div class="page-head pull-left">
          <h2 class="title">{% block page_heading %}&nbsp;{% endblock %}</h2>
          {% if breadcrumbs %}
              {% include "breadcrumbs.html" with breadcrumbs=breadcrumbs%}
          {% endif %}
     </div>
    </header>

    <nav class="sidebar">
    {% block menu %}
    {% include "navs.html" %}
    {% endblock %}
    <section class="version hidden-xs text-condensed">
        <span title="{%  version %}" class="overflow ellipsis">{%  version %}</span>
    </section>
    </nav>

    <main id="main-content" class="content">
    	<div class="pad-wrapper">
    	{% block full %}{% endblock %}
    	</div>
    </main>


    <div id="page-spinner"></div>
	<div id="help-content" class="main-content removed"></div>
{% endblock %}
</div>
{% include "messages.html" %}
<div id="modal-form"></div>
<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.js" integrity="sha512-aXhtv7JyykxclIxaskNvi+ccQ9tHYSw3JeKpY2xQ1OnqrczvNmYKkxzcXSdi8j+TVNsX4+ju8Jy2odH04GEg8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chosen-js@1.8.7/chosen.jquery.min.js" integrity="sha256-c4gVE6fn+JRKMRvqjoDp+tlG4laudNYrXI1GncbfAYY=" crossorigin="anonymous"></script>
<script src="{% static 'js/uso-jquery-plugins.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js" integrity="sha512-zMfrMAZYAlNClPKjN+JMuslK/B6sPM09BGvrWlW+cymmPmsUT1xJF3P4kxI3lOh9zypakSgWaTpY6vDJY/3Dig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block post_js %}{% endblock %}
{% block extra_js %}{% endblock %}
<script>
function serverHeartBeat() {
    $.ajax({
        url: '/misc/ping/',
        success: function(result) {
            console.log(result);
            $('#page-spinner').removeClass('spinner');
        },
        error: function(result) {
            $('#page-spinner').addClass('spinner');
            console.log(result);
        }
    });
}
$(document).ready(function(){
	// enable tooltips

	$("[title]").not("[data-toggle='popover']").tooltip({
    		container: 'body',
    		viewport: {selector: 'body', padding: 5}
    		//placement: 'auto'
    });


	// Enable popovers
	$("[data-toggle='popover']").popover({
			container: 'body'
	   	//placement: 'bottom'
	});

    // Handle data-url and data-href
    $(document).on('click', '[data-href]', function(e){
        let sel = getSelection().toString();
        if(!sel) {
            window.document.location = $(this).data("href");
        }
        e.preventDefault();
    });
    $(document).on('click', '[data-url]', function(e){
        let sel = getSelection().toString();
        if(!sel) {
            $('#modal-form').load($(this).data('url'));
        }
        e.preventDefault();
    });

	//Display help information in a footer
 	{#$('.help-btn').click(function(){#}
	{#var loadUrl = '{% url "help-info" %}?module='+ $(this).attr('rel');#}
 	{#	$("#help-content").load(loadUrl, function(){#}
 	{#    	$('#help-content').toggleClass('removed shown');#}
 	{#		$('.content.main-content').toggleClass('with-help');#}
 	{#	});#}
 	{#});#}

	// Remove modal content after it is hidden
 	$(document).on('hidden.bs.modal', '.modal', function () {
 	    $(this).remove();
 	});

    $(".scroll-box").niceScroll({
        cursorborder: "1px solid transparent",
        cursorwidth: "9px",
        autohidemode: "leave",
        cursorborderradius: "2px",
        cursoropacitymax: 0.5
    });
    $(".scroll-box").scroll(function(){
        $(this).getNiceScroll().resize();
    });
    {% if request.user.is_authenticated %}
        //setInterval(serverHeartBeat, 3000);
    {% endif %}
});
</script>
</body>
</html>
