{% extends "page.html" %}
{% load misc %}
{% block page-pretitle %}List of{% endblock %}
{% block page-title %}{{ list_title }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
{% endblock %}

{% block page-tools %}
    {% if view.tool_template %}
        {% include view.tool_template %}
    {% elif view.add_modal_url %}
        <a href="#0" data-modal-url="{% url view.add_modal_url %}" class="tool-item"
           title="Add {{ view.model|verbose_name|title }}">
            <i class="bi-plus-lg icon-md icon-fw"></i>
            <span class="tool-label">Add</span>
        </a>
    {% elif view.add_url %}
        <a href="{% url view.add_url %}" class="tool-item" title="Add {{ view.model|verbose_name|title }}">
            <i class="bi-plus-lg icon-md icon-fw"></i>
            <span class="tool-label">Add</span>
        </a>
    {% endif %}
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col">
        {% include "itemlist/embed_list.html" %}
        </div>
    </div>
{% endblock %}

