{% load static %}
{% load msgs %}
<div class="position-fixed bottom-0 end-0 p-3" id="toast-container"></div>
<script src="{% static 'dynforms/df-toasts.min.js' %}"></script>
<script type="text/javascript">
function generate(type, message) {
    dfToasts.show({
        message: message,
        color: type,
        textColor: 'white',
        theme: 'dark'
    });
}
{% if messages %}
$(function() {
	{% for message in messages %}
		generate("{{message.level|msg_type}}", "{{message}}");
	{% endfor %}
});
{% endif %}
</script>