{% extends "base.html" %}
{% load static %}

{% block body_class %}print-base{% endblock %}
{% block body %}
<header class="wrapper" role="banner">
    <div class="container">
        <div class="col-xs-4 pull-left">
            <img class="logo"
                 src="/media/logos/logo-horiz.png"
                 onerror="this.onerror=null;this.src='{% static 'img/logo-horiz.svg' %}';"
                 alt="Facility Logo"
            />
        </div>
        <div class="col-xs-8 pull-right">
            {% block header-tools %}{% endblock %}
        </div>
    </div>
</header>
<nav class="navbar navbar-inverse">
    <div class="container">
        {% block banner %}{% endblock %}
    </div>
</nav>


<div class="container">
    <div class="content">
        {% block full %}{% endblock %}
    </div>
</div>
<div id="modal-form"></div>

{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function(){
            window.print();
        });
    </script>
{% endblock %}


