{% extends "print.html" %}
{% load static %}
{% block page-header %}{% endblock %}
{% block printed-content %}
    <div class="page {% block page-classes %}{% endblock %}">
        {% block page-no-header %}
            <div class="page-header">
                <div class="d-flex flex-row align-items-center">
                    <div class="mb-2 mt-5" style="min-width: 0;">
                        <div class="page-pre-title">{% block page-pretitle %}{% endblock %}</div>
                        <h1 class="page-title mb-0"><span class="overflow ellipsis">{% block page-title %}{% endblock %}</span></h1>
                        <div class="page-subtitle d-none d-md-block">{% block page-subtitle %}{% endblock %}</div>
                    </div>
                    <div class="page-tools col-auto ms-auto d-flex flex-row-reverse mb-2 align-items-center">
                        {% block page-tools %}{% endblock %}
                    </div>
                </div>
            </div>
            <hr/>
        {% endblock %}
        {% block page-content %}{% endblock %}
    </div>
{% endblock %}


