{% extends "base.html" %}
{% load static %}

{% block html_class %}print-base{% endblock %}
{% block document %}
    {% block page-header %}
    <header class="wrapper mb-5" role="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <img class="logo"
                         src="/media/logos/logo-horiz.png"
                         onerror="this.onerror=null;this.src='{% static 'img/logo-horiz.svg' %}';"
                         alt="Facility Logo"
                    />
                </div>
                <div class="col-8 d-flex justify-content-end align-items-center">
                    {% block header-tools %}{% endblock %}
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    <div class="container-fluid">
        <div class="content">
            {% block printed-content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block page-scripts %}
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                window.print();
            }, 1000);
        });
    </script>
{% endblock %}


