<ul class="nav navbar-nav navbar-right profile-menu hidden-xs">
    <li class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{{request.user.get_photo}}" onerror="this.src='/static/img/blank-profile.png';" title="{{request.user}}" data-placement="bottom">
            <i class="bi-chevron-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'edit-my-profile' %}"><i class="bi-person-gear icon-fw"></i>&nbsp;Edit profile</a></li>
            {% if request.user.can_review %}<li><a href="{% url 'edit-reviewer-profile' %}"><i class="bi-sliders icon-fw"></i>&nbsp;Reviewer Expertise</a></li>{% endif %}
            <!--li><a href="{% url 'sync-profile' %}"><i class="bi-arrow-clockwise icon-fw"></i>&nbsp;Synchronize</a></li-->
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'change-password' %}"><i class="bi-lock icon-fw"></i>&nbsp;Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'portal-logout' %}"><i class="ti bi-power icon-fw"></i>&nbsp;Log Out</a></li>
        </ul>
    </li>
    {% with request.user.notifications.web.all as notifications %}
    <li class="dropdown pull-right">
        <a href="#0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  title="Notifications">
            <span class="icon-stack">
                <i class="icon-stack-2x bi-bell icon-fw"></i>
                <span class="icon-stack-1x superscript">
                    {% if notifications.pending.count %}
                    <span class="badge progress-bar-info"><div>{{notifications.pending.count}}</div></span>
                    {% endif %}
                </span>
            </span>
        </a>
        {% include "notifier/notifications.html" %}
    </li>
    {% endwith %}
</ul>
     
   