{% extends "page.html" %}
{% load static %}
{% load itemlist %}
{% block page-pretitle %}List{% endblock %}
{% block page-title %}{% itemlist_heading %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
{% endblock %}

{% block page-tools %}
    {% block list-tools %}
    {% if view.tool_template %}{% include view.tool_template %}{% endif %}
    {% endblock %}
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col">
        {% include "itemlist/embed_list.html" %}
        </div>
    </div>
{% endblock %}

