{% extends 'samples/base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block extra_css %}
    {{ block.super }}
	{% endblock %}
{% block extra_js %}
		<script type="text/javascript">
	$(document).ready(function(){
		$('#search-compound').click(function(e) {
			if (jQuery.trim($('input[name="name"]').val()) != '') {
	            var loadUrl = "{% url 'compound-search' %}" + "?q=" + encodeURIComponent($('input[name="name"]').val());
	            $(this).html('<i class="bi-arrow-repeat icon-spin"></i>');
	            $('#search-results').load(loadUrl, function(e){
	            	$("#search-compound").html('<i class="bi-search"></i>');
	            	$("#flip-toggle > div").toggleClass("hidden");
	            });
			}
        });
		$('input[name="name"]').change(function(){
		    var search = $("#search-compound");
			if (jQuery.trim($(this).val()) != '') {
				search.removeClass('btn-white');
				search.addClass('btn-primary');
			} else {
				search.addClass('btn-white');
				search.removeClass('btn-primary');
			}
		});
		
		$('#sample-form form label.checkbox').click(function(){
			$(this).find('input[name="hazard_types"]').click();
		});
		
		// clear hazards if "not hazardous" selected, and vice-versa
		var non_hz_pk = "15";
		var fld_sel = '#sample-form form input[name="hazard_types"]';
		var hz_ctrls = ':not([value="'+ non_hz_pk +'"])';
		var non_hz_ctrls = '[value="'+ non_hz_pk +'"]';
		var extra_hz_ctrls = '[value="5"], [value="10"]';
		var extra_help = {
			"10": ["Isotope", "Specific activity"],
			"5": ["Cylinder-Volume", "Pressure", "Flow-rate"]
		};

		$(fld_sel).filter(hz_ctrls).change(function(){
			if (this.checked) {				
				$(fld_sel).filter(non_hz_ctrls).each(function(){
					$(this).removeAttr('checked');
					$(this).prop('checked', false);
					$(this).change();
				});		
			}
		});
		$(fld_sel).filter(extra_hz_ctrls).change(function(){
			var show = false;
			var help = [];
			var extra = $('#div_id_extra');
			$(fld_sel).filter(extra_hz_ctrls).each(function(){
				show = (show | this.checked);
				if (this.checked) {
					help = $.merge(help, extra_help[$(this).attr('value')])
				}
			});
			extra.find('.help-block').html("Please provide: " + help.join(", "));
			extra.parent().toggleClass('hidden', !show);
		});
        $(fld_sel).filter(extra_hz_ctrls).change();

		$(fld_sel).filter(non_hz_ctrls).change(function(){
			if (this.checked) {
				$('#sample-form input[name="hazards"]').val('[]');
				$(fld_sel).filter(hz_ctrls).each(function(){
					$(this).removeAttr('checked');
					$(this).prop('checked', false);
					$(this).change();
				});
			}
		});
	});
	</script>
{% endblock %}

{% block page-title %}{{form.helper.title}}{% endblock %}

{% block content %}
<div class="page">
	<div class="page-body">
		<div id="flip-toggle">
			<div id="sample-form">
				{% crispy form form.helper %}
			</div>
			<div id="search-results" class="hidden">
			</div>
		</div>
	</div>
</div>
{% endblock %}

