{% extends "forms/modal.html" %}
{% load samples_tags %}
{% load static %}
{% load misc %}
{% block form_title %}Edit Sample Hazards{% endblock %}
{% block modal_size %}modal-md{% endblock %}
{% block form_body %}
<div id="hazard-editor">
	<div class="row">
		<ul class="nav nav-tabs" role="tablist">
			{% for group in categories %}
			<li role="presentation" {% if forloop.first %}class="active"{% endif %}>
				<a href="#hazard-tab{{forloop.counter}}" aria-controls="hazard-tab{{forloop.counter}}"
				   role="tab" data-toggle="tab">
					<img width="32" height="32" src="{{group.image}}" title="{{group.name}}" data-toggle="tooltip" data-placement="bottom"/>
					<span class="superscript">
						<span class="badge progress-bar-info category-count"></span>
					</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="tab-content">
		{% for group in categories %}
		<div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="hazard-tab{{forloop.counter}}">
			<div class="row" style="height: 300px; overflow-y: scroll;">
				<div class="tinytron bg-transparent">
					<h4 style="margin-top: 0.25em;"><strong>{{group.name}}</strong> &mdash; {{group.description}}</h4>
					<hr class="hr-xs"/>
						<table class="table table-hover table-condensed">
						{% for hz in group.hazards %}
						<tr><td>
							<div class="checkbox" style="margin: 0 !important;">
								<input name="hazard_list"
									   id="hazards-{{hz.pk}}"
									   value="{{hz.pk}}"
									   {% if hz.selected %}checked="checked"{% endif %}
									   data-hazard-code="{{hz.hazard.code}}"
									   type="checkbox">
								<label for="hazards-{{hz.pk}}" class="col-xs-12">
									<span style="line-height: 24px;">{{hz.hazard.code}}&nbsp;{% if hz.signal %}<strong>{{hz.signal.title}}:</strong>&ensp;
									{% endif %}{{hz.hazard.text}}</span>
									{% for pic in hz.pictograms.all %}
									<img class="media-object pull-right"
										 width="24"	 height="24"
										 src="{% pictogram_url pic %}"
										 title="{{pic.name}}" data-sample-hazard="{{pic.pk}}">
									{% endfor %}
								</label>
							</div>
						</td></tr>
						{% endfor %}
						</table>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="modal-footer">
			<button class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
			<button type="button" data-command="approve" class="sample-decision btn btn-primary">Apply</button>
	</div>
</div>
<script>
    function update_category_counts() {
        $("#hazard-editor").find('.nav-tabs a').each(function () {
            var num_selected = $($(this).attr('href')).find('input:checked').length;
            if (num_selected) {
                $(this).find('.category-count').html("<div>" + num_selected + "</div>");
            } else {
                $(this).find('.category-count').html("");
            }
        });
    }

    $(document).on('change', '#hazard-editor input', function () {
        update_category_counts();
    });

    Array.prototype.diff = function(a) {
        return this.filter(function(i) {return a.indexOf(i) < 0;});
    };

	$("button.sample-decision").click(function(){
	    var hazards = {};
	    var selected = [];
	    var sel_codes = [];
	    var prev_codes = [];
        var hazards_input = $("#{{ field_name }}-{{ sample.pk }}-hazards-container input.hazards-field");
        var previous = hazards_input.data("saved-hazards");  //previously saved values only
        var cmd = $("#{{ field_name }}-{{ sample.pk }}-hazards-container a.edit-hazards-command");

        $('#hazard-editor').find("input[name='hazard_list']").each(function(){
            var val = $(this).val();
            var code = $(this).attr('data-hazard-code');
            if ($.inArray(val, previous) > -1) {
                prev_codes.push(code);
            }
            if ($(this).is(':checked')) {
                selected.push(val);
			    sel_codes.push(code);
            }
		});
        var removed_codes = prev_codes.diff(sel_codes);
        var added_codes = sel_codes.diff(prev_codes);

        hazards_input.val(JSON.stringify(selected));
        hazards_input.change();
        if (selected.length) {
            cmd.addClass('highlighted');
        } else {
            cmd.removeClass('highlighted');
        }

        var notification = $("#{{ field_name }}-{{ sample.pk }}-changes");
		var added = notification.find(".added");
        var removed = notification.find(".removed");

        if ((removed_codes.length) || (added_codes.length)) {
            if (removed_codes.length) {
                removed.html("<i class='bi-dash-lg-circle text-danger icon-fw' title='Removed'></i>" + removed_codes.join(', '));
                notification.removeClass("hidden");
            } else {
                removed.html("");
            }
            if (added_codes.length) {
                added.html("<i class='bi-plus-circle text-success icon-fw' title='Added'></i>" + added_codes.join(', '));
                notification.removeClass("hidden");
            } else {
                added.html("");
            }
        } else {
            notification.addClass("hidden");
        }

		$("#modalForm").modal('hide');
        $("#modal-form").html("");
	});
	update_category_counts();
</script>
{% endblock %}




