{% extends "crisp_modals/modal.html" %}
{% load samples_tags %}
{% load static %}
{% load misc %}
{% block modal_title %}Edit Sample Hazards{% endblock %}
{% block modal_styles %}hazards-editor modal-lg{% endblock %}
{% block modal_body %}
    <form id="hazards-form">
        <div id="hazard-editor" class="d-flex flex-column justify-content-start align-items-stretch w-100">

            <ul class="nav nav-tabs pt-3">
                {% for group in categories %}
                    <li class="nav-item">
                        <a href="#hazard-tab{{ forloop.counter }}"
                           class="nav-link position-relative {% if forloop.first %}active{% endif %}"
                           {% if forloop.first %}aria-current="page"{% endif %}
                           role="tab" data-bs-toggle="tab">
                            <img width="32" height="32" src="{{ group.image }}" title="{{ group.name }}"
                                 alt="{{ group.name }}"
                            />
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary category-count"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" style="max-height: 300px; height: 300px; overflow-y: auto;">
                {% for group in categories %}
                    <div class="tab-pane {% if forloop.first %}active{% endif %} p-3" id="hazard-tab{{ forloop.counter }}">
                        <h4><strong>{{ group.name }}</strong>&mdash;{{ group.description }}</h4>
                        <hr class="hr-xs"/>
                        <ul class="list-group list-group-flush">
                            {% for hz in group.hazards %}
                                <li class="list-group-item">
                                    <div class="form-check">
                                            <input name="hazard_list" class="form-check-input"
                                                   id="hazards-{{ hz.pk }}"
                                                   value="{{ hz.pk }}"
                                                   {% if hz.selected %}checked="checked"{% endif %}
                                                   data-hazard-code="{{ hz.hazard.code }}"
                                                   type="checkbox"
                                                   >
                                            <label for="hazards-{{ hz.pk }}" class="form-check-label d-flex">
                                                {{ hz.hazard.code }}&nbsp;{% if hz.signal %}
                                                <strong>{{ hz.signal.title }}:</strong>&ensp;{% endif %}
                                                {{ hz.hazard.text }}
                                                {% for pic in hz.pictograms.all %}
                                                    <img class="media-object ms-auto" alt="{{ pic.name }}"
                                                         width="24" height="24"
                                                         src="{% pictogram_url pic %}"
                                                         title="{{ pic.name }}" data-sample-hazard="{{ pic.pk }}"
                                                    />
                                                {% endfor %}
                                            </label>
                                        </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}

            </div>
        </div>
    </form>
{% endblock %}
{% block modal_footer %}
    <button class="btn btn-secondary pull-left" data-bs-dismiss="modal" type="button">Cancel</button>
    <button type="button" data-command="approve" class="sample-decision btn btn-primary">Apply</button>
{% endblock %}
{% block modal_scripts %}
    <script>

        function updateHazardCounts() {
            // Update the hazard counts in the tab headers
            $("#hazard-editor .nav-tabs .nav-link").each(function () {
                let tabId = $(this).find('a').attr('href');
                let numSelected = $(`${tabId} input`).length;
                console.log($(tabId), numSelected);
                $(this).find('.category-count').html(numSelected ? `<div class='text-muted'>${numSelected}</div>` : "");

            });
        }

        $(document).ready(function () {
            const $form = $("#hazards-form");
            $form.on('click', 'input', function () {
                updateHazardCounts();
            });

        });
        /*
            Array.prototype.diff = function (a) {
                return this.filter(function (i) {
                    return a.indexOf(i) < 0;
                });
            };

            $("button.sample-decision").click(function () {
                var hazards = {};
                var selected = [];
                var sel_codes = [];
                var prev_codes = [];
                var hazards_input = $("#{{ field_name }}-{{ sample.pk }}-hazards-container input.hazards-field");
            var previous = hazards_input.data("saved-hazards");  //previously saved values only
            var cmd = $("#{{ field_name }}-{{ sample.pk }}-hazards-container a.edit-hazards-command");

            $('#hazard-editor').find("input[name='hazard_list']").each(function () {
                var val = $(this).val();
                var code = $(this).attr('data-hazard-code');
                if ($.inArray(val, previous) > -1) {
                    prev_codes.push(code);
                }
                if ($(this).is(':checked')) {
                    selected.push(val);
                    sel_codes.push(code);
                }
            });
            var removed_codes = prev_codes.diff(sel_codes);
            var added_codes = sel_codes.diff(prev_codes);

            hazards_input.val(JSON.stringify(selected));
            hazards_input.change();
            if (selected.length) {
                cmd.addClass('highlighted');
            } else {
                cmd.removeClass('highlighted');
            }

            var notification = $("#{{ field_name }}-{{ sample.pk }}-changes");
            var added = notification.find(".added");
            var removed = notification.find(".removed");

            if ((removed_codes.length) || (added_codes.length)) {
                if (removed_codes.length) {
                    removed.html("<i class='bi-dash-lg-circle text-danger icon-fw' title='Removed'></i>" + removed_codes.join(', '));
                    notification.removeClass("hidden");
                } else {
                    removed.html("");
                }
                if (added_codes.length) {
                    added.html("<i class='bi-plus-circle text-success icon-fw' title='Added'></i>" + added_codes.join(', '));
                    notification.removeClass("hidden");
                } else {
                    added.html("");
                }
            } else {
                notification.addClass("hidden");
            }
            $("#modal").modal('hide');

        });
        */

    </script>
{% endblock %}




