{% extends "crisp_modals/modal.html" %}
{% load samples_tags %}
{% load static %}
{% load misc %}
{% block modal_title %}Edit Sample Hazards{% endblock %}
{% block modal_styles %}hazards-editor modal-lg{% endblock %}
{% block modal_body %}
    <form id="hazards-form">
        {% include "samples/forms/hazards-editor.html" %}
    </form>
{% endblock %}
{% block modal_footer %}
    <button class="btn btn-secondary pull-left" data-bs-dismiss="modal" type="button">Cancel</button>
    <button id="apply-decision" type="button" data-command="approve" class="btn btn-primary">Apply</button>
{% endblock %}
{% block modal_scripts %}
    <script>
        $(document).ready(function () {
            const $form = $("#hazards-form");

            $("#apply-decision").click(function () {
                // Collect selected hazards and their codes and apply them to the input fields within
                // the main form from which this modal was opened.
                const selected = new Set();
                const selectedCodes = new Set();
                const previousCodes = new Set();
                const $hazardsInput = $("#saved-hazards-{{ sample.pk }}");
                const previous = new Set($hazardsInput.data("saved-hazards"));  // initialize with previously saved values


                $form.find("input[name='hazard_list']").each(function () {
                    let $input = $(this);   // current checkbox input

                    // Get the value and code from the input if checked
                    if ($input.is(':checked')) {
                        selected.add(Number($input.val()));
                        selectedCodes.add($input.data('hazard-code'));
                    }
                    // save codes for previously selected hazards
                    if (previous.has(Number($input.val()))) {
                        previousCodes.add($input.data('hazard-code'));
                    }
                });

                const removedCodes = previousCodes.difference(selectedCodes);
                const addedCodes = selectedCodes.difference(previousCodes);
                $hazardsInput.val(JSON.stringify([...selected]));
                $hazardsInput.change();

                const $notification = $("#hazard-changes-{{ sample.pk }}");
                const $added = $notification.find(".added");
                const $removed = $notification.find(".removed");

                if ((removedCodes.size) || (addedCodes.size)) {
                    $notification.removeClass("d-none");
                    $removed.html("");
                    $added.html("");
                    if (removedCodes.size) {
                        $removed.html(`Removed: ${[...removedCodes].join(', ')}`);
                    }
                    if (addedCodes.size) {
                        $added.html(`Added: ${[...addedCodes].join(', ')}`);
                    }
                } else {
                    $notification.addClass("d-none");
                }
                if (selected.size) {
                    $("#hazard-command-{{ sample.pk }}").addClass('highlighted');
                } else {
                    $("#hazard-command-{{ sample.pk }}").removeClass('highlighted');
                }
                $("#modal").modal('hide');
            });
        });
    </script>
{% endblock %}




