{% extends "forms/modal.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block form_assets %}
        <link rel="stylesheet" href="{% static 'samples/sample.min.css' %}" type="text/css" media="screen"/>
{% endblock %}

{% block form_body %}
    <div id="flip-toggle">
        <div id="sample-form">
            {% crispy form form.helper %}
        </div>
        <div id="search-results" class="hidden">
        </div>
    </div>

{% endblock %}

{% block form_init %}
        <script type="text/javascript" defer>
        function initForm() {
            $('#search-compound').click(function (e) {
                var loadUrl = "{% url 'compound-search' %}" + "?q=" + encodeURIComponent($('#modalForm input[name="name"]').val());
                if (jQuery.trim($('#modalForm input[name="name"]').val()) != '') {
                    $(this).html('<i class="bi-arrow-repeat icon-spin"></i>');
                    $('#search-results').load(loadUrl, function (e) {
                        $("#search-compound").html('<i class="bi-search"></i>');
                        $("#flip-toggle > div").toggleClass("hidden");
                    });
                }
            });
            $('#modalForm input[name="name"]').change(function () {
                if (jQuery.trim($('#modalForm input[name="name"]').val()) != '') {
                    $("#search-compound").removeClass('btn-white');
                    $("#search-compound").addClass('btn-primary');
                } else {
                    $("#search-compound").addClass('btn-white');
                    $("#search-compound").removeClass('btn-primary');
                }
            });


            $('#sample-form label.checkbox').click(function () {
                $(this).find('input[name="hazard_types"]').click();
            });

            // clear hazards if "not hazardous" selected, and vice-versa
            var fld_sel = '#sample-form form input[name="hazard_types"]';
            var hz_ctrls = ':not([value="15"])';
            var non_hz_ctrls = '[value="15"]';

            var extra_help = {
                "10": ["Isotope", "Specific activity"],
                "5": ["Cylinder-Volume", "Pressure", "Flow-rate"]
            }

            $(fld_sel).filter(hz_ctrls).change(function () {
                if (this.checked) {
                    $(fld_sel).filter(non_hz_ctrls).each(function () {
                        if (this.checked) {
                            $(this).removeAttr('checked');
                            $(this).prop('checked', false);
                            $(this).change();
                        }
                    });
                }
            });
            $(fld_sel).filter(non_hz_ctrls).change(function () {
                if (this.checked) {
                    $(fld_sel).filter(hz_ctrls).each(function () {
                        if (this.checked) {
                            $(this).removeAttr('checked');
                            $(this).prop('checked', false);
                            $(this).change();
                        }
                    });
                    $('#sample-form input[name="hazards"]').val('[]')
                }
            });
            /*
             $(fld_sel).filter(extra_hz_ctrls).change(function(){
             var show = false;
             var help = [];
             $(fld_sel).filter(extra_hz_ctrls).each(function(){
             show = (show | this.checked);
             if (this.checked) {
             help = $.merge(help, extra_help[$(this).attr('value')])
             }
             });
             $('#div_id_extra').find('.help-block').html("Please provide: " + help.join(", "));
             $('#div_id_extra').parent().toggleClass('hidden', !show);
             });
             */

            $('#sample-form form input[name="hazard_types"], :input[name="kind"], :input[name="state"]').change(function (event) {
                event.preventDefault();
                var types = [];
                $("input[name='hazard_types']:checked").each(function () {
                    types.push($(this).val());
                });
                var url = "{% url 'sample-help' %}?kind=" + $(":input[name='kind']").val() + '&state=' + $(":input[name='state']").val() + "&pictograms=" + types.join();
                $('#div_id_description').find('.help-block').load(url);
            });

            $(fld_sel).filter(':input[name="kind"]').change();
        }
    </script>
{% endblock %}
