{% extends "crisp_modals/modal.html" %}
{% load misc %}
{% block modal_title %}Edit Sample Permissions{% endblock %}
{% block modal_body %}
    <div class="alert alert-info">
        <h5 class="my-0 text-condensed"><strong>{{ sample.name }}</strong></h5>
        Type: <em class="text-body-secondary">{{ sample.get_kind_display }}</em>&emsp;
        State: <em class="text-body-secondary">{{ sample.get_state_display }}</em>&emsp;
        Source: <em class="text-body-secondary">{{ sample.source|default:"N/C" }}</em>&emsp;
        {% if sample.description or sample.source or sample.extra %}
            <hr class="hr-xs"/>
            {% if sample.description %}{{ sample.description|default:"" }}<br/>{% endif %}
            {% if sample.source %}<strong>Source of material:</strong>
                {{ sample.source|default:"" }}{% endif %}
        {% endif %}
    </div>
    <form id="permission-form">
    {% include "samples/fields/permissions.html" %}
    </form>
{% endblock %}
{% block modal_footer %}

    <button class="btn btn-secondary pull-left" type="button" data-bs-dismiss="modal">Cancel</button>
    <button id="apply-permissions" type="button" class="btn btn-primary">Apply</button>

{% endblock %}
{% block modal_scripts %}
    <script>
        $(document).ready(function () {
            const $form = $("#permission-form");
            const $permsInput = $('#permissions-{{ sample.pk }}'); // Input field to store permissions as JSON
            const permissions = JSON.parse($permsInput.val()) || {};

            // Initialize the radio buttons based on saved permissions
            $form.find("input.permission-input").each(function () {
                let $input = $(this);   // current radio input
                let permissionName = $input.attr('name').split('__').at(-1); // Extract permission name
                let permissionValue = permissions[permissionName] || null; // Get saved value

                if (permissionValue) {
                    $input.filter(`[value="${permissionValue}"]`).prop('checked', true);
                } else {
                    $input.prop('checked', false);
                }
            });

            $("#apply-permissions").click(function (event) {
                const cmd = $('#permission-command-{{ sample.pk }}');
                let newPermissions = {};

                for (const [key, value] of Object.entries($form.serializeObject())) {
                    let permissionName = key.split('__').at(-1); // Extract permission name
                    if (value) {
                        newPermissions[permissionName] = value; // Store the permission value
                    }
                }
                $permsInput.val(JSON.stringify(newPermissions));
                if (Object.keys(newPermissions).length) {
                    cmd.addClass('highlighted');
                } else {
                    cmd.removeClass('highlighted');
                }
                $("#modal").modal('hide');
            });
        });

    </script>
{% endblock %}




