{% extends "forms/modal.html" %}
{% load misc %}
{% block form_title %}Edit Sample Permissions{% endblock %}
{% block modal_size %}modal-md{% endblock %}
{% block form_body %}

    <div class="modal-body row">
        <div class="tinytron bg-info">
            <h5 class="no-vmargin text-condensed"><strong>{{ sample.name }}</strong></h5>
            Type: <em class="text-muted">{{ sample.get_kind_display }}</em>&emsp;
            State: <em class="text-muted">{{ sample.get_state_display }}</em>&emsp;
            Source: <em class="text-muted">{{ sample.source|default:"N/C" }}</em>&emsp;
            {% if sample.description or sample.source or sample.extra %}
                <hr class="hr-xs"/>
                {% if sample.description %}{{ sample.description|default:"" }}<br/>{% endif %}
                {% if sample.source %}<strong>Source of material:</strong>
                    {{ sample.source|default:"" }}{% endif %}
            {% endif %}
        </div>
        {% include "samples/fields/permissions.html" %}
    </div>
    <div class="modal-footer row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button type="button" data-command="approve" class="apply-command btn btn-primary">Apply</button>
        </div>
    </div>

    <script>
        Array.prototype.diff = function(a) {
            return this.filter(function(i) {return a.indexOf(i) < 0;});
        };

        $("button.apply-command").click(function(event){
            var perms = {};
            var perm_input = $("#{{ field_name }}-{{ sample.pk }}-hazards-container input.permissions-field");
            var cmd = $("#{{ field_name }}-{{ sample.pk }}-hazards-container a.edit-permission-command");
            $('.permission-row').each(function(){
                var index = $(this).data('counter');
                var value = $("input[name='sample_permission."+index+".kind']:checked").val();
                var name = $("input[name='sample_permission."+index+".code']").val();
                if (value) {
                    perms[name] = value;
                }
            });
            if (Object.keys(perms).length) {
                cmd.addClass('highlighted');
            } else {
                cmd.removeClass('highlighted');
            }
            perm_input.val(JSON.stringify(perms));
		    $("#modalForm").modal('hide');
        });
        //update_permisisons();
    </script>
{% endblock %}




