{% extends "dynforms/base.html" %}
{% load static %}
{% load dynforms_tags %}
{% block extra_css %}
    <link href='https://fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet" media="screen"/>
    <link href="{% static 'dynforms/builder.min.css' %}" rel="stylesheet" media="screen"/>
    <link href="{% static 'samples/sample.min.css' %}" rel="stylesheet" media="screen"/>
    {% endblock %}
{% block pre_js %}
    {{ block.super }}
    {% endblock %}
{% block page_heading %}Form Designer &mdash; <span class="text-muted">{{ form_spec.form_type }}</span>{% endblock %}
{% block full %}
    <div class="row">
        <div id="df-sidebar"><!-- Start Side bar toolbox -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#add-field" data-toggle="tab"><i
                        class="bi-plus-lg icon-fw"></i>&nbsp;Add</a></li>
                <li><a href="#field-settings" data-toggle="tab"><i class="bi-pencil-square"></i>&nbsp;Field</a></li>
                <li><a href="#form-settings" data-toggle="tab"><i class="bi-layout-window"></i>&nbsp;Form</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="add-field">
                    {% include "dynforms/field-menu.html" with fieldtypes=fieldtypes %}
                </div>
                <div class="tab-pane" id="field-settings">
                    {% include "dynforms/edit-settings.html" with form=field_settings_form %}
                </div>
                <div class="tab-pane" id="form-settings">
                    {% include "dynforms/edit-settings.html" with form=form_settings_form %}
                </div>
            </div>
        </div><!-- End Side bar toolbox -->
        <div id="df-main"><!-- Start Content area for editing -->
            {% include "dynforms/preview.html" %}
        </div> <!-- End Content area for editing -->
    </div>
    <div id="modal-holder"></div>
{% endblock %}
{% block extra_js %}
    <script>
        doBuilderLoad();
    </script>

{% endblock %}