{% load dynforms_tags %}
{% with form.instance.validate as validation %}
<form id="myform" method="post">
	<div  class="df-form">
		{% render_form_tabs %}
		<div class="df-form-body">
			<!-- Tab panes -->
			<div class="tab-content">
				{% csrf_token %}
				<input type='hidden' name='active_page' value='{{active_page}}' />
				{% for page in form.form_spec.pages %}
				<div class="tab-pane {% if not active_page and forloop.counter == 1%}active{% else %}{% if forloop.counter0 == active_page %}active{% endif %}{% endif %}" id="page{{forloop.counter}}">
					{% with validation|page_errors:forloop.counter0 as errors %}{% if errors %}
					<div class="alert {% if form.errors %} alert-danger{% else %}alert-warning{% endif %} alert-dismissible">
						<a class="close pull-right" data-dismiss="alert" aria-label="Close"><i class="bi-x-lg icon-1x icon-fw"></i></a>
                        {% include 'dynforms/form-errors.html' %}
					</div>

					{% endif %}

					{% for field in page.fields %}
					<div class="container df-field-runtime no-space {% check_error field.name errors %} {% if field.field_type == 'newsection' %}no-hover{% endif %}">
						{% include "dynforms/field.html" %}
					</div>
					{% endfor %}
                    {% endwith %}
					&nbsp;<br/>
				</div>
				{% endfor %}
			</div>
		</div>
		<!-- Footer -->
		<div class="df-form-footer">
			<div id="df-footer-content">
                <span class="footer-progress">
                    <div class="row">
						<div class="col-xs-12" style="line-height: 1; font-size: 95%;">
							{{validation.progress|default:0}}% complete &mdash; {{object}}
						</div>
						<div class="col-xs-12">
							<div class="progress-xs progress">
								<div class="progress-bar {% if validation.progress < 99.5 %}progress-bar-warning{% else %}progress-bar-success{% endif %} progress-bar-striped" role="progressbar"
									 aria-valuenow="{{validation.progress}}"
									 aria-valuemin="0" aria-valuemax="100"
									 style="width: {{validation.progress}}%">
									{{validation.progress}}%
								</div>
							</div>
						</div>
					</div>
                </span>
                <span class="footer-buttons">
					{% for name, label in form.form_spec.actions reversed %}
					<input type="submit" id="{{name}}-action" class="btn {% if forloop.last %}btn-primary{% else %}btn-white{% endif%}" value="{{label}}" name="{{name}}">
					{% endfor %}
                </span>
			</div>
		</div>
	</div>
</form>
{% endwith %}

<script>
$(document).ready(function(){
// Register events for monitoring rule change triggers
{% for fn, ft in form.form_spec.field_specs.items %}
 	{% for rl in ft.rules %}
    $("#{{rl.field}}-group").on('dynrules:update', function(event) {
        //FIXME detect subfields
        var tgt = $("#{{fn}}-group");
        var value = valuesOnly($("#myform :input[name='{{rl.field}}{{rl.subfield}}']").serializeArray());
        {% if rl.action == 'show' %}
        tgt.toggleClass("df-hide", !testRule(value, "{{rl.operator}}", "{{rl.value}}"));
        {% elif rl.action == 'hide' %}
        tgt.toggleClass("df-hide", testRule(value, "{{rl.operator}}", "{{rl.value}}"));
        {% endif %}
    });
	$("#myform :input[name='{{rl.field}}{{rl.subfield}}']").change(function(event){
	    $("#{{rl.field}}-group").trigger('dynrules:update');
    });
	$("#myform :input[name='{{rl.field}}{{rl.subfield}}']").change();
    {% endfor %}
{% endfor %}
    var myform = $('#myform');
	myform.find("a[data-toggle='tab']").click(function(e){
		myform.find(":input[name='active_page']").val($(this).parent().index());
	});
	$("a[data-tab-proxy]").click(function(e){
		$($(this).attr('data-tab-proxy')).click();
	});

	//Save time when form was loaded
	myform.attr('data-dynform-loaded', $.now());

	function monitorChanges(event){
		// save time when any field was modified except while loading
		var dur = Math.abs(event.timeStamp - myform.attr('data-dynform-loaded'));
		if (dur > 2000) {
			$("#myform").attr('data-dynform-dirty', dur);
		}
	}
	myform.on('change',  ':input', monitorChanges);
	myform.on('click', '[data-repeat-add], .remove-repeat', monitorChanges);

	myform.submit(function() {
		$(this).removeAttr('data-dynform-dirty'); // No warning when saving dirty form
		$("input[disabled]").removeAttr("disabled");
	});
    $(".df-field-runtime").click(function(){
        $('.df-field-runtime').removeClass('activated');
        $(this).addClass('activated');
    });

});
</script>
