<div class="form-group" id="div_id_actions">
<label class="control-label  requiredField">Form Actions</label>
{% for name, label in form_spec.actions %}
<div class="controls actions_repeatable" id="actions_{{forloop.counter}}">
    <div class="input-group">
        <input type="text" value="{{name}}"
            placeholder="Name" name="action_names"
            class="repeat form-control">
        <input type="text" value="{{label}}"
            placeholder="Label" name="action_labels"
            class="repeat form-control">
        <button type="button" class="btn btn-danger remove-repeat"><i class="bi-dash-lg"></i></button>
    </div>
</div>
{% endfor %}
<button data-repeat-add=".actions_repeatable" class="btn btn-success btn-sm" title="Add Page"
     name="add" type="button"><i class="bi-plus-lg"></i></button>
</div>