<div class="controls {% if 'inline' in field.options %}controls-inline{% endif %} {{repeatable}}" id="{{field.name}}-controls">
	{% for choice in choices %}
	<div class="radio {% if 'inline' in field.options %}radio-inline pull-left{% endif %}">
       	<label for="{{field.name}}_{{forloop.counter}}"><input name="{{field.name}}"
       	id="{{field.name}}_{{forloop.counter}}"
       	value="{{choice.pk}}"
       	{% if choice.pk in data %}checked="checked"{% endif %}
       	type="radio">{{choice}}</label>
    </div>
	{% endfor %}
</div>