<div class="row no-space rules-repeatable">
	<div class="form-group col-xs-2">
		<select class="form-control select" name="rule.action">
		 	{% for act_name, act_lbl in rule_actions %}
				<option value="{{act_name}}"
				{% if rule.action == act_name %}selected="selected"{% endif %}
				>{{act_lbl}}</option> 
			{% endfor %}
		</select>
	</div>
	<div class="form-group col-xs-3">
		<select class="form-control select" name="rule.field">
		<option value=""></option>
		 {% for fn, fl in field_choices %}
			<option value="{{fn}}"
			{% if rule.field == fn %}selected="selected"{% endif %}
			>{{fl}}</option> 
		{% endfor %}
		</select>
	</div>
	<div class="form-group col-xs-2">
		<div class="input-group">
			<input type="text" class="form-control"
			placeholder="subfield ..."
			name="rule.subfield" value={{rule.subfield}}>
		</div>
	</div>
	<div class="form-group col-xs-2">
		<select class="form-control select"  name="rule.operator">
			<option value=""></option> 
		{% for op_name, op_descr in field_operators %}
			<option value="{{op_name}}"
			{% if rule.operator == op_name %}selected="selected"{% endif %}
			>{{op_descr}}</option> 
		{% endfor %}
		</select>
	</div>
	<div class="form-group col-xs-3">
		<div class="input-group">
			<input type="text" class="form-control" 
			placeholder="enter value ..."
			name="rule.value" value={{rule.value}}>
			<span class="input-group-btn"><button type="button" 
				class="btn btn-danger remove-repeat"><i class="bi-dash-lg"></i></button></span>
		</div>
	</div>
</div>
<script>
    $('.chosen').chosen({search_contains: true});
</script>

