{% load dynforms_tags %}
<div id="df-form-preview" class="page">
{% with form_spec.get_pages as form_pages %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        {% for page in form_pages %}
            <li class="nav-item">
                <a href="#page{{ page.number }}"
                   class="nav-link {% if page.number == active_page %}active{% endif %}"
                   data-bs-toggle="tab">{{ page.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content page-body">
        {% for page in form_pages %}
            <div class="tab-pane {% if page.number == active_page %}active{% endif %} df-container sortable grid"
                 id="page{{ page.number }}" data-page-number="{page.number}}">
                {% for field in page.fields %}
                    <div class="df-field" data-fieldtype="{{ field.field_type }}"
                         data-fieldpos="{{ field.index }}">
                        {% include "dynforms/builder-field.html" %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endwith %}
</div>

<!-- Footer -->
<div id="df-footer">
    <div id="df-footer-content">
        {% for name, label in form_spec.actions %}
            <button type="button" id="{{ name }}-action" disabled class="btn btn-sm btn-secondary disabled"
                    name="{{ name }}">{{ label }}</button>
        {% endfor %}
        <div class="vr"></div>
        <button type="button" id="test-form"
                onclick="window.location.href='{% url 'dynforms-run' pk=form_spec.pk %}'"
                class="btn btn-sm btn-success">Test
        </button>
        <button type="button" id="check-form"
                class="btn btn-sm btn-primary">Check
        </button>
        <div id="footer-warnings">
            {% include 'dynforms/warnings.html' %}
        </div>
    </div>

    <script>
        function check_form(){
            $.ajax({
                type: "GET",
                url: "{% url 'dynforms-check' pk=form_spec.pk %}",
                success: function (data) {
                    $("#footer-warnings").html(data);
                }
            });
        };
        $("#check-form").click(function(){
            check_form();
        });
        //setInterval(check_form, 10000);
    </script>