{% load dynforms_tags %}
<div id="df-form-preview" class="pagelet">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        {% for page in form_spec.pages %}
            <li class="{% if forloop.counter == active_page %}active{% endif %}"><a href="#page{{ forloop.counter }}"
                                                                                    data-toggle="tab">{{ page.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content pagelet-body">
        {% for page in form_spec.pages %}
            <div class="tab-pane {% if forloop.counter == active_page %}active{% endif %} df-container sortable grid"
                 id="page{{ forloop.counter }}" data-page-number="{forloop.counter0}}">
                {% for field in page.fields %}
                    <div class="df-field container no-space" data-fieldtype="{{ field.field_type }}"
                         data-fieldpos="{{ forloop.counter0 }}">
                        {% include "dynforms/field.html" %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<!-- Footer -->
<div id="df-footer">
    <div id="df-footer-content">
        {% for name, label in form_spec.actions %}
            <button type="button" id="{{ name }}-action" disabled class="btn btn-sm btn-default disabled"
                    name="{{ name }}">{{ label }}</button>
        {% endfor %}
        <div class="vr"></div>
        <button type="button" id="test-form"
                onclick="window.location.href='{% url 'dynforms-run' pk=form_spec.pk %}'"
                class="btn btn-sm btn-success">Test
        </button>
        <button type="button" id="check-form"
                class="btn btn-sm btn-primary">Check
        </button>
        <div id="footer-warnings">
            {% include 'dynforms/warnings.html' %}
        </div>
    </div>

    <script>
        doBuilderLoad();
        function check_form(){
            $.ajax({
                type: "GET",
                url: "{% url 'dynforms-check' pk=form_spec.pk %}",
                success: function (data) {
                    $("#footer-warnings").html(data);
                }
            });
        };
        $("#check-form").click(function(){
            check_form();
        });
        //setInterval(check_form, 10000);
    </script>