{% extends "dynforms/base.html" %}
{% load static %}
{% load dynforms_tags %}
{% block extra_css %}
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block full %}
    <div id="df-form-preview" class="pagelet">
        <div class="pad-wrapper">
            <div class="row">
                <div><!-- Start Content area for editing -->
                    {% include "dynforms/form.html" %}
                </div> <!-- End Content area for editing -->
            </div>
        </div>
    </div>
    <div id="modal-holder">
        {% if form.errors %}
            <div class="modal fade" id="formModal" tabindex="-1" role="dialog"
                 aria-labelledby="formTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;
                            </button>
                            <h4 class="modal-title" id="formTitle">{{ form.form_type.name }}</h4>
                            The form contained errors.
                        </div>
                        <div class="modal-body text-danger">
                            {{ form.errors }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $("#formModal").modal('show');
    </script>
{% endblock %}