{% load dynforms %}
{% load project_tags %}

{% get_equipment_list data=data as equipment %}
<div class="controls " id="{{field.name}}-controls" data-field-name="{{field.name}}">
        <div id="{{field.name}}-list">
            {% for item in equipment %}
            <div id="{{field.name}}-{{forloop.counter0}}-equipment-container" class="p-3 mb-3 bg-white {% if 'rejected' in item.decision %}bg-danger{% endif %}">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="my-0 text-condensed"><strong>{{ item.name }}</strong></h5>
                        Manufacturer: <em class="text-body-secondary">{{ item.manufacturer|default:"N/C" }}</em>&emsp;
                        Model: <em class="text-body-secondary">{{ item.model|default:"N/C" }}</em>&emsp;
                        Type: <em class="text-body-secondary">{{ item.type|default:"N/C" }}</em>&emsp;
                        {% if item.description %}
                            <hr class="hr-xs"/>
                            {% if item.description %}<strong>Description:</strong> {{item.description}}{% endif %}
                        {% endif %}
                        <hr class="hr-xs"/>
                    </div>
                </div>
                <div class="row text-condensed" id="{{ field.name }}-{{ forloop.counter0 }}-review">
                    <div class="checkbox checkbox-inline">
                       <label for="{{field.name}}-safe-{{ forloop.counter0 }}"><input name="{{field.name}}.{{forloop.counter0 }}.decision" id="{{field.name}}-safe-{{ forloop.counter0 }}"  class="rejection-cmd"
                        value="safe" {% if 'safe' in item.decision %}checked="checked"{% endif %}
                        type="checkbox">N/A</label>
                    </div>
                    <div class="checkbox checkbox-inline">
                       <label for="{{field.name}}-mechanical-{{ forloop.counter0 }}"><input name="{{field.name}}.{{forloop.counter0 }}.decision" id="{{field.name}}-mechanical-{{ forloop.counter0 }}"  class="decision-cmd"
                        value="mechanical"	{% if 'mechanical' in item.decision %}checked="checked"{% endif %}
                        type="checkbox">Mechanical Inspection</label>
                    </div>
                    <div class="checkbox checkbox-inline">
                       <label for="{{field.name}}-electrical-{{ forloop.counter0 }}"><input name="{{field.name}}.{{forloop.counter0 }}.decision" id="{{field.name}}-electrical-{{ forloop.counter0 }}"  class="decision-cmd"
                        value="electrical"	{% if "electrical" in item.decision %}checked="checked"{% endif %}
                        type="checkbox">Electrical Inspection</label>
                    </div>
                    <div class="checkbox checkbox-inline">
                       <label for="{{field.name}}-csa-{{ forloop.counter0 }}"><input name="{{field.name}}.{{forloop.counter0 }}.decision" id="{{field.name}}-csa-{{ forloop.counter0 }}"  class="decision-cmd"
                        value="csa"	{% if "csa" in item.decision %}checked="checked"{% endif %}
                        type="checkbox">CSA Certification</label>
                    </div>
                    <div class="checkbox checkbox-inline">
                       <label for="{{field.name}}-rejected-{{ forloop.counter0 }}"><input name="{{field.name}}.{{forloop.counter0 }}.decision" id="{{field.name}}-rejected-{{ forloop.counter0 }}" class="rejection-cmd"
                        value="rejected" {% if "rejected" in item.decision %}checked="checked"{% endif %}
                        type="checkbox">Reject</label>
                    </div>
                    <input type="hidden" name="{{ field.name }}.{{ forloop.counter0 }}.name" value="{{ item.name }}">
                </div>
            </div>
            {% empty %}
            <div class="empty">
                <i class="bi-exclamation-triangle text-warning icon-md"></i><br/>
                No equipment requiring Review.
            </div>
            {% endfor %}
        </div>
</div>
<script type="text/javascript">
$(document).on('change', 'input[name$=".decision"]', function () {
    var siblings = $('input[name="' + $(this).attr('name') + '"]').not(this);

    if ($(this).is('.rejection-cmd:checked') || $(this).is('.clear-cmd:checked')) {
        siblings.prop('checked', false)
    }
    if ($(this).is('.decision-cmd:checked')) {
        siblings.filter('.rejection-cmd, .clear-cmd').prop('checked', false);
    }
});

</script>