{% load samples_tags %}
{% load static %}
<div class="sample-list-row row " id="sample-{{ sample.pk }}-row">
	<span class="col-3" title="{{ sample.description }}">
		{% if sample.owner == user %}
            <a href="#0" class="sample-edit-command"
               data-modal-url="{% url 'sample-edit-modal' pk=sample.pk %}">{{ sample.name }}</a>
        {% else %}
            {{ sample.name }}
        {% endif %}
	</span>
    <span class="col-2" data-sample-type="{{ sample.kind }}">{{ sample.get_kind_display }}</span>
    <span class="col-1">{{ sample.get_state_display }}</span>
    <span class="col-3">
        {% show_pictograms sample.all_hazards size="xs" stack=False %}
        <input type="hidden"
               name="{{ field_name }}__{{ sample.pk }}__sample"
               value="{{ sample.pk }}"
        >
	</span>
    <div class="col-2">
        <input class="form-control input-sm me-auto text-right"
               aria-label="Quantity"
               type="text" name="{{ field_name }}__{{ sample.pk }}__quantity"
               placeholder=" include number & units"
               value="{{ quantity }}"
        >
    </div>
    <div class="col-1 remove-button text-center" data-sample-pk="{{ sample.pk }}">&nbsp;&nbsp;<i
            class="bi-x-lg text-danger icon-fw  cursor-pointer"></i></div>
</div>
