{% load dynforms %}
{% load samples_tags %}
{% get_permissions data=data as info %}

<div class="controls" id="{{ field.name }}-controls" data-field-name="{{ field.name }}">
    <table class="permission-list table table-hover table-condensed">
        <tr>
            <th>Permission</th>
            {% for req_name in info.requirements.values %}
                <th>{{ req_name }}</th>
            {% endfor %}
        </tr>
        {% for permission, kind in info.permissions %}
            <tr>
                <td class="text-left">{{ permission.description }}</td>
                {% for req_value, req_name in info.requirements.items %}
                    <td class="text-center">
                        <div class="form-check">
                            <input type="radio" aria-label="{{ req_name }}"
                                   class="form-check-input permission-input {{ required }}" type="radio"
                                   name="{{ field.name }}__{{ permission.code }}" value="{{ req_value }}"
                                   {% if kind == req_value %}checked{% endif %}
                            />
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
