{% load dynforms %}
{% load samples_tags %}

<div class="controls mb-3" id="{{ field.name }}-controls"
     data-field-name="{{ field.name }}"
>
    {% get_user_samples data=data as samples %}
    <div class="sample-list">
        <div class="row header">
            <span class="col-3">Name</span>
            <span class="col-2">Type</span>
            <span class="col-1">State</span>
            <span class="col-3">Hazards</span>
            <span class="col-2">Quantity</span>
            <span class="col-1"></span>
        </div>
        <div id="{{ field.name }}-list">
            {% for sample, quantity in samples.selected %}
                {% include "samples/fields/one_sample.html" with field_name=field.name %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="input-group col-11">
            {% if samples.all %}
                <select id="{{ field.name }}-search" class="form-select" aria-label="Select Sample to Add"
                        data-placeholder="Select a pre-defined sample to add">
                    <option value=""></option>
                    {% for sample, disabled in samples.all %}
                        <option value="{{ sample.pk }}" {% if disabled %}disabled{% endif %}>{{ sample }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <a  href="#0" title="Define New Sample to Add" class="btn btn-success"
                    id="{{ field.name }}-new" data-modal-url="{% url 'add-sample-modal' %}">
                <i class="bi-plus-lg icon-sm icon-fw"></i>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function update_{{field.name}}() {
        // Trigger rule change events
        $("#{{field.name}}-group").triggerHandler('dynrules:update');

        // find all Hazards classes and sample types
        let noHazard = "15";
        let allHazards = {};
        let allTypes = {};
        $("#{{field.name}}-controls img[data-sample-hazard]").each(function () {
            if ($(this).attr("data-sample-hazard") !== noHazard) {
                allHazards[$(this).attr("data-sample-hazard")] = 1;
            }
        });
        $("#{{field.name}}-controls [data-sample-type]").each(function () {
            allTypes[$(this).attr("data-sample-type")] = 1;
        });
        // This element must be present in the form via a sample hazard field
        $('#sample-hazard-controls  input[type="checkbox"]').each(function () {
            if ($(this).val() in allHazards) {
                $(this).prop("checked", true);
                $(this).attr('checked', 'checked');
                $(this).trigger('change');
                $(this).attr("disabled", "disabled");
            } else if ($(this).is('[disabled]')) {
                $(this).removeAttr("checked");
                $(this).removeAttr("disabled");
            }
        });

        // manage non-hazard checkbox
        let non_hz = $('#sample-hazard-controls  input[type="checkbox"][value="15"]');
        if (jQuery.isEmptyObject(allHazards)) {
            non_hz.removeAttr("disabled");
        } else {
            non_hz.attr("disabled", "disabled");
        }

        // This element must be present in the form via a sample types field
        $('#sample-type-controls  input[type="checkbox"]').each(function () {
            if ($(this).val() in allTypes) {
                $(this).prop("checked", true);
                $(this).attr('checked', 'checked');
                $(this).attr("disabled", "disabled");
            } else if ($(this).is('[disabled]')) {
                $(this).removeAttr("checked");
                $(this).removeAttr("disabled");
            }

        });
    }

    $('#{{field.name}}-search').change(function () {
        /* Add sample when select changes, then immediately reset select to "" */
        const $searchInput = $(this);
        if ($searchInput.val() !== "") {
            const url = `{% url 'sample-field-root' %}${$searchInput.val()}/{{field.name}}/`;
            $.ajax(url).done(function (html) {
                $('#{{field.name}}-list').append(html).slideDown(600);
                $searchInput.find("option:selected").attr('disabled', 'disabled');
                $searchInput.val("");
                update_{{field.name}}();
            });
        }
    });

    $(document).on('uso:sample-created', function(event, data) {
        // This event is triggered when a new sample is created
        // It will add the new sample to the list and update the search select
        const $searchInput = $("#{{field.name}}-search");
        if (data.pk !== null) {
            const $newOption = $("<option disabled></option");
            $newOption.attr('value', data.pk);
            $newOption.text(data.name);
            $searchInput.append($newOption);

            let url = `{% url 'sample-field-root' %}${data.pk}/{{field.name}}/`;
            $.ajax(url).done(function (html) {
                $('#{{field.name}}-list').append(html).slideDown(600);
                update_{{field.name}}();
            });
        }
    });

    $(document).on('uso:sample-updated', function(event, data) {
        // This event is triggered when a sample is edited
        // It will replace the sample row in the list and update the select option
        const $searchInput = $("#{{field.name}}-search");
        if (data.pk !== null) {
            const $option = $searchInput.find(`option[value="${data.pk}"]`);
            $option.text(data.name);

            let url = `{% url 'sample-field-root' %}${data.pk}/{{field.name}}/`;
            let $row = $(`#sample-${data.pk}-row`);
            let quantity = $row.find(`input[name="{{field.name}}__${data.pk}__quantity"]`).val();
            $.ajax(url).done(function (html) {
                $row.replaceWith(html);
                $row.find(`input[name$="__quantity"]`).val(quantity);
                update_{{field.name}}();
            });
        }
    });

    $("#{{field.name}}-controls").on('click', ".remove-button", function (e) {
        let sampleID = $(this).data('sample-pk');
        let $toDelete = $(this).closest(`#sample-${sampleID}-row`);


        // show confirmation popover
        const popover = new bootstrap.Popover(this, {
            trigger: 'focus',
            html: true,
            placement: 'right',
            sanitize: false,
            title: "Remove Item?",
            content: `
                <div class="w-100 d-flex flex-row gap-3">
                    <button class="btn btn-xs btn-secondary" role="button">Cancel</button>
                    <button data-confirmed-remove="1" class="btn btn-xs btn-danger" role="button">Remove</button>
                </div>`,
        });
        popover.show();

        // single click on popover button removes the item, click outside closes the
        // popover
        $(document).one('click', '.popover button', function () {
            if ($(this).is("[data-confirmed-remove]")) {
                $toDelete.slideUp('fast', function () {
                    $toDelete.remove();
                    let $option = $(`#{{field.name}}-search option[value="${sampleID}"]`);
                    if ($option.length) {
                        // re-enable option in select
                        $option.removeAttr('disabled');
                    }
                });
            }
            popover.dispose();
            update_{{field.name}}();
        });
    });

    $(function () {
        window.setTimeout(function () {
            update_{{field.name}}();
        }, 0);
    });
</script>
