{% load static %}
{% load dynforms %}
{% load samples_tags %}
<link href="{% static 'samples/sample.min.css' %}" rel="stylesheet"/>

<div class="controls " id="{{field.name}}-controls" data-field-name="{{field.name}}">
	<div class="row no-space hazard-controls" id="sample-hazard-controls">
		{% get_pictograms as pictograms %}
			{% for pic in pictograms %}
		    <label class="checkbox pictogram pull-left col-sm-6 col-md-4 col-lg-3">
		    	<input name="{{field.name}}"
		       	id="{{field.name}}_{{forloop.counter}}"
		       	value="{{pic.pk}}"
		       	{% if pic.pk in data %}checked="checked"{% endif %}
		       	type="checkbox">
		       	<div class="hazard-input media"
				    data-bs-toggle="popover"
				    data-placement="bottom"
				    data-trigger="hover"
				    data-content="{{pic.description}}">
					<img class="media-object pull-left" src="{% pictogram_url pic %}" alt="{{pic.code}}">
					<div class="media-body">{{pic.name}}</div>
                </div>
			</label>
			{% endfor %}
	</div>
</div>
<script type="text/javascript">	
	// clear hazards if "not hazardous" selected, and vice-versa
	var non_hz_pk = "15";
	var fld_sel = '#{{field.name}}-controls input[name="{{field.name}}"]';
	var hz_ctrls = ':not(input[value="'+ non_hz_pk +'"])';
	var non_hz_ctrls = '[value="'+ non_hz_pk +'"]';
	
	$(fld_sel).filter(hz_ctrls).change(function(){
		if (this.checked) {				
			$(fld_sel).filter(non_hz_ctrls).each(function(){
				$(this).removeAttr('checked');
				$(this).prop('checked', false);				
			});		
		}
	});		
	$(fld_sel).filter(non_hz_ctrls).change(function(){
		if (this.checked) {
			$(fld_sel).filter(hz_ctrls).each(function(){
				$(this).removeAttr('checked');
				$(this).prop('checked', false);
			});
		}
	});
</script>
