{% load dynforms %}
{% load static %}
{% load samples_tags %}
{% load project_tags %}
{% load jsonify %}
{% get_safety_samples data as review_sample_list %}
<link rel="stylesheet" href="{% static 'samples/sample.min.css' %}">
<div class="controls" id="{{ field.name }}-controls" data-field-name="{{ field.name }}">
    <div class="sample-list">
        <div id="{{ field.name }}-list" class="list-group list-group-flush">
           {% for info in review_sample_list %}
                {% sample_safety_review info %}
            {% empty %}
                <div class="empty">
                    <i class="bi-exclamation-triangle text-warning icon-md"></i><br/>
                    This project will not use any samples.
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script >
    $(document).ready(function () {
        $(document).on('click', '.reject-sample-command', function () {
            // Toggle the rejection state of the sample
            const $rejectInput = $(this).siblings("input.rejection-field");
            const container = $rejectInput.closest(".sample-row");
            const val = $rejectInput.val();

            if (val) {
                $rejectInput.val("");
                container.removeClass("rejected-sample");
            } else {
                $rejectInput.val(1);
                $rejectInput.change();
                container.addClass("rejected-sample");
            }
        });

        $('[data-keywords-field]').each(function(){
            const $keywordsField = $(this);
            let data = JSON.parse($keywordsField.val());
            const selector = $keywordsField.data('keywords-field');
            const $keywordInputs = $(`input.${selector}`);

            // Update the values if any changes
            $keywordInputs.change(function(){
                $keywordInputs.each(function(){
                    data[$(this).data('keyword-code')] = $(this).val();
                });
                $keywordsField.val(JSON.stringify(data));
            });

            // Populate the inputs with the data
            $.each(data, function(code, value) {
                $(`#${selector}-${code}`).val(value);
            });
        });
    });
</script>
