{% load dynforms %}
{% load samples_tags %}
<div class="controls" id="{{field.name}}-controls" data-field-name="{{field.name}}">
	<div class="row" id="sample-type-controls">
		{% get_sample_types as type_groups %}
		{% for group_name, choices in type_groups %}
	    <div class="sample-type-group col-3">
		<h5 >{{group_name|default:"&nbsp;"}}</h5>
			{% for choice, checked in choices|group_sample_choices:data %}
			<div class="form-check">
                <input name="{{field.name}}"
                    id="{{field.name}}_{{forloop.counter}}_{{choice.0}}"
                    value="{{choice.0}}"
                    {% if checked %}checked="checked"{% endif %}
                    type="checkbox" class="form-check-input">
		       <label class="form-check-label" for="{{field.name}}_{{forloop.counter}}_{{choice.0}}">{{choice.1}}</label>
		    </div>
			{% endfor %}
	    </div>
	    {% endfor %}
	</div>
</div>

<script>
    // Update sample types checkboxes based on the samples changed event
    $(document).on('uso:samples-changed', function (e, data) {
        let allTypes = data.types || [];
        //reset all checkboxes
        $('#{{field.name}}-controls input[type="checkbox"]').removeAttr('checked');

        // check new ones
        $.each([...allTypes], function (index, value) {
            $(`#{{field.name}}-controls input[value="${value}"]`).attr('checked', 'checked');
        });
    });

</script>
