{% load dynforms %}
{% load samples_tags %}
{% load project_tags %}

{% get_safety_samples data as review_sample_list %}
<div class="controls" id="{{ field.name }}-controls" data-field-name="{{ field.name }}">
    <div class="sample-list">
        <div id="{{ field.name }}-list" class="list-group list-group-flush">
            {% for info in review_sample_list %}
                {% sample_ethics_review info %}
            {% empty %}
                <div class="empty">
                    <i class="bi-exclamation-triangle text-warning icon-md"></i><br/>
                    No samples requiring Ethics Review.
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on('change', ':input[name$="__decision"]', function () {
            const expiryTypes = ["ethics", "protocol"];
            const value = $(this).val();
            const $expiryField = $(this).closest('.sample-group').find('.expiry-field input');

            if ($.inArray(value, expiryTypes) >= 0) {
                $expiryField.prop('disabled', false);
            } else {
                $expiryField.prop('disabled', true);
            }
        });
        $('.expiry-field .date-input').datePicker({
            format: "yyyy-mm-dd",
        });
    });

</script>
