{% load dynforms %}
{% load static %}
{% load samples_tags %}
{% load project_tags %}
{% load jsonify %}
{% get_material_samples data=data material=reference as samples %}
<link rel="stylesheet" href="{% static 'samples/sample.min.css' %}">
<div class="controls" id="{{ field.name }}-controls" data-field-name="{{ field.name }}">
    <div class="sample-list">

        <div id="{{ field.name }}-list" class="list-group list-group-flush">
            {% for sample, quantity, hazard_ids, sample_hazards, review_hazards, rejected, permissions in samples %}
                {% get_precautions hazards=review_hazards as precautions %}
                <div class="sample-row py-4 list-group-item {% if rejected %}rejected-sample {% endif %}{% if not sample.is_editable %}reviewed-sample{% else %}pending-sample{% endif %}"
                     id="{{ field.name }}-{{ sample.pk }}-hazards-container"
                >
                    {% include "samples/fields/sample-review.html" %}
                </div>
            {% empty %}
                <div class="empty">
                    <i class="bi-exclamation-triangle text-warning icon-md"></i><br/>
                    This project will not use any samples.
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script >
    $(document).ready(function () {
        $(document).on('click', '.reject-sample-command', function () {
            // Toggle the rejection state of the sample
            const $rejectInput = $(this).siblings("input.rejection-field");
            const container = $rejectInput.closest(".sample-row");
            const val = $rejectInput.val();

            if (val) {
                $rejectInput.val("");
                container.removeClass("rejected-sample");
            } else {
                $rejectInput.val(1);
                $rejectInput.change();
                container.addClass("rejected-sample");
            }
        });

        $('[data-keywords-field]').each(function(){
            const $keywordsField = $(this);
            let data = JSON.parse($keywordsField.val());
            const selector = $keywordsField.data('keywords-field');
            const $keywordInputs = $(`input.${selector}`);

            // Update the values if any changes
            $keywordInputs.change(function(){
                $keywordInputs.each(function(){
                    console.log($(this).data('keyword-code'), $(this).val());
                    data[$(this).data('keyword-code')] = $(this).val();
                });
                $keywordsField.val(JSON.stringify(data));
            });

            // Populate the inputs with the data
            $.each(data, function(code, value) {
                $(`#${selector}-${code}`).val(value);
            });
        });
    });
</script>
