{% load dynforms_tags %}
{% load samples_tags %}
{% load project_tags %}
{% load jsonify %}
{% get_material_samples data=data material=reference as samples %}
<div class="controls " id="{{ field.name }}-controls" data-field-name="{{ field.name }}">
    <div class="sample-list">
        <div id="{{ field.name }}-list">
            {% for sample, quantity, hazard_ids, sample_hazards, review_hazards, rejected, permissions in samples %}
                {% get_precautions hazards=review_hazards as precautions %}
                <div id="{{ field.name }}-{{ sample.pk }}-hazards-container"
                     data-saved-hazards="{{ hazard_ids|join:',' }}"
                     class="tinytron sample-row {% if rejected %}rejected-sample{%  endif %} {% if not sample.is_editable %}reviewed-sample{% else %}pending-sample{% endif %}">
                    <div class="row narrow-gutter">
                        <div class="col-xs-12">
						    <span class="pull-right text-right">
							{% show_pictograms sample_hazards sample.hazard_types size=28 %}
						    </span>
                            <h5 class="no-vmargin text-condensed"><strong>{{ sample.name }}</strong></h5>
                            Quantity: <em class="text-muted">{{ quantity }}</em>&emsp;
                            Type: <em class="text-muted">{{ sample.get_kind_display }}</em>&emsp;
                            State: <em class="text-muted">{{ sample.get_state_display }}</em>&emsp;
                            Source: <em class="text-muted">{{ sample.source|default:"N/C" }}</em>&emsp;
                            {% if sample.description or sample.source or sample.extra %}
                                <hr class="hr-xs"/>
                                <em>{% if sample.description %}{{ sample.description|default:"" }}</em>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row narrow-gutter">
                        <div class="col-xs-12" id="{{ field.name }}-{{ sample.pk }}-hazards">
                            <hr class="hr-xs"/>
                            <span class="pull-left text-right" style="margin-right: 2em; line-height: 24px;">
                            {% if sample.is_editable %}
                                {% if rejected %}
                                    <text class="text-danger pull-left text-condensed">&nbsp;REJECTED&nbsp;</text>
                                {% else %}
                                    <text class="text-info pull-left text-condensed">&nbsp;IN PROGRESS&nbsp;</text>
                                {% endif %}
                                {% show_pictograms review_hazards size=24 %}
                            {% else %}
                                <text class="text-info pull-left text-condensed">&nbsp;REVIEWED&nbsp;</text>
                            {% endif %}
                                <text class="text-info text-condensed" id="{{ field.name }}-{{ sample.pk }}-msgs"></text>
						    </span>

                            {% if sample.is_editable %}
                                <a title="Toggle Reject" href='#0' class="reject-sample-command command-icon pull-right">
                                    <i class="icon-fw"></i>
                                </a>
                                <a title="Hazards" href='#0' class="edit-hazard-command command-icon pull-right {% if hazard_ids %}highlighted{% endif %}"
                                   data-target="{% url 'sample-hazards'  pk=sample.pk field_name=field.name%}">
                                    <i class="bi-activity icon-fw"></i>
                                </a>
                                <a title="Permissions" href='#0' class="edit-permission-command command-icon  pull-right {% if permissions %}highlighted{% endif %}"
                                   data-target="{% url 'sample-permissions'  pk=sample.pk field_name=field.name %}">
                                    <i class="bi-key icon-fw"></i>
                                </a>
                            {% else %}
                                <span title="Sample Locked! Already Reviewed." class="edit-hazard-command command-icon  pull-right">
                                    <i class="bi-lock icon-fw text-muted"></i>
                                </span>
                            {% endif %}
                            {% if precautions %}
                                <a title="Precautions" class="command-icon pull-right {% if precautions.count %}highlighted{% endif %}" role="button" data-bs-toggle="collapse"
                                   aria-expanded="false" aria-controls="{{ field.name }}-precautions-{{ sample.pk }}"
                                   href='#{{ field.name }}-precautions-{{ sample.pk }}'>
                                    <i class="bi-list-ol icon-fw"></i>
                                </a>
                            {% endif %}
                            <input type="hidden" class="pk-field" name="{{ field.name }}.sample.{{ sample.pk }}" value="{{ sample.pk }}">
                            <input type="hidden" class="hazards-field" name="{{ field.name }}.hazards.{{ sample.pk }}"
                                   data-saved-hazards='{{ hazard_ids|jsonify}}'
                                   value='{{ hazard_ids|jsonify}}'
                            >
                            <input type="hidden" class="permissions-field" name="{{ field.name }}.permissions.{{ sample.pk }}"  value='{{ permissions|jsonify }}'>
                            <input type="hidden" class="rejection-field" name="{{ field.name }}.rejected.{{ sample.pk }}" {% if rejected %}value=1{% endif %}>
                            <input type="hidden" class="keywords-field" name="{{ field.name }}.keywords.{{ sample.pk }}." value="">
                        </div>
                    </div>

                    <div id="{{ field.name }}-{{ sample.pk }}-changes" class="tinytron bg-warning hidden changes-notes">
                        <i class="bi-floppy icon-fw" title="Changes have not been saved"></i>&ensp;
                        <span class="added"></span>&ensp;
                        <span class="removed"></span>
                    </div>

                    <div class="row narrow-gutter">

                        <!-- Precautions Section -->
                        <div class="col-xs-12 collapse" id="{{ field.name }}-precautions-{{ sample.pk }}">
                            <table class="table table-hover" style="font-size: 85%;">
                                <tr>
                                    <th colspan="2">Precaution Statement</th>
                                    <th>Keyword</th>
                                </tr>
                                {% for p in precautions %}
                                    <tr>
                                        <td class="text-muted">{{ p.code }}</td>
                                        <td>{% precaution_text p %}</td>
                                        <td>
                                            {% if "{}" in p.text %}
                                                <input width="auto" placeholder="keyword" type="text"
                                                       name="{{ field.name }}.keywords.{{ sample.pk }}.{{ p.code }}"
                                                       value="{% precaution_keyword p %}"
                                                >
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="empty">
                    <i class="bi-exclamation-triangle text-warning icon-md"></i><br/>
                    This project will not use any samples.
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '.edit-hazard-command', function () {
        var hazards_input = $(this).siblings("input.hazards-field");
        var hazards_json = hazards_input.val(); // apply current set, not previously saved ones in data-saved-hazards
        var url = $(this).data('target');
        if (hazards_json) {
            url = url + "?hazards=" + hazards_json;
        }
        $('#modal-form').load(encodeURI(url), function(){
            // Check selected hazards
            if (hazards_json) {
                var selected = $.map(JSON.parse(hazards_json), function (pk, i) {
                    return '#hazards-' + pk;
                }).join();
                $(selected).attr("checked", "checked");
            }
        });
    });

    $(document).on('click', '.edit-permission-command', function () {
        var perm_input = $(this).siblings("input.permissions-field");
        var perm_json = perm_input.val();
        var permissions = {};

        if (perm_json) {
            permissions = JSON.parse(perm_json)
        }
        var url = $(this).data('target');
        $('#modal-form').load(url, function() {
            if (permissions) {
                $.each(permissions, function(key, value){
                    var row = $('#modalForm').find('.permission-row.perm-' + key);
                    row.find('input[value="' + value +'"]').attr('checked', 'checked');
                });
            }
        });
    });

    $(document).on('click', '.reject-sample-command', function () {
        var reject_input = $(this).siblings("input.rejection-field");
        var container = reject_input.closest(".sample-row");
        var val = reject_input.val();

        if (val) {
            reject_input.val("");
            container.removeClass("rejected-sample");
        } else {
            reject_input.val(1);
            reject_input.change();
           container.addClass("rejected-sample");
        }
    });
</script>
