$color_1: #999999;
$color_2: #FFFFFF;
$color_3: #b92c28;
$color_4: #777;
$color_5: #000;
$color_6: #999;
$color_7: #1f77b4;
$font-family_1: bootstrap-icons;
$background-color_1: #707070;
$background-color_2: rgba(0, 0, 0, 0.08);



.no-space {
  margin: 0;

  > [class*="col-"] {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.no-left-space {
  margin-left: 0;

  > [class*="col-"] {
    margin-left: 0;
    padding-left: 0;
  }
}

.no-right-space {
  margin-right: 0;

  > [class*="col-"] {
    margin-right: 0;
    padding-right: 0;
  }
}

.btn-secondary.disabled {
  color: $color_1;
}

.input-inline {
  width: 220px;

  + {
    .checkbox-inline {
      margin-left: 10px;
    }

    .radio-inline {
      margin-left: 10px;
    }
  }
}

.checkbox {
  label {
    font-weight: 400 !important;
  }
}

.radio {
  label {
    font-weight: 400 !important;
  }
}

.checkbox-inline {
  label {
    font-weight: 400 !important;
  }

  + {
    .input-inline {
      margin-left: 10px;
    }
  }
}

.radio-inline {
  label {
    font-weight: 400 !important;
  }

  + {
    .input-inline {
      margin-left: 10px;
    }
  }
}

legend {
  font-size: 150%;
  margin-bottom: 0.25em;
}

.section-heading {
  font-size: 150%;
  margin-bottom: 0.25em;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  line-height: inherit;
  width: 100%;
  padding: 0;
}

.form-group {
  margin-bottom: 0.25em;

  + {
    button[data-repeat] {
      margin-top: 2px;
    }
  }
}

div.form-group {
  + {
    button {
      margin-top: -0.5em;
      margin-bottom: 0.5em;
    }
  }
}

label.select {
  position: relative;
  width: 100%;
  margin-bottom: 0;

  &:after {
    content: '\f0d7';
    font-family: $font-family_1;
    right: 0.75em;
    top: 0.4em;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    content: '';
    right: 1em;
    top: 0px;
    width: 2em;
    height: 27px;
    background: inherit;
    position: absolute;
    pointer-events: none;
    display: block;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.df-field-runtime {
  padding: 0;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;

  > .form-group {
    padding: 0.25em;
    margin-bottom: 0.25em;
  }

  .table {
    > thead {
      > tr {
        > th {
          line-height: 1.5;
          vertical-align: middle;
        }

        > td {
          line-height: 1.5;
          vertical-align: middle;
        }
      }
    }

    > tbody {
      > tr {
        > th {
          line-height: 1.5;
          vertical-align: middle;
        }

        > td {
          line-height: 1.5;
          vertical-align: middle;
        }
      }
    }

    > tfoot {
      > tr {
        > th {
          line-height: 1.5;
          vertical-align: middle;
        }

        > td {
          line-height: 1.5;
          vertical-align: middle;
        }
      }
    }
  }

  &:hover {
    .df-info {
      display: inline-block;
    }
  }

  .controls-inline {
    //display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .controls {
    padding: 0.25em;
    margin-bottom: 0.5em;

    + {
      .controls {
        margin-top: 0;
      }
    }
  }
}

.df-field-runtime.error {
  label {
    color: $color_3 !important;
  }
}

div {
  &:not(.no-hover).df-field-runtime {
    &:hover {
      border: 1px dotted rgba(0, 0, 0, 0.12);
    }
  }
}

.field-group-item {
  + {
    .field-group-item {
      padding-left: 6px;
    }
  }

  label {
    &:last-child {
      color: $color_4;
      line-height: 1;
    }

    &:first-child {
      color: $color_4;
      line-height: 1.6;
    }

    font-weight: 600;
    color: $color_6;
    font-size: 95%;
  }

  .df-info {
    font-size: 12px;
  }

  &:hover {
    label {
      color: $color_5;
    }
  }
}

.form-actions {
  button {
    + {
      button {
        margin-left: 0.5em;
      }

      input {
        margin-left: 0.5em;
      }
    }
  }

  input {
    + {
      input {
        margin-left: 0.5em;
      }

      button {
        margin-left: 0.5em;
      }
    }
  }
}

.df-form-content {
  padding: 1.5em;
  margin: -1.5em;

  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .no-tabs {
    + {
      .tab-content {
        border-top: 1px solid #ddd;
      }
    }
  }
}

.df-form-body {
  width: 100%;
  padding: 0 0.5em;
}

.df-form {

  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding-top: 1em;

  .nav-tabs {
    > li {
      > a {
        margin-right: 2px;
        line-height: 1.3;
        font-weight: 600;
      }
    }
  }

  .form-actions {
    padding: 15px;
    background: #fafafa;
  }

  .df-hide {
    display: none !important;
  }

  label {
    margin: 0;
  }

  .tab-pane {
    padding-top: 0.5em;
  }
}

#df-main {
  label {
    margin: 0;
  }
}

.controls {
  .row {
    + {
      .row {
        margin-top: 0.5em;
      }
    }
  }

  .controls {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.control-label {
  font-weight: 600 !important;
  margin-top: 0.35em;
  padding-left: 0.2em;
}

.control-description {
  font-size: 14px;
  line-height: 1.48;
}

#df-form-preview {
  ul.nav-tabs {
    padding-top: 1.5em;
  }
}

.df-form-footer {
  background: #f8f8f8;
}

#df-footer-content {
  display: flex;
  flex-direction: row;
  padding: 8px 15px;
  overflow: hidden;
  color: $color_4;

  .footer-progress {
    flex: 1;
    padding-right: 15px;
  }

  .progress {
    margin-top: 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}

#df-form-preview.pagelet {
  margin-bottom: 100px !important;
}

.df-info {
  display: none;
}

.df-field {
  &:hover {
    .df-info {
      display: inline-block;
    }
  }
}

.controls-inline {
  .checkbox-inline {
    align-self: center;
    margin-bottom: 0;
  }

  .radio-inline {
    align-self: center;
    margin-bottom: 0;
  }

  .input-inline {
    align-self: center;
    margin-bottom: 0;
  }
}

.df-form-preview {
  .page-tools {
    z-index: 9000;
  }
}

div[class$="-repeatable"] {
  border: 1px solid transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }
}

span.twitter-typeahead {
  display: inherit !important;
}

ul.nav-tabs.small-tabs {
  li {
    > a {
      font-weight: 600;
      margin-right: 2px;
      line-height: 1.3;
    }
  }
}

.control-instructions {
  display: none;
}

.extended-help {
  .df-info {
    display: none !important;
  }

  .df-field-runtime {
    .control-instructions {
      height: 100%;
      right: 0;
      position: fixed;
      table-layout: fixed;
      top: 0;
      width: 25%;
      z-index: 500;
      padding: 95px 18px 0 30px;
      display: none;
    }
  }

  .df-field-runtime.activated {
    .control-instructions {
      display: block;
    }
  }
}

.narrow-sidebar.extended-help {
  .control-instructions {
    padding-top: 65px;
  }
}

.word-counter {
  padding: 4px;
  line-height: 1;
  text-align: right;
  font-size: 80%;
  font-weight: 700;
  width: 100%;
  background-color: $background-color_2;
  color: $color_7;
}

.trumbowyg-editor-box {
  display: flex !important;
  flex-flow: column;
}

.trumbowyg-editor {
  flex: 1;
  width: 100%;
}

.score-choice {
  margin-bottom: 0.25em;
  .score-pill {
    display: inline-block;
    vertical-align: middle;
    min-width: 120px;
    font-size: 0.95em;
    //line-height: 1.1;

    span {
      padding: 0 0.5em;

      + span {
        text-align: left;
        font-weight: normal;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
      }

    }

  }
}