<div class="stat-card {{ style }}">
   {% if header %}<div class="stat-header">{{ header }}</div>{% endif %}
   <div class="stat-body d-flex flex-column justify-content-center align-items-center">
      <div class="info">{{ description }}</div>
       {% if url %}
        <a href="{{ url }}">
            <span class="value">{{ value|floatformat }}</span><span class="unit">{{ units }}</span>
        </a>
       {% else %}
           <div>
               <span class="value">{{ value|floatformat }}</span><span class="unit">{{ units }}</span>
           </div>
       {% endif %}
   </div>
</div>