<div class="controls {{repeatable}}" id="{{field.name}}-controls">
    <div class="row no-space">
    <div class="field-group-item col-xs-2">
        <input id="{{field.name}}-name" aria-label="Name" placeholder="Name" name="{{field.name}}.name"
               class="form-control" type="text" value="{{data.name}}">
    </div>
    <div class="field-group-item col-xs-6">
        <input id="{{field.name}}-description" aria-label="Description" placeholder="Description"
               name="{{field.name}}.description"
               class="form-control" type="text" value="{{data.description}}">
    </div>
    <div class="field-group-item col-xs-2">
        <input id="{{field.name}}-manufacturer" aria-label="Manufacturer" name="{{field.name}}.manufacturer"
               placeholder="Manufacturer" class="form-control" type="text" value="{{data.manufacturer}}">
    </div>
    <div class="field-group-item col-xs-2">
        <div class="input-group">
            <input id="{{field.name}}-model" aria-label="Model" name="{{field.name}}.model" class="form-control"
                   placeholder="Model" type="text" value="{{data.model}}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-white remove-repeat" title="Delete entry">
                    <i class="bi-x-lg icon-1x text-danger "></i>
                </button>
            </span>
        </div>
    </div>
    </div>
</div>
