<div class="controls {{repeatable}}" id="{{field.name}}-controls">
    <div class="row no-space">
    <span class="field-group-item col-xs-3">
	    <input id="{{field.name}}.first_name" aria-label="First name" placeholder="First name"
               name="{{field.name}}.first_name" class="form-control" type="text" value="{{data.first_name}}">
    </span>	
    <span class="field-group-item col-xs-4">
	    <input id="{{field.name}}.last_name" aria-label="Last name" placeholder="Last name"
               name="{{field.name}}.last_name" class="form-control" type="text" value="{{data.last_name}}">
    </span>
    <span class="field-group-item col-xs-5">
    	{% if "repeat" in field.options %}
    	<div class="input-group">
            <input id="{{field.name}}.email" aria-label="Email" placeholder="Email" name="{{field.name}}.email"
                   class="form-control" type="email" value="{{data.email}}">
		<span class="input-group-btn"><button type="button" title="Remove person from list"
                                              class="btn btn-white remove-repeat"><i class="bi-x-lg text-danger"></i>
        </button></span>
        </div>
		{% else %}
	    <input id="{{field.name}}.email" aria-label="Email" placeholder="Email" name="{{field.name}}.email"
               class="form-control" type="text" value="{{data.email}}">
	    {% endif %}
    </span>
    </div>
</div>
