{% load dynforms %}
{% load jsonify %}
{% load proposal_tags %}
{% get_options data=data as options %}
<div class="controls {{ repeatable }}" id="{{ field.name }}__controls"
     data-repeat-name="{{ repeat_name }}__controls"
     data-field-name="{{ field.name }}"
>
    <div class="row">
        <div class="field-group-item col-7">
            <select name="{{ field.name }}__techniques" id="{{ field.name }}__techniques"
                    data-repeat-name="{{ repeat_name }}__techniques"
                    multiple class="form-select-multiple {{ required }}" data-placeholder="Select techniques">
                {% for technique in options.techniques %}
                    <option value="{{ technique.id }}" data-related="{{ technique.facilities|jsonify }}"
                            class="option-technique-{{ technique.id }}"
                            {% if technique.selected %}selected="selected" {% endif %}>{{ technique.name }}
                    </option>
                {% endfor %}
            </select>
            <label for="{{ field.name }}__techniques" class="sub-label" data-repeat-for="{{ repeat_name }}__techniques">
                Techniques<span class="text-danger">∗</span>
            </label>
        </div>
        <div class="field-group-item col-3">
            <select name="{{ field.name }}__facility" id="{{ field.name }}__facility"
                    data-repeat-name="{{ repeat_name }}__facility"
                    class="form-select {{ required }}" data-placeholder="Select facility">
                <option value=""></option>
                {% for facility in options.facilities %}
                    <option value="{{ facility.id }}" data-related="{{ facility.techniques|jsonify }}"
                            class="option-facility-{{ facility.id }}"
                            {% if facility.selected %}selected="selected" {% endif %}
                    >{{ facility.name }}
                    </option>
                {% endfor %}
            </select>
            <label for="{{ field.name }}__facility" class="sub-label" data-repeat-for="{{ repeat_name }}__facility">
                Facility<span class="text-danger">∗</span>
            </label>
        </div>
        <div class="field-group-item col-2">
            {% if "repeat" in field.options %}
                <div class="input-group">
                    <input id="{{ field.name }}__shifts" name="{{ field.name }}__shifts" class="form-control" min="0"
                           data-repeat-name="{{ repeat_name }}__shifts"
                           value="{{ data.shifts }}" aria-label="{{ field.label }} shifts">
                    <button type="button"
                            title="Delete facility, techniques, justification and procedure from {{ field.label }}"
                            class="btn btn-danger remove-repeat"
                    >
                        <i class="bi-x "></i>
                    </button>

                </div>
            {% else %}
                <input id="{{ field.name }}__shifts" name="{{ field.name }}__shifts"
                       data-repeat-name="{{ repeat_name }}__shifts"
                       class="form-control" type="number"
                       value="{{ data.shifts }}" placeholder="No. of shifts"
                >
            {% endif %}
            <label for="{{ field.name }}__shifts" class="sub-label" data-repeat-for="{{ repeat_name }}__shifts">Shifts</label>
        </div>
    </div>
    <div class="row">
        <div class="field-group-item col-12 beamline-info repeat-html-clear"></div>
    </div>
    <div class="row">
        <div class="field-group-item col-12">
            <textarea cols="40" name="{{ field.name }}__procedure" id="{{ field.name }}__procedure"
                      data-repeat-name="{{ repeat_name }}__procedure"
                      rows="3" class="textarea form-control {{ required }}"
            >
                {{ data.procedure }}
            </textarea>
            <label for="{{ field.name }}__procedure" class="sub-label" data-repeat-for="{{ repeat_name }}__procedure">
                Experimental Procedure<span class="text-danger">∗</span>
            </label>
        </div>
    </div>

    {% if "justification" in field.options %}
        <div class="row">
            <div class="field-group-item col-12">
                <textarea cols="40" name="{{ field.name }}__justification"
                          data-repeat-name="{{ repeat_name }}__justification"
                          id="{{ field.name }}__justification"
                          rows="5" class="textarea form-control {{ required }}"
                >{{ data.justification }}</textarea>
                <label for="{{ field.name }}__justification" class="sub-label "
                       data-repeat-for="{{ repeat_name }}__justification"
                >Justification of Suitability<span class="text-danger">∗</span>
                </label>
            </div>
        </div>
    {% endif %}
</div>
<hr/>
<script>
    function updateMatrix(techField, facField, data) {
        const $techniquesField = $(techField);
        const $facilitiesField = $(facField);

        $.each(data.techniques, function (i, row) {
            let option = $techniquesField.find(`option[value='${row[0]}']`);
            option.data('related', row[3]);
        });
        $.each(data.facilities, function (i, row) {
            let option = $facilitiesField.find(`option[value='${row[0]}']`);
            option.data('related', row[3]);
        });
    }

    function updateRelated(target, related) {
        const $field = $(target);
        const selected = new Set(related);
        $field.find('option').removeAttr('disabled');
        console.log(target, related)
        if (selected.size) {
            $field.find('option').each(function () {
                let related = new Set($(this).data('related') || []);
                if (related.size === 0) {
                    $(this).removeAttr('disabled');
                } else if (selected.intersection(related).size === 0) {
                    $(this).attr('disabled', 'disabled');
                }
            });
        }
    }

    $(document).ready(function () {
        new SlimSelect({
            select: "#{{ field.name }}__controls select[multiple]",
            placeholder: "Select techniques",
            showSearch: true,
            searchPlaceholder: "Search techniques",
            allowDeselect: true,
        });

        $(document).on('cycle-changed', function (event, data) {
            localStorage.setItem('techniquesMatrix', JSON.stringify(data));
            $("[name$='__techniques']").each(function () {
                const $techField = $(this);
                const $facilityField = $techField.closest('.controls').find('[name$="__facility"]');
                updateMatrix($techField, $facilityField, data);
            });
        });
        $(document).on('change', '[name$="__techniques"]', function () {
            const selected = $(this).val() || [];
            const $target = $(this).closest('.controls').find('[name$="__facility"]');
            updateRelated($target, selected.map(Number));
        });

        $(document).on('change', '[name$="__facility"]', function () {
            const facility = $(this).val() || '';
            const selected = facility ? [facility] : [];
            const $target = $(this).closest('.controls').find('[name$="__techniques"]');
            updateRelated($target, selected.map(Number));

            // beamline information
            if (facility) {
                const infoUrl = "{% url 'beamline-info' %}";
                const $facilityInfo = $(this).closest('.controls').find('div.beamline-info');
                $facilityInfo.load(infoUrl + facility);
            } else {
                $(this).closest('.controls').find('div.beamline-info').empty();
            }
        });

        $('[name$="__facility"]').trigger('change');
    });

</script>
