{% load dynforms %}
{% load jsonify %}
{% load proposal_tags %}
{% get_options data=data as options %}
<div class="controls {{ repeatable }}" id="{{ field.name }}-controls{{ repeat_index }}"
     data-field-name="{{ field.name }}" data-repeat-index="{{ repeat_index }}">
    <div class="row">
        <div class="field-group-item col-7">
            <select name="{{ field.name }}.techniques" id="{{ field.name }}-techniques{{ repeat_index }}"
                    multiple class="form-select-multiple {{ required }}" data-placeholder="Select techniques">
                {% for technique in options.techniques %}
                    <option value="{{ technique.id }}" data-related="{{ technique.facilities|jsonify }}"
                            class="option-technique-{{ technique.id }}"
                            {% if technique.selected %}selected="selected" {% endif %}>{{ technique.name }}
                    </option>
                {% endfor %}
            </select>
            <label for="{{ field.name }}-techniques{{ repeat_index }}" class="sub-label">
                Techniques<span class="text-danger">∗</span>
            </label>
        </div>
        <div class="field-group-item col-3">
            <select name="{{ field.name }}.facility" id="{{ field.name }}-facility{{ repeat_index }}"
                    class="form-select {{ required }}" data-placeholder="Select facility">
                <option value=""></option>
                {% for facility in options.facilities %}
                    <option value="{{ facility.id }}" data-related="{{ facility.techniques|jsonify }}"
                            class="option-facility-{{ facility.id }}"
                            {% if facility.selected %}selected="selected" {% endif %}
                    >{{ facility.name }}
                    </option>
                {% endfor %}
            </select>
            <label for="{{ field.name }}-facility{{ repeat_index }}" class="sub-label">
                Facility<span class="text-danger">∗</span>
            </label>
        </div>
        <div class="field-group-item col-2">
            {% if "repeat" in field.options %}
                <div class="input-group">
                    <input id="{{ field.name }}-shifts" name="{{ field.name }}.shifts" class="form-control" min="0"
                           value="{{ data.shifts }}" aria-label="{{ field.label }} shifts">
                    <button type="button"
                            title="Delete facility, techniques, justification and procedure from {{ field.label }}"
                            class="btn btn-danger remove-repeat">
                        <i class="bi-dash-lg "></i>
                    </button>

                </div>
            {% else %}
                <input id="{{ field.name }}-shifts{{ repeat_index }}" name="{{ field.name }}.shifts"
                       class="form-control" type="number"
                       value="{{ data.shifts }}" placeholder="No. of shifts">
            {% endif %}
            <label for="{{ field.name }}-shifts{{ repeat_index }}" class="sub-label">Shifts</label>
        </div>
    </div>
    <div class="row">
        <div class="field-group-item col-12 beamline-info"></div>
    </div>
    <div class="row">
        <div class="field-group-item col-12">
            <textarea cols="40" name="{{ field.name }}.procedure" id="{{ field.name }}-procedure"
                      rows="3" class="textarea form-control {{ required }}">{{ data.procedure }}</textarea>
            <label for="{{ field.name }}-procedure" class="sub-label">Experimental Procedure<span
                    class="text-danger">∗</span>
            </label>
        </div>
    </div>

    {% if "justification" in field.options %}
        <div class="row">
            <div class="field-group-item col-12">
                <textarea cols="40" name="{{ field.name }}.justification" id="{{ field.name }}-justification"
                          rows="5" class="textarea form-control {{ required }}">{{ data.justification }}</textarea>
                <label for="{{ field.name }}-justification" class="sub-label ">Justification of Suitability<span
                        class="text-danger">∗</span>
                </label>
            </div>
        </div>
    {% endif %}
</div>
<hr/>
<script>
    function updateTechniques(techField, facField, data) {
        const $techniquesField = $(techField);
        const $facilitiesField = $(facField);

        $.each(data.techniques, function (i, row) {
            let option = $techniquesField.find(`option[value='${row[0]}']`);
            option.data('related', row[3]);
        });
        $.each(data.facilities, function (i, row) {
            let option = $facilitiesField.find(`option[value='${row[0]}']`);
            option.data('related', row[3]);
        });

    }
    $(document).ready(function () {
        new SlimSelect({
            select: "#{{ field.name }}-techniques{{ repeat_index }}",
            placeholder: "Select techniques",
            showSearch: true,
            searchPlaceholder: "Search techniques",
            allowDeselect: true,
        });

        $(document).on('cycle-changed', function (event, data) {
            const $techniquesGroup = $('#{{ field.name }}-techniques{{repeat_index}}').parent();
            localStorage.setItem('techniquesMatrix', JSON.stringify(data));
            updateTechniques(
                '#{{field.name}}-techniques{{repeat_index}}',
                '#{{field.name}}-facility{{repeat_index}}',
                data
            );
        });
        $(document).on('change', '#{{field.name}}-techniques{{repeat_index}}, #{{field.name}}-facility{{repeat_index}}', function () {
            const $techniquesField = $(this).closest('.controls').find('[name^="{{field.name}}.techniques"]');
            const $facilitiesField = $techniquesField.closest('.controls').find('[name^="{{field.name}}.facility"]');

            let dataUrl = "{% url 'techniques-beamlines' %}?";
            let data = JSON.parse(localStorage.getItem('techniquesMatrix')) || {};
            let selectedTechniques = $techniquesField.val() || [];

            console.log('Selected techniques: ', selectedTechniques);


            const goodFacilities = new Set();

            $facilitiesField.find('option').removeAttr('disabled');
            $techniquesField.find('option').removeAttr('disabled');

            // if techniques are selected, disable facilities that are not related to them
            if ($techniquesField.val()) {
                const selectedTechniques = new Set();
                $.each($techniquesField.val(), function (i, val) {
                    selectedTechniques.add('option[value=' + val + ']');
                });
                console.log('Selected techniques: ', [...selectedTechniques].join());
                $techniquesField.find([...selectedTechniques].join()).each(function () {
                    $.each($(this).data('related'), function (i, val) {
                        goodFacilities.add('[value=' + val + ']');
                    });
                });
                console.log('Good facilities: ', [...goodFacilities].join());
                $facilitiesField.find('option').not([...goodFacilities].join()).attr('disabled', 'disabled');
            } else {
                $facilitiesField.find('option').removeAttr('disabled');
            }

            // beamline information
            const infoUrl = "{% url 'beamline-info' %}";
            const $facilityInfo = $facilitiesField.closest('.controls').find('div.beamline-info');
            const facilityID = $facilitiesField.val() || '';
            $facilityInfo.load(infoUrl + facilityID);

        });

        $('#first_cycle').change(function () {
            $('#{{field.name}}-facility{{repeat_index}}').trigger('change');
        });

        $('#{{field.name}}-facility{{repeat_index}}').trigger('change');
    });

</script>
