{% load crispy_forms_filters %}
{% load proposal_tags %}

{% get_all_tracks as tracks %}
{% get_technique_options configs=field.value as groups %}

<div class="controls {{ field_class }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}
     id="{{ field.name }}-controls">
    {% include 'bootstrap5/layout/field_errors_block.html' %}

    <ul class="nav nav-tabs" role="tablist">
        {% for group, techniques in groups.items %}
            <li role="presentation" class="nav-item text-narrow"
                style="margin-bottom: -2px;">
                <a class="nav-link {% if not forloop.counter0 %}active{% endif %}"
                   href="#{{ field.name }}group-{{ forloop.counter0 }}"
                   aria-controls="{{ field.name }}group-{{ forloop.counter0 }}"
                   role="tab"
                   data-bs-toggle="tab">
                    <span>{{ group }}</span>
                    <span class="technique-count badge rounded-circle bg-primary"></span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content text-condensed" style="overflow-y: auto; height: 300px;">
        {% for group, techniques in groups.items %}
            <div role="tabpanel" class="tab-pane {% if not forloop.counter0 %}active{% endif %}"
                 id="{{ field.name }}group-{{ forloop.counter0 }}">

                <table class="config-list table table-hover">
                    <thead>
                    <tr>
                        <th class="col-auto">Techniques</th>
                        {% for track in tracks %}
                            <th class="text-center" title="{{ track }} Review Track">{{ track.acronym }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for technique, values in techniques %}
                        <tr>
                            <td>
                                {{ technique }}
                                <input type="hidden"
                                       name="{{ field.name }}__{{ technique.pk }}__technique"
                                       value="{{ technique.pk }}"
                                />
                            </td>
                            {% for track in tracks %}
                                <td>
                                    <div class="form-check ms-3">
                                        <input name="{{ field.name }}__{{ technique.pk }}__value"
                                                id="{{ field.name }}_{{ technique.pk }}_{{ track.acronym }}"
                                                value="{{ track.pk }}"
                                                {% if track.pk in values %}checked="checked"{% endif %}
                                                type="checkbox"
                                                aria-label="{{ technique }} and {{ track }} Review Track"
                                                class="form-check-input"
                                        />
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    {% include 'bootstrap5/layout/help_text.html' %}
</div>
<script>
    function update_counts() {
        $("#{{ field.name }}-controls").find('.nav-tabs a').each(function () {

            var num_selected = $($(this).attr('href')).find('input:checked:not(.empty-value)').length;
            if (num_selected) {
                $(this).find('.technique-count').html(num_selected);
            } else {
                $(this).find('.technique-count').html("");
            }
        });
    }

    $(document).ready(update_counts);
    $(document).on("change", "input[name^='{{ field.name }}.value']", function () {
        update_counts();
    });

</script>

