{% load proposal_tags %}
{% load samples_tags %}
{% load markup %}

{% get_approval_reviews as approval_reviews %}
{% all_reviews_completed as all_complete %}
{% for rev in approval_reviews %}
    <div class="p-3">
        <div class="row">
            <div class="col-sm-8" id="{{ field.name }}-{{ rev.review.pk }}-description">
                <h5 class="my-0 d-flex align-items-center gap-2">
                    {% if rev.review.reviewer %}
                        <i class="text-body-secondary bi-person-square icon-md" title="{{ rev.review.reviewer }}"></i>
                    {% else %}
                        <i class="text-body-secondary bi-person-bounding-box icon-md"
                           title="{{ rev.review.role|human_role }}"></i>
                    {% endif %}
                    {{ rev.review.type }}
                    <span class="text-body-secondary">
                        |
                        {% if rev.review.state > rev.review.STATES.open %}
                            {{ rev.review.get_state_display }}
                        {% elif not rev.review.reviewer %}
                            Unclaimed
                        {% else %}
                            In progress
                        {% endif %}
                    </span>
                </h5>
            </div>
            <div class="col-sm-4 d-flex flex-row gap-2" id="{{ field.name }}-{{ rev.review.pk }}-form">
                <span class="ms-auto text-right text-condensed" style="line-height: 24px;">
                {% if rev.rejected %}
                    <text class="text-danger"><span class="badge bg-danger">{{ rev.rejected|length }}</span>&nbsp;REJECTED</text>
                {% endif %}
			    </span>
                {% if rev.review.type.is_safety %}
                    <span class="review-inputs">
                    <input name="{{ field.name }}.review.{{ rev.review.pk }}" type="hidden" value="{{ rev.review.pk }}">
                    <input name="{{ field.name }}.completed.{{ rev.review.pk }}" type="hidden"
                           value="{% if rev.review.is_submitted %}1{% endif %}">
                </span>
                {% endif %}
                <div class="ms-auto">
                    {% if rev.hazards %}
                        {% show_pictograms rev.hazards %}
                    {% endif %}
                </div>
                {% if rev.review.state < rev.review.STATES.submitted and rev.review.type.is_safety %}
                    <a href="#0" title="Delete Review" data-review-prefix="{{ field.name }}-{{ rev.review.pk }}"
                       class="ms-auto delete-review-command">
                        <i class="bi-x-lg text-danger icon-sm icon-fw"></i>
                    </a>
                {% endif %}
            </div>

            <div class="col-sm-12">
                {% if rev.recommendation %}
                    <div class="text-body-secondary"><strong>Recommendation:</strong>&emsp;{{ rev.recommendation }}
                    </div>{% endif %}
                {% if rev.permissions %}
                    <div class="text-body-secondary safety-permissions">
                        <strong>Permissions:</strong>&emsp;
                        {{ rev.permissions }}
                    </div>
                {% endif %}
            </div>

            {% if rev.comments %}
                <div class="col-sm-12 my-2">
                    <ul class="review-comments list-unstyled">
                        {{ rev.comments }}
                    </ul>
                </div>
            {% endif %}

            <div class="col-sm-12">
            {% with rev.review.get_progress as progress %}
                <div class="progress {% if rev.review.reviewer and rev.review.state < rev.review.STATES.submitted %}active{% endif %}"
                     role="progressbar" aria-label="Review Progress"
                     aria-valuenow="{{ progress.total }}" aria-valuemin="0" aria-valuemax="100"
                     style="height: 0.5em;">
                    <div class="progress-bar progress-bar-stripped bg-{% if progress.required > 99 %}success{% else %}warning{% endif %}"
                         style="width: {{ progress.total }}%;">
                        <span class="visually-hidden">{{ progress.total }}% Complete</span>
                    </div>
                </div>
            {% endwith %}
            </div>
        </div>
    </div>
{% endfor %}
<script>
    $(".delete-review-command").click(function () {
        var el = $(this);
        var rev_form = $('#' + el.attr('data-review-prefix') + '-form');
        var rev_desc = $('#' + el.attr('data-review-prefix') + '-description');
        rev_form.html('<span class="text-danger text-condensed text-right">will be deleted when saved!</span>');
        rev_desc.css('text-decoration', 'line-through');
    });
</script>