{% load dynforms %}
{% load static %}
{% load proposal_tags %}
{% get_cycle_options as cycles %}

<div class="controls {{ repeatable }} row" id="{{ field.name }}-controls">
    <div class="field-group-item col-12">
        <select name="{{ field.name }}" id="{{ field.name }}" class="form-select" aria-label="{{ field.label }}">
            {% for value, cycle, selected in cycles %}
                <option value="{{ value }}" data-cycle-url="{% url 'cycle-info' pk=value %}"
                        {% if selected %}selected="selected" {% endif %}>{{ cycle }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field-group-item col-12" id="{{ field.name }}-extras">
        {% with selected_cycle as object %}
            {% include "proposals/fields/cycle-info.html" %}
        {% endwith %}
    </div>
    <div class="field-group-item col-12">
        <div class="w-100 timeline" id="cycle-timeline"></div>
    </div>
</div>
<script src="{% static 'js/d3-timeline.min.js' %}"></script>
<script>
    $(document).on('change', '#{{field.name}}', function () {
        const selected_cycle = $(this).val();
        $.getJSON(`{% url "techniques-matrix" %}?cycle=${selected_cycle}`, function (data) {
            $(document).trigger('cycle-changed', data);
        });
        const info_url = $(this).find('option:selected').data('cycle-url');
        $("#{{field.name}}-extras").load(info_url);
    });
    $("#{{field.name}}").trigger('change');
</script>