{% load dynforms_tags %}
{% load proposal_tags %}

{% update_review_data %}
<div class="controls {{ repeatable }}" id="{{ field.name }}-controls-{{ repeat_index }}">
    <div class="row no-space">
        <div class="field-group-item col-xs-6">
            <select name="{{ field.name }}.type" id="{{ field.name }}-type{{ repeat_index }}"
                    class="chosen select form-control" data-placeholder="Select Review Type">
                <option value="" data-review-role=""></option>
                {% for rev_type in review_types %}
                <option value={{ rev_type.pk }} data-review-role="{{  rev_type.role }}">{{ rev_type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field-group-item col-xs-6">
            <div class="input-group">
                <select name="{{ field.name }}.reviewer" id="{{ field.name }}-reviewer{{ repeat_index }}"
                        class="chosen select form-control"  data-placeholder="Select Reviewer/Role" data-selected-username="">
                </select>
                <span class="input-group-btn">
                <button type="button" class="btn btn-white remove-repeat" title="Delete entry">
                    <i class="bi-dash-circle text-danger"></i>
                </button>
            </span>
            </div>
        </div>
    </div>
</div>

<script>
    function update_reviewers_field(element) {
        const reviewer = element.closest('.controls').find('select[name^="{{field.name}}.reviewer"]');
        const role = element.find(':selected').attr('data-review-role');
        reviewer.load('{% url "reviewer-options" %}?role=' + role , function () {
            reviewer.trigger("chosen:updated");
        });
    }
    $('#{{field.name}}-controls-{{repeat_index}} select[name^="{{field.name}}.type"]').change(function () {
        update_reviewers_field($(this));
    });
    $(document).on('change', 'select[name^="{{field.name}}.reviewer"]', function () {
        $(this).attr("data-selected-username", $(this).val());
    });
    // execute at the end
    $(function () {
        window.setTimeout(function () {
            $("#{{field.name}}-controls-{{repeat_index}} .chosen").chosen({
                disable_search_threshold: 5,
                search_contains: true,
                allow_single_deselect: true
            });
            update_reviewers_field($('select[name^="{{field.name}}.type"]'));
        }, 0);
    });

</script>