{% extends "misc/blocks/panel.html" %}
{% block panel_title %}Pending Agreements{% endblock %}
{% block panel_classes %}bg-paper{% endblock %}

{% block panel_content %}
    {% if agreements %}
        <ul class="list-unstyled">
            {% for agreement in agreements %}
                <li class="bg-transparent row">
                    <div class="col-xs-12">

                        <h4 class="text-condensed"><strong>{{ agreement.name }}</strong></h4>
                        <div>{{ agreement.description }}</div>
                        <a href="{% url "accept-agreement" code=agreement.code %}"
                           class="btn btn-primary btn-sm pull-right">View</a>

                    </div>
                    {% if not forloop.last %}
                        <hr class="hr-xxs"/>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if no_institution %}
        <div class="alert alert-danger">
            <h5>Institution Required</h5>
            <hr class="hr-xs"/>
            <p>To use the facility, all users must be affiliated with an institution which has a valid
                Institutional Agreement. You have not selected an institution. Please update your profile.</p>
        </div>
    {% endif %}
    {% if request_contact %}
        <div class="alert alert-warning">
            <div class="row">
                <div class="col-xs-12">
                    <h5>Institutional Agreement Required</h5>
                    <hr class="hr-xs"/>
                    <p>To use the facility, all users must be affiliated with an institution which has a valid
                        Institutional Agreement. The institution you have selected in your profile
                        "{{ user.institution }}" does not have
                        the appropriate agreement.
                    </p>
                    <p>
                        To assist us in initiating the process, please provide the contact information of the person at
                        your
                        institution who is responsible for such matters.
                    </p>
                    {% if user.institution %}
                        <a href="#0" data-modal-url="{% url 'request-institution-contact' user.institution.pk %}"
                           class="btn btn-sm btn-secondary pull-right">
                            <i class="bi-pencil icon-fw"></i>&nbsp;Institutional Contact
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

