{% extends "misc/blocks/panel.html" %}
{% block panel_cap %}
    {% if agreements %}
        <ul class="list-unstyled p-4">
            {% for agreement in agreements %}
                <li>
                    <div>
                        <h4 class="text-condensed">{{ agreement.name }}</h4>
                        <hr class="hr-xs"/>
                        <div>{{ agreement.description }}</div>
                        <a href="{% url "accept-agreement" code=agreement.code %}"
                           class="btn btn-primary btn-sm pull-right">View</a>

                    </div>
                    {% if not forloop.last %}
                        <hr class="hr-xxs"/>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if no_institution %}
        <div class="p-4">
            <h5>Institution Required</h5>
            <hr class="hr-xs"/>
            <p>To use the facility, all users must be affiliated with an institution which has a valid
                Institutional Agreement. You have not selected an institution. Please update your profile.</p>
        </div>
    {% endif %}
    {% if request_contact %}
        <div class="p-4">
            <h5>Institutional Agreement Required</h5>
            <hr class="hr-xs"/>
            <p>To use the facility, all users must be affiliated with an institution which has a valid
                Institutional Agreement. The institution you have selected in your profile
                "{{ user.institution }}" does not have
                the appropriate agreement.
            </p>
            <p>
                To assist us in initiating the process, please provide the contact information of the person at
                your
                institution who is responsible for such matters.
            </p>
            {% if user.institution %}
                <a href="#0" data-modal-url="{% url 'request-institution-contact' user.institution.pk %}"
                   class="btn btn-sm btn-secondary pull-right">
                    <i class="bi-pencil icon-fw"></i>&nbsp; Contact
                </a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

