{% load beamline_tags %}

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Acronym</th>
        <th></th>
    </tr>
    {% for obj in object_list %}
        <tr onclick="info(this);" port="{% if obj.port %}{{ obj.port }}{% else %}{{ obj.acronym }}{% endif %}"
            data-toggle="popover">
            <td>{{ obj.name }}</td>
            <td>{{ obj.acronym }}</td>
            <td><i class="bi-circle-fill" title="{{ obj.get_state_display }}" data-toggle="tooltip"
                   style="color: {{ obj.state|get_color }};"></i></td>
        </tr>
    {% empty %}
        <tr>
            <td colspan=3>No results</td>
        </tr>
    {% endfor %}