{% extends "folio.html" %}
{% load beamline_tags %}
{% load cycle_tags %}


{% block page_heading %}<span class="hidden-xs">Facility &mdash; </span>
    <span class="text-muted">{{ object }}</span>{% endblock %}

{% block folio-title %}
    <strong>{{ object.acronym }}</strong> &mdash; {{ object.get_kind_display }}
{% endblock %}

{% block folio-subtitle %}
    {% for fac in object.utrace reversed %}
        {% if not forloop.last %}
            <a href="{% url 'facility-detail' pk=fac.pk %}" title="{{ fac.name }}">{{ fac.acronym }}</a> &nbsp;/&nbsp;
        {% else %}
            {{ fac.name }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block folio-tools %}
    {% if owner or admin %}
        <a href='{% url "edit-beamline" pk=object.pk %}' class="pull-right">
            <i class="bi-pencil icon-2 icon-fw"></i><br/>
            <span class="tool-label">Edit</span>
        </a>
    {% endif %}
    {% if object.kind != 'village' %}

        {% if owner or admin %}
            <a href='{% url "facility-config-detail" pk=object.pk %}' class="pull-right">
                <i class="bi-sliders2-vertical icon-2 icon-fw"></i><br/>
                <span class="tool-label">Techniques</span>
            </a>
        {% endif %}
        <a href="{% url 'beamline-schedule' object.acronym %}" class="pull-right">
            <i class="bi-calendar2-range icon-2 icon-fw"></i><br/>
            <span class="tool-label">Calendar</span>
        </a>
    {% endif %}
    {% if "employee" in user.roles %}
        <a href="{% url 'beamline-quality' object.acronym %}" class="pull-right">
            <i class="bi-journals icon-2 icon-fw"></i><br/>
            <span class="tool-label">Publications</span>
        </a>
    {% endif %}
    {% if admin or user|is_staff:object %}
        <a href="{% url "beamline-projects" fac=object.acronym %}" class="pull-right">
            <i class="bi-briefcase icon-2 icon-fw"></i><br/>
            <span class="tool-label">Projects</span>
        </a>
        <a href="{% url "beamline-submissions" fac=object.acronym %}" class="pull-right">
            <i class="bi-journal-medical icon-2 icon-fw"></i><br/>
            <span class="tool-label">Submissions</span>
        </a>
    {% endif %}
{% endblock %}

{% block folio-statusbar-style %}{% if object.kind != 'village' %}bg-{{ object.state }}{% endif %}{% endblock %}

{% block folio-statusbar %}
        {% if object.kind != 'village' %}
            <h3 class="hidden-xs no-vmargin">
                <span class="label label-info text-condensed">{{ object.get_state_display }}</span>
            </h3>
            <div>
                {{ object.description }}
            </div>
        {% elif object.description.strip %}
            <div>{{ object.description }}</div>
        {% endif %}
{% endblock %}

{% block folio-content %}
    <div class="minitron bg-transparent">
        <div class="row narrow-gutter">
            {% if object.active_config.techniques.count or object.kind == 'beamline' or object.kind == 'equipment' %}
                <div class="col-xs-12">
                    {% include "beamlines/specs.html" with facility=object %}
                </div>
            {% endif %}
        </div>
        {% if user|is_staff:object or admin %}
            <div class="row narrow-gutter">
                <div class="col-sm-12">
                    {% include "projects/sessions-summary.html" with sessions=facility.sessions.relevant.with_shifts beamtimes=facility.beamtimes.relevant.with_shifts %}
                </div>
            </div>

            <div class="row narrow-gutter">
                {% for cycle in cycles %}
                    <div class="col-xs-12 col-sm-6">
                        {% include "projects/beamline-cycle.html" %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row narrow-gutter">
            {% if object.children.count %}
                {% with object.children.count as num_children %}
                    {% for fac in object.children.all %}
                        <div class="col-xs-12">
                            {% include "beamlines/specs.html" with facility=fac %}
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock %}