{% extends "page.html" %}
{% load beamlines %}
{% load cycle_tags %}

{% block page-title %}
    <span class="d-none d-sm-inline">Facility &mdash; </span>
    <span class="text-body-secondary">{{ object }}</span>
{% endblock %}

{% block page-pretitle %}
    {{ object.get_kind_display }}
{% endblock %}

{% block page-subtitle %}
    {% for fac in object.utrace reversed %}
        {% if not forloop.last %}
            <a href="{% url 'facility-detail' acronym=fac.acronym %}" title="{{ fac.name }}">{{ fac.acronym }}</a>
            &nbsp;/&nbsp;
        {% else %}
            {{ fac.name }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block page-tools %}
    {% if owner or admin %}
        <a href='{% url "edit-facility" acronym=object.acronym %}'>
            <i class="bi-pencil icon-md icon-fw"></i>
            <br/>
            <span class="tool-label">Edit</span>
        </a>
    {% endif %}
    {% if "employee" in user.roles %}
    {% endif %}
    {% if admin or user|is_staff:object %}
        <a href="{% url "facility-projects" slug=object.acronym %}">
            <i class="bi-briefcase icon-md icon-fw"></i>
            <br/>
            <span class="tool-label">Projects</span>
        </a>
        <a href="{% url 'facility-publication-list' object.acronym %}">
            <i class="bi-journals icon-md icon-fw"></i>
            <br/>
            <span class="tool-label">Publications</span>
        </a>

        {% if owner or admin %}
            <a href='{% url "facility-config-detail" acronym=object.acronym %}'>
                <i class="bi-sliders2-vertical icon-md icon-fw"></i>
                <br/>
                <span class="tool-label">Settings</span>
            </a>
            <a href='{% url "facility-feedback-list" facility=object.acronym %}'>
                <i class="bi-list-stars icon-md icon-fw"></i>
                <br/>
                <span class="tool-label">Feedback</span>
            </a>
        {% endif %}
        <a href="{% url 'beamline-schedule' object.acronym %}">
            <i class="bi-calendar2-range icon-md icon-fw"></i>
            <br/>
            <span class="tool-label">Calendar</span>
        </a>
        <a href="{% url "facility-proposals" slug=object.acronym %}">
            <i class="bi-journal-medical icon-md icon-fw"></i>
            <br/>
            <span class="tool-label">Proposals</span>
        </a>
    {% endif %}
{% endblock %}

{% block page-status-style %}
    callout
    {% if object.state == object.States.commissioning %}
        callout-warning
    {% elif object.state == object.States.decommissioned %}
        callout-secondary
    {% else %}
        callout-success
    {% endif %}
{% endblock %}

{% block page-status-bar %}
    {% if object.kind != object.Types.village %}
        <span class="status-badge badge bg-info text-condensed my-2">{{ object.get_state_display }}</span>
    {% endif %}
    <div>
        <small class="text-body-secondary">Description:</small><br/>
        {{ object.description|default:"&mdash;" }}
    </div>
    {% if object.children.count %}
    <div>
        <small class="text-body-secondary">Sub-Units:</small><br/>
        {% for fac in object.children.all %}
            <a href="{% url 'facility-detail' acronym=fac.acronym %}" title="{{ fac.name }}">
                <span class="badge bg-primary m-1">{{ fac.acronym }}</span>&nbsp;
            </a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block page-content %}
    <div class="bg-transparent">
        <div class="row g-2">
            {% if object.active_config.techniques.count or object.kind == 'beamline' or object.kind == 'equipment' %}
                <div class="col-12">
                    {% include "beamlines/specs.html" with facility=object %}
                </div>
            {% endif %}
        </div>
        {% if user|is_staff:object or admin %}
        <div class="row g-2">
            <div class="col-sm-12">
                {% include "projects/sessions-summary.html" with sessions=facility.sessions.relevant.with_shifts beamtimes=facility.beamtimes.relevant.with_shifts %}
            </div>
        </div>
        {% endif %}
        <div class="row g-2">
            {% for cycle in cycles %}
                <div class="col-md-6">
                    {% include "projects/beamline-cycle.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}