{% extends 'page.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet"/>
{% endblock %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dateinput').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayHighlight: true,
                clearBtn: true
            });

            $('.combine input').change(function () {
                var fields = ['staff', 'maintenance', 'beamteam', 'purchased'];
                var total = 0;
                for (i = 0; i < fields.length; i++) {
                    total = total + parseInt($('input#id_time_' + fields[i]).val());
                }
                var diff = 100 - total;
                if (diff >= 0) {
                    $('input#id_time_user').val(diff);
                } else {
                    $(this).val(parseInt($(this).val()) - 1);
                }
            });


        });
    </script>
{% endblock %}
{% block page-classes %}p-5{% endblock %}
{% block page-pretitle %}Beamline Form{% endblock %}
{% block page-title %}{{ form.helper.title }}{% endblock %}
{% block page-content %}
    {% crispy form form.helper %}
{% endblock %}

