{% extends "page.html" %}
{% load beamline_tags %}


{% block page-title %}<span class="text-muted">{{ object.acronym }}</span>{% endblock %}

{% block page-pretitle %}
    Laboratory
{% endblock %}

{% block page-subtitle %}
    {{ object.description }}
{% endblock %}

{% block page-tools %}
    <a href="{% url 'lab-history' pk=object.pk %}" class="pull-right">
        <i class="bi-clock icon-md icon-fw"></i><br/>
        <span class="tool-label">History</span>
    </a>
{% endblock %}

{% block page-status-style %}{% if object.available %}bg-success-subtle{% else %}bg-tertiary{% endif %}{% endblock %}

{% block page-status-bar %}
    <h3 class="my-0"><span class="badge bg-info text-condensed">{% if object.available %}Available{% else %}Not
        Available{% endif %}</span>
    </h3>
    <div>
        <small class="text-wide text-muted">Workspaces:</small>
        <br/>{% for ws in lab.workspaces.all %}{{ ws.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
    <div>
        <small class="text-wide text-muted">Required Permissions:</small>
        <br/>
        {% for perm in lab.permissions.all %}
            {{ perm.code }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            &nbsp;
        {% endfor %}
    </div>
{% endblock %}

{% block page-content %}
    <div class="row my-3">
        {% for workspace in lab.workspaces.all %}
            <div class="col-xs-6 col-sm-4">
                <div class="card {% if not workspace.available %}bg-danger{% endif %}" style="min-height: 200px;">
                    <div class="card-header">
                        <h5 class="m-0">{{ workspace.name }}</h5>
                        <small>{{ workspace.description }}</small>
                    </div>

                    {% with workspace.sessions.active.all as sessions %}
                        {% if not sessions.exists %}
                            <div class="empty">
                                Workspace not in use
                            </div>
                        {% else %}
                            {% include 'projects/lab_permit-summary.html' with session=sessions.first %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}