{% extends "folio.html" %}
{% load beamline_tags %}


{% block page_heading %}<span class="hidden-xs">Laboratory &mdash; </span>
    <span class="text-muted">{{ object.acronym }}</span>{% endblock %}

{% block folio-title %}
    {{ object.name }}
{% endblock %}

{% block folio-subtitle %}
    {{ object.acronym }}
{% endblock %}

{% block folio-tools %}
    <a href="{% url 'lab-history' pk=object.pk %}" class="pull-right">
        <i class="bi-clock icon-2 icon-fw"></i><br/>
        <span class="tool-label">History</span>
    </a>
{% endblock %}

{% block folio-statusbar-style %}{% if object.available %}bg-success{% else %}bg-darken{% endif %}{% endblock %}

{% block folio-statusbar %}
    <h3 class="no-vmargin"><span class="label label-info text-condensed">{% if object.available %}Available{% else %}Not
        Available{% endif %}</span>
    </h3>
    <div>
        <small class="text-wide text-muted">Workspaces:</small>
        <br/>{% for ws in lab.workspaces.all %}{{ ws.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
    <div>
        <small class="text-wide text-muted">Required Permissions:</small>
        <br/>{% for perm in lab.permissions.all %}{{ perm.code }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>

{% endblock %}

{% block folio-content %}
    <div class="minitron bg-transparent">
        <div class="row narrow-gutter">
            <div class="col-xs-12">
                {{ object.description }}
                <hr class="hr-xs"/>
            </div>
        </div>
        <div class="row narrow-gutter">
            {% for workspace in lab.workspaces.all %}
                <div class="col-xs-6 col-sm-4">
                    <div class="tinytron border-3d {% if not workspace.available %}bg-danger{% endif %}"
                         style="min-height: 200px;">
                        <h5 class="no-vmargin">{{ workspace.name }}</h5>
                        <div class="text-condensed" style="font-size: 90%;">{{ workspace.description }}</div>
                        <hr class="hr-xs"/>
                        {% with workspace.sessions.active.all as sessions %}
                            {% if not sessions.exists %}
                                <div class="empty">
                                    Workspace not in use
                                </div>
                            {% else %}
                                {% include 'projects/lab_permit-summary.html' with session=sessions.first %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}