{% extends "page.html" %}
{% load static %}
{% load itemlist %}
{% load beamlines %}

{% block extra_css %}
    <style media="screen">
        svg {
            display: block;
            width: 100%;
            height: auto;
            max-height: 950px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        svg path.beamline {
            fill: none;
            stroke: #ccc;
            stroke-width: 5;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: none;
            stroke-opacity: 0.25;
            transition: all 0.2s ease-in-out;
        }
        svg path.active {
            stroke: #0e84b5;
            stroke-width: 15;
            stroke-opacity: 1;
        }
        svg path.highlight {
            stroke: #0e84b5;
            stroke-opacity: 1;
        }
    </style>
{% endblock %}

{% block page-title %}{% itemlist_heading %}{% endblock %}
{% block page-tools %}
    <a href="{% url 'beamline-list' %}" class="pull-right">
        <i class="bi-list-ol icon-md icon-fw"></i><br>
        <span class="tool-label">Facility List</span>
    </a>
{% endblock %}
{% block page-content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% include "itemlist/filters.html" %}
            </div>
            <hr/>
            <div class="col-sm-7">
                {% include "beamlines/beamlines-drawing.svg" %}
            </div>
            <div class="col-sm-5">
                <div class="beamline-info">
                    {% include "beamlines/selector-list.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="application/javascript">
        $(document).on('mouseenter', 'tr[data-acronym]', function() {
            const $row = $(this);
            $('path.active').removeClass('active');
            $(`#${$row.data("acronym")}`).addClass('active');
        });
        $(document).ready(function() {
            let highlighted = [];
            $('tr[data-acronym]').each(function(el){
                highlighted.push(`#${$(this).data("acronym")}`);
            });
            $('path.highlight').removeClass('highlight');
            $(highlighted.join(',')).addClass('highlight');
            console.log("Highlighted beamlines: ", $(highlighted.join(',')).length);
        });
    </script>
{% endblock %}