
{% load beamlines %}

<div class="py-3">
    <div class="row">
        <div class="col-sm-6">
            {% include "beamlines/fields/beamline-info.html" with object=facility hide_description=True %}
        </div>
        <div class="col-sm-6">
            {% for technique, items in facility.active_techniques.items %}
                <div class="text-condensed d-flex flex-row align-items-center"
                     title="{{ technique.get_category_display }} ({{ item.track.acronym }} Track)"
                >
                    <span class="me-auto overflow ellipsis">{{ technique }}</span>
                    {% for item in items %}
                        {% if item.config.facility != facility %}
                            <span class="badge bg-secondary m-1">{{ item.track.acronym }}</span>
                        {% elif not item.track.require_call %}
                            <span class="badge bg-warning m-1">{{ item.track.acronym }}</span>
                        {% else %}
                            <span class="badge bg-success m-1">{{ item.track.acronym }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if forloop.last %}
                    <hr class="hr-xs"/>
                    <span class="text-condensed">
                        <i class="bi-square-fill text-success"></i>&nbsp;During Calls
                        <i class="bi-square-fill text-warning"></i>&nbsp;Outside of Calls
                    </span>
                {% endif %}
            {% empty %}
                <div class="empty p-5">No Techniques Configured</div>
            {% endfor %}
        </div>
    </div>
</div>
