
{% load beamlines %}

<div class="py-3">
    <div class="row">
        <div class="col-sm-6">
            {% include "beamlines/fields/beamline-info.html" with object=facility hide_description=True %}
        </div>
        <div class="col-sm-6">
            {% for item in facility.active_techniques %}
                <div class="overflow ellipsis text-condensed"
                     title="{{ item.technique.get_category_display }} ({{ item.track.acronym }} Track)">
                    {% if item.config.facility != facility %}
                        <i class="bi-circle-fill text-secondary"></i>
                    {% elif not item.track.require_call %}
                        <i class="bi-circle-fill text-warning"></i>
                    {% else %}
                        <i class="bi-circle-fill text-success"></i>
                    {% endif %}
                    {{ item.technique }} {% if item.config.facility != facility %} &mdash;
                    {{ item.config.facility.acronym }}{% endif %}
                </div>
                {% if forloop.last %}
                    <hr class="hr-xs"/>
                    <span class="text-condensed">
                        <i class="bi-circle-fill text-success"></i>&nbsp;Only During Calls
                        <i class="bi-circle-fill text-warning"></i>&nbsp;Only Outside of Calls
                    </span>
                {% endif %}
            {% empty %}
                <div class="empty" style="padding: 3em 0;">No Techniques Configured</div>
            {% endfor %}
        </div>
    </div>
</div>
