{% extends "scheduler/selector.html" %}

{% block selector_content %}
    <ul class="list-group list-group-flush" id="scheduler-selector-list">
        {% for member in staff %}
            <li id="staff-member-{{ member.username }}"
                class="list-group-item {% if schedule.state != 'draft' %}event-src{% endif %}"
                data-event='{"staff": "{{ member.username }}", "tags": [] }'
            >
                <div class="d-flex flex-row align-items-center justify-content-start py-1 gap-2">
                    <img class="profile-img m-0" src="{{ member.get_photo }}"
                         alt="{{ member.username }}'s photo"
                         onerror="this.src='/static/img/blank-profile.png';"
                    />
                    <div>{{ member }}</div>
                    <div title="Scheduled Shifts" id="stats-{{member.pk}}" class="ms-auto badge rounded-pill bg-danger stats"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}