{% load samples_tags %}
{% load static %}
{% load markup %}
<div class="col-sm-6">
    <div class="card my-2">
        <div class="card-header">
            <h4 class="text-condensed my-1">{{ sample.name }}</h4>
            <p class="text-body-secondary">{{ sample.description }}</p>
        </div>
        <div class="card-body">
            <div class="text-condensed">
                <p style="font-weight: 900; font-size: 150%; margin-bottom: 0;">{{ sample.signal|upper }}</p>
                <p><strong>{{ sample.hazards_text }}</strong></p>
                <div>{{ sample.precautions_text|markdown }}</div>
            </div>

            <div class="text-center">
                <div class="pictogram-box">
                    {% for hz in sample.pictograms %}
                        <img src="{% pictogram_url hz %}" title="{{ hz.name }}">
                    {% endfor %}
                </div>
            </div>
            <hr/>
            <div class="text-condensed text-body-secondary">
                See Safety Data Sheet for further information. Contact Health and Safety Department with questions
            </div>
        </div>
    </div>
</div>