{% load samples_tags %}
{#<div class="d-flex flex-row justify-content-start align-items-center">#}
{#{% for pic in pictograms %}#}
{#<img class="media-object" width="{{size}}" height="{{size}}" src="{% pictogram_url pic %}" title="{{pic.name}}" data-sample-hazard="{{pic.pk}}">#}
{#{% endfor %}#}
{#<span class="ms-auto text-{{signal}}" style="line-height: {{size}}px;">{{signal.upper}}</span>#}
{#</div>#}

<div class="pictogram-box pictogram-sm">
    {% for hz in pictograms %}
        <img src="{% pictogram_url hz %}" title="{{ hz.name }}" alt="{{ hz.name }}" class="{% if hz.extra %}extra-pictogram{% endif %}"/>
    {% endfor %}
</div>