{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div style="margin: 5em;">
<div class="container-fluid">
	<div class="panel panel-info">
		<div class="panel-heading">
			{{record.names}}
		</div>
		<div class="panel-body">
			<ul class="col-sm-9">
			<li><h4>Reference Codes:</h4>
				<ul>
					{% for key, code in record.codes.items %}<li><strong>{{key|upper}}:&nbsp;</strong> {{code}}</li>{% endfor %}
				</ul>
			<li><h4>Hazards:</h4>
				<ul>
					{% for hz in record.hazards %}<li>{{hz}}</li>{% endfor %}
				</ul>
			</ul>
			<div class="col-sm-3">
				{% for sg in record.signal %}
					<div class="row" style="text-align: center;">
						<b><img src="{% static 'samples/ghs/' %}{{sg}}.svg" width='75' height="75" alt="{{sg}}"/></b>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}