{% extends "misc/blocks/panel.html" %}
{% block panel_title %}Proposals{% endblock %}
{% block panel_tools %}
    <a href="{% url 'user-proposals' %}" class="pull-right" title="View my proposals">
        <i class="bi-list-ol icon-md icon-fw"></i>
    </a>
    <a href="{% url 'create-proposal' %}" class="pull-right" title="Create New Proposal">
        <i class="bi-plus-lg icon-md icon-fw"></i>
    </a>
{% endblock %}
{% block panel_content %}
    {% if open_cycles.exists %}
        <div class="alert alert-warning">
            {% for open_cycle in open_cycles.all %}
                <p>
                    The call for proposals be scheduled during the period {{ open_cycle.start_date|date }}
                    &ndash; {{ open_cycle.end_date|date }} is currently
                    open with a submission deadline of {{ open_cycle.close_date|date }}.
                </p>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{% url 'create-proposal' %}" class="pull-right">
                            <i class="bi-plus-lg icon-fw"></i>&nbsp;Create a Proposal
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-light text-muted text-center">
            There are currently no open calls for proposals.
        </div>
    {% endif %}

    {% if drafts.count %}
        <div class="row">
            <div class="col-xs-12">
                <h5>
                    Draft Proposal{{ drafts.count|pluralize:",s" }}
                    <span class="badge rounded-circle bg-info pull-right">{{ drafts.count }}</span>
                </h5>
            </div>
        </div>
        <hr class="hr-xs"/>
        <div class="row scroll-box" style="max-height: 200px">
            <ul class="col-xs-12 list-unstyled list-ruled">
                {% for proposal in drafts %}
                    <li class="text-condensed">
                        <a class="pull-right" href='{% url "edit-proposal" pk=proposal.pk %}'
                           data-bs-toggle="tooltip" title="Edit proposal"><i class="bi-pencil-square"></i>
                        </a>
                        <span class="overflow ellipsis"
                              title="Modified {{ proposal.modified|timesince }} ago">{{ proposal.title }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

    {% endif %}
    {% if submitted.count %}
        <div class="row">
            <div class="col-xs-12">
                <h5>Proposal{{ submitted.count|pluralize:",s" }} Being Reviewed
                    <span class="badge rounded-circle bg-info pull-right">{{ submitted.count }}</span>
                </h5>
            </div>
        </div>
        <hr class="hr-xs"/>
        <div class="scroll-box row" style="max-height: 200px;">
            <ul class="col-xs-12 list-unstyled list-ruled">
                {% for proposal in submitted %}
                    <li class="text-condensed">
                        <a class="pull-right" href='{% url "proposal-detail" pk=proposal.pk %}'
                           data-bs-toggle="tooltip" title="View proposal">{% if proposal.clarifications.pending.count %}
                            <i class="bi-chat-right-text text-danger"></i>{% else %}<i class="bi-eye"></i>{% endif %}
                        </a>
                        <span class="overflow ellipsis"
                              title="Modified {{ proposal.modified|timesince }} ago">{{ proposal.title }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

