{% extends "misc/blocks/panel.html" %}
{% block panel_title %}Proposals{% endblock %}
{% block panel_tools %}
    <a href="{% url 'user-proposals' %}" title="View my proposals">
        <i class="bi-list-ol icon-md icon-fw"></i>
    </a>
    <a href="{% url 'create-proposal' %}" title="Create New Proposal">
        <i class="bi-plus-lg icon-md icon-fw"></i>
    </a>
{% endblock %}
{% block panel_body %}
    {% if open_cycles.exists %}
        <div class="card-body bg-info-subtle">
            {% for open_cycle in open_cycles.all %}
                <p>
                    The call for proposals be scheduled during the period {{ open_cycle.start_date|date }}
                    &ndash; {{ open_cycle.end_date|date }} is currently
                    open with a submission deadline of {{ open_cycle.close_date|date }}.
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'create-proposal' %}" class="pull-right">
                            <i class="bi-plus-lg icon-fw"></i>&nbsp;Create a Proposal
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif next_call %}
        <div class="card-body bg-info-subtle">
            The next call for proposals for beamtime to be scheduled during the period
            {{ next_call.start_date|date }} &ndash; {{ next_call.end_date|date }} will open on
            {{ next_call.open_date|date }} with a submission deadline of
            {{ next_call.close_date|date }}.
            <div class="row mt-3">
                <div class="col-sm-12">
                    <a href="{% url 'create-proposal' %}" class="btn btn-sm btn-primary pull-right">
                        <i class="bi-plus-lg icon-fw"></i>&nbsp;Create a Proposal
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card-body text-center">
            There are currently no open calls for proposals.
        </div>
    {% endif %}

    {% if drafts.count %}
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h5 class="mt-3">
                        Draft Proposal{{ drafts.count|pluralize:",s" }}
                        <span class="badge rounded-circle bg-primary pull-right">{{ drafts.count }}</span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="scroll-box col-12" style="max-height: 200px">
                    <ul class="list-unstyled list-ruled">
                        {% for proposal in drafts %}
                            <li class="text-condensed py-1">
                                <a class="overflow ellipsis" href='{% url "edit-proposal" slug=proposal.code %}'
                                   data-bs-toggle="tooltip" title="Edit proposal">
                                    <i class="bi-pencil-square"></i>&emsp;{{ proposal.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if submitted.count %}
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h5 class="mt-3">Proposal{{ submitted.count|pluralize:",s" }} Being Reviewed
                        <span class="badge rounded-circle bg-primary pull-right">{{ submitted.count }}</span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="scroll-box col-12" style="max-height: 200px;">
                    <ul class="list-unstyled list-ruled">
                        {% for proposal in submitted %}
                            <li class="text-condensed py-1">
                                <a class="overflow ellipsis" href='{% url "proposal-detail" slug=proposal.code %}'
                                   data-bs-toggle="tooltip" title="View proposal">
                                    {% if proposal.clarifications.pending.count %}
                                        <i class="bi-chat-right-text text-danger"></i>{% else %}
                                        <i class="bi-eye"></i>{% endif %}&emsp;{{ proposal.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

