{% extends "misc/blocks/panel.html" %}
{% load cycle_tags %}

{% block panel_title %}Reviews{% endblock %}
{% block panel_tools %}
    <a href="{% url 'user-reviews' %}" title="View all my reviews">
        <i class="bi-list-ol icon-md icon-fw"></i>
    </a>
{% endblock %}
{% block panel_body %}
    {% if upcoming_reviews and reviewer %}
    <div class="card-body bg-info-subtle">
        <p>
            Our next round of reviews will start on <strong>{{ next_call.close_date }}</strong>, and we are counting
            on you!
            Please update your areas of expertise before then to be sure we
            match you with the most appropriate proposals.
        </p>
        <div>
            <div class="d-flex flex-row gap-3">
                <a data-modal-url="{% url 'reviewer-opt-out' reviewer.pk %}" class="btn btn-sm btn-primary mb-1">
                    <i class="bi-x-lg icon-fw"></i>&nbsp;Opt-Out
                </a>
                <a href="{% url 'edit-my-reviewer-profile' %}" class="btn btn-sm btn-secondary mb-1">
                    <i class="bi-pencil icon-fw"></i>&nbsp;Update Expertise
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="card-body">
    {% if reviews.pending.count %}
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="my-0">
                        Review{{ reviews.pending.count|pluralize:",s" }} Needing Attention
                        <span class="badge bg-primary pull-right">{{ reviews.pending.count }}</span>
                    </h6>
                </div>
            </div>
            <hr class="hr-xs bottom-edge"/>
            <div id="review-list" class="row scroll-box" style="max-height: 200px;">
                <ul class="list-unstyled list-ruled col-sm-12">
                    {% for review in reviews.pending %}
                        <li class="text-condensed lh-lg">
                            <a class="pull-right" href='{% url "edit-review" pk=review.pk %}'
                               data-bs-toggle="tooltip" title="Review Proposal"><i class="bi-pencil-square"></i></a>
                            <span class="overflow ellipsis" data-bs-toggle="tooltip"
                                  title="Due in {{ review.due_date|timeuntil }}">{{ review }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
    {% elif user.is_reviewer %}
        <p>
            There are currently no reviews needing your immediate attention.
            Thanks for being a part of our review team!
        </p>
    {% endif %}
    </div>

    {% if user.is_reviewer %}
        {% if user.reviewer.committee %}
            <div class="card-body bg-info-subtle">
                <p>You are a Committee member in the <strong>{{ user.reviewer.committee.name }}
                    ({{ user.reviewer.committee.acronym }})</strong> review track.</p>
                <hr class="hr-xs">
                {% if committee_proposals %}
                    <a class="pull-right" href='{% url "personal-prc-reviews" %}'><i
                            class="bi-pencil-square icon-fw"></i></a>
                    <span class="overflow ellipsis">Manage Reviews for <span
                            class="badge progress-bar-info">{{ committee_proposals }}</span> Proposals</span>
                {% endif %}
            </div>
        {% endif %}

        <div class="card-body bg-warning-subtle techniques">
            <h6>Expertise</h6>
            {% for tech in user.reviewer.techniques.all %}
                {% if forloop.first %}
                    <hr class="hr-xs"/>
                {% endif %}
                <span class="badge bg-primary" title="{{ tech }}">{{ tech.acronym }}</span>
            {% endfor %}
            {% for area in user.reviewer.areas.all %}
                {% if forloop.first %}
                    <hr class="hr-xs"/>
                {% endif %}
                <span class="badge bg-success">{{ area }}</span>
            {% endfor %}
        </div>
    {% elif user.can_review %}
        <div class="card-body bg-info-subtle">
            <h6 class="m-0">Help with the Peer Review Process</h6>
            <hr class="hr-xs"/>
            As an expert in your field, we would appreciate your help. Tell us where your expertise lies, and we will
            match you with appropriate proposals during the next cycle.
            <div class="row mt-2">
                <div class="col-sm-12">
                    <a href="{% url 'edit-my-reviewer-profile' %}" class="btn btn-sm btn-success pull-right">
                        <i class="bi-check2"></i>&emsp;I want to help!
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

