{% extends "misc/blocks/panel.html" %}
{% load cycle_tags %}

{% block panel_title %}Reviews{% endblock %}
{% block panel_tools %}
    <a href="{% url 'user-reviews' %}" title="View all my reviews">
        <i class="bi-list-ol icon-md icon-fw"></i>
    </a>
    {% if user.is_reviewer %}
        <a href="{% url 'edit-reviewer-profile' %}" class="pull-right" title="Edit Reviewer Profile">
            <i class="bi-pencil icon-md icon-fw"></i>
        </a>
    {% endif %}
{% endblock %}
{% block panel_content %}
    {% if upcoming_call and reviewer %}
        <p>
            Our next round of reviews will start on <strong>{{ next_call.close_date }}</strong>, and we are counting
            on you!
            Please update your areas of expertise before then to be sure we
            match you with the most appropriate proposals.
        </p>
        <div class="row">
            <div class="col-xs-12">
                <a data-modal-url="{% url 'reviewer-opt-out' reviewer.pk %}" class="btn btn-sm btn-primary mb-1">
                    <i class="bi-x-lg icon-fw"></i>&nbsp;Opt-Out
                </a>
                <a href="{% url 'edit-reviewer-profile' %}" class="btn btn-sm btn-secondary mb-1">
                    <i class="bi-pencil icon-fw"></i>&nbsp;Update Expertise
                </a>
            </div>
        </div>
        <hr class="hr-xxs"/>
    {% endif %}
    {% if reviews.pending.count %}
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="no-vmargin">
                        Review{{ reviews.pending.count|pluralize:",s" }} Needing Attention
                        <span class="badge progress-bar-info pull-right">{{ reviews.pending.count }} of <span
                                title="{{ all_reviews.pending.count }} reviews assigned to you, or still unclaimed">{{ all_reviews.pending.count }}</span> </span>
                    </h4>
                </div>
            </div>
            <hr class="hr-xs bottom-edge"/>
            <div id="review-list" class="row scroll-box" style="max-height: 200px;">
                <ul class="list-unstyled list-ruled col-xs-12">
                    {% for review in reviews.pending %}
                        <li class="text-condensed" style="line-height: 1.7;">
                            <a class="pull-right" href='{% url "edit-review" pk=review.pk %}'
                               data-bs-toggle="tooltip" title="Review Proposal"><i class="bi-pencil-square"></i></a>
                            <span class="overflow ellipsis"
                                  title="Due in {{ review.due_date|timeuntil }}">{{ review }} </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
    {% elif user.is_reviewer %}
            <p>
                There are currently no reviews needing your immediate attention.
                Thanks for being a part of our review team!
            </p>
    {% endif %}

    {% if user.is_reviewer %}
        {% if user.reviewer.committee %}
            <div class="alert alert-info">
                <p>You are a Committee member in the <strong>{{ user.reviewer.committee.name }}
                    ({{ user.reviewer.committee.acronym }})</strong> review track.</p>
                <hr class="hr-xs">
                {% if committee_proposals %}
                    <a class="pull-right" href='{% url "personal-prc-reviews" %}'><i
                            class="bi-pencil-square icon-fw"></i></a>
                    <span class="overflow ellipsis">Manage Reviews for <span
                            class="badge progress-bar-info">{{ committee_proposals }}</span> Proposals</span>
                {% endif %}
            </div>
        {% endif %}

        <div class="alert alert-warning techniques">
            <h5>Expertise</h5>
            {% for tech in user.reviewer.techniques.all %}
                {% if forloop.first %}
                    <hr class="hr-xs"/>
                {% endif %}
                <span class="badge bg-primary" title="{{ tech }}">{{ tech.acronym }}</span>
            {% endfor %}
            {% for area in user.reviewer.areas.all %}
                {% if forloop.first %}
                    <hr class="hr-xs"/>
                {% endif %}
                <span class="badge bg-success">{{ area }}</span>
            {% endfor %}
        </div>
    {% elif user.can_review %}
        <div class="alert alert-info">
            <h4 class="no-margin">Help with the Peer Review Process</h4>
            <hr class="hr-xs"/>
            As an expert in your field, we would appreciate your help. Tell us where your expertise lies, and we will
            match you with appropriate proposals during the next cycle.
            <div class="row">
                <div class="col-xs-12">
                    <a href="{% url 'edit-reviewer-profile' %}" class="btn btn-sm btn-success pull-right">
                        <i class="bi-check2"></i>&emsp;I want to help!
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

