{% extends "misc/blocks/panel.html" %}
{% block panel_title %}Recent Submissions{% endblock %}
{% block panel_tools %}
    <a href="{% url 'user-submissions' %}" title="All submissions">
        <i class="bi-list-ol icon-md icon-fw"></i>
    </a>
{% endblock %}
{% block panel_content %}
    <div class="row">
        <div class="scroll-box col-12" style="max-height: 200px;">
            <table class="table table-sm w-100">
                <tbody>
                {% for submission in submissions %}
                    <tr style="min-width: 0;">
                        <td class="text-body-secondary text-nowrap">
                            <a href='{% url "submission-detail" pk=submission.pk %}'
                               data-bs-toggle="tooltip" title="View Submission">
                                {% if submission.state == submission.STATES.pending %}
                                    <i class="bi-hourglass text-secondary"></i>
                                {% elif submission.state <= submission.STATES.reviewed %}
                                    <i class="bi-hourglass-split"></i>
                                {% elif submission.state == submission.STATES.complete %}
                                    {% if submission.approved %}
                                        <i class="bi-patch-check-fill text-success"></i>
                                    {% else %}
                                        <i class="bi-patch-exclamation-fill text-danger"></i>
                                    {% endif %}
                                {% else %}
                                    {% if submission.proposal.clarifications.pending.count %}
                                        <i class="bi-patch-question-fill text-warning"></i>
                                    {% else %}
                                        <i class="bi-patch-minus"></i>
                                    {% endif %}
                                {% endif %}
                                &nbsp;{{ submission.code }}
                            </a>
                        </td>
                        <td class="text-nowrap">{{ submission.cycle }}</td>
                        <td>
                            <span class="" title="{{ submission.proposal.title }}"
                            >{{ submission.proposal.title| truncatechars:20 }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

