{% extends "misc/blocks/panel.html" %}
{% load static %}
{% load jsonify %}
{% block panel_title %}Publication Keywords{% endblock %}
{% block panel_tools %}
    <a href="{% url 'user-publication-list' %}" class="pull-right" title="View All My Publications">
        <i class="bi-list-ol icon-md icon-fw"></i>
    </a>
    <a href="#0" title="Submit Publication" class="pull-right" data-modal-url="{% url 'add-publication' %}">
        <i class="bi-plus-lg icon-md icon-fw"></i>
    </a>
    {% if matches %}
        <a href="{% url 'claim-publication-list' %}" title="Claim Publications" class="pull-right">
        <span class="icon-stack">
            <i class="bi-link icon-md icon-fw"></i>
            <span class="superscript">
                <span class="badge rounded-circle">{{ matches }}</span>
            </span>
        </span>
        </a>
    {% endif %}

{% endblock %}
{% block panel_content %}
    {% if words %}
        <div id="word-cloud" class="row-fluid text-center"></div>
        <script src="{% static 'publications/word-clouds.js' %}"></script>
        <script>
            $(document).ready(function () {
                const data = {{words|jsonify}};
                make_word_cloud(data, '#word-cloud', {
                    searchURL: '{% url "user-publication-list" %}',
                    searchParam: 'search',
                });
            });
        </script>
    {% else %}
        <div class="empty" style="line-height: 5em;">
            No publications claimed yet
        </div>
    {% endif %}
{% endblock %}
