{% extends "crisp_modals/form.html" %}
{% load markup %}
{% block modal_title %}{{object.note_type.description}}{% endblock %}
{% block modal_body %}
    {{ block.super }}
    <div class="alert" style="max-height: 400px; overflow-y: scroll;">
        {{object.data|urlize|markdown}}
    </div>
{% endblock %}
{% block modal_footer %}
    <button type="submit" value="Submit" class="btn btn-danger pull-right">Resend!</button>
    <button type="button" class="btn btn-secondary pull-left" data-bs-dismiss="modal">Cancel</button>
{% endblock %}