{% load static %}
{% load humanize %}
<ul class="dropdown-menu notifications">
    <li>
        <div class="title">Notifications</div>
        <div class="list">
            <div class="scroller scroll-box">
                <div class="content scroll-content" style="right: -15px;">
                    <ul>
                        {% for note in notifications.relevant.prioritize %}
                        <li class="{% if note.is_active %}active{% endif %}">
                            <a href="#0" data-note-url="{% url 'notification-detail' pk=note.pk %}">
                            <div class="user-content text-wide overflow ellipsis">
                                {{note.title}}<br/>
                                <small style="font-weight: 300;">{{note.modified|naturaltime}}</small>
                            </div>
                            </a>
                        </li>
                        {% empty %}
                        <li><a href="#0">
                            <div class="user-content">No notifications</div>
                        </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer"><a href="{% url 'notification-list' %}">View all ({{ notifications.count }})</a></div>
    </li>
</ul>

<script>
$(document).ready(function(){
    $('a[data-note-url]').click(function(){
        $('#modal-form').load($(this).attr('data-note-url'));
    });
});
</script>
