{% load static %}
{% load humanize %}
<ul class="dropdown-menu dropdown-menu-end">
    <li>
        <div class="dropdown-item title">Notifications</div>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    {% for note in notifications.relevant.prioritize %}
        <li>
            <a class="dropdown-item d-flex align-items-center" href="#0"
               data-modal-url="{% url 'user-notification-detail' pk=note.pk %}">
                <div class="overflow ellipsis">
                    {{ note.title }}&nbsp;<span class="text-body-secondary">{{ note.modified|naturaltime }}</span>
                </div>
            </a>
        </li>
    {% empty %}
        <li>
            <div class="dropdown-item d-flex align-items-center">No notifications</div>
        </li>
    {% endfor %}
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <a class="dropdown-item d-flex align-items-center" href="{% url 'user-notification-list' %}">View all
            ({{ notifications.count }})</a>
    </li>
</ul>
