{% load static %}
{% load msgs %}
{% load misc %}
{% load crispy_forms_tags %}


{% block form_fixed_assets %}
    <link rel="stylesheet" href="{% static 'css/datetimepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'dynforms/dynforms.min.css' %}" type="text/css" media="screen"/>

    <script src="https://cdn.jsdelivr.net/npm/jquery-form@3.50.0/jquery.form.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}

{% block form_assets %}
{% endblock %}

<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="Form" aria-hidden="true">
    <div class="modal-dialog {% block modal_size %}modal-md{% endblock %}">
        <div class="modal-content">
            <div class="modal-header">

                <h3 class="modal-title">
                    {% block form_title %}{{ form.helper.title }}{% endblock %}
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">
                        <i class="bi-x-lg"></i></button>
                </h3>
            </div>
            <div class="modal-body" id="form-content">
                {% block form_body %}{% crispy form form.helper %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block form_init %}
    <script type="text/javascript">
        function initForm() {
            // If you overwrite this block you must implement this function with exact
            // same name
        }
    </script>
{% endblock %}
{% block form_js %}
    <script type="text/javascript">
        function initModal() {
            var myForm = $('#modalForm');
            myForm.find(".chosen").chosen({
                placeholder_text_single: "Select an option",
                search_contains: true,
                allow_single_deselect: true,
                disable_search_threshold: 8
            });
            myForm.find(".chosen").trigger("change");
            myForm.modal('show');
            myForm.find(':submit').click(function (e) {
                e.preventDefault();
                $(this).html('<i class="bi-arrow-repeat icon-spin"></i>');
                myForm.find("form").ajaxSubmit({
                    type: 'post',
                    success: showResponse,
                    data: {'submit': $(this).attr('value')}
                });
            });
            //Date picker
            myForm.find('.dateinput').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayHighlight: true,
                clearBtn: true
            });

            //Date time picker
            myForm.find('.datetimeinput').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true,
                todayHighlight: true,
                minuteStep: 15,
                clearBtn: true
            });

            //Time picker
            myForm.find('.timeinput').each(function () {
                $(this).datetimepicker({
                    template: false,
                    minuteStep: $(this).data('minstep'),
                    showSeconds: false,
                    showMeridian: false,
                    defaultTime: false
                });
            });


            myForm.find('.shift_input').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayHighlight: true,
                orientation: "auto",
                clearBtn: true
            });

            myForm.on('keypress keydown keyup', '.dateinput, .datetimeinput, .shift_input', function (e) {
                e.stopPropagation(); // Don't allow direct editing
                return false;
            });

            // Enable popovers
            myForm.find("[data-toggle='popover']").popover({
                container: 'body'
            });

            // enable tooltips
            myForm.find("[title]:not([data-toggle='popover'])").tooltip({
                container: 'body',
                viewport: {selector: 'body', padding: 5}
            });

            // configure niceScrollers
            myForm.find(".scrollbox").niceScroll({
                cursorborder: "3px solid transparent",
                cursorwidth: "12px",
                autohidemode: "leave",
                cursoropacitymax: 0.7
            });
            myForm.find(".scrollbox").scroll(function () {
                $(this).getNiceScroll().resize()
            });
            // configure next urls
            /*myform.find("a.next-url").each(function(){
                var url = $(this).attr("href");
                $(this).attr("href", url + '?next=' + window.location.href)
            });
            */

            // Empty modal on close
            myForm.on('hidden.bs.modal', function() {
                //myForm.empty();
            });
            // load custom init
            initForm();
        }

        function showResponse(response, statusText, xhr, $form) {
            var newForm = $(response).find('.modal-content'); // Body of new form
            var myform = $("#modalForm");
            myform.find("[title]:not([data-toggle='popover'])").tooltip('destroy');
            if (newForm.length) {
                myform.find(".modal-content").html(newForm.first().html());  // replace only content
                initModal();
            } else {
                if (response.pk != null) {
                    myform.attr('data-new-object-pk', response.pk);
                    myform.attr('data-new-object-name', response.name);
                }
                if (response.url != null) {
                    if (response.target != null) {
                        $(response.target).load(response.url, function () {
                            myform.modal('hide');
                        });
                    } else if (response.url) {
                        window.location.replace(response.url);
                    } else {
                        window.location.reload();
                    }
                } else {
                    myform.modal('hide');
                }
            }
        }
        {% if not form.errors %}
            initModal();
        {% endif %}

    </script>
{% endblock %}
{% block extra-form-js %}
{% endblock %}
