<div id="{{block.code}}" class="col-sm-12 col-md-6 col-lg-4 ">
    <div class="card mb-3 {% block panel_classes %}{% endblock %}">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
            <h5 class="card-title m-0">{% block panel_title%}{% endblock %}</h5>
            <div class="toolbox">
            {% block panel_tools %}{% endblock %}
            </div>
        </div>
        <div class="card-body">
        {% block panel_content %}{% endblock %}
        </div>
    </div>
</div>
{% if block.reload_freq > 0 and block.src_url %}
<script>
	setInterval( function(){
        $("#{{block.code}} > .card-body").load('{% url block.src_url %}');
		}, {{block.reload_freq}} * 6000
    );
</script>
{% endif %}
