{% load beamlines %}

{% get_ancillaries data=data as ancillaries %}

<div class="controls {{ repeatable }}" id="{{ field.name }}-controls">
    <div class="row">
        <div class="field-group-item col-sm-6 mb-2">

            <select name="{{ field.name }}.labs" id="{{ field.name }}-labs" class="selectize form-control shorten"
                    {% if 'multiple' in field.options %}multiple="multiple"{% endif %}
                    data-placeholder="Select labs ...">
                {% for item in ancillaries.labs %}
                    <option value="{{ item.pk }}"
                            {% if item.selected %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <label for="{{ field.name }}-labs" class="sub-label">Labs</label>
        </div>
        <div class="field-group-item col-sm-6 mb-2">

            <select name="{{ field.name }}.equipment" id="{{ field.name }}-equipment"
                    class="selectize form-control shorten"
                    {% if 'multiple' in field.options %}multiple="multiple"{% endif %}
                    data-placeholder="Select equipment ...">
                {% for item in ancillaries.equipment %}
                    <option value="{{ item.pk }}"
                            {% if item.selected %}selected="selected"{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <label for="{{ field.name }}-equipment" class="sub-label">Equipment</label>
        </div>
    </div>
</div>