{% if choices %}
    <span class="field-group-item col-xs-12">
    <label>Tags / Priority Areas</label>
    <select name="{{ field_name }}" multiple="multiple" aria-label="{{ field.label }}"
            class="select form-control" data-placeholder="Select all that apply">
        {% for tag, selected in choices %}
            <option value="{{ tag.pk }}"
                    {% if selected %}selected="selected" {% endif %}>{{ tag }}
        </option>
        {% endfor %}
    </select>
</span>
{% endif %}
