{% extends "base.html" %}


{% load static %}
{% load dynforms %}
{% block extra_css %}
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'samples/sample.min.css' %}" rel="stylesheet"/>
    {% endblock %}

{% block pre_js %}
        <script src="{% static 'dynforms/dynforms.min.js' %}"></script>
{% endblock %}

{% block page-title %}{{ form_title }}{% endblock %}
{% block body_class %}extended-help{% endblock %}
{% block content %}
    <div id="proposal-form" class="page col-xs-12 col-sm-9">
        {% include "dynforms/form.html" %}
    </div>
    <div class="col-sm-3 d-none d-sm-block">
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(window).bind('beforeunload', function () {
            if ($("[data-dynform-dirty]").length) {
                return 'Form contains unsaved changes.';
            }
        });
        $(document).ready(function () {
            // Initialize the dynform
            $('#proposal-form form').formProgress({
                update: function(percent) {
                    console.log(`Form progress: ${percent}%`);
                },
            });
        });
    </script>
{% endblock %}