{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet"/>
    {% endblock %}

{% block pre_js %}
        <script src="{% static 'dynforms/dynforms.js' %}"></script>
{% endblock %}

{% block page-title %}{{ form.helper.title }}{% endblock %}

{% block content %}
    <div class="page">
        <div class="page-body">
            <div class="df-form">
                {% if cycle %}
                    <div class="p-3 bg-darken">
                        <h4 style="margin: 0;"><strong>Period of Interest</strong> &mdash; Cycle {{ cycle }}</h4>
                        <div width="100%" class="timeline" id="cycle-timeline" data-bs-toggle="tooltip" title="Timeline"></div>
                        <div class="spacer"></div>
                    </div>
                {% endif %}
                {% crispy form form.helper %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-form@3.50.0/jquery.form.min.js"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    {% if cycle %}
        {% include "proposals/cycle-timeline.html" with object=cycle %}
    {% endif %}
    <script type="text/javascript">
        $('.dateinput').datetimepicker({
            format: "yyyy-mm-dd",
            startDate: '{{cycle.start_date|date:"Y-m-d"}}',
            multidate: true,
            orientation: "top",
            endDate: '{{cycle.last_date|date:"Y-m-d"}}',
            clearBtn: true,
            autoclose: false,
            todayHighlight: true
        });

        $('.dateinput').on('keypress', function (e) {
            e.preventDefault(); // Don't allow direct editing
        });
    </script>
{% endblock %}