{% extends "crisp_modals/form.html" %}
{% load crispy_forms_tags %}

{% block modal_title %}Manage Shift Request{% endblock %}
{% block modal_body %}
<div class="row">
	<div class="col-12">
		<table class="profile table">
			<tbody>
			<tr>
				<th class="item">Project</th>
                <td><a href="{% url 'project-detail' pk=object.project.pk  %}">{{object.project}}</a></td>
			</tr>
			<tr>
				<th class="item">Shifts Requested</th>
				<td>{{object.shift_request}}</td>
			</tr>
			<tr>
				<th class="item">Justification</th>
				<td>{{object.justification}}</td>
			</tr>
			<tr>
				<th class="item">Comments</th>
				<td>{{object.comments}}</td>
			</tr>
			<tr>
				<th class="item">Preferred Dates</th>
				<td>{{object.good_dates}}</td>
			</tr>
			<tr>
				<th class="item">Undesirable Dates</th>
				<td>{{object.bad_dates}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
{% crispy form form.body %}
{% endblock %}
