{% extends "forms/modal.html" %}
{% load crispy_forms_tags %}

{% block form_title %}{{ form.helper.title }}{% endblock %}
{% block form_body %}
<div class="progress-xs progress" style="margin: 0.5em 0;">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
         aria-valuenow="{{wizard.steps.step1}}"
         aria-valuemin="0" aria-valuemax="{{wizard.steps.count}}"
         style="width: {% widthratio wizard.steps.step0 wizard.steps.count 100 %}%"></div>
</div>
<div id="error_div" class="alert alert-danger hide" role="alert"><button type="button" class="close" data-dismiss="alert"><i class="bi-x"></i></button>
</div>
<form id="wizard" action="{{form.helper.form_action}}" method="post">
    {{ wizard.management_form }}
    {% crispy wizard.form %}
</form>
{% endblock %}

{% block form_init %}
<script type="text/javascript">
function initForm() {
	var FORMATS = {
			'doi': "eg. 10.10.1038/nphys1170",
			'isbn': "eg. 978-3-16-148410-0",
			'patent': "eg. CA2458971",
			'none': "Not Required"
	}
	var HELP_TEXT = {
			'doi': "Digital Object Identifier for articles or conference proceedings",
			'isbn': "International Standard Book Number for books, chapters, or theses",
			'patent': "Patent Number",
			'none': "Thesis with no ISBN available"
	}
	var FIELDS = {
			'chapter': ['main_title','editor','date'],
			'patent': ['title','authors','date'],
			'msc_thesis': ['title','authors','publisher','date','address'],
			'phd_thesis': ['title','authors','publisher','date','address'],
	}
    $('#hint_id_0-reference').text(HELP_TEXT[$('select[name="0-reference"]').val()]);
    $('input[name="0-code"]').attr('placeholder', FORMATS[$('select[name="0-reference"]').val()]);
    $('input[name="0-code"]').attr('required', true);
    $(".modal-update").change(function(e) {
        $('#hint_id_0-reference').text(HELP_TEXT[$('select[name="0-reference"]').val()]);
        $('input[name="0-code"]').attr('placeholder', FORMATS[$('select[name="0-reference"]').val()]);
        if ($('select[name="0-reference"]').val() != 'none') {
            $('input[name="0-code"]').attr('required', true);
            $('input[name="0-code"]').attr('readonly', false);
        } else {
            $('input[name="0-code"]').removeAttr('required');
            $('input[name="0-code"]').attr('readonly', true);
        }
    });
    var kind = $('input[name="1-kind"]').val() || $('select[name="1-kind"]').val();
    if (kind && kind in FIELDS) {
        for (var i=0, f; f = FIELDS[kind][i]; i++) {
            $('input[name="1-'+f+'"]').attr('required', true);
        }
    }
}
</script>
{% endblock %}
