{% extends 'page.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load pubstats %}


{% block page-pretitle %}Form{% endblock %}
{% block page-title %}Review Publication{% endblock %}

{% block page-content %}
		<div class="row">
		{% with object|get_matches as matches %}
			<div class="col-sm-12">
				{% if owner and form.owner_helper %}
					{% crispy form form.owner_helper %}
				{% else %}
					{% crispy form form.helper %}
				{% endif %}
			</div>

			<div class="col-sm-12">
              <div class="alert alert-warning">
				<h4>Activity</h4>
                <hr/>
                <ul class="activity-log list-unstyled text-condensed">
                {% for log in object.history %}
                    <li class=" d-flex flex-row align-items-center {{ log.kind }}-log">
                        <div class="d-flex flex-column" style="min-width: 0;">
                            <div>{{ log.description }}</div>
                            {% if log.reference %}<div class="text-truncate">{{ log.reference }}</div>{% endif %}
                            <div class="text-body-secondary">by {{ log.user_name }}, {{ log.created|timesince }} ago</div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
              </div>
				{% if matches %}
				<legend>Duplicate Titles</legend>
				  <ul class="history">
					{% for m in matches %}
					  <li class="highlight">
						<strong>{{m.get_kind_display}}:</strong> {{m.cite|safe}}
					  </li>
					{% endfor %}
				  </ul>
				{% endif %}
			</div>
		{% endwith %}
	</div>
{% endblock %}
