@use 'sass:list';

$color_17: #9467bd;
$color_18: #8c564b;
$color_19: #e377c2;
$color_20: #7f7f7f;
$color_21: #bcbd22;
$color_22: #17becf;
$color_23: #9421a7;
$color_24: #7a98bf;
$color_25: #f33;
$color_26: #0e84b5;
$color_27: #c12e2a;
$color_28: #c65d09;
$color_29: #00a000;
$color_30: #74c476;
$color_31: #fd8d3c;
$color_32: #f6d65a;
$color_33: #d9534f;
$color_34: #6baed6;
$color_36: #d65c4f;

$color_16: #d62728;
$color_38: rgba(117, 80, 123, 0.6);
$color_39: #9edae5;
$color_40: #c5b0d5;
$color_41: #ffbb78;
$color_42: #98df8a;
$color_43: #ddd;
$color_44: rgba(0, 0, 0, 0.5);
$color_45: rgba(255, 255, 255, 0.25);
$color_46: #333;


$color_37: rgba(0, 0, 0, 0.45);

$body-font-family: "Fira Sans", sans-serif;
$monospace-font-family: "Fira Code", monospace;
$condensed-font-family: "Fira Sans Condensed", sans-serif;
$icon-font-family: bootstrap-icons;
$default-font-family: inherit;
$background-color_1: #eee;
$background-color_2: #75507b;
$background-color_3: rgba(127, 100, 181, 0.1);
$background-color_4: #3d3c3c;
$background-color_5: #424141;
$background-color_6: #484747;
$background-color_7: rgba(255, 255, 255, 0.5);
$background-color_8: inherit;
$background-color_9: #fff;
$background-color_10: #e5e5e5;
$background-color_11: rgba(0, 0, 0, 0);
$background-color_12: rgba(0, 0, 0, 0.035);
$background-color_13: #f5f5f5;
$background-color_14: #707070;
$background-color_15: #fefcaf;
$background-color_16: #aff3fe;
$background-color_17: #affeb9;
$background-color_18: #aec7e8;
$background-color_19: #ffbb78;
$background-color_20: #98df8a;
$background-color_21: #ff9896;
$background-color_22: #c5b0d5;
$background-color_23: #c49c94;
$background-color_24: #f7b6d2;
$background-color_25: #c7c7c7;
$background-color_26: #dbdb8d;
$background-color_27: #9edae5;
$background-color_28: #7a98bf;
$background-color_29: #ffc;
$background-color_30: #f6f6f6;
$background-color_31: rgba(0, 0, 0, 0.2);
$background-color_32: #1ab394;
$background-color_33: #5cb85c;
$background-color_34: #ed5565;
$background-color_35: #23c6c8;
$background-color_36: #f8ac59;
$background-color_37: #84638a;
$background-color_38: #3875d7;
$background-color_39: var(--bs-border-color-translucent);
$background-color_40: rgba(217, 187, 221, 0.5);
$background-color_41: rgba(255, 187, 120, 0.5);
$background-color_42: rgba(166, 238, 151, 0.5);
$background-color_43: rgba(214, 39, 40, 0.51);
$background-color_44: rgba(221, 221, 221, 0.5);
$background-color_45: var(--bs-border-color-translucent);
$background-color_46: #aaa;
$background-color_47: #67b051;
$background-color_48: #d9534f;
$background-color_49: #f2dede;
$background-color_50: #ccc;
$background-color_51: #857198;
$border-color_1: #ddd;
$border-color_2: #ccc;
$border-color_3: #aaa;
$border-color_4: #857198;
$border-bottom-color_1: #474646;
$border-bottom-color_2: rgba(0, 0, 0, 0);
$border-left-color_1: #245269;
$border-left-color_2: #3c763d;
$border-left-color_3: #8a6d3b;
$border-left-color_4: #a94442;

$category-colors: (
                (0, 211, 36%, 48%),
                (1, 30, 88%, 56%),
                (2, 359, 70%, 61%),
                (3, 175, 31%, 59%),
                (4, 113, 34%, 47%),
                (5, 47, 82%, 61%),
                (6, 316, 25%, 58%),
                (7, 354, 100%, 81%),
                (8, 22, 24%, 49%),
                (9, 20, 10%, 70%),
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$state-names: (info, primary, success, secondary, warning, danger);
$timeline-colors: (
  1: '#06d6a0', 2: '#ffd166', 3: '#ef476f',  4: '#118ab2', 5: '#7f7eff', 6: '#afc765', 7: '#78c5e7'
);

:root {
  // USO specific variables
  --uso-accent-color-0: #75507b;
  --uso-accent-color-1: #3d3c3c;
  --uso-accent-color-2: #484747;
  --uso-accent-color-3: #3d3c3c;
  --uso-accent-text-0: #fff;
  --uso-accent-text-1: #b3b3b3;
  --uso-accent-text-2: #b3b3b3;
  --uso-accent-text-3: #b3b3b3;
  --uso-display-layout-toggle: none;
  --uso-display-layout-left: flex;
  --uso-display-layout-right: flex;

  // Cycle timeline colors
  --uso-timeline-text: rgba(0, 0, 0, 0.75);
  @each $index, $color in $timeline-colors {
    --uso-timeline-bg-#{$index}: #{$color};
  }

  // Bootstrap variables
  --bs-border-radius: 0.2875rem;
  --bs-border-radius-sm: 0.225rem;
  --bs-border-radius-lg: 0.35rem;
  --bs-border-radius-xl: 0.6rem;
  --bs-border-radius-xxl: 1.1rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-font-sans-serif: "Fira Sans";
  --bs-font-monospace: "Fira Code";
  --bs-body-font-size: 11pt;
  --bs-breadcrumb-font-size: 0.85rem;
}

//@import "https://fonts.googleapis.com/css?family=Fira+Code|Fira+Sans+Condensed:200,400,800|Fira+Sans:200,400,800&display=swap";
@keyframes shift50 {
  from {
    left: 45px;
    opacity: 0.5;
  }
  to {
    left: 50px;
    opacity: .99;
  }
}

@keyframes shift100 {
  from {
    left: 95px;
    opacity: 0.5;
  }
  to {
    left: 100px;
    opacity: .99;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@mixin narrow-branding() {
  #uso-branding {
    font-size: 18px;
  }
}

@mixin narrow-sidebar() {
  #uso-sidebar {
    .nav-label {
      display: none;
    }
    .version {
      display: none;
    }
  }
}

/*# sourceMappingURL=uso.min.css.map */
.pulse {
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

#uso-wrapper {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
		"uso-branding uso-header"
		"uso-sidebar uso-content";
}

#uso-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: uso-header;
  background: var(--bs-tertiary-bg);

  .heading {
    padding-left: 1em;
  }
}

#uso-sidebar {
  display: flex;
  flex-direction: column;
  grid-area: uso-sidebar;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bs-light-bg-subtle);
}

#layout-toggle {
  display: var(--uso-display-layout-toggle, none);
  i:last-child {
    display: var(--uso-display-layout-right, none);
    align-items: center;
    justify-content: center;
  }
  i:first-child {
    display: var(--uso-display-layout-left, flex);
    align-items: center;
    justify-content: center;
  }
}

@each $breakpoint, $value in $grid-breakpoints {
  @media (max-width: $value) {
    body.toggle-layout-#{$breakpoint} {
      --uso-display-layout-toggle: block;
      --uso-display-layout-left: flex;
      --uso-display-layout-right: none;
      &.toggle-right {
        --uso-display-layout-left: none;
        --uso-display-layout-right: flex;
      }
    }
  }
}

#uso-content {
  grid-area: uso-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

#uso-branding {
  grid-area: uso-branding;
  font-family: $body-font-family;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.5em;
  font-size: 2rem;
  font-weight: 300;
  background-color: var(--uso-accent-color-0, #75507b);
  color: var(--uso-accent-text-0, #fff);
}


pre {
  background: inherit;
  color: inherit;
}

body.modal-open {
  padding-right: 0 !important;
}

.modal-dialog {
  --bs-modal-width: 600px;
}

.sub-menu {
  --bs-popover-header-font-size: 1.3rem;
  --bs-popover-header-padding-x: 1em;
  --bs-popover-header-padding-y: 0.5em;
  --bs-popover-header-bg: var(--uso-accent-color-2, #484747);
  --bs-popover-header-color: var(--uso-accent-text-2, #b3b3b3);
  --bs-popover-bg: var(--uso-accent-color-3, #3d3c3c);
  --bs-popover-body-color: var(--uso-accent-text-3, #b3b3b3);
  --bs-popover-max-width: 250px;
  --bs-popover-body-padding-y: 0.5em;
  --bs-popover-body-padding-x: 0;

  //margin-left: -0.5em !important;
  width: 250px;

  .nav-link {
    color: inherit;
    --bs-nav-link-padding-x: 1.5em;

    &:hover {
      color: var(--uso-accent-text-0, #fff);
      background-color: var(--uso-accent-color-2, #484747);
    }
  }

  li.divider {
    height: 1px;
    overflow: hidden;
    margin: 0.5em 0;
    border-bottom: 1px solid var(--uso-accent-color-2, #484747);
  }
}


#uso-sidebar {
  background-color: var(--uso-accent-color-3, #3D3C3C);
  height: 100%;
  transition: width 0.001s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .menu {
    color: var(--uso-accent-text-3);

    > .nav-item {
      border-bottom: 1px solid var(--uso-accent-color-2);

      &:hover {
        background-color: var(--uso-accent-color-2);
      }

      > a {
        color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5em;
        gap: 0.25em;
        text-decoration: none !important;
        border-left: 0.25em solid transparent;
        border-right: 0.25em solid transparent;

        .nav-label {
          font-family: $condensed-font-family;
          font-size: 95%;
          opacity: 0.8;
          padding-right: 0.5em;
        }
      }
    }

    > .nav-item.active {
      > a {
        border-left: 0.25em solid var(--uso-accent-color-0);
      }
    }
  }
}

body.narrow-sidebar, body[data-df-builder] {
  @include narrow-branding();
  @include narrow-sidebar();
}

body.no-sidebar {
  #uso-branding {
    display: none;
  }

  #uso-header {
    display: none;
  }

  #uso-sidebar {
    display: none;
  }
}

@media print {
  @page {
    size: Letter portrait;
    margin: 1in;
  }
  @page :first {
    margin: 0.25in 1in 1in;
  }
  table, figure {
    page-break-inside: avoid; /* Prevent the table from breaking across pages */
  }
  .section-content {
    h1, h2, h3, h4, h5 {
      break-after: avoid;
    }
  }
}

body.print-base {
  background-color: var(--bs-body-bg);
  border-radius: 0 !important;
  font-size: 11pt;

  .logo {
    height: 75px;
    width: auto;
  }
  #uso-branding {
    display: none;
  }

  #uso-header {
    display: none;
  }

  #uso-sidebar {
    display: none;
  }

  .footer {
    font-size: 80%;
  }

}

img {
  vertical-align: middle;
}

.dropdown-menu {
  border: none;
  font-size: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  &::after {
    border-bottom: 8px solid var(--bs-dropdown-bg);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    display: inline-block;
    margin-left: -6px;
    position: absolute;
    top: -8px;
    left: auto;
    right: 20px;
  }

  .divider {
    border-bottom: 1px solid var(--bs-border-color-translucent);
    height: 1px;
    margin: 0.75em 0;
    overflow: hidden;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important;
}

.section-heading {
  font-weight: 300 !important;
}

.section-content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
  }

  h4 {
    font-weight: 600 !important;
  }
}

.panel-title {
  font-weight: 300 !important;
}

.page-title {
  font-weight: 300 !important;
  font-family: $condensed-font-family;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.page-subtitle {
  color: var(--bs-secondary);
}

.page-pre-title {
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1rem;
  opacity: 0.6;
}

.page {
  background: var(--bs-body-bg);
  border-bottom: none !important;
  border-top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: padding 500ms ease 0s;

  .list-group {
    list-style: none outside;

    li.list-group-item {
      border: 0;
    }

    li.list-group-item + li.list-group-item {
      border-top: 1px solid var(--bs-border-color-translucent);
    }
  }
}

.page-body {
  padding: 1em;

  & + .page-body {
    padding-top: 0;
  }
}

.page-heading {
  border-bottom: 1px solid var(--bs-border-color-translucent);
  font-weight: 300;
}

.page-footer {
  padding: 0.5em 1em;
  min-height: 37px;
  position: relative;
  border-top: 1px solid var(--bs-border-color-translucent);
}

.panel-heading {
  .nav-tabs {
    > li {
      > a {
        border-bottom-color: var(--bs-border-color-translucent);
      }
    }
  }
}

.text-xs {
  vertical-align: middle;
  line-height: 18px;
}

.table {
  --bs-border-color: var(--bs-border-color-translucent);
  th {
    line-height: inherit;
    font-weight: 700;
  }

  > thead {
    > tr {
      > th {
        border-bottom: 2px solid var(--bs-border-color-translucent);
        vertical-align: bottom;
        border-top: 1px solid var(--bs-border-color-translucent);
      }

      > td {
        border-top: 1px solid var(--bs-border-color-translucent);
      }
    }

    > tr.merge-up {
      > td {
        border-top: 0;
      }

      > th {
        border-top: 0;
      }
    }

    > tr.merge-dn {
      > td {
        border-bottom: 0;
      }

      > th {
        border-bottom: 0;
      }
    }
  }

  tbody {
    > tr {
      &:first-child {
        > th {
          border: 0;
        }

        > td {
          border: 0;
        }
      }
    }
  }

  > tbody {
    > tr.merge-up {
      > td {
        border-top: 0;
      }

      > th {
        border-top: 0;
      }
    }

    > tr.merge-dn {
      > td {
        border-bottom: 0;
      }

      > th {
        border-bottom: 0;
      }
    }

    > tr {
      > td {
        border-top: 1px solid var(--bs-border-color-translucent);
      }

      > th {
        border-top: 1px solid var(--bs-border-color-translucent);
      }
    }
  }

  > tfoot {
    > tr.merge-up {
      > td {
        border-top: 0;
      }

      > th {
        border-top: 0;
      }
    }

    > tr.merge-dn {
      > td {
        border-bottom: 0;
      }

      > th {
        border-bottom: 0;
      }
    }

    > tr {
      > td {
        border-top: 1px solid var(--bs-border-color-translucent);
      }

      > th {
        border-top: 1px solid var(--bs-border-color-translucent);
      }
    }
  }
}

.table-hover {
  > tbody {
    > tr {
      &:hover {
        background-color: var(--bs-bg-secondary-subtle);
      }

      &:hover + tr.merge-up {
        background-color: var(--bs-bg-secondary-subtle);
      }
    }
  }
}

.table-condensed {
  > tbody {
    > tr.hidden-row {
      > td {
        padding: 0 !important;
      }
    }
  }
}

.text-middle {
  vertical-align: middle !important;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;

  h4 {
    margin-bottom: 0;
  }
}

.placeholder {
  margin-bottom: 20px;

  img {
    border-radius: 50%;
  }
}

.disabled {
  opacity: 0.3;
}

a[disabled] {
  pointer-events: none;
  opacity: 0.3;

  &:hover {
    pointer-events: none;
    opacity: 0.4;
  }
}

* {
  &:focus {
    outline: 0 none !important;
  }
}

.uneditable-input, input[readonly], textarea[readonly] {
  background-color: var(--bs-tertiary-bg);
  pointer-events: none;
  color: var(--bs-secondary-text-emphasis);
  &:focus {
    box-shadow: none !important;
    outline: 0 none;
  }
}

form .row, .controls .row {
  --bs-gutter-x: 1em;
}

.btn-xs {
  --bs-btn-padding-x: .5rem;
  --bs-btn-padding-y: .25rem;
  --bs-btn-font-size: .75rem;
}


$icon-sizes: (
        xs: 1em,
        sm: 1.25em,
        md: 1.5em,
        lg: 2em,
        xl: 3em
);

i {
  @each $size, $value in $icon-sizes {
    &.icon-#{$size} {
      font-size: $value;
    }
  }
}

.error-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.request-info {
  padding: 0.75em;
  margin-bottom: 0.75em;
  border-radius: 0;
}

$track-colors: (
        1: 'primary',
        2: 'warning',
        3: 'success',
        4: 'info',
        5: 'secondary'
);

.tab-pane, .nav-tabs > li > a.active {
  @each $index, $color in $track-colors {
    &.bg-track-#{$index} {
      background-color: var(--bs-#{$color}-bg-subtle);
      border-bottom-color: var(--bs-#{$color}-bg-subtle);
    }
  }
}

.bg-notes-warning {
  background: var(--bs-warning-bg-subtle);
}

.bg-notes-info {
  background: var(--bs-info-bg-subtle);
}

.bg-notes-success {
  background: var(--bs-success-bg-subtle);
}

.bg-white {
  border: 1px solid var(--bs-border-color-translucent) !important;
}

.bg-darken {
  background-color: rgba(var(--bs-emphasis-color-rgb), 0.05);
}

.insensitive {
  opacity: 0.6;
}

.fg-help {
  color: var(--bs-secondary);
}


hr.hr-sm {
  margin: .75em 0;
}

hr.hr-xs {
  margin: .5em 0;
}

hr.hr-xxs {
  margin: .25em 0;
}

#error-page {
  min-height: 50vh;
  font-size: 120%;
  font-weight: 300;
  max-width: 50vw;
  margin: auto;
  align-self: center;
  background: #fff;

  h1 {
    line-height: 2;
    margin: 0 !important;
    font-size: 250%;
  }

  i {
    vertical-align: middle;
  }
}

.nvd3 {
  rect[height="1"] {
    display: none !important;
  }
}

.nv-controlsWrap {
  float: right;
}

.spacer {
  clear: both;
}

.claim-grid {
  border-bottom: 1px solid var(--bs-border-color);
  padding: 1em;
  line-height: 1.2;

  &:hover {
    background-color: var(--bs-warning-bg-subtle);
  }
}

.grid-cell {

  a.btn {
    display: none;
  }

  &:hover {
    a.btn {
      display: inline-block;
    }
  }
}

.repeat {
  .container {
    max-width: 100%;
  }
}

.sample-type-group {
  h5 {
    border-bottom: 1px solid #ccc;
    margin-right: 1em;
  }
}

.beamline-info {
  .table {

    th {
      width: 30%;
    }

    td {
      width: 70%;
    }

    > thead {
      > tr {
        > th {
          line-height: 1;
          vertical-align: middle;
        }

        > td {
          line-height: 1;
          vertical-align: middle;
        }
      }
    }

    > tbody {
      > tr {
        > th {
          line-height: 1;
          vertical-align: middle;
        }

        > td {
          line-height: 1;
          vertical-align: middle;
        }
      }
    }

    > tfoot {
      > tr {
        > th {
          line-height: 1;
          vertical-align: middle;
        }

        > td {
          line-height: 1;
          vertical-align: middle;
        }
      }
    }
  }
}

.list-remove-command {
  &:hover {
    &:after {
      font-family: $icon-font-family;
      content: "\f146";
      cursor: pointer;
      color: var(--bs-danger);
      padding: 0 0.75em;
      font-size: 1.4em;
    }
  }
}

ul.activity-log {
  li {
    padding: 0.35em 0;
    line-height: 1.2;

    &::before {
      font-family: $icon-font-family;
      padding-right: 0.5em;
    }

    &:before {
      font-size: 1rem;
      margin-right: 0.5em;
    }
  }

  li + li {
    border-top: 1px solid var(--bs-border-color-translucent);
  }
}

$activity-icons: ('\F280', '\F5DE', '\F4CB', '\F64D');
$activity-colors: ('task', 'delete', 'modify', 'create');
$activity-states: ('info', 'danger', 'warning', 'success');

@each $icon, $color, $state in zip($activity-icons, $activity-colors, $activity-states) {
  li.#{$color}-log {
    &::before {
      content: $icon;
      color: var(--bs-#{$state});
    }
  }
}

$toast-icons: (
        warning: "\F335",
        error: "\F335",
        info: "\F431",
        success: "\F270"
);

#toast-container {
  width: 300px;
  bottom: 70px;
  pointer-events: none;

  > .toast {
    display: flex;
    flex-direction: row;
    background-image: none !important;

    &::before {
      float: left;
      font-family: $icon-font-family;
      font-size: 28px;
      padding: 15px;
    }
  }

  @each $type, $icon in $toast-icons {
    > .toast-#{$type} {
      &::before {
        content: $icon;
      }
    }
  }

  > div {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    padding: 0;
    margin: 0 0 6px;
    float: left;
  }

  > * {
    &:hover {
      box-shadow: 0 0 4px #999;
      cursor: pointer;
      opacity: 1;
    }
  }

  .toast-top-full-width {
    margin-top: 20px;
  }

  .toast-bottom-full-width {
    margin-bottom: 20px;
  }

  .toast-progress {
    height: 2px;
  }

  .toast-message {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .toast-close-button {
    position: absolute;
    right: 0.5em;
    top: 0;
    font-size: 20px;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
  }
}


a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.panel {
}

.panel-group {
  .panel {
  }
}

.publication-form {
  .panel-body {
    padding: 0.5em !important;
  }
}

.navbar-inverse {
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  background-repeat: repeat-x;
  margin-bottom: 0;
  min-height: 0;
  line-height: 30px;
  padding: 0.25em 0;
}

.watermark {
  text-transform: uppercase;
  font-weight: 700;
  font-family: $body-font-family;
  font-size: 150%;
}

.subscript {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-100%);
}

.superscript {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-100%);
}

.bubble {
  position: absolute;
  top: -20%;
  right: 25%;
  font-size: 78%;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
  border-radius: 50%;
  padding: 2px;
  text-align: center;

  > div {
    display: inline-block;
    min-width: 1em;
    font-weight: 700;
    height: 1em;
    padding: 0;
  }
}

.axis {
  path {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
  }

  line {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
  }
}

#cycle-timeline {
  min-width: 576px;
  min-height: 50px;

  text {
    fill: var(--uso-timeline-text)
  }
  .tick > text {
    fill: var(--bs-body-color)
  }

  .timelineSeries_cycle-call-open {
    fill: var(--uso-timeline-bg-4) !important;
  }

  .timelineSeries_cycle-review-period {
    fill: var(--uso-timeline-bg-6) !important;
  }

  .timelineSeries_cycle-alloc-schedule {
    fill: var(--uso-timeline-bg-2) !important;
  }

  .timelineSeries_cycle-beam-time {
    fill: var(--uso-timeline-bg-1) !important;
  }
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg {
  .subject-label {
    font-family: $condensed-font-family;
    font-weight: 400;
  }
}

.empty {
  display: inline-block;
  text-align: center;
  line-height: 4em;
  padding: 2em 0;
  width: 100%;
  color: var(--bs-secondary-text-emphasis);
  letter-spacing: 1px;
}

.empty-row {
  padding: 1.5em !important;
  text-align: center;
  color: var(--bs-secondary-text-emphasis);
  letter-spacing: 1px;
}

.hidden-remove {
  &:not(.active) {
    &:after {
      font-size: 1.3em;
      padding-right: 1em;
    }
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.hidden-remove.active {
  &:after {
    font-size: 1.3em;
    padding-right: 1em;
  }
}

.hidden-delete {
  &:not(.active) {
    &:after {
      cursor: pointer !important;
      font-size: 1.3em;
    }
  }
}

.hidden-delete.active {
  &:after {
    cursor: pointer !important;
    font-size: 1.3em;
  }
}

div.dashboard {
  .profile {
    .item {
      color: $color_38;
    }
  }

  #calendar {
    padding-bottom: 15px;
  }

  #word-cloud {
    min-height: 0;
  }
}

.profile-img {
  border-radius: 10%;
  width: 2.4em;
  height: 2.4em;
  background-size: contain;
  margin-right: 10px;
}

.team-img {
  border-radius: 5%;
  width: 4em;
  height: 4em;
  background-size: contain;
  margin-right: 10px;
}

.permit-img {
  border-top-left-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
  width: 10em;
  height: 10em;
  background-size: contain;
  margin-right: 10px;
}

.permit-img-sm {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background-size: contain;
  margin-right: 10px;
}

.config-list {
  td {
    padding: 0 !important;
    vertical-align: middle !important;

    div.radio {
      text-align: center;
      margin: 0 !important;
      padding-left: 0.5em;

      label {
        padding: 0;
      }
    }
  }
}

.hover-command {
  display: none;
}

span {
  &:hover {
    > a.hover-command {
      display: inline-block;
    }
  }
}

div {
  &:hover {
    > a.hover-command {
      display: inline-block;
    }
  }
}

.grid-reviewer {
  padding: 0.25em 0;
}

.grid-reviewer + .grid-reviewer {
  border-top: 1px solid var(--bs-border-color-translucent);
}

[id^='assignment-plot'] {
  .proposal-bar {
    fill: #6baed6;
  }

  .reviewer-bar {
    fill: #d9534f;
  }

  .axis {
    text {
      font: 10px sans-serif;
    }

    path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.ellipsis {
  text-overflow: ellipsis;
}

ul.bullet-list {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0.25em 1em;
}

input[checked=checked] {
  .no-margin {
    margin: 0 !important;
  }
}

.no-hmargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-bmargin {
  margin-bottom: 0 !important;
}

.no-tmargin {
  margin-top: 0 !important;
}

.narrow-heading {
  margin: 0 !important;
  line-height: inherit !important;
}

.text-condensed {
  font-family: $condensed-font-family;
}

.text-narrow {
  font-family: $condensed-font-family;
}

.text-wide {
  font-family: $body-font-family;
}


.callout {
  padding: 1.25rem;
  color: var(--uso-callout-color, inherit);
  background-color: var(--uso-callout-bg, rgba(var(--bs-emphasis-color-rgb), 0.05));
  border-left: .25rem solid var(--uso-callout-border, rgba(var(--bs-emphasis-color-rgb), 0.25));

  &.callout-sm {
    border-left-width: 0.125rem;
  }

  &.callout-lg {
    border-left-width: 0.375rem;
  }

  &.callout-xl {
    border-left-width: 0.5rem;
  }

  &.callout-xxl {
    border-left-width: 0.75rem;
  }

  @each $state in $state-names {
    &.callout-#{$state} {
      --uso-callout-color: var(--bs-#{$state}-text-emphasis);
      --uso-callout-bg: var(--bs-#{$state}-bg-subtle);
      --uso-callout-border: var(--bs-#{$state}-border-subtle)
    }
  }

  @each $key, $hue, $saturation, $lightness in $category-colors {
    &.callout-#{$key} {
      --uso-callout-color: hsla(#{$hue}, #{$saturation}, #{$lightness}, 1);
      --uso-callout-bg: hsla(#{$hue}, #{$saturation}, #{$lightness}, 0.05);
      --uso-callout-border: hsla(#{$hue}, #{$saturation}, #{$lightness}, 0.25);
    }
  }

  h4 {
    margin-bottom: 0.25rem;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.cycle-box {
  padding: 1em;
  margin-bottom: 1em;

  h3 {
    margin-bottom: 0;
  }

  table {
    margin-bottom: 0;
  }
}

.profile {
  .label {
    line-height: 2;
  }
}

.label.calc {
  display: inline-block;
  min-width: 3em;
  line-height: 1.4;
}

.border-3d {
  border: 1px solid transparent;
  border-image-source: linear-gradient(to bottom right, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.25) 100%);
  border-image-slice: 1;
}

.thick-border {
  border-image-source: linear-gradient(to bottom right, rgba(18, 130, 255, 0.05) 0%, rgba(18, 130, 255, 0.65) 100%);
}

#hazard-editor {
  margin: -15px 0 0;

  ul.nav-tabs {
    padding-top: 3px;
    background-color: $background-color_12;

    li {
      > a {
        padding: 4px 6px !important;
      }
    }
  }

  .checkbox {
    input + label {
      &::before {
        margin-top: 2px;
      }
    }
  }

  .radio {
    input + label {
      &::before {
        margin-top: 2px;
      }
    }
  }
}

ul.nav-tabs {
  padding-left: 1em;

  .superscript {
    .badge {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  li > a {
    padding: 0.45em 0.85em;
    margin-end: 0.5em;
  }
}

.sample-review-icon {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background-color: $background-color_45;
}

table.fixed-header {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;

  thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
    display: table;
    table-layout: fixed;
  }

  tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;
    }
  }
}

.team-table {
  td {
    vertical-align: middle;
  }
}


.table-tools {
  border-left: 1px solid var(--bs-border-color-translucent);
  padding: 0.1em 0.1em;
  padding-right: 0 !important;
  vertical-align: middle;
  text-align: center;

  > a {
    text-align: center;
    padding: 0 0.1em;
  }
}

.tool-label {
  display: inline-block;
  font-size: 85%;
  color: var(--bs-body-color);
  opacity: 0.8;
  line-height: 0.75;
  padding-top: 0.5em;
}

.box-tools, .page-tools {
  padding: 0.5em 0;
  line-height: 1;
  text-align: center;
  br {
    display: none;
  }
  .tool-label {
    min-width: 4em;
  }

  .btn-group {
    padding-left: 3px;
  }

  a {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;

    &:last-child {
      padding-left: 1.5em;
      border-left: 1px solid var(--bs-border-color-translucent);
    }

  }
}

.toolbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  line-height: 1;
  gap: 0.5em;
  text-align: center;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0.125em;

    &:first-child {
      padding-left: 0.5em;
    }

    &:last-child {
      padding-right: 0 !important;
      margin-right: 0 !important;
    }
  }

  &:empty, &:blank, &:-moz-only-whitespace {
    display: none;
  }

  > .separator {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    border-left: 1px solid var(--bs-border-color-translucent);
    margin: 0 0.25em;

    & + .separator, &:last-child {
      display: none !important;
    }
  }
}

.btn-outline {
  --bs-btn-color: var(--bs-body-bg-color);
  --bs-btn-border-color: var(--bs-border-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: var(--bs-border-color);
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-border-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

ul.nav-tabs.small-tabs {
  padding: 0 1em;

  li {
    > a {
      font-size: 95%;
      padding: 0.25em 0.5em;
    }
  }
}

span.twitter-typeahead {
  display: inherit !important;
}

.help-block {
  margin-top: 0;
  line-height: 1.1;
  font-size: 98%;
}

.label {
  padding: 0.25em 0.5em;
  font-weight: 400;
  font-size: 80%;
}

.bg-risk0 {
  background-color: $background-color_46;
}

.bg-risk1 {
  background-color: $background-color_47;
}

.bg-risk2 {
  background-color: $background-color_19;
}

.bg-risk4 {
  background-color: $background-color_48;
}

.bg-risk3 {
  background-color: $background-color_48;
}

.modal-scroll-body {
  max-height: 450px;
  overflow-y: auto;
}

hr.bottom-edge {
  margin-bottom: 0 !important;
}

hr.top-edge {
  margin-top: 0 !important;
}

span.stats-title {
  margin-bottom: 3px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}

span.stats-danger {
  margin-bottom: 3px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: var(--bs-danger-text-emphasis);
}

span.stats-number {
  font-weight: 300;
  padding: 0 6px;
  font-size: 36px;
  line-height: 36px;
}

.stats-table {
  font-size: 12px;

  td {
    &:not(:first-child) {
      font-family: $monospace-font-family;
    }

    &:first-child {
      font-family: $default-font-family;
      font-weight: 600;
      text-align: left;
    }
  }

  th {
    font-family: $monospace-font-family;
    font-weight: 600 !important;
    text-align: right;
  }

  tr {
    > td {
      text-align: right;
    }
  }
}

.text-table {
  font-size: 12px;

  td {
    &:not(:first-child) {
      font-family: $monospace-font-family;
    }

    &:first-child {
      font-family: $default-font-family;
      font-weight: 600;
      text-align: left;
    }
  }

  th {
    font-family: $monospace-font-family;
    font-weight: 600 !important;
  }
}

.plot-chart {
  padding: 2em;
  border: 1px solid var(--bs-border-color-translucent);
}

.data-reports {
  margin-bottom: 0.5em;
}

.progress-bar {
  min-width: 2px;
}

.inline-progress {
  display: inline-block;
  font-size: 10px;
  width: 100%;
  height: 1em;
  position: relative;
  border: 1px solid var(--bs-border-color-translucent);

  > div {
    display: block;
    height: 100%;
    position: absolute;
    line-height: inherit;
  }

  > div.striped {
    background-size: 3px 3px !important;
  }
}

.inline-progress.disabled {
  border: 1px solid rgba(0, 0, 0, 0.65);
}

.histogram {
  .bar {
    rect {
      fill: steelblue;
    }

    text {
      fill: #fff;
      font: 10px sans-serif;
    }
  }

  .score-line {
    fill: none;
    stroke: #fd8d3c;
    stroke-width: 3;
  }
}

.delete-review-command {
  border-left: 1px solid var(--bs-border-color-translucent);
  padding-left: 0.5em;
  margin-left: 1em;
}

dl {
  dt {
    float: left;
    clear: left;
    width: 7rem;
    text-align: right;
    font-weight: bold;

    &:after {
      content: ":";
    }
  }

  dd {
    margin: 0 0 0 8rem;
    padding: 0 0 0.5em 0;
  }
}

ul.list-ruled {
  li + li {
    border-top: 1px solid var(--bs-border-color-translucent) !important;
  }
}

.version {
  font-size: 80%;
  opacity: 0.15;
  text-align: center;
  line-height: 4em;
}

body.no-scroll {
  overflow-y: hidden;
}

.icon-spin {
  &:before {
    animation: spin 1s infinite linear;
  }
}

.icon-fw {
  display: inline-block;
  width: 1.28571429em;
  text-align: center;
}

.icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;

  > li {
    position: relative;
  }
}

.icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.icon-li.icon-lg {
  left: -1.85714286em;
}

.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: var(--bs-border-radius-sm);
}

.icon-pull-left {
  float: left;
  margin-right: .3em;
}

.icon-pull-right {
  float: right;
  margin-left: .3em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.icon-rotate-90 {
  transform: rotate(90deg);
}

.icon-rotate-180 {
  transform: rotate(180deg);
}

.icon-rotate-270 {
  transform: rotate(270deg);
}

.icon-flip-horizontal {
  transform: scale(-1, 1);
}

.icon-flip-vertical {
  transform: scale(1, -1);
}

:root {
  .icon-rotate-90 {
    filter: none;
  }

  .icon-rotate-180 {
    filter: none;
  }

  .icon-rotate-270 {
    filter: none;
  }

  .icon-flip-horizontal {
    filter: none;
  }

  .icon-flip-vertical {
    filter: none;
  }
}

table {
  --bs-table-bg: transparent !important;
  &.table-fixed {
    width: 100%;
    table-layout: fixed;
  }
}

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  vertical-align: middle;

  > *:not(:first-child) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    line-height: inherit;
    transform: translateX(-50%) translateY(-50%);
  }
}

.controls {
  label {
    line-height: 1.5;
  }
}

label.pictogram {
  &::before {
    visibility: hidden;
    content: "" !important;
  }
}

.datepicker {
  font-family: $default-font-family !important;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}

body.registration {


  .aligner {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--bs-secondary-bg);
  }

  .form-page {
    height: 100%;
  }

  .card {
    max-width: 55em;

    .df-form-body {
      height: calc(60vh);

      overflow-y: auto;
    }

    .card-header {
      background-color: var(--uso-accent-color-0);
      padding: 0 1em;

      img {
        height: 55px;
        margin-right: 1em;
        width: auto;
      }

      h3 {
        padding: 0;
        margin: 0 !important;
        line-height: 55px;
      }
    }
  }

}


.register-actions {
  a.btn + a.btn {
    margin-right: 5px;
  }
}

.registration.password {
  .page, .card {
    max-width: 550px;
  }
}

.registration.login {
  .page {
    max-width: 400px;
    min-height: 400px;
  }
}


// >= md
@media (min-width: 768px) {
  .dashboard {
    .block-sizer {
      width: calc(33.33% - 10px);
    }

    .block {
      width: calc(33.33% - 10px);
    }
  }
  html.no-scroll {
    overflow-y: hidden;
  }
}

// <= sm
@media (max-width: 576px) {
  .dashboard {
    .block-sizer {
      width: 100%;
    }

    .block {
      width: 100%;
    }
  }
}

// <= md
@media (max-width: 768px) {
  .btn-label {
    display: none;
  }
  .tool-label {
    display: none;
  }
  .item-list {
    th:not(:first-child) {
      display: none;
    }

    td:not(:first-child) {
      display: none;
    }
  }
  .list-tools {
    flex-direction: column;
    flex-wrap: wrap;

    > * {
      min-width: 100%;
    }
  }
  span.stats-number {
    font-size: 24px;
    line-height: 24px;
  }
  @include narrow-branding();
  @include narrow-sidebar();
}


.list-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 37px;
  margin: 0 15px;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--bs-border-color-translucent);

  > span:first-of-type {
    flex: 1;
  }

  > span:last-of-type {
    margin-left: auto;
  }
}

.pictogram-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 66px;

  img {
    padding: 2px;
    align-self: center;
    height: 100%;
  }

  &.stacked {
    margin-right: 22px;
    img {
      height: calc(100% * 2 / 3);
      margin-right: -22px;

      &:nth-child(even) {
        align-self: flex-start;
      }

      &:nth-child(odd) {
        align-self: flex-end;
      }

      &:only-child {
        height: 100%;
        align-self: center;
      }
    }
  }
}

.pictogram-lg {
  height: 99px;
  margin-right: 33px;

  img {
    margin-right: -33px;
  }
}

.pictogram-sm {
  height: 45px;
  margin-right: 15px;

  img {
    margin-right: -15px;
  }
}

.pictogram-xs {
  height: 30px;
}

span.allocation-score {
  display: inline-block;
  padding-right: 1em;
}

.page-status {
  padding: 1em;
  gap: 1em;

  > * {
    height: 100%;
  }

  > h3:first-of-type, div.h3:first-of-type {
    align-self: center;
  }
  > .status-badge {
    align-self: center;
    font-size: calc(0.9rem + 0.6vw);
    font-weight: 400;
    text-wrap: nowrap;
  }

  &:empty {
    padding: 0 !important;
    margin: 0 !important;
    border-top: 1px solid var(--bs-border-color-translucent);
  }
}


.bottom-border {
  border-bottom: solid 1px var(--bs-border-color-translucent);
}

.badge {
  --bs-badge-font-weight: 400;
  --bs-badge-font-size: 0.85em;
}

.techniques .badge {
  margin: 0.125em;
  display: inline-block;
  font-weight: normal;
}

.count-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.125em;
  flex-wrap: wrap;

  .count-list-item {
    min-width: 30%;
  }
}

.count-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dotted var(--bs-border-color);

  .name {
  }

  .value {
    font-weight: 600;
  }
}

.photo-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5em;
  padding-top: 0.5em;

  .photo-image {
    width: 4em;
    height: 4em;
    border-radius: 10%;
    background-size: cover;
    background-position: center;
  }

  .photo-info {
    flex: 1;
    padding: 0 0.5em;

    .photo-name {
      font-weight: 600;
    }

    .photo-description {
      font-size: 0.9em;
    }
  }
}

.track-stages {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border: 1px solid var(--bs-border-color-translucent);
  min-height: 3em;
  margin: 1.5em 0;

  .track-stage {
    flex: 1;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      border-right: 1px solid var(--bs-border-color-translucent);
    }

    .track-stage-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 1em;
      line-height: 2.5em;
      padding: 0.25em 0.5em;
      border-bottom: 1px solid var(--bs-border-color-translucent);
    }

    .track-stage-body {
      padding: 1em;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

.stat-card {
  display: inline-block;

  .stat-header {
    padding: 1em;
  }

  .stat-body {
    padding: 0 1em;

    .info {
      opacity: 0.5;
    }

    .value {
      font-size: 2.5em;
      font-weight: 300;
    }

    .unit {
      font-size: 0.8em;
    }
  }
}

$stat-sizes: (
        xl: 2em,
        lg: 1.5em,
        md: 1.1em,
        sm: 0.95em,
        xs: 0.8em,
);

@each $name, $size in $stat-sizes {
  .stat-card-#{$name} {
    font-size: $size;
  }
}

@each $key, $hue, $saturation, $lightness in $category-colors {
  .border-color-#{$key} {
    border-color: hsla($hue, $saturation, $lightness, 1.0) !important;
  }
  .bg-color-#{$key} {
    background-color: hsla($hue, $saturation, $lightness, 0.5) !important;
  }
  .text-color-#{$key} {
    color: hsla($hue, $saturation, $lightness, 1) !important;
  }
  .badge-#{$key} {
    background-color: hsla($hue, $saturation, $lightness, 1.0) !important;
  }
}


@media screen and (max-width: 576px) {
  .track-stage-body {
    flex-wrap: wrap;
  }
  .stat-card {
    flex-basis: 60%;
    justify-content: center;
  }
}

.filter-list {
  margin: 0.35em 0;
}

.modal-header {
  --bs-primary-bg-subtle: var(--uso-accent-color-0, inherit);
  color: var(--uso-accent-text-0, inherit);

  .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);;
  }
}

.modal-alert > .alert-message {
  font-size: 0.9em;
}

.modal.fade:not(.show) .modal-dialog {
  transform: scale(0.8);
}

.form-select-multiple {
  --ss-primary-color: var(--bs-primary);
  --ss-bg-color: var(--bs-body-bg);
  --ss-font-color: var(--bs-body-color);
  --ss-font-placeholder-color: var(--bs-secondary);
  --ss-disabled-color: var(--bs-secondary);
  --ss-border-color: var(--bs-border-color);
  --ss-highlight-color: var(--bs-warning-bg-subtle);
  --ss-success-color: var(--bs-success);
  --ss-error-color: var(--bs-danger);
  --ss-focus-color: var(--bs-primary);
  --ss-main-height: 2.4em;
  --ss-content-height: 300px;
  --ss-spacing-l: 7px;
  --ss-spacing-m: 5px;
  --ss-spacing-s: 3px;
  --ss-animation-timing: 0.2s;
  --ss-border-radius: var(--bs-border-radius);
  --ss-disabled-color: var(--bs-secondary-bg);
    font-size: 1rem;
    font-weight: 400;
}
.ss-content .ss-list .ss-option.ss-disabled {
  display: none!important;
}

.df-form-tabs:empty {
  border-bottom: 1px solid var(--bs-border-color-translucent);
}

.scroll-box {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.65em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-right: 1px solid var(--bs-border-color-translucent);

  &:hover {
    background: var(--bs-border-color-translucent);
    border-right: 1px solid var(--bs-secondary-bg-subtle);
  }
}

::-webkit-scrollbar-thumb {
  background: var(--bs-border-color-translucent);

  &:hover {
    background: var(--bs-primary);
  }
}

.trumbowyg-box, .trumbowyg-editor-box {
  border-radius: var(--bs-border-radius);
}

#df-form-instance .trumbowyg-button-pane {
  background-color: var(--bs-tertiary-bg);
  border-bottom-color: var(--bs-border-color-translucent);
  border-top-right-radius: var(--bs-border-radius);
  border-top-left-radius: var(--bs-border-radius);
}

//.control-label, .form-label, .sub-label {
//  color: var(--bs-primary-text-emphasis);
//  opacity: 0.75;
//}
//.control-label, .form-label {
//    margin-top: 1em;
//}
//.sub-label {
//    font-size: 0.9em;
//}
//.field-group-item {
//  margin-bottom: 0.5rem;
//
//  &:hover {
//    .sub-label {
//      font-weight: 700;
//    }
//  }
//}

.df-form-tabs .badge {
  --bs-badge-font-weight: 400;
  --bs-badge-font-size: 0.7em;
  --bs-badge-border-radius: 50%;
  vertical-align: middle;
}

.form-label {
  margin-bottom: 0;
  margin-top: 0.5em;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--uso-progress-percent, 0) * 1vw);
  display: var(--uso-progress-display, block);
  height: 2px;
  content: "";
  opacity: calc(var(--uso-progress-opacity, 1) * 0.75);
  background: var(--uso-accent-color-0, --bs-primary);
  transition: width 0.3s ease-in, opacity 0.3s ease-out;
}

.ss-content .ss-list .ss-option.ss-disabled {
    cursor: not-allowed;
    background-color: inherit;
    color: var(--bs-secondary-text-emphasis);
    opacity: 0.5;
}