$color_1: #fff;
$color_2: #555;
$color_3: #8a8a8a;
$color_4: #e1e1e1;
$color_5: #b3b3b3;
$color_6: #999;
$color_7: inherit;
$color_8: rgba(0,0,0,0.35);
$color_9: #aaa;
$color_10: #666;
$color_11: #cacaca;
$color_12: #777;
$color_13: #1f77b4;
$color_14: #ff7f0e;
$color_15: #2ca02c;
$color_16: #d62728;
$color_17: #9467bd;
$color_18: #8c564b;
$color_19: #e377c2;
$color_20: #7f7f7f;
$color_21: #bcbd22;
$color_22: #17becf;
$color_23: #9421a7;
$color_24: #7a98bf;
$color_25: #f33;
$color_26: #0e84b5;
$color_27: #c12e2a;
$color_28: #c65d09;
$color_29: #00a000;
$color_30: #74c476;
$color_31: #fd8d3c;
$color_32: #f6d65a;
$color_33: #d9534f;
$color_34: #6baed6;
$color_35: #428bca;
$color_36: #d65c4f;
$color_37: rgba(0,0,0,0.45);
$color_38: rgba(117,80,123,0.6);
$color_39: #9edae5;
$color_40: #c5b0d5;
$color_41: #ffbb78;
$color_42: #98df8a;
$color_43: #ddd;
$color_44: rgba(0,0,0,0.5);
$color_45: rgba(255,255,255,0.25);
$color_46: #333;
$font-family_1: "Fira Sans",sans-serif;
$font-family_2: "Fira Code",monospace;
$font-family-condensed: "Fira Sans Condensed",sans-serif;
$font-family_4: bootstrap-icons;
$font-family_5: inherit;
$background-color_1: #eee;
$background-color_2: #75507b;
$background-color_3: rgba(127,100,181,0.1);
$background-color_4: #3d3c3c;
$background-color_5: #424141;
$background-color_6: #484747;
$background-color_7: rgba(255,255,255,0.15);
$background-color_8: inherit;
$background-color_9: #fff;
$background-color_10: #e5e5e5;
$background-color_11: rgba(0,0,0,0);
$background-color_12: rgba(0,0,0,0.05);
$background-color_13: #f5f5f5;
$background-color_14: #707070;
$background-color_15: #fefcaf;
$background-color_16: #aff3fe;
$background-color_17: #affeb9;
$background-color_18: #aec7e8;
$background-color_19: #ffbb78;
$background-color_20: #98df8a;
$background-color_21: #ff9896;
$background-color_22: #c5b0d5;
$background-color_23: #c49c94;
$background-color_24: #f7b6d2;
$background-color_25: #c7c7c7;
$background-color_26: #dbdb8d;
$background-color_27: #9edae5;
$background-color_28: #7a98bf;
$background-color_29: #ffc;
$background-color_30: #f6f6f6;
$background-color_31: rgba(0,0,0,0.2);
$background-color_32: #1ab394;
$background-color_33: #5cb85c;
$background-color_34: #ed5565;
$background-color_35: #23c6c8;
$background-color_36: #f8ac59;
$background-color_37: #84638a;
$background-color_38: #3875d7;
$background-color_39: rgba(0,0,0,0.1);
$background-color_40: rgba(217,187,221,0.5);
$background-color_41: rgba(255,187,120,0.5);
$background-color_42: rgba(166,238,151,0.5);
$background-color_43: rgba(214,39,40,0.51);
$background-color_44: rgba(221,221,221,0.5);
$background-color_45: rgba(0,0,0,0.15);
$background-color_46: #aaa;
$background-color_47: #67b051;
$background-color_48: #d9534f;
$background-color_49: #f2dede;
$background-color_50: #ccc;
$background-color_51: #857198;
$border-color_1: #ddd;
$border-color_2: #ccc;
$border-color_3: #aaa;
$border-color_4: #857198;
$border-bottom-color_1: #474646;
$border-bottom-color_2: rgba(0,0,0,0);
$border-left-color_1: #245269;
$border-left-color_2: #3c763d;
$border-left-color_3: #8a6d3b;
$border-left-color_4: #a94442;

@import "https://fonts.googleapis.com/css?family=Fira+Code|Fira+Sans+Condensed:200,400,800|Fira+Sans:200,400,800|Architects+Daughter&display=swap";
@keyframes shift50 {
	from {
		left: 45px;
		opacity: 0.5;
	}
	to {
		left: 50px;
		opacity: .99;
	}
}
@keyframes shift100 {
	from {
		left: 95px;
		opacity: 0.5;
	}
	to {
		left: 100px;
		opacity: .99;
	}
}
@keyframes pulse {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
/*# sourceMappingURL=uso.min.css.map */
.pulse {
	-webkit-animation: pulse 2s linear infinite;
	-moz-animation: pulse 2s linear infinite;
	animation: pulse 2s linear infinite;
}
html {
	position: relative;
	min-height: 100vh;
	height: 100vh;
	overflow-y: scroll;
}
body {
	font-family: $font-family_1 !important;
	font-size: 13px;
	padding: 0;
	min-height: 100vh;
	height: 100vh;
	background-color: $background-color_1;
}
.tooltip {
	font-family: $font-family_1 !important;
}
.popover {
	font-family: $font-family_1 !important;
	font-size: 95%;
	border-radius: 3px;
}
pre {
	font-family: $font-family_2;
}
body.modal-open {
	padding-right: 0 !important;
}
.h5 {
	font-size: 16px;
}
h5 {
	font-size: 16px;
	font-weight: 300 !important;
}
@-ms-viewport {
	width: auto !important;
}
.navbar-fixed-bottom {
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1030;
}
.navbar-fixed-top {
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1030;
}
.pad-wrapper {
	padding: 15px 15px;
}
.uso-wrapper {
	height: calc(100vh + 80px);
}
header {
	>.brand {
		font-family: $font-family_1;
		text-align: center;
		font-size: 30px;
		font-weight: 300;
		float: left;
		background-color: $background-color_2;
		border-bottom-color: $border-bottom-color_1;
		background-position: center center;
		background-repeat: no-repeat;
		color: $color_1;
		height: 80px;
		line-height: 80px;
		margin-right: 15px;
		padding-bottom: 0;
		padding-top: 0;
		margin-bottom: -1px;
		width: 100px;
	}
	.navbar-nav {
		>li {
			>a {
				color: $color_2;
				line-height: 80px;
				outline: 0 none;
				padding: 0 0.5em;
			}
		}
	}
	.navbar-right {
		margin-right: 0.5em;
	}
	.profile-menu {
		>li.dropdown {
			>a {
				img {
					border-radius: 50%;
					max-height: 55px;
					max-width: 55px;
					margin-left: 0.5em;
				}
			}
		}
		>li {
			>a {
				min-width: 40px;
				text-align: center;
			}
		}
		.dropdown-toggle {
			min-width: 60px;
		}
	}
	.notifications {
		max-width: 250px;
		border-radius: 5px;
		left: auto;
		padding-bottom: 0;
		.scroller {
			max-height: 300px;
			overflow: hidden;
			>.content {
				>ul {
					list-style: none;
					padding-left: 0;
					>li {
						overflow: hidden;
						border-bottom: 1px solid #ebebeb;
						>a {
							padding: 0.75em 1em;
							line-height: 1;
							display: block;
							overflow: hidden;
							.user-content {
								.date {
									display: block;
									font-size: 85%;
									margin-top: 4px;
									text-transform: uppercase;
									font-weight: 400 !important;
								}
							}
						}
						&:hover {
							background-color: $background-color_2;
							a {
								color: $color_1;
							}
						}
					}
					>li.active {
						background-color: $background-color_3;
						border-bottom: 1px solid rgba(127,100,181,0.1);
						font-weight: 600;
					}
				}
			}
		}
		.title {
			color: $color_3;
			text-align: center;
			padding: 3px 0 7px;
			border-bottom: 1px solid #ebebeb;
		}
		.footer {
			a {
				color: $color_3;
				text-align: center;
				padding: 10px 0;
				border-top: 1px solid #ebebeb;
				display: block;
				outline: 0;
			}
		}
	}
	.scroller {
		>.content {
			>ul {
				>li {
					>a {
						padding: 0.75em 1em;
						line-height: 1;
						display: block;
						overflow: hidden;
					}
				}
			}
		}
	}
	.page-head {
		height: 80px;
		display: inline-block;
	}
	.page-tools {
		margin-top: 30px;
	}
}
.squeeze {
	letter-spacing: -3px;
}
main.content {
	padding-left: 100px;
	margin-top: 80px;
	padding-bottom: 0;
	height: 150vh;
}
nav.sidebar {
	background-color: $background-color_4;
	height: 100%;
	width: 100px;
	left: 0;
	bottom: 0;
	top: 0;
	margin-top: 80px;
	padding-bottom: 80px;
	position: fixed;
	z-index: 1031;
	-webkit-transition: width 0.001s;
	-moz-transition: width 0.001s;
	-ms-transition: width 0.001s;
	-o-transition: width 0.001s;
	transition: width 0.001s;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.menu {
		>li {
			border-bottom: 1px solid #474646;
			list-style: outside none none;
			&:hover {
				background-color: $background-color_5;
			}
			>a {
				color: $color_4;
				display: block;
				padding: 0.75em;
				padding-left: 0.5em;
				text-align: center;
				text-decoration: none !important;
				border-left: 3px solid transparent;
				span {
					font-family: $font-family-condensed;
					display: block;
					font-size: 95%;
					font-weight: 200;
				}
			}
			>ul.sub-menu {
				background-color: $background-color_6;
				height: 100vh;
				left: 100px;
				display: none;
				list-style: outside none none;
				padding: 0;
				position: fixed;
				table-layout: fixed;
				top: 0;
				width: 280px;
				z-index: 1051;
				>li.title {
					border-bottom: 1px solid rgba(255,255,255,0.15);
					color: $color_1;
					font-size: 26px;
					font-weight: 300;
					margin: 0 25px;
					line-height: 80px;
				}
				>li {
					>a {
						color: $color_5;
						display: block;
						padding: 8px 25px;
						text-decoration: none !important;
						&:hover {
							background-color: $background-color_4;
							color: $color_1;
						}
					}
				}
			}
			>ul.sub-menu.visible {
				display: block;
			}
		}
		i {
			font-size: 22px;
		}
		>li.active {
			>a {
				border-left: 3px solid #75507b;
			}
		}
	}
	.sub-menu {
		li.divider {
			height: 1px;
			margin: 9px 25px;
			overflow: hidden;
			background-color: $background-color_7;
		}
	}
	>ul.menu {
		flex: 1;
	}
}
ul.menu {
	padding: 0;
	margin: 0;
}
.auto-large {
	font-size: 105%;
}
.page-head {
	.title {
		font-weight: 300;
		margin-bottom: 0.1em;
		margin-top: 0.7em;
		padding: 0 !important;
	}
}
.breadcrumb {
	font-size: 90%;
	background-color: $background-color_8;
	border-radius: 0;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	>li {
		padding: 0 !important;
		margin: 0;
	}
}
body.narrow-sidebar {
	header {
		>.brand {
			height: 50px;
			line-height: 50px;
			width: 50px;
			font-size: 24px;
			>.hidden-xs {
				display: none;
			}
		}
		.profile-menu {
			display: none;
			>li.dropdown {
				>a {
					img {
						border-radius: 50%;
						max-height: 35px;
						max-width: 35px;
						margin-left: 0.5em;
					}
				}
			}
		}
		.navbar-nav {
			>li {
				>a {
					line-height: 50px;
					outline: 0 none;
					padding: 0 0.5em;
				}
			}
		}
		.page-head {
			width: calc(100% - 65px);
			height: 50px;
			.title {
				font-weight: 300;
				margin-bottom: 0.25em;
				margin-top: 0.25em;
			}
		}
	}
	nav.sidebar {
		margin-top: 50px;
		padding-bottom: 50px;
		width: 50px;
		.menu {
			>li {
				>ul.sub-menu {
					left: 50px;
					width: 200px;
					>li.title {
						padding-bottom: 0;
						padding-top: 0;
						line-height: 50px;
					}
				}
				>ul.sub-menu.visible {
					display: block;
					animation: shift50 0.3s;
				}
				>a {
					span {
						display: none;
					}
				}
			}
		}
	}
	main.content {
		padding-left: 50px;
		padding-top: 50px;
		padding-bottom: 0;
	}
	.breadcrumb {
		line-height: 50px;
		position: absolute;
		right: 15px;
		top: 0;
	}
}
body.no-sidebar {
	header {
		>.brand {
			height: 50px;
			line-height: 50px;
			width: 50px;
			font-size: 24px;
			>.hidden-xs {
				display: none;
			}
		}
		.profile-menu {
			display: none;
			>li.dropdown {
				>a {
					img {
						border-radius: 50%;
						max-height: 35px;
						max-width: 35px;
						margin-left: 0.5em;
					}
				}
			}
		}
		.navbar-nav {
			display: none;
		}
		.page-head {
			width: calc(100% - 65px);
			height: 50px;
			.title {
				font-weight: 300;
				margin-bottom: 0.25em;
				margin-top: 0.25em;
			}
		}
	}
	nav.sidebar {
		display: none
	}
	main.content {
		padding-left: 0px;
		padding-top: 50px;
		padding-bottom: 0;
	}
	.breadcrumb {
		line-height: 50px;
		position: absolute;
		right: 15px;
		top: 0;
	}
}

body.print-base {
	background-color: $background-color_9;
	margin-bottom: 200px;
	border-radius: 0 !important;
	font-size: 16px;
	.footer {
		color: $color_2;
		font-size: 80%;
	}
	.navbar-inverse {
		border-radius: 0 !important;
		border-bottom: 1px solid #555;
	}
	img.logo {
		display: inline-block;
		text-indent: -9999px;
		width: 250px;
		height: 74px;
		margin: 0;
	}
}
.downplay {
	color: $color_6;
	.table {
		th {
			color: $color_6;
		}
	}
}
img {
	vertical-align: middle;
}
i.toolbar-icon {
	margin: 0 7px;
}
.dropdown-menu {
	font-size: 90%;
	box-shadow: 0 2px 10px rgba(0,0,0,0.3);
	z-index: 1000;
	>.active {
		>a {
			background-color: $background-color_2;
			color: $color_1;
			&:focus {
				background-color: $background-color_2;
				color: $color_1;
			}
			&:hover {
				background-color: $background-color_2;
				color: $color_1;
			}
		}
	}
	.divider {
		background-color: $background-color_10;
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
	}
}
.open {
	>.dropdown-menu {
		display: block;
	}
	.dropdown-menu {
		margin-top: 3px;
	}
	.dropdown-toggle.btn-white {
		border: 1px solid #d2d2d2;
		color: $color_7;
		background-image: none;
	}
}
.navbar-right {
	.dropdown-menu {
		left: auto;
		right: 0;
	}
}
.dropdown {
	.dropdown-menu {
		border: 0 none;
		border-radius: 2px;
		&::after {
			border-bottom: 8px solid #fff;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			content: "";
			display: inline-block;
			margin-left: -6px;
			position: absolute;
			top: -8px;
			left: auto;
			right: 20px;
		}
		>li {
			>a {
				display: block;
				min-width: 175px;
				padding: 0.5em 20px;
				&:hover {
					background-color: $background-color_2;
					color: $color_1;
				}
				>i {
					padding-right: 0.5em;
				}
			}
		}
	}
}
.navbar-default {
	.navbar-nav {
		>.open {
			>a {
				background-color: $background-color_1;
				color: $color_2;
				&:focus {
					background-color: $background-color_1;
					color: $color_2;
				}
				&:hover {
					background-color: $background-color_1;
					color: $color_2;
				}
			}
		}
	}
}
h1 {
	font-weight: 300 !important;
}
h2 {
	font-weight: 300 !important;
}
h3 {
	font-weight: 300 !important;
}
h4 {
	font-weight: 300 !important;
}
legend {
	font-weight: 300 !important;
}
.section-heading {
	font-weight: 300 !important;
}
.panel-title {
	font-weight: 300 !important;
}
.pagelet-title {
	font-weight: 300 !important;
	font-size: 16px;
}
.pagelet {
	background: none repeat scroll 0 0 #fff;
	border-bottom: none !important;
	border-top: 0;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1),0 0 20px rgba(0,0,0,0.05) inset;
	margin-bottom: 15px;
	position: relative;
	transition: padding 500ms ease 0s;
	>
	.page-tools {
		right: 15px;
		top: 15px;
		margin-bottom: 4px;
	}
	.list-group {
		list-style: none outside;
		li.list-group-item {
			border: 0;
			border-radius: 0;
		}
		li.list-group-item+li.list-group-item {
			border-top: 1px solid #ddd;
		}
	}
}
.pagelet-body {
	padding: 15px 15px;
	&:before {
		display: table;
		content: " ";
	}
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}
.pagelet-body+.pagelet-body {
	padding-top: 0;
}
.pagelet-heading {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	font-weight: 300;
}
.pagelet-footer {
	padding: 0.5em 1em;
	min-height: 37px;
	position: relative;
	border-top: 1px solid rgba(0,0,0,0.15);
	.btn {
		border: 1px solid transparent;
		box-shadow: none;
		background-color: $background-color_11;
	}
}
.pagelet-header {
	padding: 0.5em 1em;
	min-height: 37px;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.15);

	.row.my-2 {
		padding: 15px 0;
	}
	.btn {
		border: 1px solid transparent;
		box-shadow: none;
		background-color: $background-color_11;
	}
	.nav-tabs {
		border-bottom-color: $border-bottom-color_2;
		bottom: -2px;
		position: absolute;
		right: 15px;
	}
	h1 {
		line-height: 0.9;
		margin: 0.5em 0;
	}
	h2 {
		line-height: 0.9;
		margin: 0.5em 0;
	}
	h3 {
		line-height: 0.9;
		margin: 0.5em 0;
	}
	h4 {
		line-height: 0.9;
		margin: 0.5em 0;
	}
	h5 {
		line-height: 0.9;
		margin: 0.5em 0;
	}
	h6 {
		line-height: 0.9;
		margin: 0.5em 0;
	}
}
.panel-heading {
	.nav-tabs {
		>li {
			>a {
				border-bottom-color: $border-bottom-color_2;
			}
		}
	}
}
.page-tools {
	.btn-group {
		padding-left: 3px;
	}
}
.text-xs {
	vertical-align: middle;
	line-height: 18px;
}
.table {
	th {
		line-height: inherit;
		font-weight: 700;
	}
	>thead {
		>tr {
			>th {
				border-bottom: 2px solid rgba(0,0,0,0.1);
				vertical-align: bottom;
				border-top: 1px solid rgba(0,0,0,0.08);
			}
			>td {
				border-top: 1px solid rgba(0,0,0,0.08);
			}
		}
		>tr.merge-up {
			>td {
				border-top: 0;
			}
			>th {
				border-top: 0;
			}
		}
		>tr.merge-dn {
			>td {
				border-bottom: 0;
			}
			>th {
				border-bottom: 0;
			}
		}
	}
	tbody {
		>tr {
			&:first-child {
				>th {
					border: 0;
				}
				>td {
					border: 0;
				}
			}
		}
	}
	>tbody {
		>tr.merge-up {
			>td {
				border-top: 0;
			}
			>th {
				border-top: 0;
			}
		}
		>tr.merge-dn {
			>td {
				border-bottom: 0;
			}
			>th {
				border-bottom: 0;
			}
		}
		>tr {
			>td {
				border-top: 1px solid rgba(0,0,0,0.08);
			}
			>th {
				border-top: 1px solid rgba(0,0,0,0.08);
			}
		}
	}
	>tfoot {
		>tr.merge-up {
			>td {
				border-top: 0;
			}
			>th {
				border-top: 0;
			}
		}
		>tr.merge-dn {
			>td {
				border-bottom: 0;
			}
			>th {
				border-bottom: 0;
			}
		}
		>tr {
			>td {
				border-top: 1px solid rgba(0,0,0,0.08);
			}
			>th {
				border-top: 1px solid rgba(0,0,0,0.08);
			}
		}
	}
}
.table-hover {
	>tbody {
		>tr {
			&:hover {
				background-color: $background-color_12;
			}
			&:hover+tr.merge-up {
				background-color: $background-color_13;
			}
		}
	}
}
.table-condensed {
	>tbody {
		>tr.hidden-row {
			>td {
				padding: 0 !important;
			}
		}
	}
}
.text-middle {
	vertical-align: middle !important;
}
.input-group-addon {
	background-color: $background-color_1;
	border-radius: 2px;
	&:first-child {
		border-bottom-right-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}
	&:last-child {
		border-bottom-left-radius: 0 !important;
		border-top-left-radius: 0 !important;
	}
}
.input-group {
	.form-control {
		&:first-child {
			border-bottom-right-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}
		&:last-child {
			border-bottom-left-radius: 0 !important;
			border-top-left-radius: 0 !important;
		}
	}
	a[class^='icon-'] {
		text-decoration: none;
		cursor: pointer;
	}
	a[class*='	icon-'] {
			text-decoration: none;
			cursor: pointer;
		}
	a[class^='bi-'] {
			text-decoration: none;
			cursor: pointer;
	}
	a[class*=' bi-'] {
		text-decoration: none;
		cursor: pointer;
	}
}

.input-group-btn {
	&:first-child {
		>.btn {
			border-bottom-right-radius: 0 !important;
			border-top-right-radius: 0 !important;
			&:not(:first-child) {
				border-bottom-left-radius: 0 !important;
				border-top-left-radius: 0 !important;
			}
		}
		>.btn-group {
			>.btn {
				border-bottom-right-radius: 0 !important;
				border-top-right-radius: 0 !important;
			}
			&:not(:first-child) {
				>.btn {
					border-bottom-left-radius: 0 !important;
					border-top-left-radius: 0 !important;
				}
			}
		}
		>.dropdown-toggle {
			border-bottom-right-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}
	}
	&:last-child {
		>.btn {
			border-bottom-left-radius: 0 !important;
			border-top-left-radius: 0 !important;
			&:not(:last-child) {
				&:not(.dropdown-toggle) {
					border-bottom-right-radius: 0 !important;
					border-top-right-radius: 0 !important;
				}
			}
		}
		>.btn-group {
			&:not(:last-child) {
				>.btn {
					border-bottom-right-radius: 0 !important;
					border-top-right-radius: 0 !important;
				}
			}
			>.btn {
				border-bottom-left-radius: 0 !important;
				border-top-left-radius: 0 !important;
			}
		}
		>.dropdown-toggle {
			border-bottom-left-radius: 0 !important;
			border-top-left-radius: 0 !important;
		}
	}
}
.placeholders {
	margin-bottom: 30px;
	text-align: center;
	h4 {
		margin-bottom: 0;
	}
}
.placeholder {
	margin-bottom: 20px;
	img {
		border-radius: 50%;
	}
}
.disabled {
	color: $color_1;
}
a[disabled] {
	pointer-events: none;
	color: $color_8;
	&:hover {
		pointer-events: none;
		color: $color_8;
	}
}
.checkbox, .radio {
	padding-left: 0.5em;
	margin-top: 0;
	margin-bottom: 0;
		label {
			margin-top: 0;
			margin-bottom: 0;
			line-height: 1.5em;
	}
}
.checkbox+.checkbox, .radio+.radio {
    margin-top: 0;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 0;
}
.checkbox.disabled {
	pointer-events: none;
	color: $color_8;
}
.checkbox-inline, .radio-inline {
	margin-right: 1em;
}
.field-w1 {
	label.checkbox-inline {
		width: 100%;
	}
}
.field-w2 {
	label.checkbox-inline {
		width: calc(100% / 2 - 2px);
	}
}
.field-w3 {
	label.checkbox-inline {
		width: calc(100% / 3 - 2px);
	}
}
.field-w4 {
	label.checkbox-inline {
		width: calc(100% / 4 - 2px);
	}
}
.field-w6 {
	label.checkbox-inline {
		width: calc(100% / 6 - 2px);
	}
}
* {
	&:focus {
		outline: 0 none !important;
	}
}
.uneditable-input {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="color"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="date"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="datetime-local"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="datetime"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="email"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="month"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="number"] {
	-moz-appearance: textfield;
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="password"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="search"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="tel"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="text"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="time"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="url"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input[type="week"] {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
select {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
textarea {
	&:focus {
		box-shadow: none !important;
		outline: 0 none;
	}
}
input {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}
.form-control {
	border-radius: 2px !important;
	&::-webkit-input-placeholder {
		font-style: oblique;
		color: $color_6;
	}
	&:-moz-placeholder {
		font-style: oblique;
		color: $color_6;
	}
	&::-moz-placeholder {
		font-style: oblique;
		color: $color_6;
	}
	&:-ms-input-placeholder {
		font-style: oblique;
		color: $color_6;
	}
}
.input-lg {
	border-radius: 2px;
	font-size: 16px;
	height: 46px;
	line-height: 1.33;
	padding: 10px 16px;
}
.input-sm {
	border-radius: 2px !important;
}
.input-xs {
	border-radius: 2px !important;
	font-size: 11px;
	height: 24px;
	line-height: 1.5;
	padding: 2px 10px;
}
.right-inner-addon {
	position: relative;
	input {
		padding-right: 30px;
	}
	i {
		position: absolute;
		right: 0;
		padding: 10px 12px;
		pointer-events: none;
		color: $color_9;
	}
}
.btn-xs {
	padding: 1px 5px;
}
.btn-sm {
	padding: 5px 10px;
}
.btn-lg {
	padding: 10px 16px;
}
.no-space {
	margin: 0;
	>[class*="col-"] {
		margin: 0 !important;
		padding-left: 0;
		padding-right: 0;
	}
}
.btn-default.disabled {
	color: $color_6;
}
.btn-default {
	background-color: $background-color_13;
	border-color: $border-color_1;
}
.btn {
	border-radius: 2px;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.08) inset;
	&:active {
		box-shadow: 0 2px 5px rgba(0,0,0,0.15) inset;
	}
}
.btn.btn-ribbon {
	background-color: $background-color_14;
	background-image: linear-gradient(to bottom, #777, #666);
	background-repeat: repeat-x;
	border: 0 none;
	color: $color_1;
	cursor: pointer;
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	margin: 0 8px 0 0;
	padding: 0 5px;
	vertical-align: middle;
	>i {
		font-size: 111%;
	}
}
.btn-white {
	background: none repeat scroll 0 0 white;
	border: 1px solid #ccc;
	color: $color_10;
	&:hover {
		border: 1px solid #d2d2d2;
		color: $color_7;
	}
	&:focus {
		border: 1px solid #d2d2d2;
		color: $color_7;
	}
	&:active {
		border: 1px solid #d2d2d2;
		color: $color_7;
		background-image: none;
	}
}
.btn-white.active {
	border: 1px solid #d2d2d2;
	color: $color_7;
	background-image: none;
}
.btn.active {
	box-shadow: 0 2px 5px rgba(0,0,0,0.15) inset;
}
.btn-white.disabled {
	color: $color_11;
	&:hover {
		color: $color_11;
	}
	&:focus {
		color: $color_11;
	}
	&:active {
		color: $color_11;
	}
}
.btn-white.disabled.active {
	color: $color_11;
}
.btn-white[disabled] {
	color: $color_11;
	&:hover {
		color: $color_11;
	}
	&:focus {
		color: $color_11;
	}
	&:active {
		color: $color_11;
	}
}
.btn-white.active[disabled] {
	color: $color_11;
}
fieldset[disabled] {
	.btn-white {
		color: $color_11;
		&:hover {
			color: $color_11;
		}
		&:focus {
			color: $color_11;
		}
		&:active {
			color: $color_11;
		}
	}
	.btn-white.active {
		color: $color_11;
	}
}
.btn-group {
	.btn {
		.label {
			border-radius: 50% !important;
			line-height: 1;
			font-size: 85%;
			top: 0;
			padding: 0.2em 0.5em;
		}
	}
}
.ribbon-button-alignment {
	display: inline-block;
	padding-top: 10px;
}
.ribbon-button-alignment.pull-right {
	>.btn.btn-ribbon {
		margin: 0 0 0 8px;
	}
}
#sidebar {
	.nav {
		li {
			>.profile-menu {
				padding: 5px;
				height: 40px;
			}
		}
	}
}
ul.icons-list {
	list-style: none outside;
	padding: 0;
	>li {
		position: relative;
		line-height: 1.65em;
	}
	i {
		color: $color_12;
	}
}
.icon-1x {
	font-size: 17px;
}
.icon-2 {
	font-size: 1.5em;
}
.icon-3 {
	font-size: 2.5em;
}
.icon-4 {
	font-size: 3.5em;
}
.icon-5 {
	font-size: 4.5em;
}
.icon-6 {
	font-size: 5.5em;
}
body.error-body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}
.tinytron {
	padding: 0.75em !important;
	margin-bottom: 0.75em;
	border: 1px solid transparent;
}
.result-info {
	padding: 0.75em;
	margin-bottom: 0.75em;
	border-radius: 0;
}
.request-info {
	padding: 0.75em;
	margin-bottom: 0.75em;
	border-radius: 0;
}
.minitron {
	padding: 1em !important;
	margin-bottom: 1em;
	border: 1px solid transparent;
}
.miditron {
	padding: 1.5em !important;
	margin-bottom: 1.5em;
	border: 1px solid transparent;
}
hr {
	border-top: 1px solid $background-color_45;
	&.dotted {
		border-style: dotted;
	}
}

.bg-notes-warning {
	background-color: $background-color_15;
	background: linear-gradient(#fefcaf, #fffeee);
}
.bg-ra {
	background-color: $background-color_15;
	background: linear-gradient(#fefcaf, #fffeee);
}
.bg-notes-info {
	background-color: $background-color_16;
	background: linear-gradient(#aff3fe, #efeeff);
}
.bg-mx {
	background-color: $background-color_16;
	background: linear-gradient(#aff3fe, #efeeff);
}
.bg-notes-success {
	background-color: $background-color_17;
	background: linear-gradient(#affeb9, #eefff1);
}
.bg-bmit {
	background-color: $background-color_17;
	background: linear-gradient(#affeb9, #eefff1);
}
.bg-white {
	border: 1px solid rgba(0,0,0,0.1) !important;
}
.bg-darken {
	background-color: $background-color_12;
}
.bg-cat-1 {
	background-color: $background-color_18;
}
.bg-cat-2 {
	background-color: $background-color_19;
}
.bg-cat-3 {
	background-color: $background-color_20;
}
.bg-cat-4 {
	background-color: $background-color_21;
}
.bg-cat-5 {
	background-color: $background-color_22;
}
.bg-cat-6 {
	background-color: $background-color_23;
}
.bg-cat-7 {
	background-color: $background-color_24;
}
.bg-cat-8 {
	background-color: $background-color_25;
}
.bg-cat-9 {
	background-color: $background-color_26;
}
.bg-cat-10 {
	background-color: $background-color_27;
}
.fg-cat-1 {
	color: $color_13;
}
.fg-cat-2 {
	color: $color_14;
}
.fg-cat-3 {
	color: $color_15;
}
.fg-cat-4 {
	color: $color_16;
}
.fg-cat-5 {
	color: $color_17;
}
.fg-cat-6 {
	color: $color_18;
}
.fg-cat-7 {
	color: $color_19;
}
.fg-cat-8 {
	color: $color_20;
}
.fg-cat-9 {
	color: $color_21;
}
.fg-cat-10 {
	color: $color_22;
}
.fg-help {
	color: $color_23;
}
[class$="tron"] {
	&:not([class^="bg-"]) {
		background-color: $background-color_1;
	}
}
.bg-primary {
	color: $color_1;
	background-color: $background-color_28;
}
.label-primary {
	color: $color_1;
	background-color: $background-color_28;
}
.btn-primary {
	color: $color_1;
	background-color: $background-color_28;
	border: 1px solid rgba(0,0,0,0.15);
}
.text-primary {
	color: $color_24;
}
hr.hr-sm {
	margin: .75em 0;
}
hr.hr-xs {
	margin: .5em 0;
}
hr.hr-xxs {
	margin: .25em 0;
}
#error-page {
	min-height: 50%;
	font-size: 120%;
	font-weight: 300;
	width: 50%;
	margin: 0 auto;
	align-self: center;
	background: #fff;
	h1 {
		line-height: 2;
		margin: 0 !important;
		font-size: 250%;
	}
	i {
		vertical-align: middle;
	}
}
.nvd3 {
	rect[height="1"] {
		display: none !important;
	}
}
.nv-controlsWrap {
	float: right;
}
div.narrow-gutter {
	padding-left: 9px;
	padding-right: 9px;
}
.narrow-gutter {
	>div[class^="col-"] {
		padding-left: 6px;
		padding-right: 6px;
	}
}
.spacer {
	clear: both;
}
.claim-grid {
	border-bottom: 1px solid #eee;
	padding: 1em ;
	line-height: 1.2;
	&:hover {
		background-color: $background-color_29;
	}
	.label {
		font-family: $font-family-condensed;
		display: inline-block;
		margin: 0.15em;
		font-size: 85%;
		border-radius: 3px !important;
		font-weight: normal !important;
		margin-left: 0px;
	}
}
.grid-cell {
	a.btn {
		display: none;
	}
	&:hover {
		a.btn {
			display: inline-block;
		}
	}
}
.feedback-grid {
	background-color: $background-color_30;
	border: 1px solid #eee;
	padding: 0.75em;
}
#word-cloud {
	margin: 1em 0;
	min-height: 400px;
}
form {
	.jumbotron {
		padding-bottom: 1em;
		padding-top: 1em;
		p {
			font-size: 18px;
		}
	}
}
.repeat {
	.container {
		max-width: 100%;
	}
}
.chosen-container {
	width: 100% !important;
}
.chosen-single {
	height: 34px !important;
	line-height: 32px !important;
	border-radius: 2px !important;
	border-color: $border-color_2 !important;
}
.chosen-choices {
	height: 34px !important;
	line-height: 32px !important;
	border-radius: 2px !important;
	border-color: $border-color_2 !important;
	li.search-choice {
		padding: 0.25em 1.5em 0.25em 0.25em;
		margin: 0.25em;
	}
}
.chosen-disabled {
	opacity: 1.0 !important;
	cursor: not-allowed !important;
	background-color: $background-color_1 !important;
	background-image: none !important;
	.chosen-single {
		opacity: 1.0 !important;
		cursor: not-allowed !important;
		background-color: $background-color_1 !important;
		background-image: none !important;
	}
	.chosen-choices {
		opacity: 1.0 !important;
		cursor: not-allowed !important;
		background-color: $background-color_1 !important;
		background-image: none !important;
		li {
			opacity: 1.0 !important;
			cursor: not-allowed !important;
			background-color: $background-color_1 !important;
			background-image: none !important;
			a.search-choice-close {
				display: none !important;
			}
		}
		li.search-field {
			display: none !important;
		}
	}
}
.sample-type-group {
	h5 {
		border-bottom: 1px solid #ccc;
		margin-right: 1em;
	}
}
.beamline-info {
	.table {
		th {
			width: 30%;
		}
		td {
			width: 70%;
		}
		>thead {
			>tr {
				>th {
					line-height: 1;
					vertical-align: middle;
				}
				>td {
					line-height: 1;
					vertical-align: middle;
				}
			}
		}
		>tbody {
			>tr {
				>th {
					line-height: 1;
					vertical-align: middle;
				}
				>td {
					line-height: 1;
					vertical-align: middle;
				}
			}
		}
		>tfoot {
			>tr {
				>th {
					line-height: 1;
					vertical-align: middle;
				}
				>td {
					line-height: 1;
					vertical-align: middle;
				}
			}
		}
	}
}
.btn-file {
	position: relative;
	overflow: hidden;
	input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
}
.list-remove-command {
	&:hover {
		&:after {
			font-family: $font-family_4;
			content: "\f146";
			cursor: pointer;
			color: $color_25;
			padding: 0 0.75em;
			font-size: 1.4em;
		}
	}
}
ul.activity-log {
	li {
		padding: 0.35em 0;
		line-height: 1;
		&::before {
			font-family: $font-family_4;
			padding-right: 0.5em;
		}
		&:before {
			line-height: 1.75;
			float: left;
			font-size: 16px;
		}
	}
	li+li {
		border-top: 1px solid rgba(0,0,0,0.1);
	}
}
li.task-log {
	&::before {
		content: "\F280";
		color: $color_26;
	}
}
li.delete-log {
	&::before {
		content: "\F5DE";
		color: $color_27;
	}
}
li.modify-log {
	&::before {
		content: "\F4CB";
		color: $color_28;
	}
}
li.create-log {
	&::before {
		content: "\F64D";
		color: $color_29;
	}
}
#toast-container {
	width: 300px;
	>.toast {
		background-image: none !important;
		&::before {
			color: $color_1;
			float: left;
			font-family: $font-family_4;
			font-size: 28px;
			padding: 15px;
			background-color: $background-color_31;
		}
	}
	>.toast-warning {
		&::before {
			content: "\F335";
		}
	}
	>.toast-error {
		&::before {
			content: "\F335";
		}
	}
	>.toast-info {
		&::before {
			content: "\F431";
		}
	}
	>.toast-success {
		&::before {
			content: "\F270";
		}
	}
	>div {
		box-shadow: 0 2px 10px rgba(0,0,0,0.2);
		opacity: 0.9;
		padding: 0;
		margin: 0 0 6px;
		float: left;
	}
	>* {
		&:hover {
			box-shadow: 0 0 4px #999;
			cursor: pointer;
			opacity: 1;
		}
	}
}
.toast {
	background-color: $background-color_32;
	display: flex;
	flex-direction: row;
}
.toast-success {
	background-color: $background-color_33;
}
.toast-error {
	background-color: $background-color_34;
}
.toast-info {
	background-color: $background-color_35;
}
.toast-warning {
	background-color: $background-color_36;
}
.toast-top-full-width {
	margin-top: 20px;
}
.toast-bottom-full-width {
	margin-bottom: 20px;
}
.toast-progress {
	height: 2px;
}
.toast-message {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
.toast-close-button {
	position: absolute;
	right: 0.5em;
	top: 0;
	font-size: 20px;
	color: $color_1;
	opacity: 0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
}
.text-success-light {
	color: $color_30;
}
.text-warning-light {
	color: $color_31;
}
.text-new {
	color: $color_32;
}
.text-danger-light {
	color: $color_33;
}
.text-info-light {
	color: $color_34;
}
a {
	color: $color_35;
	text-decoration: none;
	&:hover {
		color: $color_36;
		text-decoration: none;
	}
}
.panel {
	border-radius: 2px !important;
}
.panel-group {
	.panel {
		border-radius: 2px !important;
	}
}
.publication-form {
	.panel-body {
		padding: 0.5em !important;
	}
}
.navbar-inverse {
	background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
	background-repeat: repeat-x;
	margin-bottom: 0;
	color: $color_1;
	min-height: 0;
	line-height: 30px;
	padding: 0.25em 0;
}
.watermark {
	text-transform: uppercase;
	font-weight: 700;
	font-family: $font-family_1;
	font-size: 150%;
}
#proposal-form {
	margin-bottom: 80px;
	.df-form-footer {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100%;
		overflow: hidden;
		z-index: 1030;
		padding: 0.5em 0;
		padding-left: 95px;
		border-top: 1px solid rgba(0,0,0,0.1);
	}
	select.shorten+.chosen-with-drop {
		.chosen-drop {
			max-height: 140px;
			z-index: 1040;
			ul {
				max-height: 140px;
				z-index: 1040;
			}
		}
	}
}
.narrow-sidebar {
	#proposal-form {
		.df-form-footer {
			padding-left: 50px;
		}
	}
}
.progress-xs {
	height: 7px;
	border-radius: 1px;
	margin-bottom: 0;
	box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
	background-color: $background-color_9;
}
.alert {
	border-radius: 2px;
	>ul {
		padding: 0 !important;
		>li {
			list-style: none;
		}
	}
}
.subscript {
	position: absolute;
	bottom: 50%;
	transform: translate(50%, -100%);
	font-size: 75%;
	padding: 0;
	.badge {
		padding: 2px;
		top: 0;
		div {
			min-width: 1em;
			height: 1em;
			padding: 0;
		}
	}
}
.superscript {
	position: absolute;
	top: 50%;
	transform: translate(50%, -100%);
	font-size: 75%;
	padding: 0;
	.badge {
		padding: 2px;
		div {
			min-width: 1em;
			height: 1em;
			padding: 0;
		}
	}
}
.bubble {
	position: absolute;
	top: -20%;
	right: 25%;
	font-size: 78%;
	color: $color_1;
	border-radius: 50%;
	padding: 2px;
	text-align: center;
	>div {
		display: inline-block;
		min-width: 1em;
		font-weight: 700;
		height: 1em;
		padding: 0;
	}
}
.modal {
	display: flex !important;
	height: 100%;
	align-items: center;
	.modal-dialog {
		margin: 0 auto !important;
		padding-bottom: 50px;
	}
	.modal-header {
		padding: 0.65em 15px;
		background-color: $background-color_37;
		color: $color_1;
	}
	.modal-content {
		border: none;
		border-radius: 3px;
	}
}
.modal-header {
	.close {
		margin-top: 3px;
	}
}
.modal.fade {
	.modal-dialog {
		transition: none;
	}
	.modal-content {
		transform: scale(0.7);
		opacity: 0;
		transition: all 0.2s;
	}
}
.modal.fade.in {
	.modal-dialog {
		transition: none;
	}
}
.modal.in {
	.modal-content {
		transform: scale(1);
		opacity: 1;
	}
}
.modal-body {
	.modal-footer {
		padding-bottom: 0;
	}
}
.modal-footer.row {
	padding: 15px 0 0;
	margin-top: 15px;
}
.axis {
	path {
		fill: none;
		stroke: grey;
		shape-rendering: crispEdges;
	}
	line {
		fill: none;
		stroke: grey;
		shape-rendering: crispEdges;
	}
}
#timeline {
	text {
		font-size: 12px;
	}
}
.timeline {
	text {
		font-size: 12px;
	}
	.axis {
		transform: translate(0px, 50px);
	}
}
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: top;
	overflow: hidden;
}
.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}
svg {
	.subject-label {
		font-family: $font-family-condensed;
		font-weight: 400;
	}
}
.empty {
	display: inline-block;
	text-align: center;
	line-height: 4em;
	width: 100%;
	color: $color_37;
	letter-spacing: 1px;
}
.empty-row {
	padding: 1.5em !important;
	text-align: center;
	color: $color_37;
	letter-spacing: 1px;
}
.hidden-remove {
	&:not(.active) {
		&:after {
			font-size: 1.3em;
			padding-right: 1em;
		}
	}
}
.cursor-pointer {
	cursor: pointer !important;
}
.hidden-remove.active {
	&:after {
		font-size: 1.3em;
		padding-right: 1em;
	}
}
.hidden-delete {
	&:not(.active) {
		&:after {
			cursor: pointer !important;
			font-size: 1.3em;
		}
	}
}
.hidden-delete.active {
	&:after {
		cursor: pointer !important;
		font-size: 1.3em;
	}
}
div.dashboard {
	.profile {
		.item {
			color: $color_38;
		}
	}
	.modal-footer {
		background-color: $background-color_30;
		p {
			font-size: 90%;
			color: $color_12;
		}
	}
	#calendar {
		padding-bottom: 15px;
	}
	#word-cloud {
		min-height: 0;
	}
}
.dashboard {
	.block {
		margin-bottom: 15px;
		box-shadow: 0 0 50px rgba(0,0,0,0.05) inset;
		width: calc(50% - 8px);
	}
	.block-sizer {
		width: calc(50% - 8px);
	}
}
.block {
	.pagelet-header {
		padding-left: 0.75em;
		padding-right: 0.5em;
	}
	.pagelet-body {
		padding: 0.75em;
	}
	.tinytron {
		margin-bottom: 0;
	}
	.tinytron+.tinytron {
		margin-top: 0.75em;
	}
}
.profile-img {
	border-radius: 50%;
	width: 2.4em;
	height: 2.4em;
	background-size: contain;
	margin-right: 10px;
}
.team-img {
	border-radius: 5%;
	width: 5em;
	height: 5em;
	background-size: contain;
	margin-right: 10px;
}
.permit-img {
	border-radius: 50%;
	width: 5em;
	height: 5em;
	background-size: contain;
	margin-right: 10px;
}
.permit-img-sm {
	border-radius: 50%;
	width: 3em;
	height: 3em;
	background-size: contain;
	margin-right: 10px;
}
.config-list {
	td {
		padding: 0 !important;
		vertical-align: middle !important;
		div.radio {
			text-align: center;
			margin: 0 !important;
			padding-left: 0.5em;
			label {
				padding: 0;
			}
		}
	}
}
.hover-command {
	display: none;
}
span {
	&:hover {
		>a.hover-command {
			display: inline-block;
		}
	}
}
div {
	&:hover {
		>a.hover-command {
			display: inline-block;
		}
	}
}
.grid-reviewer+.grid-reviewer {
	border-top: 1px solid rgba(0,0,0,0.1);
}
.grid-reviewer {
	&:not(.title) {
		&:hover {
			background-color: $background-color_12;
		}
	}
}
[id^='assignment-plot'] {
	.proposal-bar {
		fill: #6baed6;
	}
	.reviewer-bar {
		fill: #d9534f;
	}
	.axis {
		text {
			font: 10px sans-serif;
		}
		path {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
		line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
	}
}
.tt-menu {
	background: #fff none repeat scroll 0 0;
	border-color: $border-color_3;
	border-image: none;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	box-shadow: 0 4px 5px rgba(0,0,0,0.15);
	left: -9999px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1010 !important;
}
.tt-suggestion {
	line-height: 15px;
	display: list-item;
	list-style: outside none none;
	margin: 0;
	padding: 5px 0.5em;
	word-wrap: break-word;
}
.tt-suggestion.tt-selectable {
	cursor: pointer;
	&:hover {
		background-color: $background-color_38;
		color: $color_1;
	}
}
.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.overflow {
	white-space: nowrap;
	overflow: hidden;
	display: block;
}
.ellipsis {
	text-overflow: ellipsis;
}
.clip {
	text-overflow: clip;
}
.popover-content {
	background: #fff linear-gradient(#fff, #caeeff);
}
.rbc-label-start {
	font-family: $font-family_4;
}
.ibox-content {
	h2 {
		margin-top: 3px;
	}
	h4 {
		font-weight: 400;
		color: $color_2;
	}
	.progress {
		margin-bottom: 0;
		background-color: $background-color_39;
		border-radius: 2px;
	}
	.progress-bar {
		span {
			padding: 0 0.5em;
		}
	}
}
ul.bullet-list {
	list-style-type: disc;
	list-style-position: inside;
	padding: 0.25em 1em;
}
input[checked=checked] {
	.no-margin {
		margin: 0 !important;
	}
}
.no-vmargin {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.no-hmargin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-bmargin {
	margin-bottom: 0 !important;
}
.no-tmargin {
	margin-top: 0 !important;
}
.narrow-heading {
	margin: 0 !important;
	line-height: inherit !important;
}
.text-condensed {
	font-family: $font-family-condensed;
}
.text-narrow {
	font-family: $font-family-condensed;
}
.text-wide {
	font-family: $font-family_1;
}
.callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.callout-info {
	border-left-color: $border-left-color_1;
}
.callout-success {
	border-left-color: $border-left-color_2;
}
.callout-warning {
	border-left-color: $border-left-color_3;
}
.callout-danger {
	border-left-color: $border-left-color_4;
}
.cycle-box {
	h3 {
		margin-bottom: 0;
	}
	table {
		margin-bottom: 0;
	}
}
.profile {
	.label {
		line-height: 2;
	}
}
.label.calc {
	display: inline-block;
	min-width: 3em;
	line-height: 1.4;
}
.border-3d {
	border: 1px solid transparent;
	border-image-source: linear-gradient(to bottom right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
	border-image-slice: 1;
}
.state-design {
	color: $color_39;
}
.state-construction {
	color: $color_40;
}
.state-commissioning {
	color: $color_41;
}
.state-operating {
	color: $color_42;
}
.state-decommissioned {
	color: $color_16;
}
.state-abstaining {
	color: $color_43;
}
.bg-construction {
	background-color: $background-color_40;
}
.bg-commissioning {
	background-color: $background-color_41;
}
.bg-operating {
	background-color: $background-color_42;
}
.bg-decommissioned {
	background-color: $background-color_43;
}
.bg-abstaining {
	background-color: $background-color_44;
}
.bg-paper {
	background-color: $background-color_9;
}
#hazard-editor {
	margin: -15px 0 0;
	ul.nav-tabs {
		padding-top: 3px;
		background-color: $background-color_12;
		li {
			>a {
				padding: 4px 6px !important;
			}
		}
	}
	.checkbox{
		input+label {
			&::before {
				margin-top: 2px;
			}
		}
	}
	.radio {
		input+label {
			&::before {
				margin-top: 2px;
			}
		}
	}
}
ul.nav-tabs {
	.superscript {
		.badge {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
.sample-review-icon {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background-color: $background-color_45;
}
table.fixed-header {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
	thead {
		flex: 0 0 auto;
		width: calc(100% - 0.9em);
		display: table;
		table-layout: fixed;
	}
	tbody {
		flex: 1 1 auto;
		display: block;
		overflow-y: scroll;
		tr {
			width: 100%;
			display: table;
			table-layout: fixed;
		}
	}
}
.box-tools {
	padding: 0.5em 0.5em;
	padding-right: 0.25em !important;
	line-height: 1;
	text-align: center;
	a {
		position: relative;
		text-align: center;
		padding: 0 0.75em;
		&:last-child {
			padding-left: 1.5em;
			border-left: 1px solid rgba(0,0,0,0.15);
		}
	}
}
.table-tools {
	border-left: 1px solid rgba(0,0,0,0.15);
	padding: 0.1em 0.1em;
	padding-right: 0 !important;
	vertical-align: middle;
	text-align: center;
	>a {
		text-align: center;
		padding: 0 0.1em;
	}
}
.tool-label {
	display: inline-block;
	font-size: 90%;
	color: $color_7;
	line-height: 0.75;
	padding-top: 0.5em;
}
.btn-label {
	display: inline-block;
	font-size: 90%;
	color: $color_7;
	line-height: 0.75;
	padding-top: 0.5em;
	margin-left: 0.5em;
}
ul.nav-tabs.small-tabs {
	padding: 0 1em;
	li {
		>a {
			margin-right: 2px;
			line-height: 1.3;
			border-radius: 2px 2px 0 0;
			font-weight: 700;
			font-size: 95%;
			padding: 2px 1em;
		}
	}
}
span.twitter-typeahead {
	display: inherit !important;
}
.help-block {
	margin-top: 0;
	line-height: 1.1;
	font-size: 98%;
}
.label-risk0 {
	background-color: $background-color_46;
}
.label-risk1 {
	background-color: $background-color_47;
}
.label-risk2 {
	background-color: $background-color_19;
}
.label-risk4 {
	background-color: $background-color_48;
}
.label-risk3 {
	background-color: $background-color_48;
}
.modal-scroll-body {
	max-height: 450px;
	overflow-y: auto;
}
hr.bottom-edge {
	margin-bottom: 0 !important;
}
hr.top-edge {
	margin-top: 0 !important;
}
span.stats-title {
	margin-bottom: 3px;
	text-transform: uppercase;
	color: $color_37;
	font-size: 12px;
	line-height: 18px;
}
span.stats-danger {
	margin-bottom: 3px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	color: $color_33;
}
span.stats-number {
	font-weight: 300;
	padding: 0 6px;
	font-size: 36px;
	line-height: 36px;
}
.stats-table {
	font-size: 12px;
	td {
		&:not(:first-child) {
			font-family: $font-family_2;
		}
		&:first-child {
			font-family: $font-family_5;
			font-weight: 600;
			text-align: left;
		}
	}
	th {
		font-family: $font-family_2;
		font-weight: 600 !important;
		color: $color_12;
		text-align: right;
	}
	tr {
		>td {
			text-align: right;
		}
	}
}
.text-table {
	font-size: 12px;
	td {
		&:not(:first-child) {
			font-family: $font-family_2;
		}
		&:first-child {
			font-family: $font-family_5;
			font-weight: 600;
			text-align: left;
		}
	}
	th {
		font-family: $font-family_2;
		font-weight: 600 !important;
		color: $color_12;
	}
}
.plot-chart {
	padding: 2em;
	border: 1px solid rgba(0,0,0,0.08);
}
.data-reports {
	margin-bottom: 0.5em;
}
.progress-bar {
	min-width: 2px;
}
.inline-progress {
	display: inline-block;
	font-size: 10px;
	width: 100%;
	height: 1em;
	position: relative;
	background-color: $background-color_9;
	border: 1px solid rgba(0,0,0,0.65);
	>div {
		display: block;
		height: 100%;
		position: absolute;
		line-height: inherit;
	}
	>div.striped {
		background-size: 3px 3px !important;
	}
}
.inline-progress.disabled {
	border: 1px solid rgba(0,0,0,0.65);
}
.histogram {
	.bar {
		rect {
			fill: steelblue;
		}
		text {
			fill: #fff;
			font: 10px sans-serif;
		}
	}
	.score-line {
		fill: none;
		stroke: #fd8d3c;
		stroke-width: 3;
	}
}
.delete-review-command {
	border-left: 1px solid rgba(0,0,0,0.08);
	padding-left: 0.5em;
	margin-left: 1em;
}
dl {
	dt {
		float: left;
		clear: left;
		width: 7rem;
		text-align: right;
		font-weight: bold;
		&:after {
			content: ":";
		}
	}
	dd {
		margin: 0 0 0 8rem;
		padding: 0 0 0.5em 0;
	}
}
.spinner {
	position: fixed;
	left: 50%;
	top: calc(50% - 30px);
	height: 60px;
	width: 60px;
	margin: 0 auto;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left: 6px solid rgba(0,174,239,0.15);
	border-right: 6px solid rgba(0,174,239,0.15);
	border-bottom: 6px solid rgba(0,174,239,0.15);
	border-top: 6px solid rgba(0,174,239,0.8);
	border-radius: 100%;
}
#spinner {
	display: none;
}
#page-spinner {
	display: none;
}
#spinner.spinner {
	display: block;
}
#page-spinner.spinner {
	display: block;
}
[data-href] {
	color: $color_35;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $color_36;
		text-decoration: none;
		outline: 0;
	}
	&:focus {
		color: $color_36;
		text-decoration: none;
		outline: 0;
	}
	&:active {
		color: $color_36;
		text-decoration: none;
		outline: 0;
	}
}
[data-url] {
	cursor: pointer;
}
.command-icon {
	font-size: 18px;
	line-height: 24px;
	margin-left: 0.5em;
}
.reject-sample-command {
	&:before {
		font-family: $font-family_4;
	}
}
.pending-sample {
	border: 1px solid rgba(0,0,0,0.1);
	.reject-sample-command {
		&:before {
			color: $color_33;
			content: "\F421";
		}
	}
}
.rejected-sample {
	border: 1px solid rgba(0,0,0,0.1);
	background-color: $background-color_49;
	.reject-sample-command {
		&:before {
			color: $color_7;
			content: "\F6B6";
		}
	}
}
.reviewed-sample {
	border: 1px solid rgba(0,0,0,0.1);
	&:not(.rejected-sample) {
		color: $color_44;
		background-color: $background-color_42;
	}
}
.command-icon.highlighted {
	position: relative;
	display: inline-block;
	&::before {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		height: 12px;
		width: 12px;
		color: $color_1;
		background: #f6d65a;
		border: 3px solid #fff;
		line-height: 12px;
		font-size: 8px;
		border-radius: 20px;
		text-align: center;
		opacity: 0.8;
		content: "";
	}
}
ul.list-ruled {
	li+li {
		border-top: 1px solid rgba(0,0,0,0.1) !important;
	}
}
.version {
	font-size: 80%;
	color: $color_45;
	text-align: center;
	line-height: 4em;
}
body.no-scroll {
	overflow-y: hidden;
}
.filter-list {
	font-size: inherit !important;
	.dropdown-menu {
		font-size: inherit !important;
	}
}
.filter-list.nav {
	>li {
		>a {
			vertical-align: middle;
			display: inline-flex;
			padding: 6px;
		}
		>span {
			vertical-align: middle;
			display: inline-flex;
			padding: 6px;
			line-height: inherit !important;
		}
	}
	>li.nav-link {
		margin-left: auto;
		align-self: flex-end;
	}
}
ul.filter-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.icon-spin {
	&:before {
		animation: spin 1s infinite linear;
	}
}
.icon-lg {
	font-size: 1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}
.icon-2x {
	font-size: 2em;
}
.icon-3x {
	font-size: 3em;
}
.icon-4x {
	font-size: 4em;
}
.icon-5x {
	font-size: 5em;
}
.icon-fw {
	display: inline-block;
	width: 1.28571429em;
	text-align: center;
}
.icon-ul {
	padding-left: 0;
	margin-left: 2.14285714em;
	list-style-type: none;
	>li {
		position: relative;
	}
}
.icon-li {
	position: absolute;
	left: -2.14285714em;
	width: 2.14285714em;
	top: 0.14285714em;
	text-align: center;
}
.icon-li.icon-lg {
	left: -1.85714286em;
}
.icon-border {
	padding: .2em .25em .15em;
	border: solid 0.08em #eee;
	border-radius: .1em;
}
.icon-pull-left {
	float: left;
	margin-right: .3em;
}
.icon-pull-right {
	float: right;
	margin-left: .3em;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.icon-rotate-90 {
	transform: rotate(90deg);
}
.icon-rotate-180 {
	transform: rotate(180deg);
}
.icon-rotate-270 {
	transform: rotate(270deg);
}
.icon-flip-horizontal {
	transform: scale(-1, 1);
}
.icon-flip-vertical {
	transform: scale(1, -1);
}
:root {
	.icon-rotate-90 {
		filter: none;
	}
	.icon-rotate-180 {
		filter: none;
	}
	.icon-rotate-270 {
		filter: none;
	}
	.icon-flip-horizontal {
		filter: none;
	}
	.icon-flip-vertical {
		filter: none;
	}
}
.icon-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}
.icon-stack-1x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: inherit;
}
.icon-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 2em;
}
.icon-inverse {
	color: $color_1;
}

.controls {
	label {
		line-height: 1.5;
	}
}


//label {
//	&:has(input[type=radio]) {
//		position: relative;
//		padding-left: 1.5em;
//		line-height: 1.3;
//		cursor: pointer;
//		font-weight: normal;
//	}
//
//	&:has(input[type=checkbox]) {
//		position: relative;
//		padding-left: 1.5em;
//		line-height: 1.3;
//		cursor: pointer;
//		font-weight: normal;
//	}
//}


label.pictogram {
	&::before {
		visibility: hidden;
		content: "" !important;
	}
}
.datepicker {
	font-family: $font-family_5 !important;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
body.registration {
	background: $background-color_50;
	.aligner {
		width: 100vw;
		height: 100vh;
		background-color: $background-color_50;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.registration {
	header {
		background-color: $background-color_51;
		color: $color_1;
		padding: 0 15px;
		img {
			height: 55px;
			margin-right: 1em;
			width: auto;
		}
		h3 {
			padding: 0;
			margin: 0 !important;
			line-height: 55px;
		}
	}
	article {
		padding: 0 15px;
	}
	.main-title {
		text-align: center;
		padding: 0;
		border: 0;
	}
	.main-text {
		color: $color_12;
		display: block;
		font-size: 15px;
		font-style: italic;
		margin-bottom: 0.5em;
		position: relative;
		text-align: center;
		&:before {
			background: none repeat scroll 0 0 #eee;
			content: "";
			display: block;
			height: 1px;
			left: 0;
			position: absolute;
			right: 0;
			top: 50%;
		}
		span {
			background: none repeat scroll 0 0 #fff;
			display: inline-block;
			padding: 0 20px;
			position: relative;
		}
	}
	.main-error {
		color: $color_16;
		text-align: center;
		position: relative;
		margin-bottom: 1em;
	}
	footer.register-actions {
		border-top: 1px solid #ddd;
		padding: 1em;
		background: none repeat scroll 0 0 #f6f6f6;
	}
	.bg-primary {
		background-color: $background-color_51;
		color: $color_1;
		border-color: $border-color_4;
		&:hover {
			color: $color_46;
			background-color: $background-color_51;
			border-color: $border-color_4;
		}
		&:focus {
			color: $color_46;
			background-color: $background-color_51;
			border-color: $border-color_4;
		}
	}
	.page {
		width: 80%;
		min-width: 360px;
		max-width: 800px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		min-height: 500px;
		background: #fff;
	}
	.tab-pane {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		min-height: 600px;
		&:not(.active) {
			display: none;
		}
	}
	.tab-main {
		flex: 1;
	}
}
.register-actions {
	a.btn+a.btn {
		margin-right: 5px;
	}
}
.registration.password {
	.page {
		max-width: 550px;
	}
}
.registration.login {
	.page {
		max-width: 400px;
		min-height: 400px;
	}
}
@media only screen and (max-width: 768px) {
	.item-list {
		th:not(:first-child) {
			display: none;
		}
		td:not(:first-child) {
			display: none;
		}
	}
	.list-tools {
		flex-direction: column;
		flex-wrap: wrap;
		>* {
			min-width: 100%;
		}
	}
	header {
		>.brand {
			height: 50px;
			line-height: 50px;
			width: 50px;
			font-size: 18px;
		}
		.profile-menu {
			margin-left: 50px;
			>li.dropdown {
				>a {
					img {
						border-radius: 50%;
						max-height: 35px;
						max-width: 35px;
						margin-left: 0.5em;
					}
				}
			}
		}
		.breadcrumb {
			position: absolute;
			right: 15px;
			top: 0;
			line-height: 50px;
		}
		.navbar-nav {
			>li {
				>a {
					line-height: 50px;
					outline: 0 none;
					padding: 0 0.5em;
				}
			}
		}
		.page-head {
			width: calc(100% - 65px);
			height: 50px;
			.title {
				font-size: 24px;
				line-height: 50px;
				font-weight: 300;
				margin-bottom: 0;
				margin-top: 0;
			}
		}
	}
	nav.sidebar {
		margin-top: 50px;
		padding-bottom: 50px;
		width: 50px;
		.menu {
			>li {
				>ul.sub-menu {
					left: 50px;
					width: 200px;
					>li.title {
						padding-bottom: 0;
						padding-top: 0;
						line-height: 50px;
					}
				}
				>ul.sub-menu.visible {
					display: block;
					animation: shift50 0.3s;
				}
				>a {
					span {
						display: none;
					}
				}
			}
		}
	}
	main.content {
		padding-left: 50px;
		margin-top: 50px;
		padding-bottom: 0;
	}
}
@media only screen and (min-width: 1170px) {
	.auto-large {
		font-size: 160%;
	}
}
@media (min-width: 768px) {
	.dashboard {
		.block-sizer {
			width: calc(33.33% - 10px);
		}
		.block {
			width: calc(33.33% - 10px);
		}
	}
	html.no-scroll {
		overflow-y: hidden;
	}
}
@media (max-width: 480px) {
	.dashboard {
		.block-sizer {
			width: 100%;
		}
		.block {
			width: 100%;
		}
	}
}
@media (max-width: 768px) {
	.btn-label {
		display: none;
	}
	.tool-label {
		display: none;
	}
}


.list-tools {
	display: flex;
	flex-direction: row;
	align-items: center;
    min-height: 37px;
	margin: 0 15px;
	padding-bottom: 1em;
	border-bottom: 1px solid $background-color_31;
	> span:first-of-type {
		flex: 1;
	}
	> span:last-of-type {
		margin-left: auto;
	}
}

.pictogram-box {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	height: 66px;
	margin-right: 22px;
	img {
		padding: 2px;
		height: 66%;
		margin-right: -22px;
		&:nth-child(even) {
			align-self: flex-start;
		}
		&:nth-child(odd) {
			align-self: flex-end;
		}
		&:only-child {
			height: 100%;
			align-self: center;
		}
	}
}
.pictogram-lg {
	height: 99px;
	margin-right: 33px;
	img {
		margin-right: -33px;
	}
}
.pictogram-sm {
	height: 45px;
	margin-right: 15px;
	img {
		margin-right: -15px;
	}
}

span.allocation-score {
	display: inline-block;
	padding-right: 1em;
}

