{% extends "crisp_modals/confirm.html" %}

{% block modal_title %}Reset Password?{% endblock %}
{% block modal_body %}
<p class="lead">Are you sure you want to reset the user's password?</p>
<div class="alert alert-light">
	<h4>{{object}}</h4>
	<hr class="hr-xs"/>
	Created, {{object.created|timesince}} ago<br/>
	Last Modified, {{object.modified|timesince}} ago<br/>

    <hr class="hr-xs"/>
    <h5>NOTE</h5>
    <p>The user will be emailed at all their configured email addresses with
        a link to enter a new password. The URL can only be used once. The reset request will be valid for 24 Hrs.
    </p>
</div>
{% endblock %}






