{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load jsonify %}


{% block extra_css %}
	{% endblock %}
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" integrity="sha512-BI1itUvyiWbbZ446/8IOccwMPB/xobCTyQTS0r1+k8Pq1VPT3uIJKNCoMH12rKk18J9sH33xQNve7srB0IGYlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" integrity="sha512-qOBWNAMfkz+vXXgbh0Wz7qYSLZp6c14R0bZeVX2TdQxWpuKr6yHjBIM69fcF8Ve4GUX6B6AKRQJqiiAmwvmUmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/countries.min.js' %}" charset="UTF-8"></script>
<script type="text/javascript">

var $country = $('#id_country');
var $region = $('#id_region');

var countries = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: COUNTRIES
});
var _regions = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: REGIONS["CANADA"]
});


$country.typeahead(null, {
    source: countries,
    limit: 20
});

$region.typeahead(null, {
    source: _regions,
    limit: 20
});

$country.bind('typeahead:selected', function() {
    var cntry = $country.val();
    var cntry_regions = REGIONS[cntry.toUpperCase()];


    if (cntry  && cntry_regions) {
        var regions = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: cntry_regions
        });

        $region.typeahead('destroy');
        $region.typeahead(null, {
            source: regions,
            limit: 20
        });
        if ($.inArray($region.val(), cntry_regions) != -1) {
            $region.val("")
        }
    }
});


var institutions = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: '{% url "institution-search" %}?q=%QUERY',
    wildcard: '%QUERY'
  }
});

$('.institution-input').typeahead(null, {
    name: 'institutions',
    source: institutions
});

</script>
{% endblock %}

{% block page-title %}Edit My Profile{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="page col-xs-12">
	<div class="page-heading"><h3>What would you like to change?</h3></div>
	<br/>
	{% crispy form2 form2.helper %}
	{% crispy form form.helper %}
</div>
</div>
{% endblock %}

