{% extends "users/registration.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block page_title %}User Services Online{% endblock %}
{% block main-title %}USO Login{% endblock %}
{% block body_class %}no-sidebar registration login{% endblock %}

{% block article-and-footer %}
    <article class="main p-4">
        <div class="text-center text-body-secondary"><i class="bi bi-person-lock icon-xl"></i></div>
        {% crispy form form.helper %}
    </article>

    <footer class="small register-actions border-top p-4 bg-secondary-subtle">
        <div class="text-body-secondary">
        Don't have an account yet? <a href="{% url 'portal-register' %}">Register</a><br/>
        NOTE: This site uses cookies, JavaScript and requires a modern web browser.
        </div>
        {{ description }}
    </footer>
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
{% endblock %}