{% extends "users/registration.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block page_title %}CLS User Office Online{% endblock %}
{% block login-title %}Set Password{% endblock %}
{% block body_class %}registration password{% endblock %}

{% block article-and-footer %}
    <article class="main">
    	<div class="tinytron bg-info" style="margin-top: 15px;">
		    <h3 class="text-condensed text-center">Hi, {{ name }}</h3>
            <hr class="hr-xs"/>
            <h5 class="text-center">{% autoescape off %}{{ title }}{% endautoescape %}</h5>
	    </div>
        {% crispy form form.helper %}
    </article>

    <footer class="register-actions">
        Password requirements:
        <ul class="icon-ul">
            <li><i id="upper" class="icon-li bi-square"></i>at least one upper-case letter,</li>
            <li><i id="lower" class="icon-li bi-square"></i>at least one lower-case letter,</li>
            <li><i id="digit" class="icon-li bi-square"></i>at least one digit,</li>
            <li><i id="length" class="icon-li bi-square"></i>at least six characters long,</li>
            <li><i id="twice" class="icon-li bi-square"></i>type the same password twice.</li>
        </ul>
        {{ description }}
    </footer>

<script>
	function checkPassword() {
		var pw = $('#id_password').val();
		upper = /^(?=.*[A-Z].*)/;
		lower = /^(?=.*[a-z].*)/;
		digit = /^(?=.*\d.*)/;
		length = /^.{6,}/;
		if (upper.test(pw)) {$('i#upper').removeClass('bi-square').addClass('bi-check2-square');
		} else {$('i#upper').removeClass('bi-check2-square').addClass('bi-square');
		}
		if (lower.test(pw)) {$('i#lower').removeClass('bi-square').addClass('bi-check2-square');
		} else {$('i#lower').removeClass('bi-check2-square').addClass('bi-square');
		}
		if (digit.test(pw)) {$('i#digit').removeClass('bi-square').addClass('bi-check2-square');
		} else {$('i#digit').removeClass('bi-check2-square').addClass('bi-square');
		}
		if (length.test(pw)) {$('i#length').removeClass('bi-square').addClass('bi-check2-square');
		} else {$('i#length').removeClass('bi-check2-square').addClass('bi-square');
		}
		if (pw == $('#id_confirm').val()) {$('i#twice').removeClass('bi-square').addClass('bi-check2-square');
		} else {$('i#twice').removeClass('bi-check2-square').addClass('bi-square');
		}
	}
	$('#id_password').keyup(checkPassword);
	$('#id_confirm').keyup(checkPassword);
</script>
{% endblock %}