{% extends "users/registration.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block page_title %}CLS User Office Online{% endblock %}
{% block login-title %}Set Password{% endblock %}
{% block body_class %}no-sidebar registration password{% endblock %}

{% block article-and-footer %}
    <article class="main p-4">
    	<div class="callout callout-info mb-4">
            <div class="text-center"><strong class="fs-3">Hi, {{ name }}!</strong></div>
            <hr class="hr-xs"/>
            <p class="lead text-center">{% autoescape off %}{{ title }}{% endautoescape %}</p>
	    </div>
        {% crispy form form.helper %}
    </article>

    <footer class="small register-actions border-top bg-secondary-subtle p-4">
        Password requirements:
        <ul class="icon-ul">
            <li><i id="upper" class="icon-li bi-square"></i>at least one upper-case letter,</li>
            <li><i id="lower" class="icon-li bi-square"></i>at least one lower-case letter,</li>
            <li><i id="digit" class="icon-li bi-square"></i>at least one digit,</li>
            <li><i id="length" class="icon-li bi-square"></i>at least six characters long,</li>
            <li><i id="twice" class="icon-li bi-square"></i>type the same password twice.</li>
        </ul>
        {{ description }}
    </footer>

<script>
    function validatePassword() {
        // Check password strength and match
        const $pwField = $('#id_password');
        const $confirmField = $('#id_confirm');
        const pw = $pwField.val();
        const upper = /^(?=.*[A-Z].*)/;
		const lower = /^(?=.*[a-z].*)/;
		const digit = /^(?=.*\d.*)/;
		const length = /^.{6,}/;
		if (upper.test(pw)) {
            $('i#upper').removeClass('bi-square').addClass('bi-check2-square');
		} else {
            $('i#upper').removeClass('bi-check2-square').addClass('bi-square');
		}
		if (lower.test(pw)) {
            $('i#lower').removeClass('bi-square').addClass('bi-check2-square');
		} else {
            $('i#lower').removeClass('bi-check2-square').addClass('bi-square');
		}
		if (digit.test(pw)) {
            $('i#digit').removeClass('bi-square').addClass('bi-check2-square');
		} else {
            $('i#digit').removeClass('bi-check2-square').addClass('bi-square');
		}
		if (length.test(pw)) {
            $('i#length').removeClass('bi-square').addClass('bi-check2-square');
		} else {
            $('i#length').removeClass('bi-check2-square').addClass('bi-square');
		}
		if ((pw !== '') && (pw === $confirmField.val())) {
            $('i#twice').removeClass('bi-square').addClass('bi-check2-square');
		} else {
            $('i#twice').removeClass('bi-check2-square').addClass('bi-square');
		}
    }
    $(document).on('keyup', '#id_password, #id_confirm', function () {
        validatePassword();
	});
    $("#id_password, #id_confirm").change(function () {
        validatePassword();
    });
</script>
{% endblock %}