{% extends 'page.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load jsonify %}

{% block extra_css %}
	{% endblock %}
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" integrity="sha512-qOBWNAMfkz+vXXgbh0Wz7qYSLZp6c14R0bZeVX2TdQxWpuKr6yHjBIM69fcF8Ve4GUX6B6AKRQJqiiAmwvmUmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function() {
    let institutions = new Bloodhound({
      datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.key);},
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: {
        url: '{% url "institution-entries" %}',
        cache: true
      },
      remote: {
        url: '{% url "institution-search" %}?q=%QUERY',
        wildcard: '%QUERY'
      }
    });
    const $instInput = $('.institution-input');

    $instInput.typeahead(null, {
        name: 'institutions',
        source: institutions,
        display: 'name',
        limit: 10
    });

    $instInput.bind('typeahead:select', function(ev, suggestion){
        const $countryInput = $('#id_country');
        const $cityInput = $('#id_city');
        $countryInput.val(suggestion.country_id).trigger('change');
        $regionSelect.val(suggestion.region_id).trigger('change');
        $cityInput.val(suggestion.city).trigger('change');
    })
});


</script>
{% endblock %}
{% block page-pretitle %}Form{% endblock %}
{% block page-title %}{{form.helper.title}}{% endblock %}

{% block page-content %}
    {% crispy form form.helper %}
{% endblock %}