{% extends "users/registration.html" %}


{% load static %}
{% load dynforms %}
{% load jsonify %}
{% block page_title %}Registration{% endblock %}

{% block main-title %}Registration{% endblock %}

{% block main-form %}
    {% include "dynforms/form.html" %}
{% endblock %}

{% block pre_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
            integrity="sha512-BI1itUvyiWbbZ446/8IOccwMPB/xobCTyQTS0r1+k8Pq1VPT3uIJKNCoMH12rKk18J9sH33xQNve7srB0IGYlg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-form@3.50.0/jquery.form.min.js"></script>
    <script src="{% static 'dynforms/dynforms.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dynforms/dynforms.min.css' %}" type="text/css"/>
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"
            integrity="sha512-qOBWNAMfkz+vXXgbh0Wz7qYSLZp6c14R0bZeVX2TdQxWpuKr6yHjBIM69fcF8Ve4GUX6B6AKRQJqiiAmwvmUmQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            const $form = $("#df-form-instance");
            let institutions = new Bloodhound({
                datumTokenizer: function (d) {
                    return Bloodhound.tokenizers.whitespace(d.key);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '{% url "institution-search" %}?q=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#institution').typeahead(null, {
                name: 'institutions',
                source: institutions,
                limit: 10
            });

            $("#contact-email").on("change", function () {
                let email = $(this).val();
                if (email) {
                    $.ajax({
                        url: `{% url 'institution-detail' %}?email=${encodeURIComponent(email)}`,
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            console.log(data)
                            $form.deserialize(data);
                        },
                        error: function (xhr, status, error) {
                            console.error("Error fetching institution data:", error);
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}