{% extends "users/registration.html" %}


{% load static %}
{% load dynforms_tags %}
{% load jsonify %}
{% block page_title %}CLS - Registration{% endblock %}

{% block extra_css %}
{{ block.super }}
<link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block main-title %}Registration{% endblock %}

{% block main-form %}
{% with form.instance.validate as validation %}
<form id="registration-form" class="df-form" method="post">
    {% csrf_token %}
    <div class="form-page tab-content row-fluid">
        {% for page in form.form_type.pages %}
        <div id="{{forloop.counter}}-form" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}">
            <div class="tab-main {% if forloop.counter == active_page %}active{% endif %}" id="page{{forloop.counter}}">
                <div class="main-text">
                    <span>{{ page.name }}</span>
                </div>
                {% if form.errors %}
                <div class="alert {% if form.errors %} alert-danger{% else %}alert-warning{% endif %} alert-dismissible" style="line-height: 1;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="bi-x-lg icon-sm icon-fw"></i></button>
                    <strong>Errors:
                    {{ form.errors }}
                    </strong>
                </div>
                {% endif %}
                {% for field in page.fields %}
                <div class="container-fluid df-field-runtime {% check_error field.name form.errors %} no-space">
                    {% include "dynforms/field.html" %}
                </div>
                {% endfor %}
                {% if forloop.last %}
                <div class="row">
                    <div class="col-xs-12" style="margin: 1em 0;">
                        {% for name, label in form.form_type.actions %}
                        <button type="submit" name="submit" value="Submit"
                                class="btn bg-primary col-xs-6 col-sm-3 pull-right"><i
                                class="bi-arrow-right-circle"></i>&emsp;Submit
                        </button>
                        <br>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            <footer class="register-actions" style="margin: 0 -15px;">
                {% if forloop.counter < form.form_type.pages|length %}
                <a class="btn btn-white btn-sm next-btn pull-right" href="#{{forloop.counter|add:1}}-form"
                   data-bs-toggle="tab">Continue&nbsp;<i class="bi-skip-forward icon-fw"></i></a>
                {% endif %}
                {% if forloop.counter > 1 %}
                <a class="btn btn-white btn-sm back-btn pull-right" href="#{{forloop.counter|add:-1}}-form"
                   data-bs-toggle="tab"><i class="bi-skip-backward icon-fw"></i>&nbsp;Back</a>
                {% endif %}
                <p>
                    Already registered? <a href="{% url 'user-dashboard' %}">Login</a><br/>
                    NOTE: This site uses cookies, JavaScript and requires a modern web browser.
                </p>
            </footer>
        </div>
        {% endfor %}
    </div>
</form>
{% endwith %}
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-form@3.50.0/jquery.form.min.js"></script>
<script src="{% static 'dynforms/dynforms.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" integrity="sha512-qOBWNAMfkz+vXXgbh0Wz7qYSLZp6c14R0bZeVX2TdQxWpuKr6yHjBIM69fcF8Ve4GUX6B6AKRQJqiiAmwvmUmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function(){
    // Register events for monitoring rule change triggers
    {% for fn, ft in form.form_type.field_specs.items %}
        {% for rl in ft.rules %}
        $("#{{rl.field}}-group").on('dynrules:update', function(event) {
            var tgt = $("#{{fn}}-group");
            var value = valuesOnly($("#registration-form :input[name='{{rl.field}}{{rl.subfield}}']").serializeArray());
            {% if rl.action == 'show' %}
            tgt.toggleClass("df-hide", !testRule(value, "{{rl.operator}}", "{{rl.value}}"));
            {% elif rl.action == 'hide' %}
            tgt.toggleClass("df-hide", testRule(value, "{{rl.operator}}", "{{rl.value}}"));
            {% endif %}
        });
        $("#registration-form :input[name='{{rl.field}}{{rl.subfield}}']").change(function(event){
            $("#{{rl.field}}-group").trigger('dynrules:update');
        });
        $("#registration-form :input[name='{{rl.field}}{{rl.subfield}}']").change();
        {% endfor %}
    {% endfor %}

    // Auto Populate Address on institution select
    $("form").attr('autocomplete', 'off');
    $("#institution").attr('autocomplete', 'off');
    $("#institution").bind('typeahead:selected', function(obj, value, name){
        jQuery.getJSON('{% url "institution-detail" %}?name=' + value, function(data){
            var old_data = $('form').serializeObject();
            if ((old_data['address.street']) || (old_data['address.place'])) {
                // do not overwrite filled data
            } else {
                $("#registration-form").deserialize(data);
            }
        });
    });
    // Auto Populate Address if email changes
    $("#registration-form :input[name='contact.email']").change(function(event){
        if(this.value==this.oldvalue) return; this.oldvalue=this.value; //fix double trigger
        jQuery.getJSON('{% url "institution-detail" %}?email=' + $(this).val(), function(data){
            var old_data = $('form').serializeObject();
            if ((old_data['address.street']) || (old_data['address.place']) || (old_data['institution']) ) {
                // do not overwrite filled data
            } else {
                $("#registration-form").deserialize(data);
            }
        });
    });

     var institutions = new Bloodhound({
      datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.key);},
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: '{% url "institution-search" %}?q=%QUERY',
        wildcard: '%QUERY'
      }
    });

    $('#institution').typeahead(null, {
        name: 'institutions',
        source: institutions,
        limit: 10
    });
});
</script>
{% endblock %}