{% extends "users/registration.html" %}


{% load static %}
{% load dynforms %}
{% load jsonify %}
{% block page_title %}Registration{% endblock %}

{% block main-title %}Registration{% endblock %}

{% block main-form %}
    {% include "dynforms/form.html" %}
{% endblock %}

{% block pre_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
            integrity="sha512-BI1itUvyiWbbZ446/8IOccwMPB/xobCTyQTS0r1+k8Pq1VPT3uIJKNCoMH12rKk18J9sH33xQNve7srB0IGYlg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-form@3.50.0/jquery.form.min.js"></script>
    <script src="{% static 'dynforms/dynforms.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dynforms/dynforms.min.css' %}" type="text/css"/>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" integrity="sha512-qOBWNAMfkz+vXXgbh0Wz7qYSLZp6c14R0bZeVX2TdQxWpuKr6yHjBIM69fcF8Ve4GUX6B6AKRQJqiiAmwvmUmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function() {
    let institutions = new Bloodhound({
      datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.key);},
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: {
        url: '{% url "institution-entries" %}',
        cache: true
      },
      remote: {
        url: '{% url "institution-search" %}?q=%QUERY',
        wildcard: '%QUERY'
      }
    });
    const $instInput = $('#institution');

    $instInput.typeahead(null, {
        name: 'institutions',
        source: institutions,
        display: 'name',
        limit: 10
    });

    $instInput.bind('typeahead:select', function(ev, suggestion){
        const $countryInput = $('#address__country');
        const $cityInput = $('#address__city');
        const $regionInput = $('#address__region');
        const $sectorInput = $('#sector__controls [name="sector"]');
        $countryInput.val(suggestion.country).trigger('change');
        $regionInput.val(suggestion.region).trigger('change');
        $sectorInput.each(function() {

            if ($(this).val() === suggestion.sector) {
                $(this).prop('checked', true);
            } else {
                $(this).prop('checked', false);
            }
        });
        $cityInput.val(suggestion.city).trigger('change');
    })

    $("#contact__email").on("change", function () {
        const $form = $("#df-form-instance");
        let email = $(this).val();
        if (email) {
            $.ajax({
                url: `{% url 'institution-detail' %}?email=${encodeURIComponent(email)}`,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $form.deserialize(data);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching institution data:", error);
                }
            });
        }
    });
});
</script>
{% endblock %}