{% extends "forms/modal.html" %}
{% load crispy_forms_tags %}

{% load timeish %}
{% load roleperms %}
{% load cycle_tags %}
{% load misc %}
{% block form_title %}User Profile{% endblock %}
{% block form_body %}
<div class="row narrow-gutter">
	<div class="col-xs-6">
		<h2 class="no-vmargin">{{user}}</h2>
        <hr class="hr-xs"/>
        <span class="pull-right">
            <a href="#0" data-url="{% url 'admin-request-reset' pk=user.pk %}" title="Reset Password" style="margin: 0 0.5em;">
                <i class="bi-arrow-clockwise icon-1x icon-fw"></i>
            </a>
            <a href="{% url 'edit-user-profile' username=user.username %}" title="Edit Profile" style="margin: 0 0.5em;">
                <i class="bi-pencil icon-1x icon-fw"></i>
            </a>
        </span>
		<table class="profile table table-condensed">
			<tbody>
			<tr>
				<td class="item"><i class="bi-briefcase icon-fw"></i></td>
				<td>{{user.get_classification_display|default:""}}</td>
			</tr>
			<tr>
				<td class="item"><i class="bi-telephone icon-fw"></i></td>
				<td>{{user.address.phone|default:"<span class='text-muted'>(999)-999-9999</span>"}}</td>
			</tr>
			<tr>
				<td class="item"><i class="bi-envelope-at icon-fw"></i></td>
				<td>{{user.email}}</td>
			</tr>
			<tr>
				<td class="item"><i class="bi-house icon-fw"></i></td>
				<td>{{user.institution}}</td>
			</tr>
			<tr>
				<td class="item"><i class="bi-geo-alt icon-fw"></i></td>
				<td>{{user.address|default:""}}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-6 text-center">
		<img width="90%" src="{{user.get_photo}}" onerror="this.onerror=null;this.src='/static/img/blank-profile.png';" data-placement="bottom">
	</div>
</div>
    {% if object.roles or object.permissions %}
    <div class="row">
        <div class="col-xs-12">
            <hr class="hr-xs"/>
            <table class="profile table table-condensed">
                <tbody>
                {% if object.roles %}
                <tr>
                    <td class="item"><i class="bi-person-vcard icon-fw"></i></td>
                    <td>{% for r in object.roles %}<span title="Role: {{ r }}" class="label label-info">{{r|role_label}}</span> {% endfor %}</td>
                </tr>
                {% endif %}
                {% if object.permissions %}
                <tr>
                    <td class="item"><i class="bi-key icon-fw"></i></td>
                    <td>{% for p in object.permissions %}<span class="label label-success">{{p}}</span> {% endfor %}</td>
                </tr>
                {% endif %}
            </table>
            <hr class="hr-xs"/>
        </div>
    </div>
    {% endif %}
{% crispy form form.helper %}
{% endblock %}
