{% extends "crisp_modals/modal.html" %}
{% block modal_title %}User Feedback{% endblock %}
{% block modal_styles %}modal-lgx{% endblock %}
{% block modal_body %}

    <div class="row mb-3">
        <div class="col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Beamline:</strong> {{ feedback.beamline }}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Cycle:</strong> {{ feedback.cycle }}
                </li>
                {% if admin %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Submitted by:</strong> {{ feedback.user.get_full_name }}
                    </li>
                {% endif %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Submitted on:</strong> {{ feedback.created|date:"F j, Y, g:i a" }}
                </li>
            </ul>
        </div>
    </div>


    <div class="row g-4" style="max-height: 400px; overflow-y: scroll;">
        {% for category, ratings in feedback.ratings.by_category.items %}
            <div class="col-12">
                <div class="card h-100">
                    <div class="card-header"><strong>{{ category }}</strong></div>
                    <ul class="list-group list-group-flush">
                        {% for item in ratings %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ item.name }}
                                <span class="badge bg-score-{{ item.value }}">{{ item.label }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        <div class="col-12">
            <div class="card">
            <div class="card-header"><strong>Comments</strong></div>
            <div class="card-body">
                {% if feedback.details.machine_comments %}
                    <h6 class="card-subtitle mb-2 text-muted">Machine</h6>
                    <p class="card-text"><em>"{{ feedback.details.machine_comments }}"</em></p>
                {% endif %}
                {% if feedback.details.beamline_comments %}
                    <h6 class="card-subtitle mb-2 text-muted">Beamline</h6>
                    <p class="card-text"><em>"{{ feedback.details.beamline_comments }}"</em></p>
                {% endif %}
                {% if feedback.details.administration_comments %}
                    <h6 class="card-subtitle mb-2 text-muted">Administration</h6>
                    <p class="card-text"><em>"{{ feedback.details.administration_comments }}"</em></p>
                {% endif %}
                {% if feedback.details.amenities_comments %}
                    <h6 class="card-subtitle mb-2 text-muted">Amenities</h6>
                    <p class="card-text"><em>"{{ feedback.details.amenities_comments }}"</em></p>
                {% endif %}
                {% if feedback.details.amenities_desires %}
                    <h6 class="card-subtitle mb-2 text-muted">Desired Improvements</h6>
                    <p class="card-text"><em>"{{ feedback.details.amenities_desires }}"</em></p>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="col-12">
            <h5>Lodging</h5>
            <table class="table table-sm mt-3">
                <tbody>
                {% if feedback.details.amenities_lodging %}
                    <tr>
                        <th scope="row" class="w-25">Type</th>
                        <td>{{ feedback.details.amenities_lodging }}</td>
                    </tr>
                {% endif %}
                {% if feedback.details.amenities_lodging_reason %}
                    <tr>
                        <th scope="row">Reason</th>
                        <td>{{ feedback.details.amenities_lodging_reason }}</td>
                    </tr>
                {% endif %}
                {% if feedback.details.amenities_lodging_reason_comments %}
                    <tr>
                        <th scope="row">Comments</th>
                        <td>
                            <em>"{{ feedback.details.amenities_lodging_reason_comments }}"</em>
                        </td>
                    </tr>
                {% endif %}
                {% if feedback.details.amenities_lodging_comments %}
                    <tr>
                        <th scope="row">Comments</th>
                        <td><em>"{{ feedback.details.amenities_lodging_comments }}"</em></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}