{% load allocation_tags %}
{% load misc %}

<div>
    <table class="table-hover table-ruled table">
        <tr>
            <th class="">Project</th>
            <th class="text-end">Scores</th>
            <th class="text-end">Previous<span class="d-none d-sm-inline"> Beamtime</span></th>
            <th class="text-end" title="Requested Shifts">Request</th>
            <th class="text-end" title="Allocated Shifts">Award</th>
            <th>
                <span title="Total Awarded Shifts" class="pull-right">Total</span>
            </th>
        </tr>
        {% for alloc in section.projects.all %}
            <tr class="pool-row {% allocation_style alloc section.cutoff section.decision %}">
                <td>
                    {% if alloc.project.submissions.first.pk %}
                        <a href="{% url 'submission-detail' alloc.project.submissions.first.pk %}">
                            {{ alloc.project }}
                        </a>
                    {% else %}
                        {{ alloc.project }}
                    {% endif %}
                    {% if alloc.is_new %}&nbsp;<i class="bi-star text-warning icon-fw" title="New Project"></i>{% endif %}
                </td>
                <td class="text-end" data-bs-toggle="scores-popover">
                    {{ alloc.score|floatformat:2 }}
                    <div class="d-none">
                        <div id="allocation-score-{{ alloc.pk }}" class="d-flex flex-column">
                            {% for name, score in alloc.scores.items %}
                                <div><strong>{{ name }}: </strong> {{ score|floatformat }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </td>
                <td class="text-end">
                    {{ alloc.previous_beamtime|floatformat:0 }}
                </td>
                <td class="text-end">{{ alloc.shift_request }}</td>
                <td class="hover-edit text-end">
                    <a title="Edit Allocation" style="cursor: pointer;" data-modal-url="{% url 'edit-allocation' alloc.pk %}">
                        <text class="text-info pool-{{ alloc.key }}-item" style="font-weight: 700;">{{ alloc.shifts }}</text>
                    </a>
                </td>
                <td>
                    <text class="pull-right">{% store alloc.name alloc.shifts %}</text>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>