{% load misc %}
{% load project_tags %}
{% load beamlines %}
<div class="rounded-1 p-3 bg-darken mb-3">
    <div class="row">
        <div class="col-sm-12 d-flex flex-row">
            <div>
                <h4 class="text-condensed" style="margin-top:0.25em;">
                    <a href="{% url 'facility-detail' acronym=facility.acronym %}">{{ facility.acronym }}</a>
                    <span class="{% if allocation.cycle == cycle %}text-success{% else %}text-body-secondary{% endif %}"> &mdash; {{ allocation.cycle }}&emsp;</span>
                </h4>
                <small>{{ info.techniques }}</small>
            </div>

            {% if owner or admin %}
                <div class="box-tools d-flex flex-row-reverse ms-auto">
                    {% if owner %}
                    {% if info.can_renew %}
                        {% if info.renewal %}
                        <a href='{% url "edit-renewal-request" pk=info.renewal.pk %}'>
                            <i class="bi-recycle icon-md icon-fw"></i>
                            <span class="tool-label">Renewal</span>
                        </a>
                        {% else %}
                        <a href='{% url "create-renewal-request" pk=allocation.pk %}'>
                            <i class="bi-recycle icon-md icon-fw"></i>
                            <span class="tool-label">Renew</span>
                        </a>
                        {% endif %}
                    {% endif %}
                    {% if info.can_decline %}
                        <a href="#0" data-modal-url='{% url "decline-alloc" pk=allocation.pk %}'>
                            <i class="bi-x-lg icon-md icon-fw"></i>
                            <span class="tool-label">Decline</span>
                        </a>
                    {% endif %}
                    {% if info.can_book %}
                        <a href='{% url "create-booking-request" pk=allocation.pk %}'>
                            <i class="bi-calendar2-week icon-md icon-fw"></i>
                            <span class="tool-label">Book Shifts</span>
                        </a>
                    {% endif %}
                    {% endif %}
                    {% if admin or user|is_staff:facility and project.is_active %}
                        <a href="#0" data-modal-url='{% url 'session-handover' pk=project.pk fac=facility.acronym %}'
                           class="text-danger">
                            <i class="bi-play-circle icon-md icon-fw"></i>
                            <span class="tool-label">Hand-Over</span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <hr class="hr-xs">
    <div class="row">
        <div class="col-sm-12">
            <div class="row text-condensed">
                {% if allocation.declined %}
                    <div class="col-sm-4 text-center">
                        <span class="stats-danger">Allocation<br/> Declined by User!</span>
                    </div>
                {% elif not facility.flex_schedule %}
                    <div class="col-sm-4">
                        <span class="stats-number pull-left">{{ allocation.shifts|floatformat }}</span>
                        <span class="stats-title pull-left">Allocated<br/>Shifts</span>
                    </div>
                {% endif %}

                <div class="col-sm-4">
                    <span class="stats-number pull-left">{{ info.totals.scheduled|floatformat }}</span>
                    <span class="stats-title pull-left">Scheduled<br/>Shifts</span>

                </div>
                <div class="col-sm-4">
                    <span class="stats-number pull-left">{{ info.totals.used|floatformat }}</span>
                    <span class="stats-title pull-left">Used<br/>Shifts</span>
                </div>
            </div>
        </div>
    </div>
    {% if allocation.bookings.incomplete.exists %}
        <hr class="hr-xs">
        <div class="row">
            <div class="col-12">
                <h5>Booking Requests</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-nowrap">Modified</th>
                        <th class="text-nowrap">Shifts</th>
                        <th class="text-nowrap">Preferences</th>
                        <th class="text-nowrap">State</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in allocation.bookings.incomplete %}
                        <tr>
                            <td class="text-nowrap">{{ booking.modified|timesince }} ago</td>
                            <td class="text-nowrap">{{ booking.shift_request|floatformat }}</td>
                            <td class="">
                                <small class="text-success">{{ booking.good_dates|join:", " }}</small>&nbsp;
                                <small class="text-danger">{{ booking.poor_dates|join:", " }}</small>
                            </td>
                            <td class="text-nowrap">
                                {% if owner and booking.state == booking.States.draft %}
                                <a href="{% url "edit-booking-request" pk=booking.pk %}">
                                    {{ booking.get_state_display }}&emsp;<i class="bi bi-pencil"></i>
                                </a>
                                {% else %}
                                    <span class="badge bg-{% state_tag booking.state secondary=booking.States.draft primary=booking.States.submitted info=booking.States.progress success=booking.States.completed %}">
                                        {{ booking.get_state_display }}
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if allocation.renewals.incomplete.exists %}
        <hr class="hr-xs">
        <div class="row">
            <div class="col-12">
                <h5>Renewal Requests</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-nowrap">For Cycle</th>
                        <th class="text-nowrap">Created</th>
                        <th class="text-nowrap">Shifts</th>
                        <th class="text-nowrap">Date Preferences</th>
                        <th class="text-nowrap">State</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for renewal in allocation.renewals.incomplete %}
                        <tr>
                            <td class="text-nowrap">{{ renewal.cycle }}</td>
                            <td class="text-nowrap">{{ renewal.created|date:"D, M j/Y H:i" }}</td>
                            <td class="text-nowrap">{{ renewal.shift_request|floatformat }}</td>
                            <td class="">
                                <small class="text-success">{{ renewal.good_dates|join:", " }}</small>&nbsp;
                                <small class="text-danger">{{ renewal.poor_dates|join:", " }}</small>
                            </td>
                            <td class="text-nowrap">
                                {% if owner and renewal.state == renewal.States.draft %}
                                <a href="{% url "edit-renewal-request" pk=renewal.pk %}">
                                    {{ renewal.get_state_display }}&emsp;<i class="bi bi-pencil"></i>
                                </a>
                                {% else %}
                                    <span class="badge bg-{% state_tag renewal.state secondary=renewal.States.draft primary=renewal.States.submitted success=renewal.States.complete %}">
                                        {{ renewal.get_state_display }}
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
