{% load allocation_tags %}
{% load misc %}
<div class="auto-large">
    <table class="table-hover table-condensed table">
        <tr>
            <th>Project</th>
            <th>
                <text title="Technical Score">Tech</text>
            </th>
            <th>Past
                <text class="hidden-xs">Beamtime</text>
            </th>
            <th class="text-right" title="Requested Shifts">Req</th>
            <th class="text-right" title="Allocated Shifts">Award</th>
            <th>
                <text title="Total Awarded Shifts" class="pull-right" data-pool-total="{{ pool.shifts }}">Total</text>
            </th>
        </tr>
        {% for p in pool.projects %}
            <tr class="pool-row {% allocation_style p pool.cutoff pool.decision %}">
                <td><a href="{% url 'project-detail' p.project.pk %}"
                       data-toggle="popover" title="{{p.project}}" data-content="{{p.project.title}}" data-trigger="hover">
                        {{ p.project }}
                    </a>
                    {% if p.is_new %}&nbsp;<i class="bi-star text-info icon-fw"></i>{% endif %}
                </td>
                <td>
                    <text class="text-muted" title="Technical">{{p.score_technical|floatformat:2}}</text>
                </td>
                <td>
                    <div class="col-xs-12">{% for a in p.previous %}
                        <div class="col-xs-2" title="{{ a.cycle }}">
                            {% if a %}{{ a.shifts|default:0 }}{% else %}{% endif %}</div>{% endfor %}</div>
                    <!-- Previous Allocations-->
                </td>
                <td class="text-right">{{ p.shift_request }}</td>
                <td class="hover-edit text-right">
                    <a title="Edit Allocation" style="cursor: pointer;" data-url="{% url 'edit-allocation' p.pk %}">
                        <text class="text-info pool-{{ p.key }}-item" style="font-weight: 700;">{{ p.shifts }}</text>
                    </a>
                </td>
                <td>
                    <text class="pull-right">{% store p.name p.shifts %}</text>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>