{% extends "base.html" %}

{% load static %}
{% load dynforms %}
{% block extra_css %}
    <link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'samples/sample.min.css' %}" rel="stylesheet"/>
    {% endblock %}
{% block pre_js %}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" integrity="sha512-BI1itUvyiWbbZ446/8IOccwMPB/xobCTyQTS0r1+k8Pq1VPT3uIJKNCoMH12rKk18J9sH33xQNve7srB0IGYlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/jquery-form@3.50.0/jquery.form.min.js"></script>#}
    <script src="{% static 'dynforms/dynforms.min.js' %}"></script>
{% endblock %}

{% block page-title %}{{ form_title }}{% endblock %}
{% block content %}
    <div id="proposal-form" class="page col-sm-12">
        <div class="row">
            {% include "dynforms/form.html" %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $(window).bind('beforeunload', function () {
            if ($("[data-dynform-dirty]").length) {
                return 'Form contains unsaved changes.';
            }
        });
    </script>
{% endblock %}