{% extends "page.html" %}
{% load static %}
{% load misc %}
{% load beamlines %}


{% block extra_css %}
    <style>
        .hover-edit i {
            display: none;
        }

        .hover-edit:hover i {
            display: inline;
        }
    </style>
{% endblock %}

{% block page-pretitle %}Allocating{% endblock %}
{% block page-title %}<span class="fw-bold">{{ facility }}</span> | {{ cycle }}{% endblock %}

{% block page-tools %}
    <a href="{% url 'facility-detail' acronym=facility.acronym %}">
        <i class="bi-building icon-md icon-fw"></i>
        <span class="tool-label">Facility</span>
    </a>
    <a href="#0" data-modal-url="{% url "edit-facility-pools" slug=facility.acronym %}">
        <i class="bi-diagram-3 icon-md icon-fw"></i>
        <br/>
        <span class="tool-label">Access&nbsp;Pools</span>
    </a>
{% endblock %}

{% block page-content %}
    <div class="callout callout-{% state_tag facility.flex_schedule danger=True info=False %} mb-3">
        <div class="row">
            <div class="col-sm-6 mb-3">
                <h3 class="text-condensed">{% if facility.flex_schedule %}Allocation not required for
                    {{ facility }}{% else %}Available shifts{% endif %}</h3>
            </div>
            <div class="col-sm-6 d-flex align-items-center flex-row gap-2 mb-3">
                <div class="btn btn-primary calc ms-auto px-3"
                     title="Total from Facility Schedule">{{ total_shifts|floatformat }}
                </div>
                <h3>-</h3>
                <a href="#0" class="btn btn-danger calc" title="Unavailable for {{ facility.acronym }}"
                   data-modal-url="{% url 'edit-reservation' cycle=cycle.pk  fac=facility.acronym %}">
                    {{ unavailable_shifts|default:0|floatformat }}
                    <i class="ms-1 icon-fw icon-xs bi-pencil"></i>
                </a>
                <h3>=</h3>
                <span class="btn btn-success calc px-3" title="Available for {{ facility.acronym }}">
                {{ available_shifts|default:0|floatformat }}
            </span>
            </div>

            <div>Distribution of available shifts is based on the set percentages allotted to each pool for
                <strong>{{ facility.acronym }}</strong>. For each pool, the number of available shifts is rounded
                down. Any shifts unaccounted for after the rounding are left as discretionary shifts.
            </div>

        </div>
    </div>

    {% for pool, section in sections.items %}
        {% if not pool.is_default %}
            <div class="alert alert-secondary">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex align-items-center flex-row gap-2">
                            <div>
                                <h4 class="text-condensed my-0">{{ pool.name }} Pool</h4>
                                <div><strong>{{ section.percent }}%</strong> of <strong
                                        class="text-success">{{ available_shifts|floatformat }}</strong>
                                    Available Shifts
                                </div>
                            </div>
                            <div class="d-flex flex-row mt-auto ms-auto me-3 text-condensed">
                                    <span class="stats-number">
                                        {{ pool.projects.count }}
                                    </span>
                                <span class="stats-title pull-left">
                                        Allocation<br/>Request{{ pool.projects.count|pluralize }}
                                    </span>
                            </div>
                            <div class="d-flex flex-column ">
                                <span class="stats-title"><small>Available</small></span>
                                <span class="btn btn-success calc"
                                      title="Available for Pool: {{ section.percent }}% of {{ available_shifts|floatformat }}">
                                        {{ section.shifts }}
                                    </span>
                            </div>
                            <h3><br/>-</h3>
                            <div class="d-flex flex-column">
                                <span class="stats-title"><small>Allocated</small></span>
                                <span class="btn btn-info calc"
                                      title="Allocated">
                                        {{ section.used|default:0|floatformat }}
                                    </span>
                            </div>
                            <h3><br/>-</h3>
                            <div class="d-flex flex-column">
                                <span class="stats-title"><small>Reserved</small></span>
                                <a href="#0" class="btn btn-danger" title="Edit Reserved"
                                   data-modal-url="{% url 'edit-pool-reservation' cycle=cycle.pk  fac=facility.acronym pool=pool.pk %}">
                                    {{ section.reserved|default:0 }}
                                    <i class="icon-fw bi-pencil ms-1"></i>
                                </a>
                            </div>
                            <h3><br/>=</h3>
                            <div class="d-flex flex-column">
                                <span class="stats-title"><small>Left Over</small></span>
                                <span class="btn btn-warning calc"
                                      title="Left Over Shifts">
                                        {{ section.unused|default:0|floatformat }}
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article">
                    {% if section.projects.exists %}
                        <hr class="hr-xs"/>
                        {% include 'projects/allocation-submissions.html' %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="alert alert-info">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex align-items-center flex-row gap-2">
                    <div>
                        <h4 class="my-0">Discretionary Shifts</h4>
                        <small>
                            Total shifts after subtracting user shifts and shifts allocated or reserved for each
                            above pool, and adding any shifts left over.
                        </small>
                    </div>
                    <div class="d-flex flex-column ms-auto">
                        <span class="stats-title"><small>Total</small></span>
                        <span class="btn btn-warning calc"
                              title="Total Discretionary">
                            {{ discretionary|default:0|floatformat }}
                        </span>
                    </div>
                    <h3><br/>+</h3>
                    <div class="d-flex flex-column">
                        <span class="stats-title"><small>User&nbsp;Disc</small></span>
                        <span class="btn btn-primary calc"
                              title="Left Over Shifts from User Pool">
                            {{ pools.user.unused|default:0|floatformat }}
                        </span>
                    </div>
                    <h3><br/>=</h3>
                    <div class="d-flex flex-column">
                        <span class="stats-title"><small>Disc&nbsp;Left</small></span>
                        <span class="btn btn-warning calc"
                              title="Remaining Discretionary Shifts">
                            {{ pools.user.unused|default:0|floatformat|add:discretionary|default:0 }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3 mb-3">
        {% with pool=default.pool section=default.section %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-flex align-items-center flex-row gap-2">
                        <div>
                            <h4 class="text-condensed my-0">{{ pool.name }} Pool</h4>
                            <div><strong>{{ section.percent }}%</strong> of <strong
                                    class="text-success">{{ available_shifts|floatformat }}</strong>
                                Available Shifts
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-auto ms-auto me-3 text-condensed">
                            <span class="stats-number">
                                {{ section.projects.count }}
                            </span>
                            <span class="stats-title pull-left">
                                Allocation<br/>Request{{ section.projects.count|pluralize }}
                            </span>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="stats-title"><small>Total</small></span>
                            <span class="btn btn-success calc"
                                  title="Available for Pool: {{ section.percent }}% of {{ available_shifts|floatformat }}">
                                        {{ section.shifts }}</span>
                        </div>
                        <h3><br/>-</h3>
                        <div class="d-flex flex-column">
                            <span class="stats-title"><small>Allocated</small></span>
                            <span class="btn btn-info calc" title="Allocated">
                                        {{ section.used|default:0|floatformat }}
                                        </span>
                        </div>
                        <h3><br/>=</h3>
                        <div class="d-flex flex-column">
                            <span class="stats-title"><small>Available</small></span>
                            <span class="btn btn-primary calc"
                                  title="Left Over Shifts">
                                        {{ section.unused|default:0|floatformat }}
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-xs"/>
            {% include 'projects/allocation-submissions.html' %}
        {% endwith %}
    </div>
{% endblock %}



