{% load allocation_tags %}
{% load misc %}

<div>
    <table class="table-hover table-ruled table">
        <tr>
            <th class="">Project</th>
            <th class="text-end">Score</th>
            <th class="text-end">Previous<span class="d-none d-sm-inline"> Beamtime</span></th>
            <th class="text-end" title="Requested Shifts">Request</th>
            <th class="text-end" title="Allocated Shifts">Award</th>
            <th>
                <span title="Total Awarded Shifts" class="pull-right">Total</span>
            </th>
        </tr>
        {% for alloc in section.projects.all %}
            <tr class="pool-row {% allocation_style alloc section.cutoff section.decision %}">
                <td>
                    <div class="d-flex flex-row align-items-center gap-2">
                    <div class="me-auto">
                    {% if alloc.project.submissions.first.pk %}
                        <a href="{% url 'submission-detail' alloc.project.submissions.first.pk %}">
                            {{ alloc.project }}
                        </a>
                    {% else %}
                        {{ alloc.project }}
                    {% endif %}
                    </div>
                    {% if alloc.is_new %}&nbsp;
                        <i class="bi-star text-body-secondary icon-fw" title="New Project"></i>
                    {% endif %}
                    {% if alloc.project.is_multi_beamline %}
                        <i class="bi-collection text-body-secondary icon-fw" title="Multi-Beamline Project"></i>
                    {% endif %}
                    {% if alloc.project.leader_is_new %}
                        <i class="bi-person-plus text-body-secondary icon-fw" title="New PI"></i>
                    {% endif %}
                    </div>
                </td>
                <td class="text-end font-monospace" data-bs-toggle="scores-popover">
                    {{ alloc.score|floatformat:1 }}
                </td>
                <td class="text-end font-monospace">
                    {{ alloc.previous_beamtime|floatformat:0 }}
                </td>
                <td class="text-end font-monospace">{{ alloc.shift_request }}</td>
                <td class="hover-edit text-end font-monospace text-primary fw-bold">
                    <a title="Edit Allocation"
                       class="ps-3"
                       style="cursor: pointer;"
                       data-modal-url="{% url 'edit-allocation' alloc.pk %}"
                    >{{ alloc.shifts }}</a>
                </td>
                <td class="text-end  font-monospace">
                    {% store alloc.name alloc.shifts %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>