{% load allocation_tags %}
{% load misc %}
<div>
    <table class="table-hover table-condensed table">
        <tr>
            <th class="col-sm-3">Project</th>
            <th>Scores</th>
            <th class="d-none d-md-table-cell">Past Beamtime</th>
            <th class="text-right" title="Requested Shifts">Request</th>
            <th class="text-right" title="Allocated Shifts">Award</th>
            <th>
                <text title="Total Awarded Shifts" class="pull-right">Total</text>
            </th>
        </tr>
        {% for p in pool.projects %}
            <tr class="pool-row {% allocation_style p pool.cutoff pool.decision %}">
                <td>
                    {% if p.project.submissions.first.pk %}
                        <a href="{% url 'submission-detail' p.project.submissions.first.pk %}"
                           data-bs-toggle="popover" title="{{ p.project }}" data-content="{{ p.project.title }}"
                           data-trigger="hover"
                        >
                            {{ p.project }}
                        </a>
                    {% else %}
                        {{ p.project }}
                    {% endif %}
                    {% if p.is_new %}&nbsp;<i class="bi-star text-warning icon-fw"></i>{% endif %}
                </td>
                <td>
                    {% for name, score in p.scores.items %}
                        <span class="allocation-score" title="{{ name|title }}">{{ score|floatformat:2 }}</span>
                    {% endfor %}
                </td>
                <td class="d-none d-md-table-cell">
                    <div class="col-sm-12">{% for a in p.previous %}
                        <div class="col-sm-3" title="{{ a.cycle }}">
                            {% if a %}{{ a.shifts|default:0 }}{% else %}{% endif %}
                        </div>
                    {% endfor %}
                    </div>
                    <!-- Previous Allocations-->
                </td>
                <td class="text-right">{{ p.shift_request }}</td>
                <td class="hover-edit text-right">
                    <a title="Edit Allocation" style="cursor: pointer;" data-modal-url="{% url 'edit-allocation' p.pk %}">
                        <text class="text-info pool-{{ p.key }}-item" style="font-weight: 700;">{{ p.shifts }}</text>
                    </a>
                </td>
                <td>
                    <text class="pull-right">{% store p.name p.shifts %}</text>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>