{% extends "proposals/track-box.html" %}
{% load project_tags %}
{% get_cycle_requests facility=facility cycle=cycle as requests %}
{% block box_class %}{% if cycle.state < cycle.STATES.schedule %}bg-darken{% elif cycle.state < cycle.STATES.archive %}
    bg-info-subtle{% else %}bg-danger-subtle insensitive{% endif %}{% endblock %}
{% block box_header %}
    <h4 class="text-condensed" style="margin-bottom: 0;">{{ cycle }}</h4>
    <small class="d-none d-sm-inline text-body-secondary">{{ cycle.get_state_display }}</small>
{% endblock %}
{% block box_tools_style %}{% endblock %}
{% block box_subheader %}{% endblock %}
{% block box_tools_class %}{% if owner or admin %}{% else %}hidden{% endif %}{% endblock %}
{% block box_tools %}
    {% if owner or admin %}
        {% if facility.kind == 'beamline' or facility.kind == 'equipment' %}
            {% if cycle.state <= cycle.STATES.archive %}
                {% if cycle.state >= cycle.STATES.evaluation %}
                    <a href='{% url "allocate-review-cycle" pk=cycle.pk fac=facility.acronym %}' class="pull-right">
                        <i class="bi-diagram-3 icon-md icon-fw"></i><br/>
                        <span class="tool-label">Allocate</span>
                    </a>
                {% endif %}

            {% endif %}
        {% endif %}
        {% if cycle.state >= cycle.STATES.schedule %}
            <a href='{% url "beamline-projects" fac=facility.acronym cycle=cycle.pk %}' class="pull-right">
                <i class="bi-briefcase icon-md icon-fw"></i><br/>
                <span class="tool-label">Projects</span>
            </a>
            {% if facility.flex_schedule and cycle %}
                <a href='{% url "shift-request-list" pk=facility.pk cycle=cycle.pk %}' class="pull-right"
                   style="position: relative;">
                    <i class="bi-inbox icon-md icon-fw"></i><br/>
                    <span class="tool-label">Requests</span>
                    {% if requests.count %}
                        <div class="bubble progress-bar-warning">
                            <div>{{ requests.count|default:0 }}</div>
                        </div>
                    {% endif %}
                </a>
            {% endif %}
            {% with schedule=cycle.schedule %}
                {% if schedule %}
                    <a href='{% url "schedule-beamtime" pk=schedule.pk fac=facility.acronym %}' class="pull-right">
                        <i class="bi-calendar-plus icon-md icon-fw"></i><br/>
                        <span class="tool-label">Schedule</span>
                    </a>
                    <a href='{% url "schedule-support" pk=schedule.pk fac=facility.pk %}' class="pull-right">
                        <i class="bi-person-plus icon-md icon-fw"></i><br/>
                        <span class="tool-label">Support</span>
                    </a>
                {% endif %}
            {% endwith %}
        {% else %}
            <a href='{% url "beamline-submissions" fac=facility.acronym cycle=cycle.pk %}' class="pull-right">
                <i class="bi-journal-check icon-md icon-fw"></i><br/>
                <span class="tool-label">Submissions</span>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
{% block box_content %}
    {% get_facility_cycle_stats facility cycle as stats %}
    <div class="col-sm-12">
        <hr class="hr-xs"/>
        <table class="table table-ruled table-transparent">
            <tbody>
            <tr>
                <th class="text-body-secondary">Projects</th>
                <td class="text-right">{{ stats.active.total|default:"0" }} Total / {{ stats.new.total|default:"0" }}
                    New
                </td>
            </tr>
            <tr>
                <th class="text-body-secondary">Shifts</th>
                <td class="text-right">{{ stats.active.shifts|default:"0" }} Allocated
                    / {{ stats.available_shifts|floatformat:"0" }} Available
                </td>
            </tr>
            <tr>
                <th class="text-body-secondary">Average Shifts</th>
                <td class="text-right">{{ stats.active.avg_shifts|floatformat|default:"0" }} Per Project</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}}
