{% extends "page.html" %}

{% load humanize %}
{% load static %}
{% load proposal_tags %}
{% load project_tags %}

{% block page-pretitle %}
    <span class="d-none d-sm-inline">Session Permit</span>
{% endblock %}

{% block page-title %}
    {{ object.project.code }} &mdash; {{ object.project.title }}
{% endblock %}

{% block page-subtitle %}
    {{ object.lab.acronym }} {{ session.get_kind_display }} Lab Permit
{% endblock %}

{% block page-status-style %}callout {% if object.state == 'active' %}callout-success{% endif %}{% endblock %}

{% block page-tools %}
    {% if owner or admin %}
        {% if object.state == 'pending' %}
            {% if admin %}
                <a href="#0" data-modal-url="{% url 'cancel-lab-session' pk=object.pk %}" class="text-danger pull-right">
                    <i class="ti icon-md bi-x-lg icon-fw"></i><br/>
                    <span class="tool-label">Cancel</span>
                </a>
            {% endif %}
        {% elif object.state == 'active' %}
            <a href="#0" data-modal-url="{% url 'lab-signoff' pk=object.pk %}" class="pull-left">
                <i class="ti icon-md bi-power icon-fw"></i><br/>
                <span class="tool-label">Sign-Off</span>
            </a>
        {% endif %}
        <a href='{% url 'project-detail' object.project.pk %}' class="pull-right">
            <i class="bi-briefcase icon-md icon-fw"></i><br/>
            <span class="tool-label">Project</span>
        </a>
    {% endif %}
{% endblock %}


{% block page-status-bar %}
    <h3 class="my-0"><span class="badge bg-info text-condensed">{{ object.get_state_display }}</span></h3>
    <div class="d-none d-sm-block">
        <small class="text-wide text-muted">Lab:</small><br/>{{ object.lab.name }}
    </div>
    <div>
        <small class="text-wide text-muted">Equipment:</small><br/>
        {% for eqmt in object.equipment.all %}{{ eqmt }}{% if not forloop.last %}
            , {% endif %}{% empty %}&hellip;{% endfor %}
    </div>
    <div class="d-none d-sm-block">
        <small class="text-wide text-muted">Representative:</small><br/>{{ object.spokesperson|default:"&hellip;" }}
    </div>
    <div>
        <small class="text-wide text-muted">Start:</small><br/>
        {{ object.start|date:"M jS/Y H:i" }}
    </div>
    <div>
        <small class="text-wide text-muted">End:</small><br/>
        {{ object.end|date:"M jS/Y H:i" }}
    </div>
{% endblock %}

{% block page-content %}
    {% include "projects/permit-permissions.html" %}
    <div class="page-body">
        <div class="row">
            {% include "projects/session-team.html" with project=object.project permissions=object.permissions %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function initScrollers(sel) {
            $(sel).niceScroll({
                cursoropacitymax: 0
            });
        }

        $(document).ready(function () {
            initScrollers(".scroll-child");
        });
    </script>
{% endblock %}