{% extends "base.html" %}

{% load static %}
{% load dynforms %}
{% block extra_css %}
    <link href="{% static 'dynforms/dynforms.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'samples/sample.min.css' %}" rel="stylesheet"/>
    {% endblock %}
{% block pre_js %}
    <script src="{% static 'dynforms/dynforms.min.js' %}"></script>
{% endblock %}

{% block page-title %}Materials Amendment{% endblock %}
{% block content %}
    <div id="proposal-form" class="page col-sm-12">
        <div class="row">
            {% include "dynforms/form.html" %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $(window).bind('beforeunload', function () {
            if ($("[data-dynform-dirty]").length) {
                return 'Form contains unsaved changes.';
            }
        });
    </script>
{% endblock %}