{% extends "page.html" %}

{% load beamlines %}
{% load proposal_tags %}
{% load project_tags %}
{% load samples_tags %}
{% load l10n %}
{% load markup %}
{% load static %}
{% load misc %}



{% block page-pretitle %}Material{% endblock %}

{% block page-title %}{{ material }} &mdash; {{ material.created|date:"Y/m/d" }}{% endblock %}
{% block page-subtitle %}
    {{ material.project.title }}
{% endblock %}

{% block page-tools %}
    {% if owner or admin %}
        {% if project.state != 'inactive' %}
            <a href='{% url "edit-materials" pk=material.project.pk %}' title="Amend Materials" class="pull-right">
                <i class="bi-pencil icon-md icon-fw"></i><br/>
                <span class="tool-label">Amend</span>
            </a>
        {% endif %}
    {% endif %}
    <a href='{% url 'project-detail' material.project.pk %}' class="pull-right">
        <i class="bi-briefcase icon-md icon-fw"></i><br/>
        <span class="tool-label">Project</span>
    </a>
{% endblock %}

{% block page-status-style %}callout
    callout-{% state_tag object.state success='approved' secondary='pending' danger='rejected' %}{% endblock %}
{% block page-status-bar %}

    <span class="status-badge badge bg-risk{{ material.risk_level }} text-condensed">{{ material.get_risk_level_display }}</span>

    <div class="align-self-center">
        <span class="stats-number pull-left">{{ material.project_samples.approved.count }}/{{ material.project_samples.count }}</span>
        <span class="stats-title pull-left">Samples<br/>Approved</span>
    </div>
    <div>
        <small class="text-body-secondary">Beamlines:</small><br/>
        {% for fac in object.project.beamlines.all.distinct %}
            <span class="badge bg-info">{{ fac.acronym }}</span>&nbsp;
        {% endfor %}
    </div>
    <div>
        <small class="text-body-secondary">Related Materials:</small><br/>
        {% for mat in object.siblings.all %}
            <a href="{% url "material-detail" pk=mat.pk %}">{{ mat }} [{{ mat.get_state_display }}]</a>&nbsp;
        {% empty %}
            &mdash;
        {% endfor %}
    </div>
    <div>
        {% show_pictograms material.hazards size="md" %}
    </div>
{% endblock %}

{% block page-content %}
    <div class="row">
        {% for sample in samples %}
            {% if sample.0.hazards.count %}
                <div class="col-sm-6 no-break">
                    {% include "samples/label.html" with sample=sample.0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="page-body">
        {% if material.controls.count %}
            <div class="row text-wide">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        <h3>Controls</h3>
                        <ul class="list-ruled">
                            {% for control in material.controls.all %}
                                <li>{{ control.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if object.project.proposal %}
            {% with object.project.proposal as proposal %}
                <div class="row section">
                    <div class="col-sm-12 section-content">
                        <h3>Summary</h3>
                        {{ proposal.details.abstract|markdown }}
                    </div>
                </div>
                <div class="row section">
                    <div class="col-sm-12 section-content">
                        <h3>Materials</h3>
                        <hr class="hr-xs">
                        {% include "projects/material-content.html" with material=object %}
                    </div>
                </div>
                <div class="row section">
                    <div class="col-sm-12 section-content">
                        {% show_facility_procedures proposal.details.beamline_reqs %}
                        {% if proposal.details.ancillaries %}
                            {% get_ancillaries data=proposal.details.ancillaries as ancillaries %}
                            <h3>Ancillary Requirements:</h3>
                            <hr class="hr-xs">
                            <h4>{% for anc in  ancillaries.selected %}
                                <span class="badge bg-default">{{ anc }}</span>{% endfor %}</h4>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}
        {% else %}
            <div class="row section">
                <div class="col-sm-12 section-content">
                    <h3>Materials</h3>
                    <hr class="hr-xs">
                    {% include "projects/material-content.html" with material=object %}
                </div>
            </div>
        {% endif %}

        <h3>Reviews</h3>
        <hr class="hr-xs">
        {% include "proposals/reviews-table.html" with reviews=material.reviews %}
    </div>
{% endblock %}