{% extends "base.html" %}

{% block page-title %}{{ beamline.acronym }} Usage &mdash; <span class="text-body-secondary">{{object}}</span>{% endblock %}

{% block content %}
<div class="page col-sm-12">

    <table class="table table-condensed">
      {% for cycle, allocation in info %}{% if allocation %}
        <tr>
            <th colspan="5">
                {{ cycle }}
                &nbsp;<span class="badge progress-bar-default" title="Shifts Allocated">{{ allocation.shifts }}</span>
            </th>
        </tr>
        {% for session in allocation.sessions %}
            <tr>
                <td></td>
                <td>{{ session.start }}</td>
                <td>{{ session.end}}</td>
                <td class="text-right">
                    <a href='{% url "session-detail" pk=session.pk %}' data-bs-toggle="tooltip"
                       title="View session details">
                    <i class="bi-clipboard icon-fw"></i></a>
                </td>
                <td class="text-right">
                    <span class="badge progress-bar-success" title="Shifts Used">{{ session.shifts }}</span>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="5"><div class="empty">No beamtime</div></td></tr>
        {% endfor %}
      {% endif %}{% endfor %}
    </table>

</div>
{% endblock %}