{% load misc %}
{% load static %}
{% load samples_tags %}
{% load project_tags %}
{% load proposal_tags %}
{% load markup %}

{% if material %}
    <div class="bg-darken rounded-1">
        <div class="p-3 d-flex flex-row justify-content-start align-items-center">
            <h4 class="my-0 d-flex fle-row align-items-center">
                <i class="{{ material|material_state_icon }} icon-md me-2"></i>
                <span class="d-none d-sm-block">Samples &amp; Materials&nbsp;|&nbsp;</span>
                {% if material.siblings.pending.count %}
                    <span class="text-warning"><strong>Amended!</strong></span>
                {% elif material.state == 'pending' %}
                    <span class="text-warning"><strong>Not approved!</strong></span>
                {% elif material.state == 'denied' %}
                    <span class="text-danger"><strong>Rejected!</strong></span>
                {% elif material.state == 'approved' %}
                    <span class="text-success"><strong>Approved!</strong></span>
                {% endif %}
            </h4>
            {% if owner or admin %}
                <span class="box-tools ms-auto">
					<a href="{% url 'material-detail' pk=material.pk %}" title="View Details" class="pull-right">
						<i class="bi-card-text icon-md icon-fw"></i><br/>
                        <span class="tool-label">Details</span>
					</a>
                    {% if project.state != 'inactive' %}
                        <a href='{% url "edit-materials" pk=project.pk %}' title="Amend Materials"
                           class="pull-right">
						<i class="bi-pencil icon-md icon-fw"></i><br/>
                        <span class="tool-label">Amend</span>
					</a>
                    {% endif %}
                </span>
            {% endif %}
        </div>

        <div class="d-flex flex-row gap-3 justify-items-between align-items-center callout callout-{% state_tag material.state success='approved' secondary='pending' danger='rejected' %}">
            <h3 class="my-0">
                <span class="status-badge badge bg-risk{{ material.risk_level }} text-condensed">{{ material.get_risk_level_display }}</span>
            </h3>
            <div class="align-self-center">
                <span class="stats-number pull-left">{{ material.project_samples.approved.count }}/{{ material.project_samples.count }}</span>
                <span class="stats-title pull-left">Samples<br/>Approved</span>
            </div>
            <div>
                <small class="text-body-secondary">Related Materials:</small><br/>
                {% for mat in material.siblings.all %}
                    <a href="{% url "material-detail" pk=mat.pk %}">{{ mat }} [{{ mat.get_state_display }}]</a>&nbsp;
                {% empty %}
                    &mdash;
                {% endfor %}
            </div>
            <div class="ms-auto">
            {% show_pictograms material.hazards size="md"%}
            </div>
        </div>
        <div class="p-3">
        {% with material.warnings as warnings %}
            {% if warnings %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-danger">
                            <ul class="list-ruled">
                                {% for warning in warnings %}
                                    <li>{{ warning|markdown }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% if material.controls.count %}
            <div class="row text-wide">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        <ul class="list-ruled">
                            {% for control in material.controls.all %}
                                <li>{{ control.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% include "projects/material-snippet.html" %}
        </div>
    </div>
{% endif %}
