{% extends "page.html" %}
{% load static %}
{% load folio %}
{% load breadcrumbs %}
{% load proposal_tags %}
{% load project_tags %}
{% load samples_tags %}

{% block extra_css %}
    <link href="{% static 'proposals/reviews.scss' %}" rel="stylesheet"/>
{% endblock %}

{% block page-pretitle %}
    Project
{% endblock %}

{% block page-title %}{{ project.title }}{% endblock %}
{% block page-subtitle %}
    {{ project.get_kind_display }} Project {% for review in project.submissions.all %}[
    <a href="{% url 'submission-detail' pk=review.pk %}"> Submission {{ review.code }}</a>]{% endfor %}
{% endblock %}

{% block page-tools %}
    {% if project.is_active and owner %}
        <a href='{% url "user-feedback" %}' class="pull-right">
            <i class="bi-chat-left-text icon-md icon-fw"></i><br/>
            <span class="tool-label">Feedback</span>
        </a>
        <a href='#0' data-modal-url='{% url "lab-signon" pk=project.pk %}' class="pull-right">
            <i class="bi-paint-bucket icon-md icon-fw"></i><br/>
            <span class="tool-label">Use Lab</span>
        </a>
    {% endif %}


    <a href='{% url "project-history" pk=project.pk %}' class="pull-right">
        <i class="bi-clock-history icon-md icon-fw"></i><br/>
        <span class="tool-label">History</span>
    </a>
    <a href='{% url "project-schedule" pk=project.pk %}' class="pull-right">
        <i class="bi-calendar2-range icon-md icon-fw"></i><br/>
        <span class="tool-label">Calendar</span>
    </a>
    <a data-modal-url='{% url "project-attachments" pk=project.pk %}' id="attachments" href='#0' class="pull-right">
        <i class="bi-paperclip icon-md icon-fw"></i><br/>
        <span class="tool-label">Attachments</span>
        {% if project.attachments.exists %}
            <div class="bubble progress-bar-warning">
                <div>{{ project.attachments.count }}</div>
            </div>
        {% endif %}
    </a>
    {% if project.clarifications.exists %}
        <a href='#project-clarifications' class="pull-right"
           data-bs-toggle="collapse" title="Clarifications"
           aria-expanded="false" aria-controls="project-clarifications">
            <i class="bi-chat-right-text icon-md icon-fw"></i><br/>
            <span class="tool-label">Clarifications</span>
            <div class="bubble progress-bar-warning">
                <div>{{ project.clarifications.count }}</div>
            </div>
        </a>
    {% endif %}


{% endblock %}

{% block page-status-style %}
    callout {% folio_status object.state draft='pending' success='active' danger='inactive' %}{% endblock %}

{% block page-status-bar %}
    <h3 class="my-0"><span class="badge bg-info text-condensed">{{ project.state.title }}</span></h3>
    <div>
        <small class="text-wide text-body-secondary">Project Leader:</small><br/>
        {{ project.get_leader|default:"&hellip;" }}<br/>
        {{ project.get_leader.institution|default:"" }}
    </div>
    <div>
        <small class="text-wide text-body-secondary">Spokesperson:</small><br/>
        {{ project.spokesperson|default:"&hellip;" }}<br/>
        {{ project.spokesperson.institution|default:"&hellip;" }}
    </div>
    <div>
        <small class="text-wide text-body-secondary">Delegate:</small><br/>
        {{ project.delegate|default:"&hellip;" }}<br/>
        {{ project.delegate.institution|default:"&hellip;" }}
    </div>
    <div>
        <small class="text-wide text-body-secondary">Validity:</small><br/>{{ project.start_date|date:"" }}
        &ndash; {{ project.end_date|default:"Never Expires" }}
    </div>
{% endblock %}
{% block page-content %}
    {% if object.clarifications.count %}
        <div class="row collapse {% if project.clarifications.pending.exists %}in{% endif %}"
             id="project-clarifications">
            <div class="col-xs-12">
                <div class="p-3 bg-notes-warning">
                    <h4 class="my-0">Clarification Requests</h4>
                    <hr class="hr-xs"/>
                    {% include "proposals/clarifications.html" with response_url_name='project-clarification-response' %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="mt-3">
        {% with object.beamline_allocations as allocations %}
            <div class="row">
                {% for falloc in allocations %}
                    <div class="col-xs-12 {% if allocations|length > 1 %}col-sm-6 {% elif allocations|length > 3 %} col-md-4{% endif %}">
                        {% include "projects/allocation.html" %}
                    </div>
                {% endfor %}
            </div>
        {% endwith %}

        <div class="row">
            <div class="col-sm-12">
                {% include "projects/sessions-summary.html" with sessions=project.sessions.relevant.with_shifts beamtimes=project.beamtimes.relevant.with_shifts lab_sessions=project.lab_sessions.relevant.with_hours %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% include "projects/project-team.html" with beamlines=object.beamlines.distinct permissions=object.permissions %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% include "projects/project-materials.html" with material=object.current_material %}
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        function initScrollers(sel) {
            $(sel).niceScroll({
                cursoropacitymax: 0
            });
        }

        $(document).ready(function () {
            initScrollers(".scroll-child");
        });
    </script>
{% endblock %}