{% load static %}
{% load dynforms %}
{% load beamlines %}
{% load samples_tags %}
{% load project_tags %}
{% load proposal_tags %}
{% load markup %}

<div class="row section">
	<div class="col-sm-12 section-content">
		<div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <div class="pictogram-box pictogram-sm">
                        {% for hz in material.pictograms %}
                            <img src="{% pictogram_url hz %}" title="{{ hz.name }}">
                        {% endfor %}
                    </div>
                </div>
                <div class="pull-left">
                    <span class="text-condensed text-body-secondary"><strong>
                        <a href="{{ material.get_absolute_url }}">{{material.code}}</a>
                    </strong></span>
                </div>
		    </div>
        </div>
        <h3 style="margin-top: 0.2em;">{{material.project.title}}</h3>
        {% with project=material.project %}
		{% for member in project.team.all %}
			<span><span title="{{ member.get_classification_display | default:"" }} {{member.institution|default:'No Institution'}}">
                {{ member }}</span> {% show_project_roles project member %}
            </span>
			{% if not forloop.last %}&middot;{% endif %}
		{% endfor %}
		<span class="text-body-secondary">
        {% for member in material.project.extra_team %}
		{{member.first_name}} {{member.last_name}}
		{% if not forloop.last %}&middot;{% endif %}
        </span>
		{% endfor %}
        {% endwith %}
		<span class="pull-right">
		{% for fac in material.project.beamlines.all.distinct %}
			<span class="badge bg-info">{{fac.acronym}}</span>&nbsp;
			{% endfor %}
		</span>
	</div>
</div>
<hr class="hr-xs"/>

{% if material.project.proposal %}
	{% with material.project.proposal as proposal %}
	<div class="row section">
		<div class="col-sm-12 section-content">
			<h3>Summary</h3>
			{{proposal.details.abstract|markdown}}
		</div>
	</div>
	<div class="row section">
		<div class="col-sm-12 section-content">
			<h3>Materials</h3>
			<hr class="hr-xs">
			{% include "projects/material-content.html" %}
		</div>
	</div>
	<div class="row section">
		<div class="col-sm-12 section-content">
			{% show_facility_procedures proposal.details.beamline_reqs %}
			{% if proposal.details.ancillaries %}
			{% get_ancillaries data=proposal.details.ancillaries as ancillaries %}
			<h3>Ancillary Requirements:</h3>
			<h4>{% for anc in  ancillaries.selected %} <span class="badge">{{anc}}</span>{% endfor %}</h4>
			{% endif %}
		</div>
	</div>
	{% endwith %}
{% else %}
<div class="row section">
	<div class="col-sm-12 section-content">
		<h3>Materials</h3>
		{% include "projects/material-content.html" with material=object %}
	</div>
</div>
{% endif %}


