{% extends "misc/blocks/panel.html" %}
{% load cycle_tags %}
{% load beamlines %}
{% block panel_title %}My Facilities{% endblock %}
{% block panel_content %}
    {% if facilities.exists %}
        <div class="row">
        <div class="scroll-box col-xs-12" style="max-height: 200px;">
            <ul class="list-unstyled list-ruled">
                {% for fac in facilities %}
                    <li class="text-condensed" >
                        <span class="pull-right">
                            {% if user|is_admin:fac %}
                                <span class="badge bg-info">Admin</span>
                            {% elif user|is_staff:fac %}
                                <span class="badge bg-success">Staff</span>
                            {% endif %}
                        </span>
                        <a href='{% url "facility-detail" fac=fac.acronym %}' data-bs-toggle="tooltip">
                            <strong title="{{ fac.name }}">{{ fac.acronym }}</strong><span class="d-none d-sm-inline">&nbsp;&ndash;&nbsp;{{ fac.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    {% endif %}
{% endblock %}

