$color_1: #777;
$color_2: #000;
$color_4: #aaa;
$icon-font-family: bootstrap-icons;

.hazard-input {
	cursor: pointer;
	margin: 0 !important;
	padding: 2px;
	border: 1px solid transparent;
	border-radius: 2px;
	img {
		opacity: 0.2;
		height: 2em;
	}
	.media-body {
		display: table-cell;
		line-height: 1;
		height: 2em;
		vertical-align: middle;
	}
	.media-heading {
		margin-bottom: 2px;
	}
}
.hazard-controls {
	label {
		font-weight: normal;
	}
	input {
		&:not(:disabled) {
			+ {
				.hazard-input {
					&:hover {
						border: 1px solid var(--bs-info);
					}
				}
			}
		}
		display: none;
		margin: 0;
		padding: 0;
		&:checked {
			+ {
				.hazard-input {
					.media-body {
						font-weight: 600;
						&:after {
							font-family: $icon-font-family;
							content: " \F272";
							color: var(--bs-info);
						}
					}
					img {
						opacity: 1.0;
					}
				}
			}
			&:disabled {
				+ {
					.hazard-input {
						.media-body {
							&:after {
								color: var(--bs-secondary);
							}
						}
					}
				}
			}
		}
		&:disabled {
			+ {
				.hazard-input {
					cursor: not-allowed;
				}
			}
		}
	}
	&:after {
		clear: both;
	}
	label.checkbox {
		margin: 0 !important;
		padding: 0 !important;
	}
}
.hazard-input.media {
	>.pull-left {
		padding-right: 0.25em;
	}
}
#search-results {
	font-size: 95%;
	.select-result {
		text-align: right;
		vertical-align: middle;
		cursor: pointer;
	}
}
.sample-list {
	margin-bottom: 0.5em;
	.header.row {
		font-weight: 600;
		border-bottom: 2px solid var(--bs-border-color);
	}
}
.sample-list-row {
	padding: 3px 0;
	border-bottom: 1px solid var(--bs-border-color);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hazards-editor {
	.modal-body {
		padding: 0 !important;
	}
}


.reject-sample-command {
  &:before {
    font-family: $icon-font-family;
  }
}

.pending-sample {
  border: 1px solid var(--bs-border-color-translucent);

  .reject-sample-command {
    &:before {
      color: var(--bs-info);
      content: "\F421";
    }
  }
}

.rejected-sample {
  border: 1px solid var(--bs-border-color-translucent);
  background-color: var(--bs-danger-bg-subtle);

  .reject-sample-command {
    &:before {
      color: inherit;
      content: "\F6B6";
    }
  }
}

.reviewed-sample {
  border: 1px solid var(--bs-border-color-translucent);

  &:not(.rejected-sample) {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
  }
}

.command-icon.highlighted {
  position: relative;
  display: inline-block;

  &::before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background: var(--bs-danger);
    line-height: 12px;
    font-size: 8px;
    border-radius: 20px;
    text-align: center;
    content: "";
  }
}

.extra-pictogram {
	opacity: 0.5;
}

.sample-properties {
	margin: 0.5em 0;
	padding: 0.5em 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid var(--bs-border-color-translucent);
	border-bottom: 1px solid var(--bs-border-color-translucent);
	> div {
		display: flex;
		flex-direction: column;
		align-items: start;
		flex-shrink: 1;
	}
}
.sample-review-commands {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	padding: 0.25em 0;
}

.sample-review-toolbar {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	gap: 0.5em;
	font-size: 1.5em;
}