{% extends "misc/blocks/panel.html" %}
{% block panel_title %}Recent Activity{% endblock %}
{% block panel_classes%}bg-notes-warning{% endblock %}
{% block panel_content %}
<ul class="activity-log list-unstyled text-condensed">
{% for log in logs %}
<li class="{{log.kind}}-log" title="{{log.description}}">
    {{ log.description }}: &nbsp; {% if log.reference %}{{log.reference}}{% endif %}<br/>
    <small class="text-muted">by {{ log.user_name}}, {{ log.created|timesince}} ago</small>
</li>
{% endfor %}
</ul>
{% endblock %}


