{% extends "misc/blocks/panel.html" %}
{% load map_coords %}

{% block panel_title %}My Map{% endblock %}
{% block panel_tools %}
<a href="{% url 'edit-my-profile' %}" class="btn btn-xs btn-white pull-right"><span class="sr-only">Edit Profile</span><i class="bi-pencil icon-sm icon-fw"></i></a>
{% endblock %}
{% block panel_content %}
    {% if user.address.api_format|api_coords %}
      {% with user.address.api_format|api_coords as latlng %}
        <div id="map_canvas" style="height:241px; width: 100%; border:1px #ddd solid;"></div>
          <script type="text/javascript">
            function initialize() {
                var latlng = new google.maps.LatLng({{latlng.lat}},{{latlng.lng}});
                var settings = {
                    zoom: 15,
                    center: latlng,
                    mapTypeControl: true,
                };
                var map = new google.maps.Map(document.getElementById("map_canvas"), settings);
                var clsPos = new google.maps.LatLng(52.136883, -106.631367);
                var clsMarker = new google.maps.Marker({
                    position: clsPos,
                    map: map,
                    icon: "/static/img/logo-sm.png",
                    title:"Canadian Light Source, Inc."
                });
                var companyPos = new google.maps.LatLng({{latlng.lat}},{{latlng.lng}});
                var companyMarker = new google.maps.Marker({
                    position: companyPos,
                    map: map,
                    icon: "http://maps.google.com/mapfiles/ms/icons/orange-dot.png",
                    title:"{{ user.first_name }}'s Address"
                });
            }
        </script>
<script type=""text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA6WWAqjZTnYN3cQT67tPwwzoww_Ola8e8&callback=initialize"></script>
      {% endwith %}
    {% endif %}
{% endblock %}

