{% extends "misc/blocks/panel.html" %}
{% load roleperms %}
{% block panel_title %}My Profile{% endblock %}
{% block panel_tools %}
    <a href="{% url 'edit-my-profile' %}" class="pull-right" title="Edit Profile">
    <i class="bi-pencil icon-xs icon-fw"></i>
</a>
{% endblock %}
{% block panel_content %}
<h3 class="m-0">{{user}}</h3>
<table class="profile table table-sm">
    <tbody>
    <tr>
        <td class="item"><i class="bi-briefcase icon-fw"></i></td>
        <td>{{user.get_classification_display|default:""}}</td>
    </tr>
    <tr>
        <td class="item"><i class="bi-telephone icon-fw"></i></td>
        <td>{{user.address.phone|default:"<span class='text-body-secondary'>(999)-999-9999</span>"}}</td>
    </tr>
    <tr>
        <td class="item"><i class="bi-envelope-at icon-fw"></i></td>
        <td>{{user.email.lower}}</td>
    </tr>
    <tr>
        <td class="item"><i class="bi-house icon-fw"></i></td>
        <td>{{user.institution}}</td>
    </tr>
    <tr>
        <td class="item"><i class="bi-geo-alt icon-fw"></i></td>
        <td>{{user.address|default:""}}</td>
    </tr>
    <tr>
        <td class="item"><i class="bi-paint-bucket icon-fw"></i></td>
        <td>{{object.research_field.all|join:", "}}</td>
    </tr>
    {% if object.roles or object.permissions %}
            {% if object.roles %}
            <tr>
                <td class="item text-left col-xs-1"><i class="bi-person-vcard icon-fw"></i></td>
                <td class="col-xs-10">{% for r in object.roles %}<span title="Role: {{ r }}" class="badge bg-info">{{r|role_label}}</span> {% endfor %}</td>
            </tr>
            {% endif %}
            {% if object.permissions %}
            <tr>
                <td class="item text-left"><i class="bi-key icon-fw"></i></td>
                <td>{% for p in object.permissions %}<span class="badge bg-success">{{p}}</span> {% endfor %}</td>
            </tr>
            {% endif %}
        {% endif %}
    </tbody>
</table>
{% endblock %}

