{% extends "misc/blocks/panel.html" %}
{% block panel_title %}Active Projects{% endblock %}
{% block panel_tools %}
<a href="{% url 'user-project-list' %}" title="View all my projects">
    <i class="bi-list-ol icon-md icon-fw"></i>
</a>
{% endblock %}
{% block panel_content %}
    <div class="row scroll-box"  style="max-height: 200px">
    <ul class="list-group list-group-flush ">
        {% for project in user.projects.active %}
            <li class="list-group-item">
                <a class="overflow ellipsis" href='{% url "project-detail" pk=project.pk %}'>
                    {% if project.clarifications.pending.count %}
                        <i class="bi-chat-left-text-alt text-warning"></i>
                    {% else %}
                        <i class="bi-arrow-right-circle"></i>
                    {% endif %}
                    &nbsp;{{ project.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}

